<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>机房教学管理 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
	
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
          <!--control-bar start-->
          <div class="control-bar clearfix">
            <div class="title pull-left">机房课程安排</div>
            <div class="tips">布置教学任务后，指定的收件人将会收到教学预约通知，收件人在相关说明的指导下完成机房预约。</div>
          </div><!--control-bar end-->
          <div class="row">
            
			<!--课程列表-->
			<div class="col-sm-12 col-md-3 col-lg-3">
				
				<div class="control-bar"><a href="${webbaseurl}/toAddCourseschedulePage.${strutsaction}" class="btn btn-primary">添加</a></div>
				
				<div class="list-group">
								
					<a href="${webbaseurl}/browseAllCoursescheduleByWeek.${strutsaction}" class="list-group-item active">
							<h4 class="list-group-item-heading">全部课程</h4>
							<p class="list-group-item-text">浏览本学期全部课程</p>
					</a>
								
						#foreach($gp in $usergroupList)
							##<optgroup label="$gp.name">
							#set( $tcfl = $courseFullByGroupId.get($gp.id) )
							#foreach($tempCourseFull in  $tcfl )					
								<a href="${webbaseurl}/viewCoursescheduleByWeek.${strutsaction}?selcourseid=$!tempCourseFull.coursecoursetype&selweek=1" class="list-group-item 
									#if($!tempCourseFull.coursecoursetype == $selcourseid)
										active
									#end	
									">
									<h4 class="list-group-item-heading">$!tempCourseFull.coursename </h4>
									<p class="list-group-item-text">任课教师：$!tempCourseFull.teacherloginusername</p>
								</a>
							#end
						#end
			
				</div>
			</div>
			<!--end课程列表-->
			
			
			
            <div class="col-sm-12 col-md-9 col-lg-8">
              <div class="control-bar clearfix">
                <div class="title pull-left">全部课程</div>
                <div class="tips">本页面能够查看本学期在机房上课的课程信息，鼠标移动到指定的课程名上可以。</div>
                <div class="operate-item pull-left">

								<div class="row">
									<ul class="tab-drop nav nav-pills col-md-12">
										
										#foreach($temp in [1 .. $courseconfig.weeknum])
											#if($temp == $selweek)
											<li class="active"><a href="${webbaseurl}/browseAllCoursescheduleByWeek.${strutsaction}?selweek=$temp" data-toggle="tab" data-week="$temp">第$temp周</a></li>
											#else
											<li><a href="${webbaseurl}/browseAllCoursescheduleByWeek.${strutsaction}?selweek=$temp"  data-week="$temp">第$temp周</a></li>
										
											#end
										#end
									            
									</ul>
								</div>
					
					
                </div>
              </div>
              <div class="panel panel-default table-responsive">
                <table id="course-week-table" class="table">
                  <thead>
                    <tr>
                      <th class="time-slot" >时间</th>
                      <th>周一</th>
                      <th>周二</th>
                      <th>周三</th>
                      <th>周四</th>
                      <th>周五</th>
                      <th>周六</th>
                      <th>周日</th>                      
                    </tr>
                  </thead>
                   <tbody>
					
									
#foreach($period in $periodList)
	<tr>
		<td class="time-slot">$period.peroidname</td>
		
		#foreach($day in $dayList)
			#if($coursescheduleFullPeriodDayMapList.containsKey($period.periodnum) && $coursescheduleFullPeriodDayMapList.get($period.periodnum).containsKey($day))
				#set($csList =  $coursescheduleFullPeriodDayMapList.get($period.periodnum).get($day))
				<td>
				#foreach($cs in $csList)
					<code rel="tooltip" data-title="第 1、2、3、6 周">
					$cs.coursename 
					</code>
				#end	
				</td>
			#else
				<td></td>			
			#end		
		#end
    </tr>	
#end					
				
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--equip-wrap end-->

      <!--sidebar start-->
  #set($currentWebpage="coursescheduleviewandeditAndAdd")
	  #parse("include/includeTeachSidebar.vm")

      <!--sidebar end-->

</section>


<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/bootstrap-tabdrop.js"></script>

<script>
$('.tab-drop.nav-pills').tabdrop();
</script>

</body>
</html>