<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
          <!--control-bar start-->
          <div class="control-bar clearfix">
            <div class="title pull-left">机房课程安排</div>
            <div class="tips">布置教学任务后，指定的收件人将会收到教学预约通知，收件人在相关说明的指导下完成机房预约。</div>
          </div><!--control-bar end-->
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="control-bar"><a href="#" class="btn btn-primary">添加</a></div>
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">全部课程</h4>
                  <p class="list-group-item-text">浏览本学期全部课程</p>
                </a>
                <a href="#" class="list-group-item active">
                  <h4 class="list-group-item-heading">课程名称</h4>
                  <p class="list-group-item-text">任课教师：</p>
                </a>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">课程名称</h4>
                  <p class="list-group-item-text">任课教师：</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-8">
              <div class="control-bar clearfix">
                <div class="title pull-left">添加课程安排</div>
                <div class="tips">选择课程的上课时间、周次、课程名称以及上课所需的教学设备。</div>
                <div class="operate-item pull-left">
                  <button type="button" action-type="addCoursescheduleButton" class="btn btn-primary">保存</button>
                  <a herf="#" class="btn btn-white">取消</a>
                </div>
              </div>
              <div class="panel panel-default">
                <table class="table course-week-table">
                  <thead>
                    <tr>
                      <th class="time-slot" >时间</th>
                      <th>周一</th>
                      <th>周二</th>
                      <th>周三</th>
                      <th>周四</th>
                      <th>周五</th>
                      <th>周六</th>
                      <th>周日</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="time-slot">上午</td>
                      <td data-week="1" data-slot="2" class="selectable"></td>
                      <td data-week="2" data-slot="2" class="selectable"></td>
                      <td data-week="3" data-slot="2" class="selectable"></td>
                      <td data-week="4" data-slot="2" class="selectable"></td>
                      <td data-week="5" data-slot="2" class="selectable"></td>
                      <td data-week="6" data-slot="2" class="selectable"></td>
                      <td data-week="7" data-slot="2" class="selectable"></td>
                    </tr>
                    <tr>
                      <td class="time-slot">下午</td>
                      <td data-week="1" data-slot="4" class="selectable"></td>
                      <td data-week="2" data-slot="4" class="selectable"></td>
                      <td data-week="3" data-slot="4" class="selectable"></td>
                      <td data-week="4" data-slot="4" class="selectable"></td>
                      <td data-week="5" data-slot="4" class="selectable"></td>
                      <td data-week="6" data-slot="4" class="selectable"></td>
                      <td data-week="7" data-slot="4" class="selectable"></td>
                    </tr>
                    <tr>
                      <td class="time-slot">晚上</td>
                      <td data-week="1" data-slot="6" class="selectable"></td>
                      <td data-week="2" data-slot="6" class="selectable"></td>
                      <td data-week="3" data-slot="6" class="selectable"></td>
                      <td data-week="4" data-slot="6" class="selectable"></td>
                      <td data-week="5" data-slot="6" class="selectable"></td>
                      <td data-week="6" data-slot="6" class="selectable"></td>
                      <td data-week="7" data-slot="6" class="selectable"></td>
                    </tr>
                  </tbody>
                </table>
                <div class="panel-footer">
                  <dl class="course-week form-group dl-horizontal">
                    <dt><label for="inputWeek" class="control-label">课程周次</label></dt>
                    <dd>
						#foreach($temp in [1 .. $totalweeknum])
						<label class="checkbox-inline">
                        <input type="checkbox" name="inputWeek" id="inputWeek1" value="${temp}" checked="">第${temp}周
                      </label>
						#end
                 
                    </dd>
                  </dl>
                  <dl class="form-group dl-horizontal">
                    <dt><label for="inputCourseName" class="control-label">课程名称</label></dt>
                    <dd>
                      <select class="select2 select-white form-control" id="inputCourseName" data-placeholder="请选择课程名称">
						 <option></option>
						 
						 #foreach($gp in $usergroupList)
							<optgroup label="$gp.name">
							#set( $tcfl = $courseFullByGroupId.get($gp.id) )
							#foreach($tempCourseFull in  $tcfl )					
								<option value="$!tempCourseFull.courseid" >$tempCourseFull.coursename - $!tempCourseFull.teacherloginusername</option>                                           
							#end		
							</optgroup>
							
						#end
						 <!--
						 <optgroup label="本科">
#foreach($ch in $courseFullList)					
                        <option value="$!ch.courseid" >$!ch.coursename - $!ch.teacherloginusername</option>                                           
#end						
 </optgroup>
 -->
						<!--
                        <option></option>
                        <optgroup label="本科">
                          <option value="AK">课程名 - 教师名</option>
                          <option value="HI">课程名 - 教师名</option>
                          <option value="HI">课程名 - 教师名</option>
                        </optgroup>
                        <optgroup label="硕士">
                          <option value="CA">课程名 - 教师名</option>
                          <option value="CA">课程名 - 教师名</option>
                          <option value="CA">课程名 - 教师名</option>
                        </optgroup>
						-->
                      </select>
                    </dd>
                  </dl>
                  <dl class="form-group dl-horizontal">
                    <dt><label for="inputCourseNeed" class="control-label">所需课程资源</label></dt>
                    <dd>
						
					
#foreach($category in ${computercategoryList})
	
	                  <div class="group-hd">
                        <div class="group-name pull-left">$!category.name</div>
                        <div class="group-line"><hr></div>
                      </div>
	
					 <div class="row">
	#set($modelList = $computermodelByComputercategoryId.get($category.computercategorytype))
	#foreach($model in ${modelList})						
                        <div class="form-inline form-group col-md-6">
                          <div class="form-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" name="inputCourseNeed" id="CourseNeed1" value="1" checked="">$model.name
                            </label>
                          </div>
                          <div class="form-group">
                            <input type="text" id="$model.computermodeltype" name="computerorderinfo" value="0" data-computermodeltype="$!model.computermodeltype" class="form-control" placeholder="数量">
                          </div>
                        </div>
	#end	
                      </div><!--end row-->
#end

<!--
                      <div class="group-hd">
                        <div class="group-name pull-left">工作站</div>
                        <div class="group-line"><hr></div>
                      </div>
                      <div class="row">
                        <div class="form-inline form-group col-md-6">
                          <div class="form-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" name="inputCourseNeed" id="CourseNeed1" value="1" checked="">MAC Pro工作站
                            </label>
                          </div>
                          <div class="form-group">
                            <input type="text" id="CourseNeed1-Num" class="form-control" placeholder="数量">
                          </div>
                        </div>
                        <div class="form-inline form-group col-md-6">
                          <div class="form-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" name="inputCourseNeed" id="CourseNeed2" value="2" checked="">DELL工作站
                            </label>
                          </div>
                          <div class="form-group">
                            <input type="text" id="CourseNeed2-Num" class="form-control" placeholder="数量">
                          </div>
                        </div>
                      </div>
                      <div class="group-hd">
                        <div class="group-name pull-left">剪辑机房</div>
                        <div class="group-line"><hr></div>
                      </div>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inputCourseNeed" id="inputCourseNeedEditor1" value="1" checked="">剪辑机房1
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inputCourseNeed" id="inputCourseNeedEditor2" value="2" checked="">剪辑机房2
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inputCourseNeed" id="inputCourseNeedEditor3" value="3" checked="">剪辑机房3
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inputCourseNeed" id="inputCourseNeedEditor4" value="4" checked="">剪辑机房4
                      </label>
                      <div class="group-hd">
                        <div class="group-name pull-left">调色机房</div>
                        <div class="group-line"><hr></div>
                      </div>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inputCourseNeed" id="inputCourseNeedColor1" value="1" checked="">达芬奇
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inputCourseNeed" id="inputCourseNeedColor2" value="2" checked="">宽泰
                      </label>
					  -->

                    </dd>
                  </dl>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--equip-wrap end-->

	  #set($currentWebpage="coursescheduleAdd")
	  #parse("include/includeTeachSidebar.vm")
</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>

<!--[if lt IE 10]>
  <script src="${jsDomain}/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->

<script>      
/* ============ 课程安排 ============= */
$("body").on("click", ".selectable", function() {
	$(this).toggleClass("selected");	
	if($(this).hasClass("selected")) {		// 如果选中
		$(this).append('<code><i class="icon-ok"></i></code>');
	} else {					
		$(this).find("code").remove();		// 移除选中标识		
	}
});	



	$("body").on("click", "button[action-type|=addCoursescheduleButton]", function() {
		var _this = $(this);
		
		//一周每一天的课
		var dayperiod = "";
		$('.selectable').each(function(){
			var data = $(this).data();
			if($(this).hasClass("selected")) {		// 如果选中
				dayperiod += data.week + ","+data.slot+";";
			}
		});
		dayperiod = dayperiod.substring(0,dayperiod.length-1);
		
		//周
		var inputweek = "";
		$("input[name='inputWeek']").each(function() {			
			if($(this).prop("checked") === true) {		// 如果选中
				inputweek += $(this).prop("value") + ";";
			}
		});
		inputweek = inputweek.substring(0,inputweek.length-1);

		
		
		//pc
		
		var computerorderinfo = "";
		$("input[name='computerorderinfo']").each(function() {
			var num = $(this).prop("value");
			if( (num != "0") && (num != "") ){
				computerorderinfo += $(this).data("computermodeltype")+","+$(this).prop("value") + ";";
			}
		});
		computerorderinfo = computerorderinfo.substring(0,computerorderinfo.length-1);

	/*	alert(dayperiod);
		alert(inputweek);
				alert(computerorderinfo);*/
			// return;
			 
           
               	var postData = {
					intputcourseid: $('#inputCourseName').val(),
					inputdayperiod:dayperiod,
					inputweek:inputweek,
					inputcomputerorderinfo:computerorderinfo
				}
				
                //alert("add computer");
                jQuery.ajax({  
                    url:"${webbaseurl}/addCoursescheduleAjax.${strutsaction}",  
                    type:"post",
                    data:postData,
                        dataType: 'json',
                        success: function(data){
                                var returnJson = jQuery.parseJSON(data); 
                                if(returnJson.flag == 1){
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});
                                        clearAddForm();
                                        _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                                        
                                }else{
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});                                        
                                        _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                
                                }
                        }                            
                });
        });
        //end add computer
        
        function clearAddForm(){
										$('#input_add_courseschedule_id').val("");
					
        }
        
</script>        

</body>
</html>