<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加课程 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->


      
	   <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">添加课程</div>
              <div class="tips">在此页面下添加新的课程信息</div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
              
                <form class="form-horizontal"  action="javascript:void(0)" role="form">
                  <div class="form-group">
                    <label for="inputCourseName" class="col-lg-2 control-label">课程名</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_add_course_name" placeholder="课程名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCourseNameEn" class="col-lg-2 control-label">课程英文名</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_add_course_nameen" placeholder="课程的英文名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCourseTeacher" class="col-lg-2 control-label">任课教师</label>
                    <div class="col-lg-4">
                      <select class="select2 select-white form-control" id="input_add_course_teacherid">
						#foreach($temp in $teacherList)
                        <option value="$temp.id">$temp.name</option>
                       #end
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCourseType" class="col-lg-2 control-label">课程类别</label>
                    <div class="col-lg-4">

#set($listSize = $userGroupList.size() - 1)
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
#set($temp = $userGroupList.get($tempKey))
                      <label class="radio-inline">
                        <input type="radio" name="course_type" id="courseType${temp.id}" value="${temp.id}" 
							#if($tempKey==0)
							checked="true"
							#end
							>$temp.name
                      </label>
#end ##end foreach
#end ##end if
					
					<!--
                      <label class="radio-inline">
                        <input type="radio" name="course_type" id="courseType2" value="2">硕士
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="course_type" id="courseType3" value="3">博士
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="course_type" id="courseType4" value="4">MFA
                      </label>
					  -->
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button type="submit" class="btn btn-primary" action-type="addCourseButton">添 加</button>
                    </div>
                  </div>
                </form>
              
              </div>
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
	   
	  #set($currentWebpage="courseAdd")
	  #parse("include/includeTeachSidebar.vm")


</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>


	
<script>        
	

	//add computer
	$("body").on("click", "button[action-type|=addCourseButton]", function() {
		var _this = $(this);
		
		//alert($("input[name=course_type]:checked").val());
		//return;
		
        var postData = {
			name:$('#input_add_course_name').val(),
			coursenameen :   $('#input_add_course_nameen').val(),
			//description: $('#input_add_course_description').val(),
			type : $("input[name=course_type]:checked").val(),
			teacherid: $('#input_add_course_teacherid').val()
		};
		
		//alert(postData.name + " "+ postData.teacherid+ " "+ postData.type);
		//return;
		
		jQuery.ajax({  
                    url:"${webbaseurl}/addCourseAjax.${strutsaction}",  
                    type:"post",
                    data:postData,
                        dataType: 'json',
                        success: function(data){
                                var returnJson = jQuery.parseJSON(data); 
                                if(returnJson.flag == 1){
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});
                                        clearAddForm();
                                        _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                                        
                                }
								if(returnJson.flag == 0){
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});                                        
                                        _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                
                                }
								
								if(returnJson.flag == 2){
								  var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});                                        
                                   _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                
									location.href = "${webbaseurl}/toAdminLoginPage.${strutsaction}";
								}
                        }                            
                });
        });
        //end add computer
        
		
        function clearAddForm(){
							$('#input_add_course_name').val("");
							$('#input_add_course_nameen').val("");
							$('#input_add_course_teacherid').select2("val","0");
						//符合name=course_type的input中第一个的checked值设置为true
 						$("input[name=course_type]").eq(0).attr("checked",true);
					
        }
        
</script>        

</body>
</html>