<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>教学管理 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
	
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

			<!--admin-wrap start-->
			<div id="admin-wrap">
				<div id="admin-content" class="clearfix">    
					<!--control-bar start-->
					<div class="control-bar clearfix">
						<div class="title pull-left">机房课程安排</div>
						<div class="tips">设置、修改和查看本学期各门课程的机房使用安排。</div>
					</div><!--control-bar end-->
					<div class="row">
						请先初始化课程学期信息
					</div>
				</div>
			</div>
			<!--equip-wrap end-->

			<!--sidebar start-->
			  #set($currentWebpage="coursescheduleviewandedit")
	  #parse("include/includeTeachSidebar.vm")

			<!--sidebar end-->

</section>


		<!-- javascript
		================================================== -->

<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/bootstrap-tabdrop.js"></script>

<script>
$('.tab-drop.nav-pills').tabdrop();

/* ============ 课程安排 ============= */
var semesterWeek = $!selweek;	// 学期第X周
var courseid = $!selcourseid;
var thisCourse  ;			// 当前选中课表的dom对象
var thisCourseData;		// thisCourseData为当前选中课程对应的数据（星期：week；时段：slot（0/1/2）；是否已安排isArranged（“yes/no”））

// Update 提交课程变动。遍历课程表，获取课程变动情况（新增、取消和不变）
$("button[action-type|=saveModify]").on('click', function(event) {
	console.log("button[action-type|=saveModify]");
	console.log(thisCourseData);

	// 提交数据处理		
    //pc	默认预约全部的数量	
    var computerorderinfo = "";
    $("input[name='inputCourseNeed']").each(function() {
		if($(this).prop("checked") === true) {		// 如果选中
			computerorderinfo += $(this).data("computermodeltype")+","+$(this).prop("value") + ";";
		}
    });	
	computerorderinfo = computerorderinfo.substring(0,computerorderinfo.length-1);

		
	/*	alert(dayperiod);
		alert(inputweek);
				alert(computerorderinfo);*/
			// return;
		var	inputdayperiod = thisCourseData.week + ","+thisCourseData.period;
		//alert(inputdayperiod);
		//return;
           
               	var postData = {
					intputcourseid: courseid,
					inputdayperiod : inputdayperiod,
					inputweek: semesterWeek,
					inputcomputerorderinfo:computerorderinfo
				}
				
                //alert("add computer");
                jQuery.ajax({  
                    url:"${webbaseurl}/addCoursescheduleAjax.${strutsaction}",  
                    type:"post",
                    data:postData,
                        dataType: 'json',
                        success: function(data){
                                var returnJson = jQuery.parseJSON(data); 
                                if(returnJson.flag == 1){
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});
										$("#course-week-table").find("#tr-slot-" + thisCourseData.slot + " > td").each(function(index, el) {
											if ($(el).data("day") === thisCourseData.day) {
												var html = "<code><i class='icon-ok'></i></code>";
												$(el).html(html);
												$(el).attr("data-is-arranged", "yes");
												thisCourseData.isArranged = "yes";
											}
										});
										
                                }else{
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});                                                       
                                }
                        }                            
                });
	
	
	

});

// 课程表单元格单击事件，选中某节课后的处理
$("#course-week-table").on("click", "td.selectable", function() {
	console.log("#course-week-table click td.selectable");
	thisCourse = this;
	thisCourseData = $(this).data();
	$("#course-arrange-form button[action-type|=cancelArrangedCourse]").data(thisCourseData);
	$("#course-week-table td").removeClass("selected");
	$(this).addClass('selected');
	if (thisCourseData.isArranged === "yes") {		
		
               	var postData = {
					selcourseid: $selcourseid,
					selday : thisCourseData.day,
					selperiod : thisCourseData.period,
					selweek: $selweek
				}
				
		 jQuery.ajax({  
            url:"${webbaseurl}/selectCoursecomputerByPeriodAjax.${strutsaction}",  
            type:"post",
            data:postData,
            dataType: 'json',
            success: function(data){
			  var comList = eval('(' + data + ')');  
				
			  var str="";
			  str +='<ul class="list-inline">';
				jQuery.each(comList,function(i, com){    
					// console.log(com.cmname);
					
					 str +='<li>'+com.cmname+'</li>';
													
				}); 
				str+='</ul>';
				$("#orderedComputermodel").html(str);
				$("#is-arranged-yes").show();
				$("#is-arranged-no").hide();
	
            }                            
        });
		
		
	} else if (thisCourseData.isArranged === "no") {
		$("#is-arranged-no").show();
		$("#is-arranged-yes").hide();
	}
	$(".panel-footer").show();
	$("#course-arrange-form").slideUp();
	$("#course-arrange-info").slideDown();
	$("button[action-type|=modifyCourseArrangement]").show();
	$("button[action-type|=cancelSelectedCourse]").show();

	// 这里加载当前选中的上课安排信息
	var weekStr = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"];
	var titleStr = "第" + semesterWeek + "周 " + weekStr[thisCourseData.week] + " 第" + thisCourseData.slot + "节";	
	$(".panel-footer h4").html(titleStr);
	// 。。。。。。	
});

// 修改课程安排按钮
$("button[action-type|=modifyCourseArrangement]").on("click", function() {
	console.log("[action-type|=modifyCourseArrangement]");
	console.log(thisCourseData);
	$("#course-arrange-info").slideUp();
	$("#course-arrange-form").slideDown();
});
// 取消课程安排按钮
$("button[action-type|=cancelArrangedCourse]").on("click", function() {
	console.log("[action-type|=cancelArrangedCourse]");
	console.log(thisCourseData);
	
	
  	var postData = {
		selcourseid: $selcourseid,
		selday : thisCourseData.day,
		selperiod : thisCourseData.period,
		selweek: $selweek
	}
			
	 jQuery.ajax({  
        url:"${webbaseurl}/deleteCoursescheduleAjax.${strutsaction}",  
        type:"post",
        data:postData,
        dataType: 'json',
        success: function(data){
		  	var returnJson = jQuery.parseJSON(data); 
            if(returnJson.flag == 1){
            	$(thisCourse).find("code").remove(); // 移除选中标识

				// 取消成功后显示无课程信息
				$("#is-arranged-no").show();
				$("#is-arranged-yes").hide();
				// 设置本时段课程为未安排
				thisCourseData.isArranged = "no";
				$(thisCourse).attr("data-is-arranged", "no");

				var n = noty({text: returnJson.reason, timeout: 1500, type: 'success'});	                         
            }else{
                    var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});                                        
                  
            }
        }                            
    });
	
	
	
	
});	

// 添加新课程安排按钮
$("button[action-type|=addNewArrange]").on("click", function() {
	console.log("[action-type|=addNewArrange]");
	console.log(thisCourseData);
	$(".panel-footer").show();
	$("#course-arrange-info").hide();
	$("#course-arrange-form").slideDown();
	$("#course-arrange-form button[action-type|=cancelArrangedCourse]").hide();
	// 清空表单处理
	$("input[type='checkbox']").prop('checked', false);

});
// 取消按钮
$("button[action-type|=cancel]").on("click", function() {
	$("#course-arrange-form").slideUp();
	$("#course-arrange-info").slideDown();
});
</script>
</body>
</html>