<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>课程管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->


<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">课程管理</div>
              <div class="tips">在此页面下管理课程信息，如课程的添加、修改、删除等。</div>
              <div class="filter user-group-filter">
                <ul class="nav nav-tabs nav-tabs-google">
					#foreach($temp in $userGroupList)
						<li><a href="#" onclick="getCourseByUsergroupId($temp.id)">$temp.name</a></li>
					#end
                  <li class="active" onclick="getCourseByUsergroupId(0)"><a href="#">全部</a></li>                  
                </ul>
              </div>
              <div class="operate-item pull-left">
                <a href="${webbaseurl}/toCourseAddPage.${strutsaction}" class="btn btn-primary">添加课程</a>
                <a href="#" class="btn btn-white s-h" action-type="deleteCourseButton"><i class="icon-trash"></i> 删除</a>
              </div>
			  <!--
              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">最新</a></li>
                      <li><a href="#">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
			  -->
            </div><!--control-bar end-->
           
			<div id="refreshCourseTableDiv">
			<div class="panel panel-default">              
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">课程名</th>
                    <th class="username">授课教师</th>
                    <th class="course-type">课程类别</th>
                    <th class="operate">操作</th>
                  </tr>
                </thead>
                <tbody>
					
#set($listSize = $courseFullListEn.size() - 1)
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
			#set($ch = $courseFullListCh.get($tempKey))
			#set($en = $courseFullListEn.get($tempKey))					
	
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!ch.coursecoursetype"></td>
					<!--修改属性-->
                    <td>$!ch.coursename<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button" action-type="editCourseFillIn" 
						data-id="$!ch.courseid"                           
												data-name="$!ch.coursename"                           
												data-description="$!ch.coursedescription"                           
												data-coursetype="$!ch.coursecoursetype"   
												data-type = "$!ch.coursetype"
												data-adduserid="$!ch.courseadduserid"                           
												data-teacherid="$!ch.courseteacherid"                           
												data-addtime="$!ch.courseaddtime"      
												data-iden = "$!en.courseid"
												data-nameen="$!en.coursename"     
												>修改</a></td>    
						

					<td>$!ch.teacherloginusername</td>
					<td>$!ch.usergroupname</td>
					<td>$!ch.coursetype</td>
                  </tr>
#end
#end				  
                </tbody>
              </table>
            
			</div><!--end panel -->
						  
			<!--page bar-->
			  #parse("include/includePagebar.vm")
				
			</div><!--refreshCourseTableDiv-->
						
		</div>
      </div>
      <!--admin-wrap end-->


	  
      #set($currentWebpage="manageCourse")
	  #parse("include/includeTeachSidebar.vm")
      <!--sidebar end-->

</section>





<!-- Modal -->
<div id="modify-status" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  
  <div class="modal-body">
      <p>修改信息。</p>
      <form class="form-horizontal" role="form">
		
					<input type="hidden" class="form-control" id="inputEditCoursecoursetype" placeholder="" value="">		
		
				
			<div class="form-group">
          <label for="name" class="col-xs-3 control-label">课程名称</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCoursename" placeholder="" value="">
          </div>
        </div>
		
		
			<div class="form-group">
          <label for="name" class="col-xs-3 control-label">课程英文名称</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCoursenameEn" placeholder="" value="">
          </div>
        </div>
				
		
			<div class="form-group">
          <label for="teacherid" class="col-xs-3 control-label">任课老师</label>
          <div class="col-xs-7">
                         <select class="select2 select-white form-control" id="input_add_course_teacherid">
						#foreach($temp in $teacherList)
                        <option value="$temp.id">$temp.name</option>
                       #end
                      </select>
          </div>
        </div>
						
			<div class="form-group">
          <label for="type" class="col-xs-3 control-label">课程类别</label>
          <div class="col-xs-7">
									#foreach($temp in $userGroupList)
                      <label class="radio-inline">
                        <input type="radio" name="course_type" id="courseType${temp.id}" value="${temp.id}" checked="">$temp.name
                      </label>
					#end
          </div>
        </div>
				
		
				
		
				
		
	      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="updateCourseButton">确 定</button>
  </div>
</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>


<script>
//当前页
var currentpagenum=$pageNo;
var totalpage=$page.totalpagenum;
var totalcount=$page.totalCount;
var usergroupid = 0;

//更改状态的高亮显示
  $(".user-group-filter li").click(function () {
                $("li[class='active']").removeAttr("class");
                $(this).addClass("active"); 
  });

	
//	选择修改按钮，填充修改弹出框
	$("body").on("click", "a[action-type|=editCourseFillIn]", function() {
		var data = $(this).data();
		
		
		//alert(data.coursetype);
		
		$("#inputEditCoursecoursetype").val(data.coursetype);       

		$("#inputEditCoursename").val(data.name);       

		//$("course_type").val(data.type);       

		$("#input_add_course_teacherid").select2('val',data.teacherid);       
	
		$("#inputEditCourseidEn").val(data.iden);    

		$("#inputEditCoursenameEn").val(data.nameen);   
		
		$("input[id='course_type'+data.type]").prop("checked",$(this).prop("checked"));
		//$("[name = course_type ]:checkbox").attr("checked", true);
		
			})
//end 	editCourseFillIn


//	update
	$("body").on("click", "button[action-type|=updateCourseButton]", function() {
		var _this = $(this);
		var actionUrl = "${webbaseurl}/updateCourseAjax.action";
		//获取修改的值	
							var coursetype = $("#inputEditCoursecoursetype").val();      
					var name = $("#inputEditCoursename").val();       
					var type = $("#inputEditCoursetype").val();      
				
					var teacherid = $("#inputEditCourseteacherid").val();      

		
		var postData = {
										
								coursetype: coursetype,
								name: name,							
								type: type,
							
								teacherid: teacherid
									}
			
			
		jQuery.ajax({  
		    url: actionUrl,  
		    type: "post",
		    data: postData,
		    dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
					refreshTable();
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
			}		  	  
		});//end jquery 

	})
//end update
	
	
	
// checkbox
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}

	});
	//end checkbox
	
//	delete
	$("body").on("click", "a[action-type|=deleteCourseButton]", function() {
		var idsForDel = getSelectedCheckboxList();		
		idsForDel = idsForDel.substring(0,idsForDel.length-1);
		var postData = {
			courseIdsForDel: idsForDel
		}
		//alert(idsForDel);
		jQuery.ajax({  
		    url:"${webbaseurl}/deleteCourseFullAjax.${strutsaction}",  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 

				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框	
					refreshTable();
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
							
				}

			}		  	  
		});// end jquery
	})
//end delete



	
	
//  刷新后，绑定删除按钮	
	$("body").on("click", "input[type='checkbox']", function() {
                var num = 0;
                if($(this).attr("id") === "chk-all") {
                        $("input[name='chk-list']").prop("checked",$(this).prop("checked"));
                }
                $("input[name='chk-list']").each(function() {
                        if($(this).prop("checked") === true){
                                num++;  
                        }
                });
                if(num > 0){
                        $(".s-h").css({
                                "visibility": "visible",
                                "opacity": "1",
                                "filter": "alpha(opacity=100)"
                        });
                } else {
                        $(".s-h").css({
                                "visibility": "hidden",
                                "opacity": "0",
                                "filter": "alpha(opacity=0)"
                        });
                }
                
                idsForDel = "";
                
                $("input[name='chk-list']").each(function() {
                        if($(this).prop("checked") === true) {
                                //num++;
                                idsForDel += $(this).prop("value") + "_";
                        }
                });
        });
// end checkbox		
	
	
	
	
	//根据用户组分类查看课程
	function getCourseByUsergroupId(tempusergroupid){
	
		usergroupid = tempusergroupid;
		//设置为默认页
		pageNo = 1;
		
		refreshTable();
	
	}
	
	
	
	
	
	//换页时调用方法
	
$(function() {
    $('.page-bar').jqPagination({
    	link_string	: '/?page={page_number}',
    	max_page	: totalpage,
    	current_page:currentpagenum,
    	paged: function(page) {     	  
    		currentpagenum = page;
    		refreshComputercategoryTable();
    
    	}
    });
});	
	
	
	
	
	//	刷新数据
	function refreshTable(){
		jQuery.ajax({  
        	url: '${webbaseurl}/manageCourseFull.action',  
            type: "post",
            data:{
				pageNo:currentpagenum,
				totalpage:totalpage,
				totalcount:totalcount,
				usergroupid:usergroupid,
				callType:'ajaxType'},
            dataType: 'html',
            success: function(data){
            	$('#refreshCourseTableDiv').html(data);
                //设置分页绑定事件
                $('.page-bar').jqPagination({
                	link_string : '/?page={page_number}',
                    max_page : totalpage,
                    current_page:currentpagenum,
                    paged: function(page) {               
                    	currentpagenum = page;
                        refreshTable();                
                    }
                 });
            }// end success                       
       	});// end jquery                
	}//end refreshTable

	
</script>


</body>
</html>
