<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="${cssDomain}/jqpagination.css" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <ul class="nav nav-tabs">
        <li><a href="">其他管理</a></li>
        <li class="active"><a href="">管理</a></li>
      </ul>
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">            
            <div class="control-bar clearfix"><!--control-bar start-->
              <div class="title pull-left">管理</div>
			  <div class="tips">在此页面下管理信息，如设备的添加、修改、删除及维护等。</div>
			  <!--
              <div class="filter category-filter">
                <select id="select-categories" style="width:130px" class="select2">
                  <option value="0" data-foo="fa">全部分类</option>
                  <option value="1" data-foo="fa">摄影摄像机</option>
                  <option value="2" data-foo="sub">数字摄影机</option>
                  <option value="3" data-foo="sub">数字摄像机</option>
                  <option value="4" data-foo="sub">单反</option>
                  <option value="5" data-foo="fa">灯具</option>
                  <option value="6" data-foo="sub">钨丝灯</option>
                  <option value="7" data-foo="sub">镝灯</option>
                </select>
              </div>
              -->
              <div class="operate-item pull-left">
                <a href="" class="btn btn-primary">添加</a>
                <a href="#" class="btn btn-white s-h" action-type="deleteCourseButton"><i class="icon-trash"></i> 删除</a>
              </div>
				
			  <!--
              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">最新</a></li>
                      <li><a href="#">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
              <ul class="status-filter nav nav-pills pull-right">
                <li class="active"><a href="#">全部(10)（无不显示）</a></li>
                <li><a href="#">正常(5)</a></li>
                <li><a href="#">借出(2)</a></li>
                <li><a href="#">维护(2)</a></li>
                <li><a href="#">维修(2)</a></li>
                <li><a href="#">遗失(2)</a></li>
                <li><a href="#">回收站(1)</a></li>
              </ul>
			  -->
            </div><!--control-bar end-->
            <div class="panel panel-default table-responsive">

	<div id="refreshCourseTableDiv"> <!-- 刷新-->

<!--管理内容从这里开始 -->
<div id = "tablecon">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>

             <th class="courseid">courseid</th>
             <th class="coursename">coursename</th>
             <th class="coursedescription">coursedescription</th>
             <th class="coursetype">coursetype</th>
             <th class="courseadduserid">courseadduserid</th>
             <th class="courseteacherid">courseteacherid</th>
             <th class="courseaddtime">courseaddtime</th>
             <th class="adduserloginuserid">adduserloginuserid</th>
             <th class="adduserloginusername">adduserloginusername</th>
             <th class="adduserloginuseruserid">adduserloginuseruserid</th>
             <th class="adduserloginuserpassword">adduserloginuserpassword</th>
             <th class="adduserloginusercreatetime">adduserloginusercreatetime</th>
             <th class="adduserloginuserstatus">adduserloginuserstatus</th>
             <th class="adduserloginuserroletype">adduserloginuserroletype</th>
             <th class="teacherloginuserid">teacherloginuserid</th>
             <th class="teacherloginusername">teacherloginusername</th>
             <th class="teacherloginuseruserid">teacherloginuseruserid</th>
             <th class="teacherloginuserpassword">teacherloginuserpassword</th>
             <th class="teacherloginusercreatetime">teacherloginusercreatetime</th>
             <th class="teacherloginuserstatus">teacherloginuserstatus</th>
             <th class="teacherloginuserroletype">teacherloginuserroletype</th>
<!--
                   <th class="name">View</th>
				   <th class="name">Del</th>
				   <th class="name">Edit</th>
-->				   
                  </tr>
                </thead>
                <tbody>					
							

#foreach($tempcourse in $courseFullList)
                  <tr>
                   <td><input class="chk" type="checkbox" name="chk-list" value="$!tempcourse.courseid"></td>
					<!--修改属性-->
                    <td>$!tempcourse.courseid<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button" action-type="editCourseFillIn" 
						
						
																								data-id="$!tempcourse.courseid"                           
												data-name="$!tempcourse.coursename"                           
												data-description="$!tempcourse.coursedescription"                           
												data-type="$!tempcourse.coursetype"                           
												data-adduserid="$!tempcourse.courseadduserid"                           
												data-teacherid="$!tempcourse.courseteacherid"                           
												data-addtime="$!tempcourse.courseaddtime"                           
												>修改</a></td>    
						

<td>$!tempcourse.coursename</td>
<td>$!tempcourse.coursedescription</td>
<td>$!tempcourse.coursetype</td>
<td>$!tempcourse.courseadduserid</td>
<td>$!tempcourse.courseteacherid</td>
<td>$!tempcourse.courseaddtime</td>
<!--
					<td><a href="${webbaseurl}/viewCourseFull.action?id=$!tempcourse.courseid">查看</a></td> 
					<td><a href="${webbaseurl}/deleteCourseFull.action?id=$!tempcourse.courseid">删除</a></td>			
					<td><a href="${webbaseurl}/editCourseFull.action?id=$!tempcourse.courseid">修改</a></td>
-->                 
                  </tr>
#end            
           
                </tbody>
              </table>
 </div> 
				
				 <!--page -->
                          <div class="pagination">
                                <a href="#" class="first" data-action="first">&laquo;</a>
                                <a href="#" class="previous" data-action="previous">&lsaquo;</a>
                                <input type="text" readonly="readonly" data-max-page="$page.totalpage" />
                                <a href="#" class="next" data-action="next">&rsaquo;</a>
                                <a href="#" class="last" data-action="last">&raquo;</a>
                          </div>
                          <!-- end page -->
				
				</div><!-- end refreshTable-->

            </div>
          </div>

      </div>
      <!--equip-wrap end-->
	  
	  
      #set($currentPageType="manageCourse")
	  #parse("include/includeTeachSidebar.vm")
      <!--sidebar end-->




</section>





<!-- Modal -->
<div id="modify-status" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  
  <div class="modal-body">
      <p>修改信息。</p>
      <form class="form-horizontal" role="form">
		
							
			<div class="form-group">
          <label for="id" class="col-xs-3 control-label">id</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCourseid" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="name" class="col-xs-3 control-label">name</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCoursename" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="description" class="col-xs-3 control-label">description</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCoursedescription" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="type" class="col-xs-3 control-label">type</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCoursetype" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="adduserid" class="col-xs-3 control-label">adduserid</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCourseadduserid" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="teacherid" class="col-xs-3 control-label">teacherid</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCourseteacherid" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="addtime" class="col-xs-3 control-label">addtime</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditCourseaddtime" placeholder="" value="">
          </div>
        </div>
	      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="updateCourseButton">确 定</button>
  </div>
</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>
<script>
	$("#modifyFaCategoryId").select2("val","2");
</script>



<script>
//	当前页
	var currentpagenum=1;
	var totalpage=$page.totalpage;

	var cookie = { 
  		//读取COOKIES,n为COOKIE名 
   		Get:function(n){ 
       		var re=new RegExp(n+'=([^;]*);?','gi');
       	    var r=re.exec(document.cookie)||[];
       	    return (r.length>1?r[1]:null)
   		}
	};

//	换页时调用方法
	$('.pagination').jqPagination({
    	paged: function(page) {
        	// do something with the page variable
       		currentpagenum = page;
        	refreshComputerTable();
        }
    });	
	
//	选择修改按钮，填充修改弹出框
	$("body").on("click", "a[action-type|=editCourseFillIn]", function() {
		var data = $(this).data();
							$("#inputEditCourseid").val(data.id);       
			var editid = data.id;
					$("#inputEditCoursename").val(data.name);       
			var editname = data.name;
					$("#inputEditCoursedescription").val(data.description);       
			var editdescription = data.description;
					$("#inputEditCoursetype").val(data.type);       
			var edittype = data.type;
					$("#inputEditCourseadduserid").val(data.adduserid);       
			var editadduserid = data.adduserid;
					$("#inputEditCourseteacherid").val(data.teacherid);       
			var editteacherid = data.teacherid;
					$("#inputEditCourseaddtime").val(data.addtime);       
			var editaddtime = data.addtime;
			})
//end 	editCourseFillIn


//	update
	$("body").on("click", "button[action-type|=updateCourseButton]", function() {
		var _this = $(this);
		var actionUrl = "${webbaseurl}/updateCourseAjax.action";
		//获取修改的值	
							var id = $("#inputEditCourseid").val();      
					var name = $("#inputEditCoursename").val();      
					var description = $("#inputEditCoursedescription").val();      
					var type = $("#inputEditCoursetype").val();      
					var adduserid = $("#inputEditCourseadduserid").val();      
					var teacherid = $("#inputEditCourseteacherid").val();      
					var addtime = $("#inputEditCourseaddtime").val();      
					
		var postData = {
										
								id: id,
											
								name: name,
											
								description: description,
											
								type: type,
											
								adduserid: adduserid,
											
								teacherid: teacherid,
											
								addtime: addtime
									}
			
			
		jQuery.ajax({  
		    url: actionUrl,  
		    type: "post",
		    data: postData,
		    dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
					refreshTable();
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
			}		  	  
		});//end jquery 

	})
//end update
	
	
	
	var idsForDel;	
	/* 处理CheckBox选中事件用于删除处理 */
	$("input[type='checkbox']").click(function() {
		//var num = 0;
		idsForDel = "";
		
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + ";";
			}
		});
	});
	//end box
	
//	delete
	$("body").on("click", "a[action-type|=deleteCourseButton]", function() {
		idsForDel = idsForDel.substring(0,idsForDel.length-1);
		var postData = {
			courseIdsForDel: idsForDel
		}
		//alert(idsForDel);
		jQuery.ajax({  
		    url:"${webbaseurl}/deleteCourseFullAjax.${strutsaction}",  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 

				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框	
					refreshTable();
				}else{
					var n = noty({text: failedStr, timeout: 2500, type: 'error'});
				}

			}		  	  
		});// end jquery
	})
//end delete


//	刷新数据
	function refreshTable(){
		jQuery.ajax({  
        	url: '${webbaseurl}/manageCourseFull.action',  
            type: "post",
            data:{ 
				pageNo:currentpagenum,
                callType:'ajaxType'
               
            },
            dataType: 'html',
            success: function(data){
            	$('#refreshCourseTableDiv').html(data);
                //设置分页绑定事件
                $('.pagination').jqPagination({
                	link_string : '/?page={page_number}',
                    max_page : totalpage,
                    current_page:currentpagenum,
                    paged: function(page) {               
                    	currentpagenum = page;
                        refreshTable();                
                    }
                 });
            }// end success                       
       	});// end jquery                
	}//end refreshTable
	
	
//  刷新后，绑定删除按钮	
	$("body").on("click", "input[type='checkbox']", function() {
                var num = 0;
                if($(this).attr("id") === "chk-all") {
                        $("input[name='chk-list']").prop("checked",$(this).prop("checked"));
                }
                $("input[name='chk-list']").each(function() {
                        if($(this).prop("checked") === true){
                                num++;  
                        }
                });
                if(num > 0){
                        $(".s-h").css({
                                "visibility": "visible",
                                "opacity": "1",
                                "filter": "alpha(opacity=100)"
                        });
                } else {
                        $(".s-h").css({
                                "visibility": "hidden",
                                "opacity": "0",
                                "filter": "alpha(opacity=0)"
                        });
                }
                
                idsForDel = "";
                
                $("input[name='chk-list']").each(function() {
                        if($(this).prop("checked") === true) {
                                //num++;
                                idsForDel += $(this).prop("value") + "_";
                        }
                });
        });
// end checkbox		
	
	
	
	
	
// 触发提交按钮事件
$('.modal').on('click', ('button.btn-primary'), function () {		
		var _this = $(this);

		//处理添加
		if(_this.attr('action-type') == 'addComputercategoryButton')
		{
			//alert('test add');
			var actionUrl = "${webbaseurl}/addComputercategoryAjax.action";
			var inputCategoryName = $('#addComputercategoryName').val();			
			var postData = {
				"createuserid": cookie.Get("id"),
				"name": inputCategoryName		
			}
			var successStr = "添加分类成功！";
			var failedStr = "添加分类失败！";				
		}
		// ebd add
		
		//处理update
		
		/*if(_this.attr('action-type') == 'updateCourseButton')
		{
			//alert('test add');
			var actionUrl = "${webbaseurl}/updateCourseAjax.action";
												var id = $("#inputEditCourseid").val();      
								var name = $("#inputEditCoursename").val();      
								var description = $("#inputEditCoursedescription").val();      
								var type = $("#inputEditCoursetype").val();      
								var adduserid = $("#inputEditCourseadduserid").val();      
								var teacherid = $("#inputEditCourseteacherid").val();      
								var addtime = $("#inputEditCourseaddtime").val();      
						var postData = {
													id: id,
									name: name,
									description: description,
									type: type,
									adduserid: adduserid,
									teacherid: teacherid,
									addtime: addtime,
							}
		}*/
		//end update
		
		
		
		// 如果是其它的提交操作，对照上一行的if代码处理		
		
		// 提交处理
		jQuery.ajax({  
		    url: actionUrl,  
		    type: "post",
		    data: postData,
		    dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
			}		  	  
		});		
	})	
	
	
	
</script>


</body>
</html>
