<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">设置教学计划</div>
              <div class="tips">在此页面下设置本学期的时间安排。</div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
              
                <form class="form-horizontal" action="javascript:void(0)" role="form">
                  <div class="form-group">
                    <label for="inputSchoolYear" class="col-lg-2 control-label">学年</label>
                    <div class="col-lg-2">
                      <select class="select2 select-white form-control" id="inputSchoolYear">
						#set($by = $currentyear-1)
						#set($ay = $currentyear+1)
                        <option value="${by}-${currentyear}">${by}-${currentyear}</option>
                        <option value="${currentyear}-${ay}">${currentyear}-${ay}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSemester" class="col-lg-2 control-label">学期</label>
                    <div class="col-lg-2">
                      <select class="select2 select-white form-control" id="inputSemester">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="semester-time form-group">
                    <label for="inputDataRange" class="col-lg-2 control-label">本学期时间</label>
                    <div class="col-lg-7">
                      <div class="input-daterange row">
                        <div class="col-lg-3">
                          <input type="text" class="form-control" id="inputDataRange" name="start" placeholder="学期第一天">
                        </div>
                        <div class="col-lg-1 col-no-padding">
                          <span class="add-on">至</span>
                        </div>
                        <div class="col-lg-3">
                          <input type="text" class="form-control" id="inputDataRange2" name="end" placeholder="学期最后一天">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputFirstDay" class="col-lg-2 control-label">第一周第一天</label>
                    <div class="col-lg-7">
                      <div class="input-daterange row">
                        <div class="col-lg-3">
                          <input type="text" class="form-control" id="inputFirstDay" placeholder="第1周第1天">
                        </div>
                      </div>
                    </div>
                  </div>
				  
				 <div class="form-group">
                    <label for="weeknum" class="col-lg-2 control-label">星期数</label>
                    <div class="col-lg-2">
                  
                          <input type="text" class="form-control" id="weeknum" placeholder="学期星期数">
                      
                    </div>
                  </div>
				  
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button type="submit" class="btn btn-primary" action-type="addCourseconfigButton">保 存</button>
                    </div>
                  </div>
                </form>
              
              </div>
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
      <!--sidebar start-->
	  #set($currentWebpage="courseconfigAdd")
	  #parse("include/includeTeachSidebar.vm")
      <!--sidebar end-->

</section>



    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>
<script src="${jsDomain}/bootstrap-datepicker.js"></script>
<script src="${jsDomain}/locales/bootstrap-datepicker.zh-CN.js"></script>


<script>        

//设置输入框为时间
	$('.input-daterange, #inputFirstDay').datepicker({
		language: 'zh-CN',
		format: 'yyyy-mm-dd',
		todayHighlight: true,
		autoclose: true
	});
        
        //add computer
        $("body").on("click", "button[action-type|=addCourseconfigButton]", function() {
       		 var _this = $(this);

               	var postData = {
					schoolyear: $('#inputSchoolYear').val(),
					semester: $('#inputSemester').val(),
					firstday: $('#inputDataRange').val(),
					lastday: $('#inputDataRange2').val(),
					firstweekfirstday: $('#inputFirstDay').val(),
					weeknum:$('#weeknum').val()
				}
				
                //alert("add computer");
                jQuery.ajax({  
                    url:"${webbaseurl}/addCourseconfigAjax.${strutsaction}",  
                    type:"post",
                    data:postData,
                        dataType: 'json',
                        success: function(data){
                                var returnJson = jQuery.parseJSON(data); 
                                if(returnJson.flag == 1){
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});
                                       // clearAddForm();
                                        _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                                        
                                }else{
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});                                        
                                        _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                
                                }
                        }                            
                });
        });
        //end add computer
        
      /*  function clearAddForm(){
										$('#input_add_courseconfig_id').val("");
							$('#input_add_courseconfig_schoolyear').val("");
							$('#input_add_courseconfig_semester').val("");
							$('#input_add_courseconfig_firstday').val("");
							$('#inputDataRange').val("");
							$('#inputDataRange2').val("");
							$('#inputFirstDay').val("");
					
        }
        */
</script>        

</body>
</html>