<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 机房教学安排添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  <div class="nav-wrap clearfix">
    <div class="site-nav">
      <div class="dropdown">
        <a class="pos dropdown-toggle" data-hover="dropdown" href="#"><i class="icon-home"></i> 管理中心 <i class="icon-chevron-right"></i></a><!-- #BeginLibraryItem "/Library/siteNav.lbi" -->
       </div>
    </div>
    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li><a href="#">首页</a></li>
        <li><a href="#">设置</a></li>
        <li><a href="用户管理首页.html">用户</a></li>
        <li class="active"><a href="设备管理首页.html">部位</a></li>
        <li><a href="#">内容</a></li>
      </ul>
    </div>    
    <ul class="account-wrap nav nav-pills pull-right">
          <li class="notice dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bell icon-large"></i><span class="n-num label label-important">3</span></a>
            <ul class="dropdown-menu">
              <li><a href="#">消息1</a></li>
              <li><a href="#">消息2</a></li>
            </ul>
          </li>     
          <li class="social dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username">Admin</span><img src="../img/photo.jpg" width="32" height="32" class="img-circle"> <b class="caret"></b></a>
            <div class="dropdown-menu">
              <div class="media">
                <a class="pull-left" href="#">
                  <img src="../img/photo.jpg" width="96" height="96" class="img-rounded">
                </a>
                <div class="media-body">
                  <div class="media-heading"><h5><a href="#">Admin</a></h5></div>
                  
                </div>
              </div>
            </div>      
          </li>
        </ul>
  </div>
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <ul class="nav nav-tabs">
        
        <li class="active"><a href="">部位管理</a></li>
      </ul>
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">            
            <div class="control-bar clearfix"><!--control-bar start-->
              <div class="title pull-left">添加</div>
			 
			  <!--
              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">最新</a></li>
                      <li><a href="#">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
              <ul class="status-filter nav nav-pills pull-right">
                <li class="active"><a href="#">全部(10)（无不显示）</a></li>
                <li><a href="#">正常(5)</a></li>
                <li><a href="#">借出(2)</a></li>
                <li><a href="#">维护(2)</a></li>
                <li><a href="#">维修(2)</a></li>
                <li><a href="#">遗失(2)</a></li>
                <li><a href="#">回收站(1)</a></li>
              </ul>
			   -->
            
			</div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
 <!--Add 表单-->             
               <form  role="form" class="form-horizontal"  action="javascript:void(0)" name="AddCoursecomputerForm">
		<div class="form-group">
                    <label for="label_coursecomputer_id" class="col-lg-2 control-label">id</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_add_coursecomputer_id" name="id"  placeholder="id">
                    </div>
                  </div>
	              <!--
                 <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button type="submit" class="btn btn-primary">添 加</button>
                   </div>
               </div>
			   -->
				  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button action-type="addCoursecomputerButton" class="btn btn-primary">添 加</button>
                   </div>
               </div>
               </form>
              

<!--Add 表单-->                    

              </div>			  
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
       <!--sidebar start-->
      <div id="lside">
        <form class="form-group">
          <input type="text" class="form-control" placeholder="搜索">
          <i class="icon-search"></i>
        </form>
        <div class="list-group">
          <a href="${webbaseurl}/manageCoursecomputerFull.action" class="list-group-item">管理</a>
          <a href="${webbaseurl}/teach/coursecomputerAdd.vm" class="list-group-item">添加</a>
          
        </div>
      </div>
      <!--sidebar end-->

</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>

<!--[if lt IE 10]>
  <script src="${jsDomain}/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->

<script>        
var cookie = { 
                  //读取COOKIES,n为COOKIE名 
                   Get:function(n){ 
                       var re=new RegExp(n+'=([^;]*);?','gi');
                   var r=re.exec(document.cookie)||[];
                   return (r.length>1?r[1]:null)
                   }
        };
        
        //add computer
        $("body").on("click", "button[action-type|=addCoursecomputerButton]", function() {
       		 var _this = $(this);
                var createuserid = cookie.Get("id");
               	var postData = {
					//最后一个没有分号
																							id: $('#input_add_coursecomputer_id').val()
																
				}
				
                //alert("add computer");
                jQuery.ajax({  
                    url:"${webbaseurl}/addCoursecomputerAjax.${strutsaction}",  
                    type:"post",
                    data:postData,
                        dataType: 'json',
                        success: function(data){
                                var returnJson = jQuery.parseJSON(data); 
                                if(returnJson.flag == 1){
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});
                                        clearAddForm();
                                        _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                                        
                                }else{
                                        var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});                                        
                                        _this.parents('.modal').modal('toggle');                // 提交成功，关闭模态对话框                
                                }
                        }                            
                });
        });
        //end add computer
        
        function clearAddForm(){
										$('#input_add_coursecomputer_id').val("");
					
        }
        
</script>        

</body>
</html>