<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">

<a href="${webbaseurl}/manageCourseFull.action">返回管理</a>
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    

            <div class="panel panel-default">

				
              <table class="table table-hover">
                <thead>
                  <tr>
                    
                    <th class="name">属性</th>
                    <th class="f-category">属性值</th>
                    
                  </tr>
                </thead>
                <tbody>					
		          <tr>
                   
                    <td>courseid</td>
                    <td>$!courseFull.courseid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>coursename</td>
                    <td>$!courseFull.coursename</td>                    
                  </tr>               
		          <tr>
                   
                    <td>coursedescription</td>
                    <td>$!courseFull.coursedescription</td>                    
                  </tr>               
		          <tr>
                   
                    <td>coursetype</td>
                    <td>$!courseFull.coursetype</td>                    
                  </tr>               
		          <tr>
                   
                    <td>courseadduserid</td>
                    <td>$!courseFull.courseadduserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>courseteacherid</td>
                    <td>$!courseFull.courseteacherid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>courseaddtime</td>
                    <td>$!courseFull.courseaddtime</td>                    
                  </tr>               
		          <tr>
                   
                    <td>adduserloginuserid</td>
                    <td>$!courseFull.adduserloginuserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>adduserloginusername</td>
                    <td>$!courseFull.adduserloginusername</td>                    
                  </tr>               
		          <tr>
                   
                    <td>adduserloginuseruserid</td>
                    <td>$!courseFull.adduserloginuseruserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>adduserloginuserpassword</td>
                    <td>$!courseFull.adduserloginuserpassword</td>                    
                  </tr>               
		          <tr>
                   
                    <td>adduserloginusercreatetime</td>
                    <td>$!courseFull.adduserloginusercreatetime</td>                    
                  </tr>               
		          <tr>
                   
                    <td>adduserloginuserstatus</td>
                    <td>$!courseFull.adduserloginuserstatus</td>                    
                  </tr>               
		          <tr>
                   
                    <td>adduserloginuserroletype</td>
                    <td>$!courseFull.adduserloginuserroletype</td>                    
                  </tr>               
		          <tr>
                   
                    <td>teacherloginuserid</td>
                    <td>$!courseFull.teacherloginuserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>teacherloginusername</td>
                    <td>$!courseFull.teacherloginusername</td>                    
                  </tr>               
		          <tr>
                   
                    <td>teacherloginuseruserid</td>
                    <td>$!courseFull.teacherloginuseruserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>teacherloginuserpassword</td>
                    <td>$!courseFull.teacherloginuserpassword</td>                    
                  </tr>               
		          <tr>
                   
                    <td>teacherloginusercreatetime</td>
                    <td>$!courseFull.teacherloginusercreatetime</td>                    
                  </tr>               
		          <tr>
                   
                    <td>teacherloginuserstatus</td>
                    <td>$!courseFull.teacherloginuserstatus</td>                    
                  </tr>               
		          <tr>
                   
                    <td>teacherloginuserroletype</td>
                    <td>$!courseFull.teacherloginuserroletype</td>                    
                  </tr>               
                </tbody>
              </table>
			  
			  
            </div>
          </div>

      </div>
     

</section>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/teach/course.js"></script>
<script>
	$("#modifyFaCategoryId").select2("val","2");
</script>
</body>
</html>