<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 设备管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  #set($currentPageModule="equip")
  #parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <ul class="nav nav-tabs">
        <li><a href="${webbaseurl}/orderAdmin.do">器材预约</a></li>
        <li class="active"><a href=""${webbaseurl}/equipManageAdmin.do"">器材管理</a></li>
      </ul>
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">设备管理</div>
			  <div class="tips">在此页面下管理设备信息，如设备的添加、修改、删除及维护等。</div>
              <div class="filter category-filter">
                <select id="select-categories" style="width:130px" class="select2">
                  <option value="0" data-foo="fa">全部分类</option>
                  <!--<option value="-2" data-foo="fa">未知分类</option>-->
                  <option value="-1" data-foo="fa">未分类</option>
                  #foreach($clazz in $classForEquipAdd)
    				#if($!clazz.isParent == '1')
    					<optgroup label="$!clazz.name">
    				#else
    					<option value="$!clazz.id">$!clazz.name</option>
    				#end
    			 #end
                </select>
              </div>
              
              <div class="operate-item pull-left">
                <a href="${webbaseurl}/equipManageEquip.do" class="btn btn-primary">添加设备</a>
                <a href="#" class="btn btn-white s-h" action-type="deleteDetail"><i class="icon-trash"></i> 删除</a>
              </div>

              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第$!crtDetailPage/$!totalDetailPages页<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#" action-type="goFirst">最新</a></li>
                      <li><a href="#" action-type="goLast">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" action-type="backPage" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" action-type="nextPage" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
              <ul class="status-filter nav nav-pills pull-right">
                <li class="active" action-type="active" id="-1" data-state="-1"><a href="#">全部(<span id="sum">$!totalDetailSum</span>)（无不显示）</a></li>
                <li action-type="active" id="0" data-state="0"><a href="#">正常(<span id="sum0">$!normalSum</span>)</a></li>
                <li action-type="active" id="1" data-state="1"><a href="#">借出(<span id="sum1">$!loanSum</span>)</a></li>
                <li action-type="active" id="2" data-state="2"><a href="#">维护(<span id="sum2">$!maintSum</span>)</a></li>
                <li action-type="active" id="3" data-state="3"><a href="#">维修(<span id="sum3">$!repairSum</span>)</a></li>
                <li action-type="active" id="4" data-state="4"><a href="#">遗失(<span id="sum4">$!lostSum</span>)</a></li>
                <li action-type="active" id="5" data-state="5"><a href="#">回收站(<span id="sum5">$!recycleSum</span>)</a></li>
              </ul>
            </div><!--control-bar end-->
            <div class="panel panel-default table-responsive" id="detailDataDomain">
                          
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="id">资产编号</th>
                    <th class="status">机身编号</th>
                    <th class="id">型号</th>
                    <th class="id">分类名称</th>
					<th class="status">状态</th>
                    <th class="id">使用/管理部门</th>
                    <th class="status">管理人</th>
                    <th class="id">存放地点</th>
                    <th class="remark">备注</th>
                  </tr>
                </thead>
                <tbody>
				  #foreach($equipDetail in $equipDetailCourse)
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!equipDetail.id"></td>
                    <td>$!equipDetail.assetNumber<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button" action-type="alterDetailFillIn" data-id="$!equipDetail.id" data-code="$!equipDetail.code" data-mid="$!equipDetail.modelId" data-state="$!equipDetail.state" data-memo="$!equipDetail.memo" data-mDate="$!equipDetail.mDate" data-aDate="$!equipDetail.aDate" data-manufacturer="$!equipDetail.manufacturer" data-supplyer="$!equipDetail.supplyer" data-worth="$!equipDetail.worth" data-useManageDept="$!equipDetail.useManageDept" data-manager="$!equipDetail.manager" data-storagePlace="$!equipDetail.storagePlace" data-storagePosition="$!equipDetail.storagePosition" data-storenumber="$!equipDetail.storenumber" data-equipserial="$!equipDetail.equipserial" data-assetNumber="$!equipDetail.assetNumber" data-classId="$!equipDetail.classId">修改</a></td>
                    <td>$!equipDetail.equipserial</td>
					<td>$!equipDetail.modelName</td>
					<td>$!equipDetail.className</td>
					#if($!equipDetail.state == 0)
						<td>正常</td>
					#elseif($!equipDetail.state == 1)
						<td>借出</td>
					#elseif($!equipDetail.state == 2)
						<td>维护</td>
					#elseif($!equipDetail.state == 3)
						<td>维修</td>
					#elseif($!equipDetail.state == 4)
						<td>遗失</td>
					#elseif($!equipDetail.state == 5)
						<td>回收站</td>
					#end
                    <td>$!equipDetail.useManageDept</td>
                    <td>$!equipDetail.manager</td>
                    <td>$!equipDetail.storagePlace</td>
                    <td>$!equipDetail.memo</td>
                  </tr>
                  #end
                </tbody>
              </table>
              
            </div>
          </div>

      </div><!--equip-wrap end-->
      
	  #set($currentWebpage="equipManageAdmin")
	  #parse("include/includeEquipManageSidebar.vm")

</section>


<!-- Modal -->
<div id="modify-status" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  
  <div class="modal-body">
      <p>修改设备。</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">资产编号</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="assetNumber" placeholder="资产编号">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">库存条码</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="storenumber" placeholder="库存条码">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">设备机身编号</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="equipserial" placeholder="设备机身编号">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">设备生产日期</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="manufactureDate" placeholder="日期格式：1970-01-01">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">取得日期</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="acquireDate" placeholder="日期格式：1970-01-01">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">生产厂商</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="manufacturer" placeholder="生产厂商">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">供货厂商</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="supplyer" placeholder="供货厂商">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">价值</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="worth" placeholder="格式：0.00">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">使用/管理部门</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="useManageDept" placeholder="使用与管理部门">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">管理人</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="manager" placeholder="管理人姓名">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">存放地点</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="storagePlace" placeholder="存放地点">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">存放位置</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="storagePosition" placeholder="存放位置">
          </div>
        </div>
		<div class="form-group">
          <label for="modifyEquipCategory" class="col-xs-3 control-label">分类</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="modifyEquipCategory">
              <option value="0" data-foo="fa">全部</option>
              #foreach($clazz in $classForEquipAdd)
				#if($!clazz.isParent == '1')
					<optgroup label="$!clazz.name">
				#else
					<option value="$!clazz.id">$!clazz.name</option>
				#end
			 #end
            </select>
          </div>
        </div>
        <div class="form-group" id="modelForSelect">
          <label for="modifyEquipModelId" class="col-xs-3 control-label">所属设备型号</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="modifyEquipModelId">
			  <option value="-1">*</option>
			  #foreach($equip in $equipCourse)
			    #if($!equip.showClass == '1')
				  <optgroup label="$!equip.cName">
			    #else
				  <option value="$!equip.id">$!equip.name</option>
			    #end
			  #end
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="modifyEquipStatus" class="col-xs-3 control-label">状态</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="modifyEquipStatus">
              <option value="0">正常</option>
              <option value="1">借出</option>
              <option value="2">维护</option>
              <option value="3">维修</option>
              <option value="4">遗失</option>
			  <option value="5">回收站</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="modifyEquipRemark" class="col-xs-3 control-label">备注</label>
          <div class="col-xs-7">
            <textarea class="form-control" id="modifyEquipRemark" rows="3"></textarea>
          </div>
        </div>
      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="alterDetail">确 定</button>
  </div>
</div>

<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="${imageDomain}/cover-img.jpg" class="cover" alt="封面照片">
  <div class="cover-layout"></div>
  <div class="avatar"><img src="${imageDomain}/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->

<script>
	var cookie = { 
  		//读取COOKIES,n为COOKIE名 
   		Get:function(n){ 
       		var re=new RegExp(n+'=([^;]*);?','gi');
       	    var r=re.exec(document.cookie)||[];
       	    return (r.length>1?r[1]:null)
   		}
	};
	var detailIdForAlter;
	var detailCodeForAlter;
	var detailMIdForAlter;
	var detailStatus;
	var detailMemo;
	var idsForDel;
	var currentPageNo = 1;		//当前页码
	var totalPageNo;			//总页码
	var selectedState = -1;		//筛选的器材状态
	
	/* 处理CheckBox选中事件用于删除处理 
	$("input[type='checkbox']").click(function() {
		//var num = 0;
		idsForDel = "";
		
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + "_";
			}
		});
	});*/
	
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}
		
		idsForDel = "";
		
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + "_";
			}
		});
	});
	
	$("body").on("click", "a[action-type|=alterDetailFillIn]", function() {
		var myData = $(this).data();
		
		var postData = {
    		"seletedClassId": 0,
			"selectedState": selectedState
    	};
		
		jQuery.ajax({
			url: "${webbaseurl}/flushEquipDetailForSelect.do",  
			type: "post",
			data: postData,
			success: function(data,textStatus,jq) {
				$("#modelForSelect").html(data);
				$("#modifyEquipCategory").select2("val", myData.classid);
				$("#modifyEquipModelId").select2("val", myData.mid);
			},
			error: function(data,textStatus,jq) {
				alert("刷新界面失败!");
			}
		});
		
		$("#assetNumber").val(myData.assetnumber);
		$("#storenumber").val(myData.storenumber);
		$("#equipserial").val(myData.equipserial);
		$("#manufactureDate").val(myData.mdate);
		$("#acquireDate").val(myData.adate);
		$("#manufacturer").val(myData.manufacturer);
		$("#supplyer").val(myData.supplyer);
		$("#worth").val(myData.worth);
		$("#useManageDept").val(myData.usemanagedept);
		$("#manager").val(myData.manager);
		$("#storagePlace").val(myData.storageplace);
		$("#storagePosition").val(myData.storageposition);
		$("#modifyEquipModelId").select2("val", myData.mid);
		$("#modifyEquipCategory").select2("val", myData.classid);
		$("#modifyEquipStatus").select2("val", myData.state);
		$("#modifyEquipRemark").val(myData.memo);
		
		detailIdForAlter = myData.id;
		//detailCodeForALter = myData.code
		//detailMIdForAlter = myData.mid;
		//detailStatusForAlter = myData.state;
		//detailMemoForAlter = myData.memo;
		
		//console.log("myData.id " + myData.id);
		//console.log("myData.code " + myData.code);
		//console.log("myData.modelId " + myData.mid);
		//console.log("myData.state " + myData.state);
		//console.log("myData.memo " + myData.memo);
	});
	
	$('.modal').on('click', ('button.btn-primary'), function () {
		var _this = $(this);
		var cid = $("#select-categories").val();
		if(_this.attr('action-type') == 'alterDetail') {
    		var an = $("#assetNumber").val();
            var sn = $("#storenumber").val();
            var es = $("#equipserial").val();
            var md = $("#manufactureDate").val();
            var ad = $("#acquireDate").val();
            var mf = $("#manufacturer").val();
            var sp = $("#supplyer").val();
            var wt = $("#worth").val();
            var ud = $("#useManageDept").val();
            var mg = $("#manager").val();
            var st = $("#storagePlace").val();
    		var ss = $("#storagePosition").val();
    		var ci = $("#modifyEquipCategory").val();
    		//var dCode = $("#modifyEquipId").val();
    		var dMid = $("#modifyEquipModelId").val();
    		var dStatus = $("#modifyEquipStatus").val();
    		var dMemo = $("#modifyEquipRemark").val();
			var rt = $("#rent").val();
			var ru =  $("#rentUnit").val();
			
			var regex = /^[0-9]*$/;
    		var ret = regex.test(sn);
    		if(ret == false) {
    			alert("库存条码必须输入数字！");
    			return;
    		}
    		var ret1 = regex.test(an);
    		if(ret1 == false) {
    			alert("资产编号必须输入数字！");
    			return;
    		}
    		var regex2 = /^[0-9]+(.[0-9]{2})?$/;
    		var ret3 = regex2.test(wt);
    		if(ret3 == false && wt != "") {
    			alert("金额输入格式错误！");
    			return;
    		}
    		
    		if(dMid == detailMIdForAlter && dStatus == detailStatusForAlter && dMemo == detailMemoForAlter) {
    			alert("并未做修改！");
    		} else {
    			var postData = {
    				"equipmentdetail.equipdetailid": detailIdForAlter,
    				"equipmentdetail.assetnumber": an,
    				"manufactureDateStr": md,
    				"acquireDateStr": ad,
    				"equipmentdetail.manufacturer": mf,
    				"equipmentdetail.supplyer": sp,
    				"equipmentdetail.worth": wt,
    				"equipmentdetail.usemanagedept": ud,
    				"equipmentdetail.manager": mg,
    				"equipmentdetail.storageplace": st,
    				"equipmentdetail.storageposition": ss,
    				"equipmentdetail.storenumber": sn,
    				"equipmentdetail.equipserial": es,
    				"equipmentdetail.equipmentid": dMid,
    				"equipmentdetail.status": dStatus,
    				"equipmentdetail.administrationid": cookie.Get("uid"),
    				"equipmentdetail.usermark": dMemo,
					"crtDetailPage": currentPageNo,
					"equipmentdetail.classificationid": ci,
					"selectedState": selectedState
    			}
    			
    			jQuery.ajax({  
    			    url:"${webbaseurl}/alterEquipDetail.do",  
    			    type:"post",
    			    data:postData,
    			    success:function(data,textStatus,jq){  
    			    	console.log(data);
    					if(data.tag == "0") {
        					var n = noty({text: data.msg, timeout: 2500, type: 'success'});
        		    		_this.parents('.modal').modal('toggle');
							
							var cid = $("#select-categories").val();
							
							postData = {
								"classificationId": cid,
    							"crtDetailPage": currentPageNo,
								"selectedState": selectedState
            				};
							
							//刷新界面数据
        					jQuery.ajax({
        						url: "${webbaseurl}/flushEquipDetail.do",
								data: postData,
        		    			type: "post",
        						success: function(data,textStatus,jq) { 
        							$("#admin-wrap").html(data);
									$("#select-categories").select2("val", cid);
				
									$(".active").removeClass("active");
				
									$("#"+selectedState).addClass("active");
        						},
        						error: function(data,textStatus,jq) {
        							alert("刷新界面失败!");
        						}
        					})
        				} else {
        					var n = noty({text: data.msg, timeout: 2500, type: 'error'});
        				}
    		        },  
    			    error:function(data,textStatus,jq) {
    					var n = noty({text: data.msg, timeout: 2500, type: 'error'});
    				}  
    			});
    		}
		}
	});
	
	$("body").on("click", "a[action-type|=deleteDetail]", function() {
		var cid = $("#select-categories").val();
		var postData = {
			"equipdetailIds": idsForDel,
			"crtDetailPage": currentPageNo,
			"classificationId": cid,
			"selectedState": selectedState
		}
		jQuery.ajax({  
		    url:"${webbaseurl}/deleteEquipDetail.do",  
		    type:"post",
		    data:postData,
		    success:function(data,textStatus,jq){  
		    	console.log(data);
				if(data.tag == "0") {
					//console.log(data);
					currentPageNo = data.crtPage;
					var n = noty({text: data.msg, timeout: 2500, type: 'success'});
					
					postData = {
            			"crtDetailPage": currentPageNo,
						"classificationId": cid,
						"selectedState": selectedState
            		};
					//alert(selectedState);
					
					//刷新界面数据
					jQuery.ajax({
						url: "${webbaseurl}/flushEquipDetail.do",  
		    			type: "post",
						data:postData,
						success: function(data,textStatus,jq) { 
							$("#admin-wrap").html(data);
							$("#select-categories").select2("val", cid);
				
            				$(".active").removeClass("active");
            				
            				$("#"+selectedState).addClass("active");
						},
						error: function(data,textStatus,jq) {
							alert("刷新界面失败!");
						}
					})
				} else {
					var n = noty({text: data.msg, timeout: 2500, type: 'error'});
				}
	        },  
		    error:function(data,textStatus,jq) {
				var n = noty({text: data.msg, timeout: 2500, type: 'error'});
			}  
		});
	});
	
	//监听分类下拉菜单
	$("body").on("change", "#modifyEquipCategory", function() {
		var cid = $("#modifyEquipCategory").val();
		console.log(cid);
		var postData = {
    		"seletedClassId": cid,
			"selectedState": selectedState
    	};
		
		jQuery.ajax({
			url: "${webbaseurl}/flushEquipDetailForSelect.do",  
			type: "post",
			data: postData,
			success: function(data,textStatus,jq) {
				$("#modelForSelect").html(data);
				//$("#inputEquipCategory").select2("val", cid);
			},
			error: function(data,textStatus,jq) {
				alert("刷新界面失败!");
			}
		});
	});
	//向前一页翻页
	$("body").on("click", "a[action-type|=backPage]", function() {
		var cid = $("#select-categories").val();
		if(currentPageNo - 1 <= 0 ) {
			currentPageNo = 1;
			return;
		} else {
			currentPageNo--;
		}
		//alert(currentPageNo);
		if(cid != 0) {
    		postData = {
    			"classificationId": cid,
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		} else {
    		postData = {
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		}
		
		jQuery.ajax({
			url: "${webbaseurl}/flushEquipDetail.do",  
			type: "post",
			data: postData,
			success: function(data,textStatus,jq) {
				$("#admin-wrap").html(data);
				$("#select-categories").select2("val", cid);
				
				$(".active").removeClass("active");
				
				$("#"+selectedState).addClass("active");
			},
			error: function(data,textStatus,jq) {
				alert("刷新界面失败!");
			}
		});
	});
	//向后一页翻页
	$("body").on("click", "a[action-type|=nextPage]", function() {
		var cid = $("#select-categories").val();
		var sum = 0;
		
		if(selectedState == 0) {
			sum = $("#sum0").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 1) {
			sum = $("#sum1").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 2) {
			sum = $("#sum2").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 3) {
			sum = $("#sum3").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 4) {
			sum = $("#sum4").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 5) {
			sum = $("#sum5").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == -1) {
			sum = $("#sum").html();
    		totalPageNo = Math.floor(sum / 10);
		}
		if(sum % 10 != 0 && sum > 10) {
			totalPageNo++;
		}
		
		
		if(currentPageNo + 1 > totalPageNo ) {
			currentPageNo = totalPageNo;
			return;
		} else {
			currentPageNo++;
		}
		//alert(currentPageNo);
		if(cid != 0) {
    		postData = {
    			"classificationId": cid,
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		} else {
    		postData = {
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		}
		
		jQuery.ajax({
			url: "${webbaseurl}/flushEquipDetail.do",  
			type: "post",
			data: postData,
			success: function(data,textStatus,jq) {
				$("#admin-wrap").html(data);
				$("#select-categories").select2("val", cid);
				$(".active").removeClass("active");
				$("#"+selectedState).addClass("active");
			},
			error: function(data,textStatus,jq) {
				alert("刷新界面失败!");
			}
		});
	});
	//跳到第一页
	$("body").on("click", "a[action-type|=goFirst]", function() {
		var cid = $("#select-categories").val();
		currentPageNo = 1;
		
		if(cid != 0) {
    		postData = {
    			"classificationId": cid,
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		} else {
    		postData = {
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		}
		
		jQuery.ajax({
			url: "${webbaseurl}/flushEquipDetail.do",  
			type: "post",
			data: postData,
			success: function(data,textStatus,jq) {
				$("#admin-wrap").html(data);
				$("#select-categories").select2("val", cid);
				$(".active").removeClass("active");
				$("#"+selectedState).addClass("active");
			},
			error: function(data,textStatus,jq) {
				alert("刷新界面失败!");
			}
		});
	});
	//跳到最后一页
	$("body").on("click", "a[action-type|=goLast]", function() {
		var cid = $("#select-categories").val();
		var sum = 0;
		
		if(selectedState == 0) {
			sum = $("#sum0").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 1) {
			sum = $("#sum1").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 2) {
			sum = $("#sum2").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 3) {
			sum = $("#sum3").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 4) {
			sum = $("#sum4").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == 5) {
			sum = $("#sum5").html();
    		totalPageNo = Math.floor(sum / 10);
		} else if(selectedState == -1) {
			sum = $("#sum").html();
    		totalPageNo = Math.floor(sum / 10);
		}
		if(sum % 10 != 0 && sum > 10) {
			totalPageNo++;
		}
		
		currentPageNo = totalPageNo;
		
		if(cid != 0) {
    		postData = {
    			"classificationId": cid,
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		} else {
    		postData = {
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		}
		
		jQuery.ajax({
			url: "${webbaseurl}/flushEquipDetail.do",  
			type: "post",
			data: postData,
			success: function(data,textStatus,jq) {
				$("#admin-wrap").html(data);
				$("#select-categories").select2("val", cid);
				$(".active").removeClass("active");
				$("#"+selectedState).addClass("active");
			},
			error: function(data,textStatus,jq) {
				alert("刷新界面失败!");
			}
		});
	});
	//监听分类下拉菜单
	$("body").on("change", "#select-categories", function() {
		var cid = $("#select-categories").val();
		currentPageNo = 1;
		
		$(".active").removeClass("active");
		$("#-1").addClass("active");
		selectedState = -1
		
		if(cid == 0) {
			postData = {
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		} else {
    		postData = {
    			"classificationId": cid,
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		}
		
		
		jQuery.ajax({
			url: "${webbaseurl}/flushEquipDetail.do",  
			type: "post",
			data: postData,
			success: function(data,textStatus,jq) {
				$("#admin-wrap").html(data);
				$("#select-categories").select2("val", cid);
				
				$(".active").removeClass("active");
				
				$("#"+selectedState).addClass("active");
				
				var sum = $("#sum").html();
        		totalPageNo = Math.floor(sum / 10);
        		if(sum % 10 != 0 && sum > 10) {
        			totalPageNo++;
        		}
        		if(currentPageNo + 1 > totalPageNo ) {
        			currentPageNo = totalPageNo;
        		}
				if(currentPageNo == 0) {
					currentPageNo = 1;
				}
				console.log("****" + currentPageNo);
			},
			error: function(data,textStatus,jq) {
				alert("刷新界面失败!");
			}
		});
	});
	//筛选器材状态
	$("body").on("click", "li[action-type|=active]", function() {
		$(".active").removeClass("active");
		$(this).addClass("active");
		
		selectedState =$(this).attr("id");
		currentPageNo = 1;
		
		var cid = $("#select-categories").val();
		
		if(cid == 0) {
			postData = {
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		} else {
    		postData = {
    			"classificationId": cid,
    			"crtDetailPage": currentPageNo,
				"selectedState": selectedState
    		};
		}
		
		
		jQuery.ajax({
			url: "${webbaseurl}/flushEquipDetail.do",  
			type: "post",
			data: postData,
			success: function(data,textStatus,jq) {
				$("#admin-wrap").html(data);
				$("#select-categories").select2("val", cid);
				
				$(".active").removeClass("active");
				
				$("#"+selectedState).addClass("active");
				
				var sum = $("#sum").html();
        		totalPageNo = Math.floor(sum / 10);
        		if(sum % 10 != 0 && sum > 10) {
        			totalPageNo++;
        		}
        		if(currentPageNo + 1 > totalPageNo ) {
        			currentPageNo = totalPageNo;
        		}
				if(currentPageNo == 0) {
					currentPageNo = 1;
				}
				console.log("****" + currentPageNo);
			},
			error: function(data,textStatus,jq) {
				alert("刷新界面失败!");
			}
		});
	});
</script>
</body>
</html>