<label for="inputEquipModelId" class="col-lg-2 control-label">名称(型号)</label>
<div class="col-lg-4">
  <select class="select2 select-white form-control" id="inputEquipModelId" data-placeholder="请选择该器材的型号">
	<option></option>
	#foreach($equip in $equipCourse)
		#if($!equip.showClass == '1')
			<optgroup label="$!equip.cName">
		#else
			<option value="$!equip.id">$!equip.name</option>
		#end
	#end
  </select>
</div>
<script >
	$(".select2").select2({
		minimumResultsForSearch: 8,
		formatResult: format,
		escapeMarkup: function(markup) { return markup; }
	});
	function format(state) {
		var originalOption = state.element;
		
		if ($(originalOption).data('foo') === 'sub') {
			return "<span class='sub'>" + state.text + "</span>";
		} else {
			return state.text;
		}
	
	}
</script>