<div id="admin-content" class="clearfix">    
    <!--control-bar start-->
    <div class="control-bar clearfix">
      <div class="title pull-left">分类管理</div>
      <div class="tips">在此页面下你可以添加新的设备分类，也可以管理现有设备分类。……</div>
      <div class="operate-item pull-left">
        <a href="#add-equip-category" class="btn btn-primary" data-toggle="modal" role="button">添加分类</a>
        <a href="#" class="btn btn-white s-h" action-type="delClass"><i class="icon-trash"></i> 删除</a>
      </div>

      <div class="page pull-right clearfix">
        <ul class="page-index nav nav-pills pull-left">
          <li class="record"><strong>$!classSum</strong>条记录</li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">最新</a></li>
              <li><a href="#">最旧</a></li>
            </ul>
          </li>              
        </ul>
        <div class="pagination pull-right">
          <ul>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>              
      </div>
    </div><!--control-bar end-->
    <div class="panel panel-default" id="classDataDomain">

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>
            <th class="name">名称</th>
            <th class="f-category">父级分类</th>
            <th class="model-num">型号数量</th>
            <th class="equip-num">设备数量</th>
          </tr>
        </thead>
        <tbody>
		  #foreach($clazz in $allClassCourse)
          <tr>
            <td><input class="chk" type="checkbox" name="chk-list" value="$!clazz.id"></td>
            <td>$!clazz.name<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-equip-category" role="button" action-type="modifyClass" data-id="$!clazz.id" data-pId="$!clazz.pId" data-name="$!clazz.name" data-pName="$!clazz.pName">修改</a></td>
            <td>$!clazz.pName</td>
            <td>$!clazz.equipCount</td>
            <td>$!clazz.modelCount</td>
          </tr>
		  #end
        </tbody>
      </table>

    </div>
  </div>