#if($!currentcomputerorderordertype == 1)	
${textmap.computerordertype_individual}
#elseif($!currentcomputerorderordertype ==2)
${textmap.computerordertype_class}
#elseif($!currentcomputerorderordertype ==3)
${textmap.computerordertype_course}
#end
