#if($curstatus == $ComputerorderStatusAduitPass)
$!{textmap.orderstatus_passed}
#elseif($curstatus ==$ComputerorderStatusAduitReject)
$!{textmap.orderstatus_reject}
#elseif($curstatus ==$ComputerorderStatusAduitDel)
$!{textmap.orderstatus_delete}
#elseif($curstatus ==$ComputerorderStatusAduitWait)
$!{textmap.orderstatus_confirming}
#elseif($curstatus ==$ComputerorderStatusWaitApply)
$!{textmap.orderstatus_wait_submit}
#else 
$!{textmap.orderstatus_error}
#end