#if($curstatus == $ComputerorderStatusAduitPass)
$!{textmap.computerorderstatus_audit_pass}
#elseif($curstatus ==$ComputerorderStatusAduitReject)
$!{textmap.computerorderstatus_audit_reject}
#elseif($curstatus ==$ComputerorderStatusAduitDel)
$!{textmap.computerorderstatus_audit_del}
#elseif($curstatus ==$ComputerorderStatusAduitWait)
$!{textmap.computerorderstatus_audit_wait}
#elseif($curstatus ==$ComputerorderStatusWaitApply)
$!{textmap.computerorderstatus_wait_apply}
#else 
$!{textmap.computerorderstatus_audit_error}
#end