  #set($user = $request.getSession().getAttribute("loginUser"))
  #set($languagetype = $request.getSession().getAttribute("languagetype"))

  <div id="global-header">
    <div id="logo"><a class="brand" href="${webbaseurl}/index.${strutsaction}"><img src="img/logo.png" alt="${textmap.globalheader_logo_alt}"></a></div>
    <div id="hdc-wrap">
      <div class="search-wrap">
        <form class="form-search">
          <div class="ipt-wrap form-group"><input type="text" class="form-control"></div>
          <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
        </form>
      </div>
    </div>
    <ul class="account-wrap nav nav-pills pull-right">
		<!--
      <li class="notice dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bell icon-large"></i><span class="n-num label label-important">3</span></a>
        <ul class="dropdown-menu">
          <li><a href="#">消息1</a></li>
          <li><a href="#">消息2</a></li>
        </ul>
      </li>     
	  -->
      <li class="social dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username">$!user.name</span><img src="${userImagePath}/$!user.photo" width="48" height="48" class="img-circle"> <b class="caret"></b></a>
        <div class="dropdown-menu">
          <div class="media">
            <a class="pull-left" href="#">
              <img src="${userImagePath}/$!user.photo" width="96" height="96" class="img-rounded">
            </a>
            <div class="media-body">
               <!-- <div class="media-heading"><h5><a href="#">$!user.name</a></h5></div>
            <div class="info">2012级研究生 - 影像视觉效果研究方向</div> -->
              <div class="setting"><a href="${webbaseurl}/account.${strutsaction}">${textmap.globalheader_account_setting}</a></div>
              <!-- <button class="btn btn-primary" type="button">查看个人主页</button> -->
			  #if($languagetype!=1)
				<a href="${webbaseurl}/changeLanguage.${strutsaction}?languagetype=1" class="admin-logout btn btn-link" action-type="logout" role="button">English</a>
				#else 
			  <a href="${webbaseurl}/changeLanguage.${strutsaction}?languagetype=0" class="admin-logout btn btn-link" action-type="logout" role="button">中文</a>
			  #end
				
			   <a href="${webbaseurl}/doLogout.${strutsaction}" class="admin-logout btn btn-link" action-type="logout" role="button">${textmap.globalheader_logout}</a>
            </div>
          </div>
        </div>      
      </li>
    </ul>
  </div>
  

  