    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li
		#if($currentPageType == "equorderSpace"|| $currentPageType == "equsunorderSpace" || $currentPageType == "equorderSpace2")
			 class="active"      
		#end><a href="${webbaseurl}/equipOrdIndex.${strutsaction}">器材预约</a></li>
		
        <li
		#if($currentPageType == "computerorderSpace" )
			 class="active"      
		#end	
		><a href="${webbaseurl}/viewMineComputerorderList.${strutsaction}">机房预约</a></li>
		
	
	
		#if($currentPageType == "createorder" )
			<li class="divider"></li>
			<li class="active"><a href="#">预约提交</a></li>
		#end	
		
		#if($currentPageType == "computerorderfinish" )
			<li class="divider"></li>
			<li class="active"><a href="#">预约完成</a></li>
		#end
		
		
		#if($currentPageType == "computerorderview" )
			<li class="divider"></li>
			<li class="active"><a href="#">预约详情</a></li>
		#end
		
        
		#if($currentPageType == "equorderSpace" )
			<li class="divider"></li>
			<li class="active"><a href="#">预约详情</a></li>
		#end
		
		#if($currentPageType == "equsunorderSpace" )
			<li class="divider"></li>
			<li class="active"><a href="#">预约详情</a></li>
		#end
		
      </ul>
    </div>
  </div>