<!--[if lt IE 10]>
  <script src="${jsDomain}/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="${jsDomain}/html5shiv.js"></script>
  <script src="${jsDomain}/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="${cssDomain}/font-awesome-ie7.min.css">
<![endif]-->