      <!--sidebar start-->
      <div id="lside">
        <div class="list-group">
			
          <a href="${webbaseurl}/manageCourseFull.${strutsaction}" class="list-group-item
			#if($currentWebpage == "manageCourse" )
			active      
			#end	
			">课程管理</a>
			
          <a href="${webbaseurl}/toCourseAddPage.${strutsaction}" class="list-group-item
			#if($currentWebpage == "courseAdd" )
			active      
			#end		
			">添加课程</a>
			
			
			<!--
			<a href="${webbaseurl}/browseCourse.${strutsaction}" class="list-group-item
			#if($currentWebpage == "browseCourse" )
			active      
			#end		
			">浏览课程</a>
			-->

          <!--<a href="教学管理-设备预约安排.html" class="list-group-item">设备预约安排</a>-->
          <!--<a href="${webbaseurl}/toAddComputerorderclassrulePage.${strutsaction}" class="list-group-item
			#if($currentWebpage == "computerorderclassruleAdd" )
			active      
			#end	
			">机房规则添加</a>-->
		   
		   <!--<a href="${webbaseurl}/manageComputerorderclassruleFull.${strutsaction}" class="list-group-item
			#if($currentWebpage == "computerorderclassruleManage" )
			active      
			#end	
			">机房规则管理</a>-->
			
			<a href="${webbaseurl}/toAddComputerhomework.${strutsaction}" class="list-group-item
			#if($currentWebpage == "computerhomeworkAdd" )
			active      
			#end	
			">布置机房教学任务</a>
		   
			<!--作业管理 
		   <a href="${webbaseurl}/manageComputerhomeworkFull.${strutsaction}" class="list-group-item
			#if($currentWebpage == "computerhomeworkManage" )
			active      
			#end	
			">查看机房教学</a>
			-->
	
			
			
			<!--教学查看修改添加合并-->
			<a href="${webbaseurl}/browseAllCoursescheduleByWeek.${strutsaction}" class="list-group-item
			#if($currentWebpage == "coursescheduleviewandeditAndAdd" )
			active      
			#end	
			">机房课程安排</a>
			
			<!--
			<a href="${webbaseurl}/browseAllCoursescheduleByWeek.${strutsaction}" class="list-group-item
			#if($currentWebpage == "coursescheduleviewandedit" )
			active      
			#end	
			">查看机房教学及修改</a>
			
			
			
        <a href="${webbaseurl}/toAddCourseschedulePage.${strutsaction}" class="list-group-item 		
			#if($currentWebpage == "coursescheduleAdd" )
			active      
			#end		
			">机房课程安排</a>
			-->
			<!--
			<a href="${webbaseurl}/browseAllCoursescheduleByWeek.${strutsaction}" class="list-group-item 		
			#if($currentWebpage == "browseCourseschedule" )
			active      
			#end		
			">全部课程安排</a>
			-->
			
			<!--<a href="${webbaseurl}/manageCoursescheduleFull.${strutsaction}" class="list-group-item 		
			#if($currentWebpage == "coursescheduleManage" )
			active      
			#end		
			">机房课程管理</a>-->
			
		  <a href="${webbaseurl}/toAddCourseconfigPage.${strutsaction}" class="list-group-item 
			#if($currentWebpage == "courseconfigAdd" )
			active      
			#end	
			">设置</a>
        </div>
      </div>
      <!--sidebar end-->