  #set($user =    $request.getSession().getAttribute("loginUser"))
  
  <div class="nav-wrap clearfix">
	
    <div class="site-nav">
      <div class="dropdown">
        <div class="pos"><i class="icon-dashboard"></i> 管理中心 <i class="icon-chevron-right"></i></div>

      </div>
    </div>
	
    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
		
		
       <li 
		#if($currentPageModule == "index" )
			 class="active"      
		#end		
		><a href="${webbaseurl}/adminIndex.${strutsaction}">首页</a></li>
		
		
		<li 
		#if($currentPageModule == "teach" )
			 class="active"      
		#end		
		><a href="${webbaseurl}/manageCourseFull.${strutsaction}">教学</a></li>
		
	
		<li 
		#if($currentPageModule == "user" )
			 class="active"      
		#end		
		><a href="${webbaseurl}/userManageUser.${strutsaction}">用户</a></li>
	
	
		<li 
		#if($currentPageModule == "equip" )
			 class="active"      
		#end		
		><a href="${webbaseurl}/equipManageAdmin.${strutsaction}">器材</a></li>
		
	
        <li 
		#if($currentPageModule == "computer" )
			 class="active"      
		#end	
		><a href="${webbaseurl}/manageComputerorderFull.${strutsaction}">机房</a></li>

      </ul>
    </div>   

        <ul id="account-wrap" class="nav navbar-nav navbar-right">
		  <li><a href="${webbaseurl}/index.${strutsaction}" ><span class="username">返回前台</span></a></li>
          <li id="account" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username">$!user.name</span> <img src="${userImagePath}/$!user.photo" width="32" height="32" class="img-circle"> <b class="caret"></b></a>
            <div class="dropdown-menu" role="menu">
              <div class="media">
                <a class="pull-left" href="#">
                  <img src="${userImagePath}/$!user.photo" width="96" height="96" class="img-rounded">
                </a>
                <div class="media-body">
                  <div class="media-heading"><h5>$!user.name</h5></div>
                  <!--<div class="info">2012级研究生 - 影像视觉效果研究方向</div>-->
                  <div class="setting"><a href="${webbaseurl}/account.${strutsaction}">${textmap.globalheader_account_setting}</a> - <a href="${webbaseurl}/indexInfo.${strutsaction}">${textmap.globalheader_view_my_profile}</a></div>
                </div>
              </div>
			  <div class="panel-footer clear-fix">
                #set($user =  $request.getSession().getAttribute("loginUser"))
			    #if($user.privilege == 1)
                  <a href="${webbaseurl}/adminIndex.${strutsaction}" class="btn btn-primary">${textmap.sitenavi_manager}</a>
		        #end
				  <a href="${webbaseurl}/doLogout.${strutsaction}" class="admin-logout btn pull-right" action-type="logout" role="button">${textmap.globalheader_logout}</a>
			  </div>
            </div>
          </li>
        </ul>
  </div>
	

