<div class="sub-nav">
  <ul class="nav nav-tabs nav-tabs-google">
    <li
	#if($currentPageType == "equorderSpace"|| $currentPageType == "equsunorderSpace" || $currentPageType == "equorderSpace2")
		 class="active"      
	#end><a href="${webbaseurl}/equipOrdIndex.${strutsaction}">${textmap.subsitenavi_eqp_rent}</a></li>
	
    <li
	#if($currentPageType == "computerorderSpace" )
		 class="active"      
	#end	
	><a href="${webbaseurl}/viewMineComputerorderList.${strutsaction}">${textmap.subsitenavi_pc_order}</a></li>
	
	#if($currentPageType == "createorder" )
		<li class="divider"></li>
		<li class="active"><a href="#">${textmap.subsitenavi_createorder}</a></li>
	#end	
	
	#if($currentPageType == "computerorderfinish" )
		<li class="divider"></li>
		<li class="active"><a href="#">${textmap.subsitenavi_computerorderfinish}</a></li>
	#end
	
	#if($currentPageType == "orderfinish" )
		<li class="divider"></li>
		<li class="active"><a href="#">${textmap.subsitenavi_computerorderfinish}</a></li>
	#end
		
	#if($currentPageType == "equorderSpace" )
		<li class="divider"></li>
		<li class="active"><a href="#">${textmap.subsitenavi_equorderSpace}</a></li>
	#end
	
	#if($currentPageType == "orderDetail" )
		<li class="divider"></li>
		<li class="active"><a href="#">${textmap.subsitenavi_order_detail}</a></li>
	#end
	
  </ul>
</div>