    <div class="site-nav">
      <div class="dropdown">
        <a class="pos dropdown-toggle" data-hover="dropdown" href="#"><i class="icon-home"></i> 器材预约 <i class="icon-chevron-right"></i></a><!-- #BeginLibraryItem "/Library/siteNav.lbi" --><ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="index.html"><i class="icon-home"></i> 首页</a></li>
          <li class="divider"></li>
          <li><a href="#anotherAction">个人主页</a></li>
          <li><a href="#">通讯录</a></li>
          <li class="divider"></li>

		  <li><a href="${webbaseurl}/viewMineComputerorderList.${strutsaction}">我的预约</a></li>
		            <li><a href="${webbaseurl}/toComputerhomeworkInboxPage.${strutsaction}">我的作业</a></li> 
          <li><a href="${webbaseurl}/toMessageInbox.${strutsaction}">站内信</a></li>
          <li class="divider"></li>
          <li><a href="admin/管理中心首页.html">管理中心</a></li>
        </ul>
          <!-- #EndLibraryItem --></div>
    </div>