#set($currentposition= "myorder")
#set($currentpositiontext= ${textmap.myorderposition})	

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$!{textmap.order_equipappintementtitle}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
<script >
	var borrowId = '${borrowId}';
	var fromdate = '$date.format("yyyy-MM-dd ", $!equipmenborrowFull.borrowtime)';
	var enddate = '$date.format("yyyy-MM-dd ", $!equipmenborrowFull.returntime)';
</script>
</head>

<body>
<header id="header-wrap"><!--header-wrap-->
   #parse("include/includeGlobalHeader.vm")
   
  <div class="nav-wrap clearfix">
    #parse("include/includeSiteNavi.vm")
	
		#set($currentPageType="equorderSpace")
		#parse("include/includeOrderspaceSubNavi.vm")
  </div>
</header><!--/#header-wrap-->

<section id="main-wrap"><!--main-wrap-->
  <!--main-content start-->
  <div id="main-content" class="clearfix">         
    <div class="container">            
      <div class="row">
        <div class="control-bar col-md-12">
          <div class="title">$!{textmap.confirm_order_information_title}</div>
        </div>      
        <div class="col-md-7">                  
          <div class="thumbnail">
            <div class="hd clearfix">
		      #set($anum = 0)
			  #set($bnum = 0)
			  #foreach($row in $!equipmentList)	
				 #set($anum = $anum+1)
				 #set($bnum = $bnum+$!row.applynumber)
			  #end
              <h3 class="pull-left">$!{textmap.order_reservation}</h3>
              <div class="pull-right">$!{textmap.order_total} $!anum $!{textmap.order_kindofeuip} $!bnum $!{textmap.order_adevice}</div>
            </div>
            <ul class="media-list">
				#foreach($row2 in $!equipmentList)	
                  <li class="media">
                    <a class="pull-left" data-toggle="modal" href="#equip-detail" data-type="equipdetail" data-id="$!row2.equipmentid"  role="button">
                      <img src="$!{equipmentImagePath}/$!row2.imgNameSaved" width="46" height="46" class="img-rounded">
                    </a>
                    <div class="media-body">
                      <div class="media-heading"><h5><a data-toggle="modal" href="#equip-detail" data-type="equipdetail" data-id="$!row2.equipmentid" role="button">$!row2.equipmentname</a></h5><span>&times; $!row2.applynumber</span></div>
                      <p>$!row2.categoryName<p>
                    </div>
                  </li>
			  #end 
            </ul>
          </div>                  
        </div>
        <div class="col-md-5">
          <div class="thumbnail">
            <div class="hd">
              <h3>$!{textmap.detail_title}</h3>
            </div>
            <div class="caption">
              <span class="rent-user">$!{textmap.detail_Applicant}：<a rel="popover" class="lk" href="#">$!equipmenborrowFull.userName</a></span>
			  #if($!equipmenborrowFull.category==1)
				<div class="rent-type">$!{textmap.detail_ordertype}：$!{textmap.ordertype_personal}</div>
			  #elseif($!equipmenborrowFull.category==2)
				<div class="rent-type">$!{textmap.detail_ordertype}：$!{textmap.ordertype_course_assignment}</div>
			  #end
              <div class="rent-time">$!{textmap.order_appointmenttime}：$!date.format("yyyy-MM-dd ", $!equipmenborrowFull.borrowtime)  $!{textmap.order_to} $!date.format("yyyy-MM-dd ", $!equipmenborrowFull.returntime)</div>
			  #if($!equipmenborrowFull.category==2)
				<div class="rent-teacher">$!{textmap.order_correlationteacher}：<a rel="popover" class="lk" href="#">$!equipmenborrowFull.teacherName</a></div>
			  #end
            </div>
		
            <hr />

            <div class="hd"><h3>$!{textmap.detail_ordertitle}<small>（$!{textmap.detail_ordertitle_small}）</small></h3></div>
            <div class="caption"><input id="equtitle" type="text" class="form-control" placeholder="$!{textmap.detail_ordertitle_placeholder}"></div>
            <div class="hd"><h3>$!{textmap.detail_orderremark} <small>$!{textmap.detail_orderremark_small}</small></h3></div>
            <div class="caption"><textarea id="equremark" class="form-control" rows="3" placeholder="$!{textmap.detail_orderremark_placeholder}"></textarea></div>
            <div class="form-actions actions">  
              <button type="button" data-type="selectorder" class="btn btn-white btn-prev">$!{textmap.detail_modify}</button>
              <button type="button" data-type="finishorder" class="btn btn-primary btn-next">$!{textmap.detail_submit}</button>
            </div>
          </div>               
        </div>                  
      </div>
    </div>
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/loader.min.js"></script>
<script src="js/bootstrap-hover-dropdown.min.js"></script>

<!-- Modal -->
<div id="equip-detail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div id="reject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  
</div>

<script >
$(function () {
	$("body").on("click", "button[data-type|=finishorder]", function() {
		var equtitle = $("#equtitle").val();
		var equremark = $("#equremark").val();	
		$.ajax({
			url: "finishorder.do",
			type: 'POST',
			data: {borrowId:borrowId,equremark:equremark,equtitle:equtitle},
			dataType: 'json',
			success: function(data){
				if(data.tag==1){
					location.href="equipmentFinish.do?borrowId="+borrowId;
				}else{
					alert(data.message);
					return;
				}
			}	  
		});
	});
	$("body").on("click", "button[data-type|=selectorder]", function() {
		location.href="equipmentBooking.do?borrowId="+borrowId+"&fromDate="+fromdate+"&endDate="+enddate;
	});
	$("body").on("click", "a[data-type|=equipdetail]", function() {
		var equipid = $(this).data("id");	
		$.ajax({
			url: "equipConfirmContent.do",
			type: 'POST',
			data: {equipmentId:equipid},
			dataType: 'html',
			success: function(data){
				//刷新数据
			   $("#equip-detail").html(data);   			   
			}	  
		});
	});
});
</script>
</body>
</html>