#set($user = $request.getSession().getAttribute("loginUser"))
#set($currentposition= "home")
#set($currentpositiontext= ${textmap.homeposition})	
#set($stuClass =  $request.getSession().getAttribute("stuClass"))
  <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$!{textmap.index_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />


#parse("include/includePageCompatibility.vm")


</head>

<body>
<header id="header-wrap"><!--header-wrap-->

		#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">	

	#parse("include/includeSiteNavi.vm")	
	##set($currentPageType="createorder")
	##parse("include/includeOrderspaceSubNavi.vm") 
  </div>
	
</header><!--/#header-wrap-->
<section id="user-header"><!-- user-header -->
<div class="container">
  <div class="user-content thumbnail">
    <div id="user-profile">
      <div class="media">
        <div id="user-profile-photo" class="pull-left">
          <img src="${userImagePath}/$!user.photo" width="120" height="120" class="img-circle">
        </div>
        <div id="user-profile-info" class="media-body">
           <h4 class="profile-name media-heading">$!user.name</h4>
		   #if($!stuClass != '')
		   <div class="profile-more-info">$!stuClass</div>
		   #end
        </div>
      </div>
    </div>
    <div class="user-bg-pic"><img src="img/img8.jpg" class="img-responsive"></div>
    <nav class="user-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li><a href="${webbaseurl}/indexInfo.do">$!{textmap.index_intro}</a></li>
        <li class="active"><a href="index.html">$!{textmap.index_info}</a></li>
      </ul>
    </nav>
  </div>
</div>  
</section><!-- /.user-header -->
<section id="main-wrap"><!--main-wrap-->

  <div id="main-content" class="clearfix"><!--main-content start-->
    <div id="stream-wrap">
      <div id="stream" class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">$!{textmap.index_new} </h3>
              </div>
              <div class="row p-20">
                <div class="col-md-6">
                  <a class="btn btn-white btn-block" href="${webbaseurl}/equipmentBooking.${strutsaction}"><h4><i class="icon-camera-retro icon-2x"></i></h4><h4>$!{textmap.index_equiporder}</h4></a>
                </div>
                <div class="col-md-6">
                  <a class="btn btn-white btn-block" href="${webbaseurl}/toComputerIndividualorderPage.${strutsaction}"><h4><i class="icon-desktop icon-2x"></i></h4><h4>$!{textmap.index_computerorder}</h4></a>
                </div>
                <!--
				<div class="col-md-4">
                  <a class="btn btn-white btn-block" href=""><h4><i class="icon-envelope icon-2x"></i></h4><h4>$!{textmap.index_msg}</h4></a>
                </div>
				-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">$!{textmap.index_equip_underwayorder}</h3>
                <a href="${webbaseurl}/equipOrdIndex.${strutsaction}" class="more lk pull-right">$!{textmap.viewall}</a>
              </div>
              <ul class="media-list">
				#foreach($row in $equipmenborrowFullList)		
                <li class="media">
                  <div class="media-body">
                    <div class="media-heading">
						<h5><a #if($!row.status==9) href="${webbaseurl}/equipmentBooking.do?borrowId=$!row.borrowid" #else href="${webbaseurl}/equipOrderContent.do?borrowId=$!row.borrowid" #end>$!row.title</a></h5>
                        <span class="tag label label-important">
    						#if($!row.category==1)
    							$!{textmap.ordertype_personal}
    						#elseif($!row.category==2)
    							$!{textmap.ordertype_course_assignment}
    						#end
    					</span>
					</div>
					<div class="status">							  
						  #if($!row.status==1)
							$!{textmap.orderstatus_wait_submit}
						  #elseif($!row.status==2)
							$!{textmap.orderstatus_confirming}
						  #elseif($!row.status==3)
							$!{textmap.orderstatus_reject}
						  #elseif($!row.status==4)
							$!{textmap.orderstatus_passed}
						  #elseif($!row.status==5)
							$!{textmap.orderstatus_return_within_time_equipment}
						  #elseif($!row.status==6)
							$!{textmap.orderstatus_has_extended_equipment}
						  #elseif($!row.status==7)
							$!{textmap.orderstatus_part_damaged_equipment}
						  #elseif($!row.status==8)
							$!{textmap.orderstatus_completed}
						  #elseif($!row.status==9)
							$!{textmap.orderstatus_wait_submit_course_assignment}
						  #end
					</div>                
                  </div>
                </li>
				#end 
              </ul>
            </div>
			
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">$!{textmap.index_pc_underway_title}</h3>
                <a href="${webbaseurl}/viewMineComputerorderList.${strutsaction}" class="more lk pull-right">$!{textmap.viewall}</a>
              </div>
              <ul class="media-list">
				#foreach($order in $computerorderEntityList)
					
				#if($order.type==1)   	
                <li class="media">
                  <div class="media-body">
                    <div class="media-heading"><h5>
						<a href="${webbaseurl}/viewComputerorder.${strutsaction}?computerorderId=$order.computerorderid">$order.computerordertitle</a></h5>
                        <span class="tag label label-important">
    					#set($currentcomputerorderordertype = $order.computerorderordertype)
    					#parse("include/includeComputerorderType.vm")
    					</span> 
					</div>
					<div class="status">
						#set($curstatus = $order.computerorderstatus)
						#parse("include/includeComputerorderStatusIndex.vm")
					</div>
                  </div>
                </li>
				#else
				 <li class="media">
                  <div class="media-body">
                    <div class="media-heading">
						<h5>
						<a href="${webbaseurl}/checkComputerhomework.${strutsaction}?computerhomeworkid=$order.computerhomeworkid">$!order.computerhomeworkname</a>
						</h5>
						
						<span>
							$!{textmap.orderstatus_wait_submit_course_assignment}
						</span>
	                </div>
                    <span class="tag label label-important">
					$!{textmap.ordertype_course_assignment}
					</span>                  
                  </div>
                </li>
				#end
				
				#end
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--stream-wrap end-->
  </div>
  <!---main-content end-->
</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bfa.js"></script>

</body>
</html>