  #set($user =    $request.getSession().getAttribute("loginUser"))
  <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />


#parse("include/includePageCompatibility.vm")


</head>

<body>
<header id="header-wrap"><!--header-wrap-->

		#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">	
	#parse("include/includeSiteNavi.vm")	
	##set($currentPageType="createorder")
	##parse("include/includeOrderspaceSubNavi.vm") 
  </div>
	
</header><!--/#header-wrap-->
<section id="user-header"><!-- user-header -->
<div class="container">
  <div class="user-content thumbnail">
    <div id="user-profile">
      <div class="media">
        <div id="user-profile-photo" class="pull-left">
          <img src="${userImagePath}/$!user.photo" width="120" height="120" class="img-circle">
        </div>
        <div id="user-profile-info" class="media-body">
           <h4 class="profile-name media-heading">$!user.name</h4>
		  <!--
          <div class="profile-more-info">2012级研究生 - 影像视觉效果研究方向</div>-->
        </div>
      </div>
    </div>
    <div class="user-bg-pic"><img src="img/img8.jpg" class="img-responsive"></div>
    <nav class="user-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li><a href="${webbaseurl}/indexInfo.do">简介</a></li>
        <li class="active"><a href="index.html">信息</a></li>
      </ul>
    </nav>
  </div>
</div>  
</section><!-- /.user-header -->
<section id="main-wrap"><!--main-wrap-->

  <div id="main-content" class="clearfix"><!--main-content start-->
    <div id="stream-wrap">
      <div id="stream" class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">新的</h3>
              </div>
              <div class="row p-20">
                <div class="col-md-4">
                  <a class="btn btn-white btn-block" href="${webbaseurl}/equipmentBooking.${strutsaction}"><h4><i class="icon-camera-retro icon-2x"></i></h4><h4>设备预约</h4></a>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-white btn-block" href="${webbaseurl}/toComputerIndividualorderPage.${strutsaction}"><h4><i class="icon-desktop icon-2x"></i></h4><h4>机房预约</h4></a>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-white btn-block" href="消息中心-站内信-写站内信.html"><h4><i class="icon-envelope icon-2x"></i></h4><h4>站内信</h4></a>
                </div>
              </div>
            </div>
			<!--
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">站内信</h3>
                <a href="消息中心-站内信.html" class="more lk pull-right">查看全部</a>
              </div>
              <ul class="media-list">
                <li class="media">
                  <a rel="popover" class="pull-left" href="#">
                    <img src="img/photo.jpg" width="46" height="46" class="img-rounded">
                  </a>
                  <div class="media-body">
                    <div class="media-heading"><h5><a rel="popover" href="消息中心-站内信-查看站内信.html">李全胜</a></h5><span>7月6日</span></div>
                    <a href="#">回复：关于HDR图像的问题</a>
                  </div>
                </li>
                <li class="media">
                  <a rel="popover" class="pull-left" href="#">
                    <img src="img/photo.jpg" width="46" height="46" class="img-rounded">
                  </a>
                  <div class="media-body">
                    <div class="media-heading"><h5><a rel="popover" href="#">林韬</a></h5><span>7月6日</span></div>
                    <a href="#">第11周摄影作业要求</a>
                  </div>
                </li>
              </ul>
            </div>
			-->
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">进行中的设备预约</h3>
                <a href="${webbaseurl}/equipOrdIndex.${strutsaction}" class="more lk pull-right">查看全部</a>
              </div>
              <ul class="media-list">
				#foreach($row in $equipmenborrowFullList)		
                <li class="media">
                  <div class="media-body">
                    <div class="media-heading"><h5><a #if($!row.status==9) href="${webbaseurl}/equipmentBooking.do?borrowId=$!row.borrowid" #else href="${webbaseurl}/equipOrderContent.do?borrowId=$!row.borrowid" #end>$!row.title</a></h5><span>#if($!row.status==1)
								等待提交预约申请。
							  #elseif($!row.status==2)
								等待审核
							  #elseif($!row.status==3)
								预约被驳回，需修改后重新提交预约
							  #elseif($!row.status==4)
								审核通过，请于规定时间领取相关设备
							  #elseif($!row.status==5)
								请于规定时间归还相关设备
							  #elseif($!row.status==6)
								已超期，请尽快归还相关设备
							  #elseif($!row.status==7)
								部分设备受损，请尽快根据相关规定处理受损设备
							  #elseif($!row.status==8)
								已完成
							  #elseif($!row.status==9)
								老师已发布任务
							  #end</span></div>
                    <span class="tag label label-important">#if($!row.category==1)
							个人预约
						  #elseif($!row.category==2)
							课程预约
						  #end</span>                  
                  </div>
                </li>
				#end 
              </ul>
            </div>
			
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">进行中的机房预约</h3>
                <a href="${webbaseurl}/viewMineComputerorderList.${strutsaction}" class="more lk pull-right">查看全部</a>
              </div>
              <ul class="media-list">
				#foreach($order in $computerorderEntityList)
					
				#if($order.type==1)   	
                <li class="media">
                  <div class="media-body">
                    <div class="media-heading"><h5>
						<a href="${webbaseurl}/viewComputerorder.${strutsaction}?computerorderId=$order.computerorderid">$order.computerordertitle</a></h5>
						<span>
							#set($curstatus = $order.computerorderstatus)
							#parse("computer/includeComputerorderStatus.vm")
						</span>
					</div>
					
                    <span class="tag label label-important">
					#set($currentcomputerorderordertype = $order.computerorderordertype)
					#parse("include/includeComputerorderType.vm")
					</span>                  
                  </div>
                </li>
				#else
				 <li class="media">
                  <div class="media-body">
                    <div class="media-heading">
						<h5>
						<a href="${webbaseurl}/checkComputerhomework.${strutsaction}?computerhomeworkid=$order.computerhomeworkid">$!order.computerhomeworkname</a>
						</h5>
						<span><a href="${webbaseurl}/toComputerClassorderPage.${strutsaction}?computerhomeworkid=$order.computerhomeworkid"">开始预约</a>
						</span>
	                </div>
                    <span class="tag label label-important">
					等待你提交预约申请
					</span>                  
                  </div>
                </li>
				#end
				
				#end
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--stream-wrap end-->
  </div>
  <!---main-content end-->
</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/bootstrap-datepicker.js"></script>
<script src="${jsDomain}/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="${jsDomain}/xdate.js"></script>
<script src="${jsDomain}/computer/computerorder.js"></script>


<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="img/cover-img.jpg" class="cover" alt="封面照片" />
  <div class="cover-layout"></div>
  <div class="avatar"><img src="img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

</script>
</body>
</html>