#set($user = $request.getSession().getAttribute("loginUser"))
#set($currentposition= "profile")
#set($currentpositiontext= ${textmap.profileposition})	

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${textmap.baseinfo_pagetitle}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body>
<header id="header-wrap"><!--header-wrap-->
		#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">	

	#parse("include/includeSiteNavi.vm")	
	##set($currentPageType="createorder")
	##parse("include/includeOrderspaceSubNavi.vm") 
  </div>
  
</header><!--/#header-wrap-->
<section id="user-header"><!-- user-header -->
<div class="container">
  <div class="user-content thumbnail">
    <div id="user-profile">
      <div class="media">
        <div id="user-profile-photo" class="pull-left">
          <img src="${userImagePath}/$!user.photo" width="120" height="120" class="img-circle">
        </div>
        <div id="user-profile-info" class="media-body">
          <h4 class="profile-name media-heading">$!user.name</h4>
		  <!--
          <div class="profile-more-info">2012级研究生 - 影像视觉效果研究方向</div>-->
        </div>
		
      </div>
    </div>
    <div class="user-bg-pic"><img src="${imageDomain}/img8.jpg" class="img-responsive"></div>
    <nav class="user-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li class="active"><a href="${webbaseurl}/indexInfo.do">$!{textmap.baseinfo_introduction}</a></li>
        <li><a href="${webbaseurl}/index.do">$!{textmap.baseinfo_index}</a></li>
      </ul>
    </nav>
  </div>
</div>  
</section><!-- /.user-header -->
<section id="main-wrap"><!--main-wrap-->

  <div id="main-content" class="clearfix"><!--main-content start-->
    <div id="stream-wrap">
      <div id="stream" class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">$!{textmap.baseinfo_detail}</h3>
                <a href="#modify-basic" class="lk pull-right" data-toggle="modal" role="button" id="editGender">$!{textmap.baseinfo_edit}</a>
              </div>
              <dl class="dl-horizontal">
                <dt>$!{textmap.baseinfo_name}</dt>
                <dd>$!userName</dd>
                <dt>$!{textmap.baseinfo_sex}</dt>
				#if($!gender == "男")
					<dd id="g">$!{textmap.baseinfo_sex_male}</dd>
				#else
					<dd id="g">$!{textmap.baseinfo_sex_female}</dd>
				#end
				 #if($!classBelongTo != "-1" && $user.roletype == "1")
                    <dt>$!{textmap.baseinfo_class}</dt>
                    <dd>$!classBelongTo</dd>
				 #end
              </dl>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">$!{textmap.baseinfo_contactinfo}</h3>
                <a href="#modify-contact" class="lk pull-right" data-toggle="modal" role="button" id="editConn">$!{textmap.baseinfo_edit}</a>
              </div>
              <dl class="dl-horizontal">
                <dt>$!{textmap.baseinfo_email}</dt>
                <dd id="e">$!email</dd>
                <dt>$!{textmap.baseinfo_phonenum}</dt>
                <dd id="p">$!phone</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--stream-wrap end-->
  </div>
  <!---main-content end-->
</section>


<!-- Modal -->
<div id="modify-basic" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">$!{textmap.baseinfo_detail}</h3>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputGender" class="col-xs-4 control-label">$!{textmap.baseinfo_sex}</label>
          <div class="col-xs-6">
            <label class="radio-inline">
              <input type="radio" name="inputGender" id="male" value="0">$!{textmap.baseinfo_sex_male}
            </label>
            <label class="radio-inline">
              <input type="radio" name="inputGender" id="female" value="1">$!{textmap.baseinfo_sex_female}
            </label>
          </div>
        </div>
      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">$!{textmap.baseinfo_cancel}</button>
    <button class="btn btn-primary" action-type="alterGender">$!{textmap.baseinfo_submit}</button>
  </div>
</div>
<div id="modify-contact" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">$!{textmap.baseinfo_contactinfo}</h3>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputPhone" class="col-xs-4 control-label">$!{textmap.baseinfo_phonenum}</label>
          <div class="col-xs-6">
            <input type="text" class="form-control" id="inputPhone" placeholder="用户的联系电话（cellphone）">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-xs-4 control-label">$!{textmap.baseinfo_email}</label>
          <div class="col-xs-6">
            <input type="email" class="form-control" id="inputEmail" placeholder="xxx@xxx.xxx">
          </div>
        </div>
      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">$!{textmap.baseinfo_cancel}</button>
    <button class="btn btn-primary" action-type="alterInfo">$!{textmap.baseinfo_submit}</button>
  </div>
</div>
    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>

<script>
	var oldGender = "";
	var oldEmail = "";
	var oldTel = ""
	$("body").on("click", "a[role|=button]", function() {
		var divId = $(this).attr("id");
		if(divId == "editGender") {
			if(oldGender == "") {
				var gender = $("#g").html();
    			if(gender == "$!{textmap.baseinfo_sex_male}") {
    				$("#male").attr("checked", "");
    			} else {
    				$("#female").attr("checked", "");
    			}
			} else {
				console.log(oldGender);
				if(oldGender == 0) {
					$("#male").attr("checked", "");
				} else {
					$("#female").attr("checked", "");
				}
			}
			
			
		} else {
			if(oldEmail == "") {
				$("#inputEmail").val("$!email");
			} else {
				$("#inputEmail").val(oldEmail);
			}
			if(oldTel == "") {
				$("#inputPhone").val("$!phone");
			} else {
				$("#inputPhone").val(oldTel);
			}
		}
	});
	
	$("body").on("click", "button[action-type|=alterGender]", function() {
		var _this = $(this);
		var gender = $("input[name|=inputGender]:checked").val();
		
		var postData = {
			"userId": $!user.id,
			"newGender": gender,
			"userType": $!user.roletype
		};
		
		jQuery.ajax({  
		    url: "${webbaseurl}/alterGender.do",  
		    type: "post",
		    data: postData,
		    success:function(data,textStatus,jq){  
				oldGender = gender;
				if(data.tag == "0") {
					if(gender == 0) {
						$("#g").html("$!{textmap.baseinfo_sex_male}");
					} else {
						$("#g").html("$!{textmap.baseinfo_sex_female}");
					}
					
					//alert(data.msg);
					n = noty({text: data.msg, timeout: 2500, type: 'success'});
		    		_this.parents('.modal').modal('toggle');
				} else {
					n = noty({text: data.msg, timeout: 2500, type: 'error'});
				}
	        },  
		    error:function(data,textStatus,jq) {
				    n = noty({text: data.msg, timeout: 2500, type: 'error'});
			}  
		});
		
	});
	
	$("body").on("click", "button[action-type|=alterInfo]", function() {
		var _this = $(this);
		var email = $("#inputEmail").val();
		var tel = $("#inputPhone").val();
		
		var postData = {
			"userId": $!user.id,
			"phoneNum": tel,
			"newEmail": email,
			"userType": $!user.roletype
		};
		
		jQuery.ajax({  
		    url: "${webbaseurl}/alterConnInfo.do",  
		    type: "post",
		    data: postData,
		    success:function(data,textStatus,jq){  
				oldEmail = email;
				oldTel = tel;
		    	console.log(data);
				if(data.tag == "0") {
					$("#e").html(email);
					$("#p").html(tel);
					
					n = noty({text: data.msg, timeout: 2500, type: 'success'});
		    		_this.parents('.modal').modal('toggle');
				} else {
					n = noty({text: data.msg, timeout: 2500, type: 'error'});
				}
	        },  
		    error:function(data,textStatus,jq) {
				    n = noty({text: data.msg, timeout: 2500, type: 'error'});
			}  
		});
		
	});
</script>

</body>
</html>