<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系</title>
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

<style type="text/css">
  #noty_topCenter_layout_container, #noty_topCenter_layout_container > li { width: 640px !important;}
</style>

</head>

<body class="pos-absolute">
<div class="fullscreen-post-bg">
  <img src="img/original_eD7F_053100003d1c1191.jpg">
</div>
<div class="center form-signin">
  <h1 class="center-logo">北京电影学院摄影系</h1>
  <form action="./doLogin.do" method="post" name="fm" target="submit" role="form">
    <div class="form-group">
        <input type="text" id="inputUsername" class="form-control input-lg" name="loginuser.userid" placeholder="学号(Student No)/教工号">
        <input type="password" id="inputPassword" class="form-control input-lg" name="loginuser.password" placeholder="密码(Password)">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary input-block-level" id="loginBtn" data-loading-text="登录中..." autocomplete="off">登 录</button>
        <label class="checkbox keep-login">
          <input type="checkbox"> <span class="text-shadow">保持一周登录<br>Keep a week login</span>
        </label>
    </div>
  </form>
</div>


<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>

<!--[if lt IE 9]>
<script>
var str = "<div class='text-left'>" +
            "<h3><strong>抱歉！Sorry！</strong></h3>" +
              "<div>为了正常使用本网站，我们建议您更新到最新的现代浏览器（如最新版的IE浏览器、谷歌、火狐、Safari或Opera等浏览器，IE仅支持9及以上版本。如果您使用的是国产浏览器，请切换到非IE内核的模式下，它可能叫做“极速模式”）。<br><br><br>To get the best possible experience using our site we recommend that you upgrade to a modern web browser (IE 11, Chrome, Firefox Safari or Opera, IE only support 9+).</div>" +
          "</div>";
noty({
    text: str,
    type: 'error',
    buttons: [
      {addClass: 'btn btn-danger', text: '${textmap.lang_ok}', onClick: function($noty) { $noty.close(); }}
    ]
});  
</script>
<![endif]-->

<script >
    $('#loginBtn').on('click', function () {
        $(this).button('loading')
    })
	function afterSubmit(flag,content){
		if(flag != "fail"){
			if(content == "firstLogin") {
				location.href="./firstSetup.action";
			} else if(content == "admin") {
				location.href="./adminIndex.action";
			} else {
				location.href="./index.action";
			}
			
		}else{
			n = noty({text: "登陆失败："+content, timeout: 2500, type: 'error'});
			 $('#loginBtn').button('reset');
		}
	}
</script>

<iframe name="submit" width="0" height="0" />

</body>
</html>