#set($currentposition= "myorder")
#set($currentpositiontext= ${textmap.myorderposition})	

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${textmap.myorder_page_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
</head>

<body>
<header id="header-wrap"><!--header-wrap-->
  #parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">
    #parse("include/includeSiteNavi.vm")
	
		#set($currentPageType="equorderSpace2")
		#parse("include/includeOrderspaceSubNavi.vm")
  </div>

</header><!--/#header-wrap-->
<section id="main-wrap"><!--main-wrap-->
  <!--main-content start-->
  <div id="main-content" class="clearfix">
      <!--equip-wrap start-->
          
          <div class="col3 container">
            <div class="control-bar clearfix">
              <div class="title pull-left">${textmap.underwayorder_title}</div>
              <a class="btn btn-primary pull-right" href="${webbaseurl}/equipmentBooking.do?orderCate=1">${textmap.createorder}</a>
            </div>
            <div class="row">
      			 #foreach($row in $equipmenborrowFullList)	
					
                  <div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/equipOrderContent.do?borrowId=$!row.borrowid">#if(!$row.title) ${textmap.order_tosubmitorders} #else $!row.title #end</a></h4>
                        </div>
                        <div class="t-r rent-type label label-important"><i class="icon-camera-retro icon-large"></i> ${textmap.order_equipment}<br/>#if($!row.category==1)
							${textmap.ordertype_personal}
						  #elseif($!row.category==2)
							${textmap.ordertype_course_assignment}
						  #end</div>
                        <div class="caption">
                          <div class="rent-info">
                            <div class="rent-num">${textmap.order_reservationno} ：#if($!row.borrowallid) $!row.borrowallid #else $!row.borrowid #end</div>
							#if($!row.borrowtime&&$!row.borrowtime!="")
                            <div class="rent-time"><i class="icon-time"></i> $!date.format("yyyy-MM-dd ", $!row.borrowtime)  ${textmap.order_to} $!date.format("yyyy-MM-dd ", $!row.returntime)</div>
                            #end
							#if($!row.remark&&$!row.remark!="")
							<div class="rent-remark"><i class="icon-pencil"></i>$!row.remark</div>
							#end
                          </div>
                          <hr />
                          <div class="rent-status clearfix">
                            <div class="status pull-left">
							  #if($!row.status==1)
								<span class="label label-info">${textmap.order_status}</span> ${textmap.orderstatus_wait_submit}
							  #elseif($!row.status==2)
								<span class="label label-info">${textmap.order_status}</span> ${textmap.orderstatus_confirming}
							  #elseif($!row.status==3)
								<span class="label label-warning">${textmap.order_status}</span> ${textmap.orderstatus_reject}					
							  #elseif($!row.status==4)
								<span class="label label-success">${textmap.order_status}</span> ${textmap.orderstatus_passed}						
							  #elseif($!row.status==5)
								<span class="label label-warning">${textmap.order_status}</span> ${textmap.orderstatus_return_within_time_equipment}					
							  #elseif($!row.status==6)
								<span class="label label-warning">${textmap.order_status}</span> ${textmap.orderstatus_has_extended_equipment}
							  #elseif($!row.status==7)
								<span class="label label-important">${textmap.order_status}</span> ${textmap.orderstatus_part_damaged_equipment}								
							  #elseif($!row.status==8)
								<span class="label label-success">${textmap.order_status}</span> ${textmap.orderstatus_completed}
							  #elseif($!row.status==9)
								<span class="label label-info">${textmap.order_status}</span> ${textmap.orderstatus_wait_submit_course_assignment}							
							  #end</div>
                          </div>
                        </div>
                      </div>                  
                  </div>
                  #end 
            </div>
            
            <hr class="hr-block" />
            <div class="control-bar clearfix">
              <div class="title pull-left">${textmap.finishorder_title}</div>
            </div>
            <div class="row thumbnails">
      			#foreach($row2 in $equipmenborrowFull2List)		
                 <div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/equipOrderContent.do?borrowId=$!row2.borrowid">$!row2.title</a></h4>
                        </div>
                        <div class="t-r rent-type label label-important"><i class="icon-camera-retro icon-large"></i>  ${textmap.order_equipment}<br/>#if($!row2.category==1)
							${textmap.ordertype_personal}
						  #elseif($!row2.category==2)
							${textmap.ordertype_course_assignment}
						  #end</div>
                        <div class="caption">
                          <div class="rent-info">
                            <div class="rent-num">${textmap.order_reservationno} ：#if($!row2.borrowallid) $!row2.borrowallid #else $!row2.borrowid #end</div>
							#if($!row2.borrowtime&&$!row2.borrowtime!="")
                            <div class="rent-time"><i class="icon-time"></i> $date.format("yyyy-MM-dd ", $!row2.borrowtime)  - $date.format("yyyy-MM-dd ", $!row2.returntime)</div>
							#end
							#if($!row2.remark&&$!row2.remark!="")
							<div class="rent-remark"><i class="icon-pencil"></i>$!row2.remark</div>
							#end
                          </div>
					<!--
                          <hr />
                          <div class="rent-status clearfix">
                            <div class="status pull-left">
							  #if($!row2.status==1)
								<span class="label label-info">${textmap.order_status}</span> ${textmap.orderstatus_wait_submit}
							  #elseif($!row2.status==2)
								<span class="label label-info">${textmap.order_status}</span> ${textmap.orderstatus_confirming}
							  #elseif($!row2.status==3)
								<span class="label label-warning">${textmap.order_status}</span> ${textmap.orderstatus_reject}
							  #elseif($!row2.status==4)
								<span class="label label-success">${textmap.order_status}</span> ${textmap.orderstatus_passed}
							  #elseif($!row2.status==5)
								<span class="label label-warning">${textmap.order_status}</span> ${textmap.orderstatus_return_within_time_equipment}
							  #elseif($!row2.status==6)
								<span class="label label-warning">${textmap.order_status}</span> ${textmap.orderstatus_has_extended_equipment}
							  #elseif($!row.status==7)
								<span class="label label-important">${textmap.order_status}</span> ${textmap.orderstatus_part_damaged_equipment}	
							  #elseif($!row2.status==8)
								<span class="label label-success">${textmap.order_status}</span> ${textmap.orderstatus_completed}
							  #elseif($!row2.status==9)
								<span class="label label-info">${textmap.order_status}</span> ${textmap.orderstatus_wait_submit_course_assignment_detail}						
							  #end
							  </div>
                          </div>
						  -->
                        </div>
                      </div>                  
                  </div>
                #end 
            </div>            
          </div>
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/loader.min.js"></script>
<script src="js/select2.js"></script>
<script src="js/bfa.js"></script>


</body>
</html>