<!--equip-wrap start-->
        <div id="equip-list">        
          <div class="w200 container">
            <div class="control-bar clearfix">
              <div class="title pull-left">$!{class1Name}
			  
			  
			  </div>
			  <!--
              <form class="navbar-search pull-right">
                <input id="serachtext" type="text" class="form-control" placeholder="$!{textmap.order_searchequipment}">
                <i data-type="classAjax" class="icon-search"></i>
              </form>
			  -->
              <ul class="nav nav-pills pull-right">
                #foreach($row2 in $!classification2List)		
					#if($velocityCount=='1')<li id="cl20" class="active classification2" ><a href="javascript:;" data-type="classAjax" data-id="0" data-classtype="2" data-parentid="$!class1Id">$!{textmap.order_all}</a></li>#end
        			<li id="cl2$!row2.comid" class="classification2"><a href="javascript:;" data-type="classAjax" data-id="$!row2.comid" data-classtype="2" data-parentid="$!class1Id">$!row2.name</a></li>
        		#end
              </ul>
            </div>
            <div class="row">
      			#foreach($row3 in $!equipmentList)	
                  <div class="w-200">                  
                      <div class="thumbnail">
                        <img width="168px" height="128px" class="e-pic" src="$!{equipmentImagePath}/$!row3.imgNameSaved">
                        <div class="caption">
                          <div class="title">
							#if($class1Name!='设备组')<a class="lk" data-toggle="modal" href="#equip-detail" data-type="equipDetail" data-id="$!row3.comId" role="button">$!row3.equipmentname</a>
						  #else <a class="lk" role="button">$!row3.equipmentname</a>
						  #end</div>
                          <p class="detail">#if($class1Name!='设备组')$!{textmap.order_canborrowupto}：#if($!row3.borrownum) $!row3.borrownum #else 0 #end #else $!row3.intoduce #end</p>
                        </div>
                        <div class="add-btn">
                          <a class="btn btn-white btn-block" data-type="addEquip" data-id="$!row3.comId" data-name="$!row3.equipmentname" data-num="$!row3.borrownum" data-cate="$!parentClassId" href="javascript:;">$!{textmap.order_add}</a>
						</div>
                      </div>                  
                  </div>
                   #end          
            </div>
          </div>
        </div>
      <!--equip-wrap end-->
<script src="js/bfa2.js"></script>