 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">设备详情</h3>
  </div>
  <div class="modal-body">
    <div class="media">
      <div class="pull-left">
        <img data-src="holder.js/140x140" class="img-equip" alt="140x140" style="width: 140px; height: 140px; " src="$!{equipmentImagePath}/$!equipmentFull.imgNameSaved">
      </div>
      <div class="media-body">
        <dl class="dl-horizontal">
          <dt>型号</dt>
          <dd>$!equipmentFull.equipmentname</dd>
          <dt>所属分类</dt>
          <dd>$!equipmentFull.categoryName</dd>
          <dt>器材简介</dt>
          <dd>$!equipmentFull.equipmentdetail</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">关 闭</button>
  </div>