#set($currentposition= "myorder")
#set($currentpositiontext= ${textmap.myorderposition})	

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${textmap.order_detail_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
</head>

<body>
<header id="header-wrap"><!--header-wrap-->
  #parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">
    #parse("include/includeSiteNavi.vm")
	
		#set($currentPageType="orderDetail")
		#parse("include/includeOrderspaceSubNavi.vm")
  </div>
</header><!--/#header-wrap-->

<section id="main-wrap"><!--main-wrap-->
  <!--main-content start-->
  <div id="main-content" class="clearfix">
    <div class="container">
      <div class="row">
        <div class="control-bar col-md-12">
          <div class="title">$!equipmenborrowFull.title 
			<span class="label label-important"> 
					#if($!equipmenborrowFull.category==1)
					${textmap.ordertype_personal}
					#elseif($!equipmenborrowFull.category==2)
					${textmap.ordertype_course_assignment}
					#end
			</span>
		  </div>
        </div>      
        <div class="col-md-7">                  
          <div class="thumbnail">
            <div class="hd clearfix">
              <h3 class="pull-left">${textmap.order_order_list}</h3>
			  #set($anum = 0)
			  #set($bnum = 0)
			  #foreach($row in $!equipmentList)	
				 #set($anum = $anum+1)
				 #if($!row.borrownumber&&$!row.borrownumber>0)
					#set($bnum = $bnum+$!row.borrownumber)
				 #else
					#set($bnum = $bnum+$!row.applynumber)
				 #end
			  #end
              <div class="pull-right">${textmap.order_total} $!anum ${textmap.order_kindofeuip} $!bnum ${textmap.order_adevice}</div>
            </div>
            <ul class="media-list">
              #foreach($row2 in $!equipmentList)	
                  <li class="media">
                    <a class="pull-left" data-toggle="modal" href="#equip-detail" data-type="equipdetail" data-id="$!row2.comId"  role="button">
                      <img src="$!{equipmentImagePath}/$!row2.imgNameSaved" width="46" height="46" class="img-rounded">
                    </a>
                    <div class="media-body">
                      <div class="media-heading"><h5><a data-toggle="modal" href="#equip-detail" data-type="equipdetail" data-id="$!row2.comId" role="button">$!row2.equipmentname</a></h5><span>&times; #if($!row2.borrownumber&&$!row2.borrownumber>0) $!row2.borrownumber #else $!row2.applynumber #end</span></div>
                      <p>$!row2.categoryName<p>
                    </div>
                  </li>
			  #end 
            </ul>
          </div>                  
        </div>
        <div class="col-md-5">
          <div class="thumbnail">
            <div class="hd">
              <h3>${textmap.order_status_title}</h3>
            </div>
            <div class="caption">
              <div class="status">
				  #if($!equipmenborrowFull.status==1)
					${textmap.orderstatus_wait_submit_detail}
				  #elseif($!equipmenborrowFull.status==2)
					${textmap.orderstatus_confirming_detail}
				  #elseif($!equipmenborrowFull.status==3)
					${textmap.orderstatus_reject_detail}
				  #elseif($!equipmenborrowFull.status==4)
					${textmap.orderstatus_passed_detail_equipment}
				  #elseif($!equipmenborrowFull.status==5)
					${textmap.orderstatus_return_within_time_detail_equipment}
				  #elseif($!equipmenborrowFull.status==6)
					${textmap.orderstatus_has_extended_detail_equipment}
				  #elseif($!equipmenborrowFull.status==7)
					${textmap.orderstatus_part_damaged_detail_equipment}
				  #elseif($!equipmenborrowFull.status==8)
					${textmap.orderstatus_completed}
				#elseif($!equipmenborrowFull.status==9)
					${textmap.orderstatus_wait_submit_course_assignment_detail}
				  #end
                </div>
                <hr />
				#if($!equipmenborrowFull.status==1||$!equipmenborrowFull.status==3)
                <a class="btn btn-primary" data-type="selectorder" data-id="$!equipmenborrowFull.borrowid"  href="javascript:;">${textmap.detail_modify}</a>
				#end
				#if($!equipmenborrowFull.status==1||$!equipmenborrowFull.status==3||$!equipmenborrowFull.status==2)
                <a class="btn btn-white" data-type="deleteorder" data-id="$!equipmenborrowFull.borrowid" href="javascript:;">${textmap.order_del}</a> 
				#end
            </div>
          </div>
          <div class="thumbnail">
            <div class="hd">
              <h3>${textmap.detail_title}</h3>
            </div>
            <div class="caption">
              <div class="rent-detail">
                <div class="rent-main-detail">
					<span class="rent-user"><strong>${textmap.detail_Applicant}：$!equipmenborrowFull.userName</strong></span> - 
                    <span class="rent-num"><strong>${textmap.order_No}：$!equipmenborrowFull.borrowid</strong></span>
				</div>
				<div class="rent-type">$!{textmap.computerorderview_detail_ordertype} #if($!equipmenborrowFull.category==1)${textmap.ordertype_personal}#elseif($!equipmenborrowFull.category==2)${textmap.ordertype_course_assignment}#end</div>
				<div class="rent-contact">$!{textmap.computerorderview_detail_orderuserphone} $!{user.telephone}</div>
				#if($!equipmenborrowFull.teacherid)
                <div class="rent-teacher">${textmap.order_teacher}：$!equipmenborrowFull.teacherName</div>
				#end
                #if($equipmenborrowFull.borrowtime&&$equipmenborrowFull.borrowtime!="")
				<div class="rent-time"><i class="icon-time"></i> $!date.format("yyyy-MM-dd", $!equipmenborrowFull.borrowtime) ${textmap.order_timeTo} $!date.format("yyyy-MM-dd", $!equipmenborrowFull.returntime)</div>
				#end
                #if($equipmenborrowFull.remark&&$equipmenborrowFull.remark!="")	
                <div class="rent-remark"><i class="icon-pencil"></i> $!equipmenborrowFull.remark</div>
				#end
              </div>
			  #if($!equipmenborrowFull.teacherid || $!equipmenborrowFull.examuser) 
              <hr />
			  #end
            </div>                        
            <ul class="media-list">
			#if($!equipmenborrowFull.teacherid) 
              <li class="media">
                <div class="pull-left">
                  <img src="${userImagePath}/$!equipmenborrowFull.teacherPic" width="28" height="28" class="img-rounded">
                </div>
                <div class="media-body">
                  <div class="media-heading"><h5>$!equipmenborrowFull.teacherName</h5><span class="post-time">$!date.format("yyyy-MM-dd", $!equipmenborrowFull.createtime)</span></div>
                  <a href="#" class="lk" title="查看详细说明" rel="tooltip">$!equipmenborrowFull.msgtitle</a>
                </div>
              </li>
			#end
			#if($!equipmenborrowFull.examuser)
              <li class="media">
                <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                  <img src="${userImagePath}/$!equipmenborrowFull.examuserPic" width="28" height="28" class="img-rounded">
                </a>
                <div class="media-body">
                  <div class="media-heading"><h5><a rel="popover" href="#">$!equipmenborrowFull.examuserName</a></h5><span class="post-time" title="详细时间">$!date.format("yyyy-MM-dd hh:mm", $!equipmenborrowFull.examdate)</span></div>
                  <p>$!equipmenborrowFull.teachersuggest</p>
                </div>
              </li>
			 #end 
            </ul>                                                  
          </div>               
        </div>                  
      </div>
    </div>
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bfa.js"></script>

<script>
	$("body").on("click", "a[data-type|=deleteorder]", function() {
		var myData = $(this).data();
		cId = myData.id;
		$.ajax({
			url: "deleteorder.do",
			type: 'POST',
			data: {borrowId:cId},
			dataType: 'json',
			success: function(data){
				if(data.tag==1){
					alert("删除成功");
					location.href="equipOrdIndex.do";
				}else{
					alert(data.message);
					return;
				}
			}	  
		});
	});
	
	$("body").on("click", "a[data-type|=subexamorder]", function() {
		var myData = $(this).data();
		cId = myData.id;
		$.ajax({
			url: "subexamorder.do",
			type: 'POST',
			data: {borrowId:cId},
			dataType: 'json',
			success: function(data){
				if(data.tag==1){
					alert("提交成功");
					location.href="equipOrdIndex.do";
				}else{
					alert(data.message);
					return;
				}
			}	  
		});
	});
	$("body").on("click", "a[data-type|=selectorder]", function() {
		var myData = $(this).data();
    	var borrowId =  myData.id;
    	var fromdate = '$date.format("yyyy-MM-dd ", $!equipmenborrowFull.borrowtime)';
    	var enddate = '$date.format("yyyy-MM-dd ", $!equipmenborrowFull.returntime)';
		location.href="equipmentBooking.do?borrowId="+borrowId+"&fromDate="+fromdate+"&endDate="+enddate;
	});
</script>

</body>
</html>