<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${textmap.myorder_page_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body>
<header id="header-wrap"><!--header-wrap-->
  #parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">
    #parse("include/includeSiteNavi.vm")
	
		#set($currentPageType="equorderSpace2")
		#parse("include/includeOrderspaceSubNavi.vm")
  </div>

</header><!--/#header-wrap-->
<section id="main-wrap"><!--main-wrap-->
  <!--main-content start-->
  <div id="main-content" class="clearfix">
      <!--equip-wrap start-->
   
          
          <div class="col3 container">
            <div class="control-bar clearfix">
              <div class="title pull-left">${textmap.underwayorder_title}</div>
              <a class="btn btn-primary pull-right" href="#selectRentType" role="button" data-toggle="modal">${textmap.createorder}</a>
            </div>
            <div class="row">
      			 #foreach($row in $equipmenborrowFullList)		
                  <div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/equipOrderContent.do?borrowId=$!row.borrowid">$!row.title</a></h4>
                        </div>
                        <div class="t-r rent-type label label-important"><i class="icon-camera-retro icon-large"></i> 设备预约<br/>#if($!row.category==1)
							个人预约
						  #elseif($!row.category==2)
							课程预约
						  #end</div>
                        <div class="caption">
                          <div class="rent-info">
                            <div class="rent-num">预约号：$!row.borrowid</div>
                            <div class="rent-time"><i class="icon-time"></i> $!date.format("yyyy-MM-dd ", $!row.borrowtime)  至 $!date.format("yyyy-MM-dd ", $!row.returntime)</div>
                            <div class="rent-remark"><i class="icon-pencil"></i>$!row.remark</div>
                          </div>
                          <hr />
                          <div class="rent-status clearfix">
                            <div class="status pull-left"><span class="label label-info">状态</span>#if($!row.status==1)
								等待提交预约申请。
							  #elseif($!row.status==2)
								等待审核
							  #elseif($!row.status==3)
								预约被驳回，需修改后重新提交预约
							  #elseif($!row.status==4)
								审核通过，请于规定时间领取相关设备
							  #elseif($!row.status==5)
								请于规定时间归还相关设备
							  #elseif($!row.status==6)
								已超期，请尽快归还相关设备
							  #elseif($!row.status==7)
								部分设备受损，请尽快根据相关规定处理受损设备
							  #elseif($!row.status==8)
								已完成
							  #elseif($!row.status==9)
								老师已发布任务
							  #end</div>
                          </div>
                        </div>
##                      </div>                  
                  </div>
                  #end 
            </div>
            
            <hr class="hr-block" />
            <div class="control-bar clearfix">
              <div class="title pull-left">${textmap.finishorder_title}</div>
            </div>
            <div class="row thumbnails">
      			#foreach($row2 in $equipmenborrowFull2List)		
                 <div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/equipOrderContent.do?borrowId=$!row2.borrowid">$!row2.title</a></h4>
                        </div>
                        <div class="t-r rent-type label label-important"><i class="icon-camera-retro icon-large"></i> 设备预约<br/>#if($!row2.category==1)
							个人预约
						  #elseif($!row2.category==2)
							课程预约
						  #end</div>
                        <div class="caption">
                          <div class="rent-info">
                            <div class="rent-num">预约号：$!row2.borrowid</div>
                            <div class="rent-time"><i class="icon-time"></i> $date.format("yyyy-MM-dd ", $!row2.borrowtime)  - $date.format("yyyy-MM-dd ", $!row2.returntime)</div>
                            <div class="rent-remark"><i class="icon-pencil"></i>$!row2.remark</div>
                          </div>
                          <hr />
                          <div class="rent-status clearfix">
                            <div class="status pull-left"><span class="label label-info">状态</span>#if($!row2.status==1)
								等待提交预约申请。
							  #elseif($!row2.status==2)
								等待审核
							  #elseif($!row2.status==3)
								预约被驳回，需修改后重新提交预约
							  #elseif($!row2.status==4)
								审核通过，请于规定时间领取相关设备
							  #elseif($!row2.status==5)
								请于规定时间归还相关设备
							  #elseif($!row2.status==6)
								已超期，请尽快归还相关设备
							  #elseif($!row.status==7)
								部分设备受损，请尽快根据相关规定处理受损设备
							  #elseif($!row2.status==8)
								已完成
							  #end</div>
                          </div>
                        </div>
                      </div>                  
                  </div>
                #end 
            </div>            
          </div>
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/loader.min.js"></script>
<script src="js/bootstrap-hover-dropdown.min.js"></script>
<script src="js/select2.js"></script>
<script src="js/bfa.js"></script>

<!-- Modal -->
<div id="selectRentType" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="selectRentTypeLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">选择</h3>
  </div>
  <div class="modal-body">
    <div class="text-center clearfix">
      <a class="btn btn-white btn-large btn-type pull-left" href="${webbaseurl}/equipmentBooking.do?orderCate=1"><h4><i class="icon-camera-retro icon-2x"></i></h4><h3>设备预约</h3></a>
      <a class="btn btn-white btn-large btn-type pull-right" href="机房预约页.html"><h4><i class="icon-desktop icon-2x"></i></h4><h3>机房预约</h3></a>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
  </div>
</div>

<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="img/cover-img.jpg" class="cover" alt="封面照片" />
  <div class="cover-layout"></div>
  <div class="avatar"><img src="img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

</body>
</html>