<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 设备管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  <div class="nav-wrap clearfix">
    <div class="site-nav">
      <div class="dropdown">
        <a class="pos dropdown-toggle" data-hover="dropdown" href="#"><i class="icon-home"></i> 管理中心 <i class="icon-chevron-right"></i></a><!-- #BeginLibraryItem "/Library/siteNav.lbi" --><ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="../index.html"><i class="icon-home"></i> 首页</a></li>
          <li class="divider"></li>
          <li><a href="../预约首页.html">我的预约</a></li>
          <li><a href="../消息中心-站内信.html">站内信</a></li>
          <li class="divider"></li>
          <li><a href="../设置页面-账户设置.html">设置与帮助</a></li>
          <li><a href="管理中心首页.html">管理中心</a></li>
        </ul>
          <!-- #EndLibraryItem --></div>
    </div><!-- #BeginLibraryItem "/Library/器材subnav.lbi" -->    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li><a href="管理中心首页.html">首页</a></li>
        <li><a href="教学管理首页.html">教学</a></li>
        <li><a href="用户管理首页.html">用户</a></li>
        <li class="active"><a href="设备预约首页.html">器材</a></li>
        <li><a href="机房预约管理首页.html">机房</a></li>
        <li><a href="#">内容</a></li>
      </ul>
    </div>    
    <!-- #EndLibraryItem --><ul class="account-wrap nav nav-pills pull-right">
          <li class="notice dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bell icon-large"></i><span class="n-num label label-important">3</span></a>
            <ul class="dropdown-menu">
              <li><a href="#">消息1</a></li>
              <li><a href="#">消息2</a></li>
            </ul>
          </li>     
          <li class="social dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username">陈诚</span><img src="../img/photo.jpg" width="32" height="32" class="img-circle"> <b class="caret"></b></a>
            <div class="dropdown-menu">
              <div class="media">
                <a class="pull-left" href="#">
                  <img src="../img/photo.jpg" width="96" height="96" class="img-rounded">
                </a>
                <div class="media-body">
                  <div class="media-heading"><h5><a href="#">陈诚</a></h5></div>
                  <div class="info">2012级研究生 - 影像视觉效果研究方向</div>
                  <div class="setting"><a href="#">账户设置</a></div>
                  <button class="btn btn-primary" type="button">查看个人主页</button>
                </div>
              </div>
            </div>      
          </li>
        </ul>
  </div>
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
           
      <div class="control-bar clearfix"><!--control-bar start-->
        <div class="title pull-left">审核预约</div>     
        <div class="pagination pull-right">
          <ul>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="上一个"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="下一个"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>       
      </div><!--control-bar end-->
              
      <div class="row">
            <div class="control-bar col-md-12">
              <div class="title">$!equipmenborrowFull.title<span class="label label-important"> 
					#if($!equipmenborrowFull.category==1)
					个人预约
					#elseif($!equipmenborrowFull.category==1)
					教学预约#end</span></div>
            </div>        
            <div class="col-md-7">                  
                <div class="thumbnail">
                  <div class="hd clearfix">
                    <h3 class="pull-left">器材清单</h3>
                    #set($anum = 0)
    			  #set($bnum = 0)
    			  #foreach($row in $!equipmentList)	
    				 #set($anum = $anum+1)
    				 #set($bnum = $bnum+$!row.applynumber)
    			  #end
                  <div class="pull-right">共$!anum 种设备， $!bnum 个设备</div>
                  </div>
                  <ul class="media-list">
                     #foreach($row2 in $!equipmentList)	
                          <li class="media">
                            <a class="pull-left" data-toggle="modal" href="#equip-detail" data-type="equipdetail" data-id="$!row2.equipmentid"  role="button">
                              <img src="$!{equipmentImagePath}/$!row2.imgNameSaved" width="46" height="46" class="img-rounded">
                            </a>
                            <div class="media-body">
                              <div class="media-heading"><h5><a data-toggle="modal" href="#equip-detail" data-type="equipdetail" data-id="$!row2.equipmentid" role="button">$!row2.equipmentname</a></h5><span>&times; $!row2.applynumber</span></div>
                              <p>$!row2.categoryName<p>
                            </div>
                          </li>
        			  #end 
                  </ul>
                </div>                  
            </div>
            <div class="col-md-5">
                <div class="thumbnail">
                  <div class="hd">
                    <h3>状态</h3>
                  </div>
                  <div class="caption">
                    <p class="status">等待您的审核。</p>
                    <hr>                      
                    <a class="btn btn-primary"  data-type="examorder" data-id="$!equipmenborrowFull.borrowid" data-examstate="4" href="#">审核通过</a>
                    <a class="btn btn-white"  data-toggle="modal" href="#reject" role="button">驳 回</a>
                    <a class="btn btn-white" data-type="deleteorder" data-id="$!equipmenborrowFull.borrowid" data-toggle="modal" href="#delete" role="button">删 除</a>
                  </div>
                </div>
                <div class="thumbnail">
                  <div class="hd">
                    <h3>详情</h3>
                  </div>
                  <div class="caption">
                      <div class="rent-detail">
                        <span class="rent-user"><strong>申请者：<a rel="popover" class="lk" href="#">$!equipmenborrowFull.userName</a></strong></span>
                        <span class="rent-num"><strong> - 预约号：$!equipmenborrowFull.borrowid</strong></span>
        				#if($!equipmenborrowFull.teacherid)
                        <div class="rent-teacher">关联教师：<a rel="popover" href="#">$!equipmenborrowFull.teacherName</a></div>
        				#end
                        <div class="rent-time"><i class="icon-time"></i>$date.format("yyyy年MM月dd日", $!equipmenborrowFull.borrowtime)  - $date.format("yyyy年MM月dd日", $!equipmenborrowFull.returntime)</div>
                        <div class="rent-remark"><i class="icon-pencil"></i> $!equipmenborrowFull.remark</div>
                      </div>
                      <hr />
                    </div>                      
                  <ul class="media-list">
                    #if($!equipmenborrowFull.teacherid)
                      <li class="media">
                        <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                          <img src="img/photo.jpg" width="28" height="28" class="img-rounded">
                        </a>
                        <div class="media-body">
                          <div class="media-heading"><h5><a rel="popover" href="#">教师名</a></h5><span class="post-time" title="详细时间">下午4:53</span></div>
                          <a href="#" class="lk" title="查看详细说明" rel="tooltip">数字摄影技术第11周设备申请(只显示关联教师发的要求标题)</a>
                        </div>
                      </li>
        			#end
        			#if($!equipmenborrowFull.examuser)
                      <li class="media">
                        <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                          <img src="img/photo.jpg" width="28" height="28" class="img-rounded">
                        </a>
                        <div class="media-body">
                          <div class="media-heading"><h5><a rel="popover" href="#">$!equipmenborrowFull.examuserName</a></h5><span class="post-time" title="详细时间">$date.format("yyyy-MM-dd hh:mm", $!equipmenborrowFull.examdate)</span></div>
                          <p>$!equipmenborrowFull.teachersuggest</p>
                        </div>
                      </li>
        			 #end 
                  </ul>                                            
                </div>               
            </div>                    
      </div>
</section>


<!-- Modal -->
<div id="reject" class="modal hide fade" role="dialog" aria-labelledby="myRejectLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myRejectLabel">驳回预约</h3>
  </div>
  <div class="modal-body">
      <p>您确定要驳回XXX的预约申请吗？确定驳回预约申请，请在下方填写驳回原因，系统会将告知申请者。</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputRejectReason" class="col-xs-3 control-label">驳回原因</label>
          <div class="col-xs-7">
            <textarea class="form-control" id="inputRejectReason" rows="3" placeholder="请在此填写驳回申请的原因。"></textarea>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" data-type="examorder" data-id="$!equipmenborrowFull.borrowid"  data-examstate="3"  >确 定</button>
  </div>
</div>
<div id="delete" class="modal hide fade" role="dialog" aria-labelledby="myDeleteLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myDeleteLabel">删除预约</h3>
  </div>
  <div class="modal-body">
      <p>您确定要删除XXX的预约申请吗？删除预约申请后系统将会通知申请人该条预约申请已被删除，但申请人无法得知删除原因。</p>
      <p>如申请者因提交的设备无法满足需要重新申请预约，建议使用驳回功能。</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary">确 定</button>
  </div>
</div>

<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="../img/cover-img.jpg" class="cover" alt="封面照片">
  <div class="cover-layout"></div>
  <div class="avatar"><img src="../img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script>
	$("body").on("click", "a[data-type|=deleteorder]", function() {
		var myData = $(this).data();
		cId = myData.id;
		$.ajax({
			url: "deleteorder.do",
			type: 'POST',
			data: {borrowId:cId},
			dataType: 'json',
			success: function(data){
				if(data.tag==1){
					alert("删除成功");
					location.href="equipOrdIndex.do";
				}else{
					alert(data.message);
					return;
				}
			}	  
		});
	});
	$("body").on("click", "a[data-type|=examorder]", function() {
		var myData = $(this).data();
		cId = myData.id;
		examstate = myData.examstate;
		examcontent = $("#inputRejectReason").val();
		$.ajax({
			url: "examorder.do",
			type: 'POST',
			data: {borrowId:cId,examstate:examstate},
			dataType: 'json',
			success: function(data){
				if(data.tag==1){
					alert("审核成功");
					location.href="equipOrdIndex.do";
				}else{
					alert(data.message);
					return;
				}
			}	  
		});
	});
</script>
<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
</body>
</html>