<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>器材预约管理 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

#set($total = $!page.totalpage )
#if($total == 0)
	#set($total=1)
#end
<script>
	var idsForDel;
	var dealtype = 0;
	var ordertype = 0;
	var pageNo = 0;
	var totalpage  = '$total';
</script>
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  #set($currentPageModule="equip")
  #parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <ul class="nav nav-tabs">
        <li class="active"><a href="${webbaseurl}/orderAdmin.action">器材预约</a></li>
        <li><a href="${webbaseurl}/equipManageAdmin.do">器材管理</a></li>
      </ul>
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">            
            <div class="control-bar clearfix"><!--control-bar start-->
              <div class="title pull-left">器材预约管理</div>
        	  <div class="tips">在此页面下管理器材预约申请。</div>
              <div class="filter user-group-filter">
                <ul class="nav nav-tabs nav-tabs-google">
                  <li id="ordertype1" class="ordertype"><a href="#" data-type="orderQuery" data-ordertype="1">个人预约</a></li>
                  <li id="ordertype2" class="ordertype"><a href="#" data-type="orderQuery" data-ordertype="2">教学预约</a></li>
                  <li id="ordertype0" class="ordertype active"><a href="#" data-type="orderQuery" data-ordertype="0">全部</a></li>
                </ul>
              </div>
              
              <div class="operate-item pull-left">
                <a href="#" action-type="deleteDetail" class="btn btn-white s-h"><i class="icon-trash"></i> 删除</a>
              </div>
        
              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第$!page.pageNo/$!total页 <b class="caret"></b></a>
					<input type="hidden" name="currpage" id="currpage" value="$!page.pageNo" >
					<input type="hidden" name="totalpage" id="totalpage" value="$!page.totalpage" >
                    <ul class="dropdown-menu" role="menu">
        			  #foreach($i in [1 .. $total])	
        				<li><a href="#" data-type="pageQuery" data-pageNo="$!i" >$i</a></li>
        			  #end
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
					#set($pageNo2 = $!page.pageNo + 1)
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新" data-type="pageQuery" data-pageNo="$!page.pageNo-1"  ><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"  data-type="pageQuery" data-pageNo="$pageNo2" ><i class="icon-chevron-right" ></i></a></li>
                  </ul>
                </div>              
              </div>
              <ul class="status-filter nav nav-pills pull-right">
                <li id="dealtype0" class="dealtype active"><a href="#"  data-type="statusQuery" data-dealtype="0"> 全部</a></li>
                <li id="dealtype1" class="dealtype" ><a href="#" data-type="statusQuery" data-dealtype="1">待审核($!orderCountFull.orderCount1)</a></li>
                <li id="dealtype2" class="dealtype" ><a href="#" data-type="statusQuery" data-dealtype="2">待出库($!orderCountFull.orderCount2)</a></li>
                <li id="dealtype3" class="dealtype" ><a href="#" data-type="statusQuery" data-dealtype="3">待入库($!orderCountFull.orderCount3)</a></li>
                <li id="dealtype4" class="dealtype" ><a href="#" data-type="statusQuery" data-dealtype="4">已完成</a></li>
              </ul>
            </div><!--control-bar end-->
            <div class="panel panel-default table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="id">预约号</th>
                    <th class="user">预约人</th>
                    <th class="title">标题</th>
                    <th class="status">状态</th>
                    <th class="categories">预约类型</th>                    
                    <th class="remark">备注</th>
                  </tr>
                </thead>
                <tbody>
        		#foreach($row in $!equipmenborrowFullList)	
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!row.borrowid"></td>
                    <td>$!row.borrowid</td>
                    <td>$!row.userName</td>
        			#if($!row.status==2)
        			<td><a href="${webbaseurl}/equipmentExaming.do?borrowId=$row.borrowid" >$!row.title</a></td>
                    <td>待审核</td>
        			#elseif($!row.status==4)
        			<td><a href="${webbaseurl}/orderalibrary.do?borrowId=$row.borrowid" >$!row.title</a></td>
                    <td>待出库</td>  
        			#elseif($!row.status==5||$!row.status==6)
        			<td><a href="${webbaseurl}/orderstorage.do?borrowId=$row.borrowid" >$!row.title</a></td>
                    <td>待入库</td> 
        			#elseif($!row.status==1||$!row.status==3)
        			<td><a href="#">$!row.title</a></td>
                    <td>待提交</td> 
        			#elseif($!row.status==7)
        			<td><a href="#" >$!row.title</a></td>
                    <td>待赔偿</td> 
        			#elseif($!row.status==8)
        			<td><a href="#" >$!row.title</a></td>
                    <td>已完成</td> 
        			#end          
        			#if($!row.category==1)
                    <td>个人</td>  
        			#elseif($!row.category==2)
                    <td>教学</td>  
        			#end                  
                    <td>$!row.remark</td>
                  </tr>
        		#end
                </tbody>
              </table>
              
            </div>
          </div>
      </div><!--equip-wrap end-->
      <div id="lside"><!--sidebar start-->
		<!--
        <form class="form-group">
          <input type="text" class="form-control" placeholder="搜索预约(订单号、姓名)">
          <i class="icon-search"></i>
        </form>
		-->
        <div class="list-group">
          <a href="${webbaseurl}/orderAdmin.action" class="list-group-item active">预约管理</a>
          <a href="${webbaseurl}/orderclassrule.action" class="list-group-item">课程预约规则</a>
          <a href="${webbaseurl}/orderCalendarShow.action" class="list-group-item">器材管理-日历模式</a>
        </div>
      </div><!--sidebar end-->

</section>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bfa2.js"></script>
<script >
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}
		
		idsForDel = "";
		
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + "_";
			}
		});
	});
	
	$("body").on("click", "a[action-type|=deleteDetail]", function() {
		jQuery.ajax({  
		    url:"${webbaseurl}/deleteBorrow.do",  
		    type: 'POST',
			data: {ids:idsForDel,dealtype:dealtype,ordertype:ordertype},
		    dataType: 'html',
		    success:function(data){  
				alert("删除成功！");
		    	 $("#admin-wrap").html(data);
	        },  
		    error:function(data) {
				alert("删除失败！");
			}  
		});
	});
	
	$("body").on("click", "a[data-type|=orderQuery]", function() {
		var myData = $(this).data();
		var order = myData.ordertype;		
		ordertype = order;
		jQuery.ajax({  
		    url:"${webbaseurl}/orderAdminContent.do",  
		    type: 'POST',
			data: {dealtype:dealtype,ordertype:order},
		    dataType: 'html',
		    success:function(data){  
		    	$("#admin-wrap").html(data);
				$(".ordertype").removeClass('active');
				$("#ordertype"+order).addClass('active');
				$(".dealtype").removeClass('active');
				$("#dealtype"+dealtype).addClass('active');
				pageNo = $("#currpage").val();
				totalpage = $("#totalpage").val();
	        } 
		});
	});
	
	$("body").on("click", "a[data-type|=statusQuery]", function() {
		var myData = $(this).data();
		var dealt = myData.dealtype;
		dealtype = dealt;
		jQuery.ajax({  
		    url:"${webbaseurl}/orderAdminContent.do",  
		    type: 'POST',
			data: {dealtype:dealt,ordertype:ordertype},
		    dataType: 'html',
		    success:function(data){  
		    	$("#admin-wrap").html(data);
				$(".dealtype").removeClass('active');
				$("#dealtype"+dealt).addClass('active');
				$(".ordertype").removeClass('active');
				$("#ordertype"+ordertype).addClass('active');
				pageNo = $("#currpage").val();
				totalpage = $("#totalpage").val();
	        } 
		});
	});
	
	$("body").on("click", "a[data-type|=pageQuery]", function() {
		var myData = $(this).data();
		var pageid = myData.pageNo;
		if(pageid<0){
			pageid = 1;
		}
		if(pageid>totalpage){
			pageid = totalpage;
		}
		jQuery.ajax({  
		    url:"${webbaseurl}/orderAdminContent.do",  
		    type: 'POST',
			data: {dealtype:dealtype,ordertype:order,pageNo:pageid},
		    dataType: 'html',
		    success:function(data){  
		    	$("#admin-wrap").html(data);
				pageNo = $("#currpage").val();
				totalpage = $("#totalpage").val();
	        } 
		});
	});
</script>

</body>
</html>