<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 器材管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />
#set($total = $!page.totalpage )
#if($total == 0)
	#set($total=1)
#end
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
<script>
	var cid="$!courseId";
	var pno="$!page.pageNo";
</script>
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  #set($currentPageModule="equip")
  #parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <ul class="nav nav-tabs">
        <li class="active"><a href="${webbaseurl}/orderAdmin.action">器材预约</a></li>
        <li><a href="${webbaseurl}/equipManageAdmin.do">器材管理</a></li>
      </ul>
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">            
            <div class="control-bar clearfix"><!--control-bar start-->
              <div class="title pull-left">课程预约规则</div>
			  <div class="tips">在此页面下管理课程预约规则，如规则的添加、修改、删除及维护等。</div>
              <div class="filter category-filter">
                <select id="select-categories" style="width:130px" class="select2">
                  <option value="0" data-foo="fa" data-type="classrule" data-id="0" >全部课程</option>
				  #foreach($row in $!courseFullList)	
                  <option value="$row.courseid" data-type="classrule" data-id="$!row.courseid" data-foo="fa">$row.coursename</option>
				  #end
                </select>
              </div>
              
              <div class="operate-item pull-left">
                <a href="#createEquipRule" class="btn btn-primary"  data-type="equipclassrule" data-toggle="modal" role="button">创建规则</a>
              </div>

              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第$!page.pageNo/$total页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      #foreach($i in [1 .. $total])	
						<li><a data-type="classrule" data-pageno="$i" data-maxpage="$total" href="#">$i</a></li>
					  #end
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
					#set($pageNo2 = $!page.pageNo + 1)
                    <li data-type="classrule" data-pageno="$!page.pageNo-1"  data-maxpage="$total"><a href="#" rel="tooltip" data-placement="bottom"  data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li data-type="classrule" data-pageno="$pageNo2"  data-maxpage="$total" ><a href="#" rel="tooltip" data-placement="bottom"  data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
            </div><!--control-bar end-->
            <div class="panel panel-default table-responsive">
                          
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="id">编号</th>
                    <th class="course-name">课程名</th>
                    <th class="name">规则名称</th>
                    <th class="teacher">教师</th>
                    <th class="operate">操作</th>
                  </tr>
                </thead>
                <tbody>
				#foreach($row2 in $!ordercourseruleFullList)	
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="${velocityCount}"></td>
                    <td>${velocityCount}</td>
                    <td>$row2.courseName</td>
                    <td>$row2.courserulename</td>
                    <td>$row2.teacherName</td>
                    <td><a href="#createEquipRule" data-type="equipclassrule" data-ruleid="$row2.courseruleid" data-toggle="modal" >修改</a> <a href="#" data-pageno="$!page.pageNo"  data-type="delequipclassrule" data-ruleid="$row2.courseruleid">删除</a></td>
                  </tr>
				#end
                </tbody>
              </table>
              
            </div>
          </div>

      </div><!--equip-wrap end-->
      <div id="lside"><!--sidebar start
        <form class="form-group">
          <input type="text" class="form-control" placeholder="搜索预约(订单号、姓名)">
          <i class="icon-search"></i>
        </form>-->
        <div class="list-group">
			<a href="${webbaseurl}/orderAdmin.action" class="list-group-item">预约管理</a>
          <a href="${webbaseurl}/orderclassrule.action" class="list-group-item active">课程预约规则</a>
		  
          <!--<a href="设备预约-新建预约.html" class="list-group-item">新建预约</a>
          <a href="设备预约-设置.html" class="list-group-item">设置</a>-->
        </div>
      </div>
      <!--sidebar end-->

</section>


<!-- Modal -->
<div id="createEquipRule" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createEquipRuleLabel" aria-hidden="true">
  
</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa2.js"></script>
<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->

<script>	
	
	$('body').on('click', ('#createEquipRule .model-list > .list-item'), function () {
		if ($(this).children('i').hasClass('icon-check-empty')) {
			$(this).children('i').removeClass('icon-check-empty').addClass('icon-check');
			$(this).data('isSelect', 'true');
			//alert($(this).data('isSelect'))
		} else if ($(this).children('i').hasClass('icon-check')) {
			$(this).children('i').removeClass('icon-check').addClass('icon-check-empty');
			$(this).data('isSelect', 'false');
			//alert($(this).data('isSelect'))
		}
	});
	$('body').on('click', ('#createEquipRule #submit'), function () {
		var courseId = $('#inputCourseName').select2('val');
		if (courseId == ''||courseId == null) {	
			alert("课程不能为空!");
			return;
		}
		var ruleName = $('#inputRuleName').val();
		if (ruleName == ''||ruleName == null) {	
			alert("规则名称不能为空!"); 
			return;
		}
		//alert(courseId + ',' + ruleName);
		var ids = "";
		$('.model-list > .list-item').each(function(index, elem) {
			if($(elem).data('isSelect') == 'true') {
            	var myData = $(elem).data();
				var equid = myData.modelId;
				var equtype = myData.modeltype;
				var equnum = $("#equ"+equid).val();
				if(isNaN($("#equ"+equid).val())){
					alert("请填入数字！");
					ids="";
					return;
				}
				if(equnum==""){
					alert("设备数量不能为空");
					ids="";
					return;
				}
				ids+=equid+"_"+equnum+"_"+equtype+",";
				//alert(myData.modelId);
			}
        });
		if(ids==""){
			return;
		}
		ids = ids.substring(0,ids.length-1);
		var courseruleid = $("#courseruleid").val();
		$.ajax({
			url: "addorderclassrule.do",
			type: 'POST',
			data: {ruleName:ruleName,courseId:courseId,ids:ids,courseruleid:courseruleid},
			dataType: 'json',
			success: function(data){
				//刷新数据
			   if(data.tag=='1'){
			   		alert("创建规则成功！");
					var courseid = $("#select-categories").val();	
            		$.ajax({
            			url: "orderclassrule2.do",
            			type: 'POST',
            			data: {pageNo:1,courseId:courseid},
            			dataType: 'html',
            			success: function(data2){
            				//刷新数据
            			   $("#admin-wrap").html(data2);
            			}	  
            		});
			   }else{
			   		alert(data.message);
			   }
			}	  
		});
	});
	
	$("body").on("click", "a[data-type|=delequipclassrule]", function() {
	    var courseid = $("#select-categories").val();	
		var pageno = $(this).data("pageno");	
		if(courseid!=null&&courseid!=""){
			cid=courseid;
		}
		if(pageno!=null&&pageno!=""){
			pno=pageno;
		}
		var  ruleid = $(this).data("ruleid");
		$.ajax({
			url: "delequipclassrule.do",
			type: 'POST',
			data: {pageNo:pno,courseId:cid,courseruleid:ruleid},
			dataType: 'html',
			success: function(data){
				//刷新数据
				alert("删除成功！");
			   $("#admin-wrap").html(data);
			}
		});
	});
	
	$("body").on("click", "a[data-type|=classrule]", function() {
	    var courseid = $("#select-categories").val();	
		var pageno = $(this).data("pageno");	
		var maxpage = $(this).data("maxpage");
		if(pageno>maxpage||pageno<1){
			return;
		}
		if(courseid!=null&&courseid!=""){
			cid=courseid;
		}
		if(pageno!=null&&pageno!=""){
			pno=pageno;
		}
		$.ajax({
			url: "orderclassrule2.do",
			type: 'POST',
			data: {pageNo:pno,courseId:cid},
			dataType: 'html',
			success: function(data){
				//刷新数据
			   $("#admin-wrap").html(data);
			}	  
		});
	});
	
	$("body").on("click", "li[data-type|=classrule]", function() {
	    var courseid = $("#select-categories").val();	
		var pageno = $(this).data("pageno");	
		var maxpage = $(this).data("maxpage");
		if(pageno>maxpage||pageno<1){
			return;
		}
		if(courseid!=null&&courseid!=""){
			cid=courseid;
		}
		if(pageno!=null&&pageno!=""){
			pno=pageno;
		}
		$.ajax({
			url: "orderclassrule2.do",
			type: 'POST',
			data: {pageNo:pno,courseId:cid},
			dataType: 'html',
			success: function(data){
				//刷新数据
			   $("#admin-wrap").html(data);
			}	  
		});
	});
	
	
	$("body").on("click", "a[data-type|=equipclassrule]", function() {
		var id = $(this).data("ruleid");
		$.ajax({
			url: "orderclassrule3.do",
			type: 'POST',
			data: {courseruleid:id},
			dataType: 'html',
			success: function(data){
				//刷新数据
			   $("#createEquipRule").html(data);
			}	  
		});
	});
	
	$("body").on("change", "#select-categories", function() {
		var cid = $("#select-categories").val();
		$.ajax({
			url: "orderclassrule2.do",
			type: 'POST',
			data: {pageNo:1,courseId:cid},
			dataType: 'html',
			success: function(data){
				//刷新数据
			   $("#admin-wrap").html(data);
			   $("#select-categories").select2("val", cid);
			}	  
		});
	});
</script>



</body>
</html>