<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>器材出库 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
<script>
	
</script>
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
   #set($currentPageModule="equip")
  #parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
           
      <div class="control-bar clearfix"><!--control-bar start-->
        <div class="title pull-left">器材出库</div>      
      </div><!--control-bar end-->
              
      <div class="row">
            <div class="control-bar col-md-12">
              <div class="title">$!equipmenborrowFull.title<span class="label label-important"> 
					#if($!equipmenborrowFull.category==1)
					个人预约
					#elseif($!equipmenborrowFull.category==1)
					教学预约#end</span></div>
            </div>        
            <div class="col-md-7">                  
                <div class="thumbnail" id="equip-list">
                  <div class="hd clearfix">
                    <h3 class="pull-left">器材清单</h3>
                    #set($anum = 0)
        			  #set($bnum = 0)
        			  #foreach($row in $!equipmentclassificationList)
						#foreach($row4 in $!equipmentMap.get($row.classificationid))	
							 #set($bnum = $bnum+1)
						#end
        				 #set($anum = $anum+1)
        			  #end
                      <div class="pull-right">共$!anum 种设备， $!bnum 个设备</div>
                  </div>
				  #foreach($row in $!equipmentclassificationList)	
                  <div class="group group-hover">
                    <div class="group-hd p-lr-20" data-parent-category-id="$row.comid">
						#set($cnum = 0)
						#foreach($row2 in $!equipmentMap.get($row.comid))	
							 #set($cnum = $cnum+1)
						#end
                      <div class="group-name pull-left"><a data-toggle="collapse" href="#grp-1"><i class="icon-caret-down"> </i>$row.name ($!cnum 个)</a></div>
                      <div class="group-line"><hr></div>                      
                    </div>
                    <ul class="group-body media-list collapse in" id="grp-1">
					  #foreach($row2 in $!equipmentMap.get($row.comid))					
						#foreach($i in [1 .. $!row2.applynumber])
                          <li class="media" data-model-id="$!row2.comId" data-id="" data-is-select="false">
                            <div class="is-select pull-right"><i class="icon-check-empty icon-large"></i></div>
                            <div class="media-body">
                              <div class="media-heading">
                                <h5>$!row2.equipmentname</h5>
                                <span class="equip-id"></span>
                              </div>
                            </div>
                          </li>
						#end
					  #end
                    </ul>
                  </div>
				  #end                
                </div>                  
            </div>
            <div class="col-md-5">
                <div class="thumbnail">
                  <div class="hd">
                    <h3>操作</h3>
                  </div>
                  <div class="caption">
                      <p class="status">审核通过，等待出库。请在左侧选中实际出库的器材，并确认器材编号。</p>
                      <form id="input-stock-out" role="form" class="form-inline" action="javascript:void(0);">
                        <div class="form-group">
                          <label class="sr-only" for="inputEquipId">器材编号</label>
                          <input type="text" class="form-control" id="inputEquipId"  >
                        </div>
                        <button type="submit" class="btn btn-white">提 交</button>
                      </form>
                      <hr>
                      <a class="btn btn-primary" data-type="alibraryorder" data-id="$!equipmenborrowFull.borrowid" href="#">出 库</a>
                      <a class="btn btn-white" data-toggle="modal" data-type="deleteorder" data-id="$!equipmenborrowFull.borrowid" href="#reject" role="button">删 除</a>
                  </div>
                </div>
                <div class="thumbnail">
                  <div class="hd">
                    <h3>详情</h3>
                  </div>
                  <div class="caption">
                      <div class="rent-detail">
                        <span class="rent-user"><strong>申请者：<a rel="popover" class="lk" href="#">$!equipmenborrowFull.userName</a></strong></span>
                        <span class="rent-num"><strong> - 预约号：$!equipmenborrowFull.borrowid</strong></span>
        				#if($!equipmenborrowFull.teacherid)
                        <div class="rent-teacher">关联教师：<a rel="popover" href="#">$!equipmenborrowFull.teacherName</a></div>
        				#end
                        <div class="rent-time"><i class="icon-time"></i>$date.format("yyyy年MM月dd日", $!equipmenborrowFull.borrowtime)  - $date.format("yyyy年MM月dd日", $!equipmenborrowFull.returntime)</div>
                        <div class="rent-remark"><i class="icon-pencil"></i> $!equipmenborrowFull.remark</div>
                      </div>
                      <hr />
                    </div>                        
                  <ul class="media-list">
                    #if($!equipmenborrowFull.teacherid)
                      <li class="media">
                        <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                          <img src="img/photo.jpg" width="28" height="28" class="img-rounded">
                        </a>
                        <div class="media-body">
                          <div class="media-heading"><h5><a rel="popover" href="#">$!equipmenborrowFull.teacherName</a></h5><span class="post-time" title="详细时间">下午4:53</span></div>
                          <a href="#" class="lk" title="查看详细说明" rel="tooltip">数字摄影技术第11周设备申请(只显示关联教师发的要求标题)</a>
                        </div>
                      </li>
        			#end
        			#if($!equipmenborrowFull.examuser)
                      <li class="media">
                        <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                          <img src="img/photo.jpg" width="28" height="28" class="img-rounded">
                        </a>
                        <div class="media-body">
                          <div class="media-heading"><h5><a rel="popover" href="#">$!equipmenborrowFull.examuserName</a></h5><span class="post-time" title="详细时间">$date.format("yyyy-MM-dd hh:mm", $!equipmenborrowFull.examdate)</span></div>
                          <p>$!equipmenborrowFull.teachersuggest</p>
                        </div>
                      </li>
        			 #end 
                  </ul>
                                            
                </div>               
            </div>                    
      </div>

</section>



    <!-- Le javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/typeahead.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bfa2.js"></script>
<script>
$(window).load(function(){
	$("#inputEquipId").typeahead([
  {
#foreach($row in $!equipmentclassificationList)
#if($velocityCount!='1'),{ #end	
	 name: '$!row.name',
	 local: [
		#foreach($row4 in $!equipmentMap.get($row.comid))
			#foreach($row5 in $row4.equipDetailidlist)
				"$!row5" , 
			#end
        #end ],
    header: '<strong>$!row.name</strong>'
  }
 #end	
	]);	
	$('body#admin .collapse').on('hide', function () {
  		$(this).prev().children('.group-name').find('i').removeClass().addClass('icon-caret-right');
	}).on('show', function () {
  		$(this).prev().children('.group-name').find('i').removeClass().addClass('icon-caret-down');
	});

	$("#input-stock-out").submit(function() {		// 提交器材编号处理
		var inputId = $(this).find("#inputEquipId").val();
		var length = jsonData.equips.length;
		var parentCategoryId;
		var dataParentCategoryId;
		var dataModelId;
		var dataIsSeleted = false;
		var equipName;
		var equipId;
		var findFlag = false;
		for (var i = 0; i < length; i++ ) {
			equipId = jsonData.equips[i].equipId;
			if (inputId == equipId) {			// 找到输入设备编号对应json数据
				//alert("found!");
				parentCategoryId = jsonData.equips[i].parentCategoryId;
				modelId = jsonData.equips[i].modelId;
				findFlag = false;
				$("#equip-list .group").each(function(index, _this) {	// 查找dom结点
					//console.log($(this));
					dataParentCategoryId = $(_this).children(".group-hd").data("parentCategoryId");
					//console.log("dataParentCategoryId=" + dataParentCategoryId)
					if (parentCategoryId == dataParentCategoryId) {		// 找到对应器材组
						
						//console.log($(_this));
						$(_this).children("ul.group-body").find("li").each(function(index, elem) {
                            //console.log($(elem));
							dataModelId = $(elem).data("modelId");
							dataIsSeleted = $(elem).data("isSelect");
							dataId = $(elem).data("id");
							if (inputId == dataId) {
								alert("已标记！");
								findFlag = true;
							}
							else if(!dataIsSeleted && !findFlag && dataModelId == modelId) {	// 找到对应器材类型且没选中的器材	
								$(elem).addClass("selected-success");
								$(elem).data("isSelect", "true");
								$(elem).data("id", inputId);
								$(elem).find("span.equip-id").html("编号：<strong>" + inputId + "</strong>");
								$(elem).find('i').removeClass('icon-check-empty').addClass('icon-check');
								console.log("change")
								findFlag = true;								
							}
							if(findFlag) {
								console.log("findFlag=" + findFlag);
							}
                        });
						console.log("out");
						
//						findFlag = true;
//						if(!$(_this).hasClass('selected')) {
//							$(_this).addClass('selected');
//						}
//						$(_this).data('isSelect', 'true');
//						$(_this).children('.is-select').children('i').removeClass('icon-check-empty').addClass('icon-check');
					}
					
				});
				
			}
			else {
				//alert("没有对应器材！");
			}
		}
//		var dataId;
//		var findFlag = false;
//		$("#equip-list .group").each(function(index, _this) {
//			$(_this).find("li").each(function(index, _this) {			
//				dataId = $(_this).data("id");
//				if (inputId == dataId) {		// 找到对应器材
//					findFlag = true;	
//					if(!$(_this).hasClass('selected')) {
//						$(_this).addClass('selected');
//					}
//					$(_this).data('isSelect', 'true');
//					$(_this).children('.is-select').children('i').removeClass('icon-check-empty').addClass('icon-check');
//				}
//			});		
//			if(findFlag) {
//				return true;
//			}
//			findFlag = false;
//		});
//		if (!findFlag) {
//			alert("没有找到该设备！");
//			$(this).find("#inputEquipId").val("");
//			return false;
//		}	
		$(this).find("#inputEquipId").val("");
	});
	
});

var jsonData = {
    	"equips": [  	
#foreach($row in $!equipmentclassificationList)
	#foreach($row4 in $!equipmentMap.get($row.comid))	
		#foreach($row5 in $row4.equipDetailidlist)	
				{
				"equipName":"$!row4.equipmentname",
				"equipId":"$!row5",
				"modelId":"$!row4.comId",
				"parentCategoryId":"$!row.comid",
				"parentCategoryName":"$row.name",
				"categoryId":"子类Id1",
				"categoryName":"子类名1",
				}, 
			#end
        #end
 #end			
    	]
};

$("body").on("click", "a[data-type|=deleteorder]", function() {
		var myData = $(this).data();
		cId = myData.id;
		$.ajax({
			url: "deleteorder.do",
			type: 'POST',
			data: {borrowId:cId},
			dataType: 'json',
			success: function(data){
				if(data.tag==1){
					alert("删除成功");
					location.href="equipOrdIndex.do";
				}else{
					alert(data.message);
					return;
				}
			}	  
		});
	});
	
	$("body").on("click", "a[data-type|=alibraryorder]", function() {
		var myData = $(this).data();
		cId = myData.id;
		var ids = ""
		$("#equip-list .group").each(function(index, _this) {
			$(_this).find("li").each(function(index, _this) {			
				dataId = $(_this).data("id");
				ids +=dataId+",";
			});		
		});
		if(ids==","||ids==""){
			alert("最少出库一个设备！");
			return ;
		}
		ids = ids.substring(0,ids.length);
		$.ajax({
			url: "alibraryorder.do",
			type: 'POST',
			data: {borrowId:cId,ids:ids},
			dataType: 'json',
			success: function(data){
				if(data.tag==1){
					alert("出库成功");
					location.href="orderAdmin.do";
				}else{
					alert(data.message);
					return;
				}
			}	  
		});
	});
</script>

</body>
</html>