<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>器材入库 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>
<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  
   #set($currentPageModule="equip")
  #parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
           
      <div class="control-bar clearfix"><!--control-bar start-->
        <div class="title pull-left">器材入库</div>     
       <!-- 
		<div class="pagination pull-right">
          <ul>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="上一个"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="下一个"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>
		-->
      </div><!--control-bar end-->
              
      <div class="row">
            <div class="control-bar col-md-12">
              <div class="title">$!equipmenborrowFull.title <span class="label label-important">
					#if($!equipmenborrowFull.category==1)
					个人预约
					#elseif($!equipmenborrowFull.category==1)
					教学预约
			  
			  #end </span></div>
            </div>        
            <div class="col-md-7">                  
                <div class="thumbnail">
                  <div class="hd clearfix">
                    <h3 class="pull-left">器材清单</h3>
                    #set($anum = 0)
        			  #set($bnum = 0)
        			  #foreach($row in $!equipmentclassificationList)
						#foreach($row4 in $!equipmentMap.get($row.comid))	
							 #set($bnum = $bnum+1)
						#end
        				 #set($anum = $anum+1)
        			  #end
                      <div class="pull-right">共$!anum 种设备， $!bnum 个设备</div>
                  </div>
				  #foreach($row in $!equipmentclassificationList)	
                  <div class="group group-hover">
                    <div class="group-hd p-lr-20">
						#set($cnum = 0)
						#foreach($row2 in $!equipmentMap.get($row.comid))	
							 #set($cnum = $cnum+1)
						#end
                      <div class="group-name pull-left"><a data-toggle="collapse" href="#grp-1"><i class="icon-caret-down"> </i> $row.name ($!cnum 个)</a></div>
                      <div class="group-status pull-right">
                        <span class="label">其它</span>
                        <span class="label label-important">损坏</span>
                        <span class="label label-warning">遗失</span>
                        <span class="label label-success">入库</span>
                      </div>
                      <div class="group-line"><hr></div>                      
                    </div>
                    <ul class="group-body media-list collapse in" id="grp-1">
					#foreach($row2 in $!equipmentMap.get($row.comid))	
					  #foreach($row3 in $row2.equipDetailidlist)
                      <li class="media" data-id="$row3"   data-model-id="$!row2.comId" data-is-select="false">
                        <div class="stock-in-status is-select pull-right">
                          <i class="icon-check-empty icon-large stock-other"></i>
                          <i class="icon-check-empty icon-large stock-damaged"></i>
                          <i class="icon-check-empty icon-large stock-lost"></i>
                          <i class="icon-check-empty icon-large stock-success"></i>
                        </div>
                        <div class="media-body">
                          <div class="media-heading">
                            <h5>$!row2.equipmentname</h5>
                            <span>编号：<strong>$row3</strong></span>
                          </div>                          
                        </div>
                      </li>
					  #end
					#end
                    </ul>
                  </div>  
				  #end  
                </div>                  
            </div>
            <div class="col-md-5">
                <div class="thumbnail">
                  <div class="hd">
                    <h3>操作</h3>
                  </div>
                  <div class="caption">
                      <hr>
                      <a class="btn btn-primary" data-type="storageorder" data-id="$!equipmenborrowFull.borrowid" href="#">入 库</a>
                  </div>
                </div>
                <div class="thumbnail">
                  <div class="hd">
                    <h3>详情</h3>
                  </div>
                  <div class="caption">
                    <div class="rent-detail">
                      <span class="rent-user"><strong>申请者：<a rel="popover" class="lk" href="#" data-original-title="" title="">$!equipmenborrowFull.userName</a></strong></span>
                      <span class="rent-num"><strong> - 预约号：$!equipmenborrowFull.borrowid</strong></span>
                      #if($!equipmenborrowFull.teacherid)
                        <div class="rent-teacher">关联教师：<a rel="popover" href="#">$!equipmenborrowFull.teacherName</a></div>
        			#end
                      <div class="rent-time"><i class="icon-time"></i>$date.format("yyyy年MM月dd日", $!equipmenborrowFull.borrowtime)  - $date.format("yyyy年MM月dd日", $!equipmenborrowFull.returntime)</div>				  
					  #if(!$!equipmenborrowFull.remark&&$!equipmenborrowFull.remark!="")
					  <div class="rent-remark"><i class="icon-pencil"></i>  $!equipmenborrowFull.remark</div>
					  #end
                    </div>
                  </div>
                </div>
            </div>                    
      </div>




</section>



    <!-- Le javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script>
$(window).load(function(){
	$('body#admin .collapse').on('hide', function () {
  		$(this).prev().children('.group-name').find('i').removeClass().addClass('icon-caret-right');
	}).on('show', function () {
  		$(this).prev().children('.group-name').find('i').removeClass().addClass('icon-caret-down');
	});
	$('body#admin').on('click', ('.group li.media i'), function () {
		var thisParentLi = $(this).parent().parent();
		if ($(this).hasClass('icon-check-empty')) {			// 选中处理
			thisParentLi.removeClass('selected-other');
			thisParentLi.removeClass('selected-damaged');
			thisParentLi.removeClass('selected-lost');
			thisParentLi.removeClass('selected-success');
			$(this).siblings('i').each(function(index, elem) {
				$(elem).removeClass('icon-check').addClass('icon-check-empty');
			});
			$(this).parentsUntil('.group li.media').data('isSelect', 'true');
			if ($(this).hasClass('stock-other')) {		// 其它
				thisParentLi.toggleClass('selected-other');
				$(this).removeClass('icon-check-empty').addClass('icon-check');
			}
			if ($(this).hasClass('stock-damaged')) {		// 损坏
				thisParentLi.toggleClass('selected-damaged');
				$(this).removeClass('icon-check-empty').addClass('icon-check');
			}
			if ($(this).hasClass('stock-lost')) {		// 遗失
				thisParentLi.toggleClass('selected-lost');
				$(this).removeClass('icon-check-empty').addClass('icon-check');
			}
			if ($(this).hasClass('stock-success')) {		// 入库
				thisParentLi.toggleClass('selected-success');
				$(this).removeClass('icon-check-empty').addClass('icon-check');
			}
		} else if ($(this).hasClass('icon-check')) {			// 取消选中处理
			$(this).data('isSelect', 'false');
			if ($(this).hasClass('stock-other')) {		// 其它
				thisParentLi.toggleClass('selected-other');
			}
			if ($(this).hasClass('stock-damaged')) {		// 损坏
				thisParentLi.toggleClass('selected-damaged');
			}
			if ($(this).hasClass('stock-lost')) {		// 遗失
				thisParentLi.toggleClass('selected-lost');
			}
			if ($(this).hasClass('stock-success')) {		// 入库
				thisParentLi.toggleClass('selected-success');
			}
			$(this).removeClass('icon-check').addClass('icon-check-empty');
		}
	});

/*	$('body#admin').on('click', ('.group li.media'), function () {
  		if ($(this).children('.is-select').children('i').hasClass('icon-check-empty')) {			// 选中处理
			$(this).toggleClass('selected');
			$(this).data('isSelect', 'true');
			$(this).children('.is-select').children('i').removeClass('icon-check-empty').addClass('icon-check');
		} else if ($(this).children('.is-select').children('i').hasClass('icon-check')) {			// 取消选中处理
			$(this).toggleClass('selected');
			$(this).data('isSelect', 'false');
			$(this).children('.is-select').children('i').removeClass('icon-check').addClass('icon-check-empty');
		}
	});*/
});

$("body").on("click", "a[data-type|=storageorder]", function() {
		var myData = $(this).data();
		cId = myData.id;
		var ids = ""
		$(".group").each(function(index, _this) {
			$(_this).find("li").each(function(index, _this) {			
				dataId = $(_this).data("id");
				ids +=dataId+"、";
				if ($(_this).hasClass('selected-other')) {
					ids +=1+",";
				}
				if ($(_this).hasClass('selected-damaged')) {
					ids +=2+",";
				}
				if ($(_this).hasClass('selected-lost')) {
					ids +=3+",";
				}
				if ($(_this).hasClass('selected-success')) {
					ids +=4+",";
				}
				
			});		
		});
		ids = ids.substring(0,ids.length);
		if(ids==","||ids==""){
			alert("最少入库一个设备！");
			return ;
		}
		$.ajax({
			url: "storageorder.do",
			type: 'POST',
			data: {borrowId:cId,ids:ids},
			dataType: 'json',
			success: function(data){
				if(data.tag==1){
					alert("入库成功");
					location.href="orderAdmin.do";
				}else{
					alert(data.message);
					return;
				}
			}	  
		});
	});
</script>

</body>
	
</html>