<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="createEquipRuleLabel">创建规则</h3>
  </div>
  <div class="modal-body">
    <p>根据课程教学要求确定器材使用范围。选择课程名称后为新的规则起一个名称，并在器材列表中选取该规则下能使用的器材范围及其最大数量。规则创建后可多次重复使用。</p>
    <div class="row">
      <div class="col-md-4">
        <select id="inputCourseName" class="select2 form-control select-white" data-placeholder="请选择课程" style="width: 100%;">
          <option></option>
		  #foreach($row in $!courseFullList)	
			<option value="$row.courseid" #if($!ordercourserule.courseid==$row.courseid) selected #end data-id="$!row.courseid" data-foo="fa">$row.coursename</option>
    	  #end
        </select>
      </div>
      <div class="col-md-8">
        <div class="form-group rule-name">
        <input type="text" id="inputRuleName" class="form-control" placeholder="规则名称" value="$!ordercourserule.courserulename">
        </div>
      </div>
    </div>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
		#foreach($row in $classification1List)	
        <li #if($velocityCount=='1') class="active" #end><a href="#$!row.classificationid" data-toggle="tab">$!row.name</a></li>
		#end
		 <li ><a href="#-2" data-toggle="tab">设备组</a></li>
      </ul>
      <div class="tab-content">
		#foreach($row2 in $classification1List)	
        <div #if($velocityCount=='1') class="tab-pane active" #else class="tab-pane"  #end id="$!row2.classificationid">
          <div class="row model-list">
			#foreach($row3 in $classequipmap.get($!row2.classificationid))
            <div id="equdiv$!row3.equipmentid" class="col-sm-4 list-item" data-p-cat-id="1" data-cat-id="1" data-model-id="$!row3.equipmentid"  data-modeltype="1";  #if($!row3.applynumber) data-is-select="true"  #else  data-is-select="false" #end><i #if($!row3.applynumber)class="icon-check icon-large"  #else class="icon-check-empty icon-large"  #end></i>$!row3.equipmentname</div>
			<div class="col-sm-2"><input type="text" id="equ$!row3.equipmentid" value="$!row3.applynumber" class="form-control" placeholder="数量"></div>
			#end
		  </div>
        </div>
		#end
		<div  class="tab-pane" id="-2">
          <div class="row model-list">
			#foreach($model in $equipmentgroupFullList)
            <div id="equdiv$!model.equipmentgroupid" class="col-sm-4 list-item" data-p-cat-id="1" data-cat-id="1" data-model-id="$!model.equipmentgroupid" data-modeltype="2";  #if($!model.applynumber) data-is-select="true"  #else  data-is-select="false" #end  ><i #if($!model.applynumber)class="icon-check icon-large"  #else class="icon-check-empty icon-large"  #end ></i>$!model.equipmentname</div>
			<div class="col-sm-2"><input type="text" id="equ$!model.equipmentgroupid" value="$!model.applynumber" class="form-control" placeholder="数量"></div>
			#end
		  </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="courseruleid" name="courseruleid" value="$!ordercourserule.courseruleid">
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" data-type="" id="submit">完 成</button>
  </div>
	
<script src="${jsDomain}/bfa2.js"></script>
<script >
$(function(){ 
	$('.model-list > .list-item').each(function(index, elem) {
    	if ($(elem).children('i').hasClass('icon-check-empty')) {
    		$(this).data('isSelect', 'false');
    			//alert($(this).data('isSelect'))
    	} else if ($(elem).children('i').hasClass('icon-check')) {
    		$(this).data('isSelect', 'true');
    		//alert($(this).data('isSelect'))
    	}
	});
}); 
</script>