<div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">用户组</div>
              <div class="tips">在此页面下管理用户组信息，如用户组的添加、修改、删除等。</div>
              <div class="operate-item pull-left">
                <a href="#add-user-group" class="btn btn-primary" data-toggle="modal" role="button" action-type="clearInput">创建班级</a>
                <a href="#" class="btn btn-white s-h" action-type="delClazz"><i class="icon-trash"></i> 删除</a>
              </div>

              <ul class="status-filter nav nav-pills pull-right">
                <li class="classsel active" id="-1" action-type="selectGroup" data-id="-1"><a href="#">全部($sum)</a></li>
				#foreach($group in $stuGroupList)
                    <li class="classsel" id="$group.id" action-type="selectGroup" data-id="$group.id"><a href="#">$!group.name<span>($!group.sum)</span></a></li>
				#end
              </ul>
            </div><!--control-bar end-->
            <div class="panel panel-default">              
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">班级名称</th>
                    <th class="category">班级类型</th>
                  </tr>
                </thead>
                <tbody>
				  #foreach($clazz in $allShowClazzList)
                  <tr>
					<td><input class="chk" type="checkbox" name="chk-list" value="$!clazz.classid"></td>
                    <td>$!clazz.classname<a class="btn btn-white btn-mini" action-type="beforeModify" data-id="$!clazz.classid" data-name="$!clazz.classname" data-typeid="$!clazz.classtype" data-toggle="modal" href="#modify-user-group" role="button">修改</a></td>
					<td>$!clazz.typeName</td>
				  </tr>
				  #end
                </tbody>
              </table>
            </div>
          </div>