	

		
	  
	  
<div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
		
		 <li 
		#if($currentPageType == "notificationSpace" )
			 class="active"      
		#end
			><a href="${webbaseurl}/toNotificationInbox.${strutsaction}">消息</a></li>
		 
		 <!--
		 <li
		#if($currentPageType == "computerOrderManage" )
			 class="active"      
		#end		
			><a href="机器预约管理首页.html">请求</a></li>
			-->
			
		<li 
		#if($currentPageType == "messageSpace" )
			 class="active"      
		#end
			><a href="${webbaseurl}/toMessageInbox.${strutsaction}">站内信</a></li>
		
       
      </ul>
</div>