          <div class="col-sm-3 sidebar">
<form class="form-group">
		<input type="text" class="form-control" placeholder="搜索">
			<i class="icon-search"></i>
	</form>
	<div class="list-group">
		
		
		<a href="${webbaseurl}/toMessageInbox.${strutsaction}" class="list-group-item
		#if($currentWebpage == "messageInbox.vm" || $currentWebpage == "messageView.vm" )
			 active        
		#end		
		">收件箱</a> 
		
		<a href="${webbaseurl}/toMessageSendbox.${strutsaction}" class="list-group-item
		#if($currentWebpage == "messageSendbox.vm" )
			 active        
		#end		
		">已发送</a> 
		
		<a href="${webbaseurl}/toMessageTrash.${strutsaction}" class="list-group-item
		#if($currentWebpage == "messageTrash.vm" )
			 active        
		#end
		">回收站</a>
		
	</div>
          </div>
