             <ul class="media-list" id="messageInboxRefresh">
				
				<!--
                <li class="media">
                  <a rel="popover" class="pull-left" href="#">
                    <img src="img/photo.jpg" width="46" height="46" class="img-rounded">
                  </a>
                  <div class="media-body">
                    <div class="media-heading"><h5><a rel="popover" href="#">李全胜</a></h5><span>7月6日</span></div>
                    <a class="title" href="消息中心-站内信-查看站内信.html">回复：关于HDR图像的问题 </a> <span class="label">3</span>
                    <a href="#" class="btn btn-mini btn-white">删除</a>
                  </div>
                </li>
				-->
				
				
			<!-- 消息列表开始-->
#set($listSize = $messageFullList.size() - 1)
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
	#set($temp = $messageFullList.get($tempKey))				
                <li class="media unread">
                  <a rel="popover" class="pull-left" href="#">
                    <img src="img/photo.jpg" width="46" height="46" class="img-rounded">
                  </a>
                  <div class="media-body">
                    <div class="media-heading"><h5><a rel="popover" href="#">林韬</a></h5><span>7月6日</span></div>
                    <a class="title" href="#">$!temp.messagetitle</a>
                    <a href="#" class="btn btn-mini btn-white">删除</a>
                  </div>
                </li>
#end
#end	
          <!-- 消息列表结束-->				
				
              </ul>
				
			  
			  
			  
			  			  	 <script>
totalpage = $page.totalpage;
currentpagenum = $page.pageNo;
</script>		