<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$resource.str("messageinbox.title")</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

#parse("message/includeCssFile.vm")	

</head>

<body>


<header id="header-wrap"><!--header-wrap-->
  
	#parse("include/includeGlobalHeader.vm")
  
	<div class="nav-wrap clearfix">
	
		#parse("include/includeSiteNavi.vm")
	
		#set($currentPageType="messageSpace")
		#parse("message/includeMessageSpaceNavi.vm")
	
  </div>
  
</header><!--/#header-wrap-->

<section id="main-wrap"><!--main-wrap-->

  <div id="main-content" class="clearfix"><!--main-content start-->

      <div class="container">
        <div class="row">
		
			
		#set($currentWebpage="messageInbox.vm")
		#parse("message/includeMessageSpaceSidebar.vm")

		  
		  
          <div class="col-sm-9">
			
			#parse("message/includeMessageControlbar.vm")

            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">收件箱 $link.getUrl()</h3>
                <div class="pull-right view-option"></div>
              </div>
              <ul class="media-list" id="messageInboxRefresh">
				
				<!--
                <li class="media">
                  <a rel="popover" class="pull-left" href="#">
                    <img src="img/photo.jpg" width="46" height="46" class="img-rounded">
                  </a>
                  <div class="media-body">
                    <div class="media-heading"><h5><a rel="popover" href="#">李全胜</a></h5><span>7月6日</span></div>
                    <a class="title" href="消息中心-站内信-查看站内信.html">回复：关于HDR图像的问题 </a> <span class="label">3</span>
                    <a href="#" class="btn btn-mini btn-white">删除</a>
                  </div>
                </li>
				-->
				
				
			<!-- 消息列表开始-->
#set($listSize = $messageFullList.size() - 1)
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
	#set($temp = $messageFullList.get($tempKey))				
                <li class="media unread">
                  <a rel="popover" class="pull-left" href="#">
                    <img src="img/photo.jpg" width="46" height="46" class="img-rounded">
                  </a>
                  <div class="media-body">
                    <div class="media-heading"><h5><a rel="popover" href="#">林韬</a></h5><span>7月6日</span></div>
                    <a class="title" href="${webbaseurl}\viewMessage.${strutsaction}?messageid=$!temp.messageid">$!temp.messagetitle</a>
                    <a href="" class="btn btn-mini btn-white">删除</a>
                  </div>
                </li>
#end
#end	
          <!-- 消息列表结束-->				
				
              </ul>
              <ul class="pager p-lr-20">
                <li><a href="#" rel="tooltip" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                <li><a href="#" rel="tooltip" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
              </ul>
              
			  
			   <!--page -->
			  <div class="pagination">
				<a href="#" class="first" data-action="first">&laquo;</a>
				<a href="#" class="previous" data-action="previous">&lsaquo;</a>
				<input type="text" readonly="readonly" data-max-page="$!page.totalpage" />
				<a href="#" class="next" data-action="next">&rsaquo;</a>
				<a href="#" class="last" data-action="last">&raquo;</a>
			  </div>
			  <!-- end page -->
			  
			  
            </div>
          </div>
        </div>
      </div>
  </div>
  <!---main-content end-->
</section>


<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="img/cover-img.jpg" class="cover" alt="封面照片" />
  <div class="cover-layout"></div>
  <div class="avatar"><img src="img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

    <!-- Le javascript
    ================================================== -->
#parse("message/includeJsFile.vm")



<script>
//当前页
var currentpagenum=$pageNo;
var totalpage=$page.totalpage;
var totalcount=$page.totalCount;

//换页时调用方法
	$('.pagination').jqPagination({
    	paged: function(page) {
     	   // do something with the page variable
			currentpagenum = page;
			refreshMessageInboxTable();
		
    	}
	});
	

	function refreshMessageInboxTable(){
		//alert("refreshMessageInboxTable");
		jQuery.ajax({  
		    url: '${webbaseurl}/toMessageInboxNextPage.action',  
		    type: "post",
		    data:{pageNo:currentpagenum,totalpage:totalpage,totalcount:totalcount,callType:'ajaxType'},
		    dataType: 'html',
			success: function(data){
				$("#messageInboxRefresh").html(data);
				
				$('.pagination').jqPagination({
					link_string	: '/?page={page_number}',
					max_page	: totalpage,
					current_page:currentpagenum,
					paged: function(page) {     	  
						currentpagenum = page;
						refreshMessageInboxTable();
		
    				}
				});
				
				
			}		  	  
		});		
	}
</script>

</body>
</html>