<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 消息中心</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

#parse("message/includeCssFile.vm")	

</head>

<body>
<header id="header-wrap"><!--header-wrap-->
  <div id="global-header">
    <div id="logo"><a class="brand" href="#"><img src="img/logo.png" alt="北京电影学院摄影系"></a></div>
    <div id="hdc-wrap">
      <div class="search-wrap">
        <form class="form-search">
          <div class="ipt-wrap form-group"><input type="text" class="form-control"></div>
          <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
        </form>
      </div>
    </div>
    <ul class="account-wrap nav nav-pills pull-right">
      <li class="notice dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bell icon-large"></i><span class="n-num label label-important">3</span></a>
        <ul class="dropdown-menu">
          <li><a href="#">消息1</a></li>
          <li><a href="#">消息2</a></li>
        </ul>
      </li>     
      <li class="social dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username">陈诚</span><img src="img/photo.jpg" width="48" height="48" class="img-circle"> <b class="caret"></b></a>
        <div class="dropdown-menu">
          <div class="media">
            <a class="pull-left" href="#">
              <img src="img/photo.jpg" width="96" height="96" class="img-rounded">
            </a>
            <div class="media-body">
              <div class="media-heading"><h5><a href="#">陈诚</a></h5></div>
              <div class="info">2012级研究生 - 影像视觉效果研究方向</div>
              <div class="setting"><a href="#">账户设置</a></div>
              <button class="btn btn-primary" type="button">查看个人主页</button>
            </div>
          </div>
        </div>      
      </li>
    </ul>
  </div>
  
  <div class="nav-wrap">
    <div class="site-nav">
      <div class="dropdown">
        <a class="pos dropdown-toggle" data-hover="dropdown" href="#"><i class="icon-bell-alt icon-large"></i> 消息中心</a><!-- #BeginLibraryItem "/Library/siteNav.lbi" --><ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="index.html"><i class="icon-home"></i> 首页</a></li>
          <li class="divider"></li>
          <li><a href="#anotherAction">个人主页</a></li>
          <li><a href="#">通讯录</a></li>
          <li class="divider"></li>
          <li><a href="预约首页.html">我的预约</a></li>
          <li><a href="消息中心-站内信.html">站内信</a></li>
          <li class="divider"></li>
          <li><a href="admin/管理中心首页.html">管理中心</a></li>
        </ul>
          <!-- #EndLibraryItem --></div>
    </div>
    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li><a href="消息中心.html">消息</a></li>
        <li><a href="#">请求</a></li>
        <li class="active"><a href="#">站内信</a></li>
      </ul>
    </div>
  </div>
  
</header><!--/#header-wrap-->
<section id="main-wrap"><!--main-wrap-->

  <div id="main-content" class="clearfix"><!--main-content start-->

      <div class="container">
        <div class="row">
		
          <div class="col-sm-3 sidebar">
		    <form class="form-group">
			  <input type="text" class="form-control" placeholder="搜索站内信">
			  <i class="icon-search"></i>
			</form>
			<div class="list-group">
			  <a href="消息中心-站内信.html" class="list-group-item active"><span class="badge">14</span>收件箱</a>
			  <a href="消息中心-站内信-已发送.html" class="list-group-item">已发送</a>
			  <a href="消息中心-站内信-回收站.html" class="list-group-item">回收站</a>
			</div>
          </div>
          <div class="col-sm-9">
			<div class="control-bar clearfix">
              <div class="operate-item pull-left">
                <a href="消息中心-站内信-写站内信.html" class="btn btn-primary">写站内信</a>
              </div>

              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="record"><strong>XX</strong>条记录</li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">最新</a></li>
                      <li><a href="#">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
            </div>

            <div class="thumbnail">
              <div class="hd clearfix">
                <h3 class="pull-left">收件箱</h3>
                <div class="pull-right view-option"></div>
              </div>
              <ul class="media-list" id="messageSendboxRefresh">
			<!-- 消息列表开始-->
#set($listSize = $messageFullList.size() - 1)
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
	#set($temp = $messageFullList.get($tempKey))				
                <li class="media unread">
                  <a rel="popover" class="pull-left" href="#">
                    <img src="img/photo.jpg" width="46" height="46" class="img-rounded">
                  </a>
                  <div class="media-body">
                    <div class="media-heading"><h5><a rel="popover" href="#">林韬</a></h5><span>$!temp.messagesendtime</span></div>
                    <a class="title" href="#">$!temp.messagetitle</a>
                    <a href="#" class="btn btn-mini btn-white">删除</a>
                  </div>
                </li>
#end
#end	
          <!-- 消息列表结束-->				
				
              </ul>
              <ul class="pager p-lr-20">
                <li><a href="#" rel="tooltip" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                <li><a href="#" rel="tooltip" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
              </ul>
			    <!--page -->
			  <div class="pagination">
				<a href="#" class="first" data-action="first">&laquo;</a>
				<a href="#" class="previous" data-action="previous">&lsaquo;</a>
				<input type="text" readonly="readonly" data-max-page="$!page.totalpage" />
				<a href="#" class="next" data-action="next">&rsaquo;</a>
				<a href="#" class="last" data-action="last">&raquo;</a>
			  </div>
			  <!-- end page -->
              
            </div>
          </div>
        </div>
      </div>
  </div>
  <!---main-content end-->
</section>


<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="img/cover-img.jpg" class="cover" alt="封面照片" />
  <div class="cover-layout"></div>
  <div class="avatar"><img src="img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

    <!-- Le javascript
    ================================================== -->
#parse("message/includeJsFile.vm")

<script>
//当前页
var currentpagenum=$pageNo;
var totalpage=$page.totalpage;
var totalcount=$page.totalCount;

//换页时调用方法
	$('.pagination').jqPagination({
    	paged: function(page) {
     	   // do something with the page variable
			currentpagenum = page;
			refreshMessageSendboxTable();
		
    	}
	});
	

	function refreshMessageSendboxTable(){
	//alert("refreshMessageSendboxTable");
		jQuery.ajax({  
		    url: '${webbaseurl}/toMessageSendboxNextPage.action',  
		    type: "post",
		    data:{pageNo:currentpagenum,totalpage:totalpage,totalcount:totalcount,callType:'ajaxType'},
		    dataType: 'html',
			success: function(data){
				$("#messageSendboxRefresh").html(data);
				
				$('.pagination').jqPagination({
					link_string	: '/?page={page_number}',
					max_page	: totalpage,
					current_page:currentpagenum,
					paged: function(page) {     	  
						currentpagenum = page;
						refreshMessageSendboxTable();
		
    				}
				});
				
				
			}		  	  
		});		
	}
</script>

</body>
</html>