<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加机房课程 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">布置新教学任务</div>
              <div class="tips">布置教学任务后，指定的收件人将会收到教学预约通知，收件人在相关说明的指导下完成机房预约。</div>
            </div><!--control-bar end-->
            
			<div id="msg">
              <form role="form" action="javascript:void(0)"  role="form">
                <div class="row">
                  <div class="send-to-warp">
                    <div class="form-group send-to">
                      <label class="sr-only" for="inputSendTo">收件人</label>
                      <input type="text" id="inputSendTo" class="send-to form-control input-lg" placeholder="添加收件人">
                    </div>
                  </div>
                  <div class="form-group user-group">
                    <a href="#exploreUser" action-type="showStuInClass" role="button" class="btn btn-white btn-large btn-block" data-toggle="modal"><i class="icon-group"> +</i></a>
                  </div>
                </div>
				<div class="form-group send-title">
                    <label for="input_computerorderclassrule_classname" class="sr-only">课程名称</label>
						<select class="select2 select-white form-control input-lg" id="input_computerorderclassrule_classname" data-placeholder="请选择课程名称">
						<option></option>						 
						 #foreach($gp in $usergroupList)
							<optgroup label="$gp.name">
							#set( $tcfl = $courseFullByGroupId.get($gp.id) )
							#foreach($tempCourseFull in  $tcfl )					
								<option value="$!tempCourseFull.coursecoursetype" >$tempCourseFull.coursename - $!tempCourseFull.teacherloginusername</option>                                           
							#end		
							</optgroup>							
						#end
                      </select>
                </div>
				
                <div class="form-group send-title">
                  <label class="sr-only" for="inputMsgTitle">标题</label>
                  <input type="text" class="form-control input-lg" id="inputMsgTitle" placeholder="添加标题">
                </div>

                <div class="form-group row">
                  <div class="col-lg-12">
                    <textarea name="content" id="inputContent" style="width:100%;height:300px;visibility:hidden;"></textarea>                
                  </div>
                </div>
                <div class="rent-time form-group row">
                  <label for="inputDataRange" class="col-lg-1 control-label">使用时间</label>
                  <div class="col-lg-6">
                    <div class="input-daterange row">
                      <div class="col-lg-5">
                        <input type="text" class="form-control" id="inputDataRange" name="start" placeholder="起始日期">
                      </div>
                      <div class="col-lg-1">
                        <span class="add-on">至</span>
                      </div>
                      <div class="col-lg-5">
                        <input type="text" class="form-control" id="inputDataRange2" name="end" placeholder="截止日期">
                      </div>
                    </div>
                  </div>
                </div>
				
				
				<div class="form-group row">
                  <label class="col-lg-1 control-label" for="inputTotaltime">时段次数</label>
                  <div class="col-lg-2">
					<input type="text" class="form-control" id="inputTotaltime" placeholder="允许预约几段时间的次数">
				  </div>
                </div>

				<div class="form-group row">					
                    <label for="inputCourseNeed" class="col-lg-1 control-label">指定设备/资源</label>
                    <div class="col-lg-6">						
					#foreach($categoryfull in ${computercategoryList})
						<div class="group-hd">
							<div class="group-name pull-left">$!categoryfull.name</div>
							<div class="group-line"><hr></div>
						</div>						
						#set($categorytype = $categoryfull.computercategorytype)		
						#set($modelList = $computermodelByComputercategoryId.get($categorytype))
						#if($modelList=='null' || $modelList.size() ==0)
							<label class="checkbox-inline">
								分类没有模型
                     		</label>	
						#end	
						#foreach($model in $modelList)
							<label class="checkbox-inline">
								<input type="checkbox" name="inputAviBorrowModelGroup" id="rentGroup_$model.computermodeltype" value="$model.computermodeltype" >$model.name
                     		</label>						
						#end
					#end
                    </div>
                </div>


				
                <a class="btn btn-white" href="">取 消</a>
                <button type="submit" class="btn btn-primary" action-type="addComputerhomeworkButton" >发 送</button>
              </form>
            </div>
        
		</div>

      </div>
      <!--equip-wrap end-->

      <!--sidebar start-->
       #set($currentWebpage="computerhomeworkAdd")
		 #parse("include/includeTeachSidebar.vm")
      <!--sidebar end-->

</section>

<!-- Modal -->
<div id="exploreUser" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">浏览用户</h3>
  </div>
  <div class="modal-body">
      <div class="row control-bar">
        <div class="select-user-group col-md-6">
            <select id="clazz-list" class="select2 select-white" style="width: 100%;">
				<option value="-1">全部</option>
            </select>
        </div>
        <!--<div class="search-user col-md-7">
          <form class="form-group inner-search-icon">
            <input type="text" class="form-control" placeholder="按姓名搜索">
            <span class="icon-search"></span>
          </form>
        </div>-->
		<div class="control-bar">
            <button class="btn btn-white" action-type="selectAllUser">全 选</button>
            <button class="btn btn-primary" action-type="cancelSelectAllUser" style="display: none">取消全选</button>
        </div>
      </div>
      <div id="user-list" class="row">
        <ul class="media-list">
<!--           <li data-id="1" data-name="用户1" class="media">
            <div class="pull-left">
              <img src="${imageDomain}/photo.jpg" width="46" height="46">
            </div>
            <div class="media-body">
              <div class="media-heading">用户1</div>
              <div class="text-muted">班级信息</div>
            </div>
          </li>
 -->
        </ul>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="getUserSendList">完 成</button>
  </div>
</div>

    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/editor/kindeditor-min.js"></script>
<script src="${jsDomain}/editor/lang/zh_CN.js"></script>
<script src="${jsDomain}/bootstrap-datepicker.js"></script>
<script src="${jsDomain}/locales/bootstrap-datepicker.zh-CN.js"></script>

<script>
  var allClazz = {};
  var allStu = {};
  
  $('.input-daterange').datepicker({
    language: 'zh-CN',
    format: 'yyyy-mm-dd',
    todayHighlight: true,
    autoclose: true
  });

var preload_data = [];
function formatText2NameForSelect2(item) { return item.name; }


$('#inputSendTo').select2({
      multiple: true,
      preload_data:{ results: preload_data, text: 'name' },
      formatSelection: formatText2NameForSelect2,
      formatResult: formatText2NameForSelect2,
      query: function (query){
          var data = {results: []}; 
          jQuery.each(preload_data, function(){
              if(query.term.length == 0 || this.text.toUpperCase().indexOf(query.term.toUpperCase()) >= 0 ){
                  data.results.push({id: this.id, text: this.name });
              }
          }); 
          query.callback(data);
      }
  });
$('#inputSendTo').select2('data', preload_data );


  var editor;
  KindEditor.ready(function(K) {
    editor = K.create('textarea[name="content"]', {
      resizeType : 1,
      allowPreviewEmoticons : false,
      allowImageUpload : false,
      items : [
        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
        'insertunorderedlist', '|', 'emoticons', 'image', 'link']
    });
  });
  
  $('#user-list').on('click', ('.media-list li.media'), function () {
    $(this).toggleClass("selected");
  });
  
  // 全选当前列表下的用户
  $('body').on('click', ('button[action-type|=selectAllUser]'), function () {
    $("#user-list .media-list li").each(function(index, el) {   // 遍历用户列表
      if (!$(this).hasClass('selected')) {    // 新课程安排
        $(this).addClass('selected');
      }
    });
    $(this).hide();
    $('button[action-type|=cancelSelectAllUser]').show();
  });
  // 取消全选当前列表下的用户
  $('body').on('click', ('button[action-type|=cancelSelectAllUser]'), function () {
    $("#user-list .media-list li").each(function(index, el) {   // 遍历用户列表
      if ($(this).hasClass('selected')) {   // 新课程安排
        $(this).removeClass('selected');
      }
    });
    $(this).hide();
    $('button[action-type|=selectAllUser]').show();
  });

  var userList = new Array();

  // 浏览用户完成按钮，获取所需发送用户的列表
  $("body").on('click', 'button[action-type|=getUserSendList]', function(event) {
    var userList = new Array();
    $("#user-list .media-list li").each(function(index, el) {   // 遍历用户列表
      var thisData = $(this).data();
      if ($(this).hasClass('selected')) {   // 新课程安排
        userList.push(thisData);
      }
    });

    $('#inputSendTo').select2({
          multiple: true,
          userList:{ results: userList, text: 'name' },
          formatSelection: formatText2NameForSelect2,
          formatResult: formatText2NameForSelect2,
          query: function (query){
              var data = {results: []}; 
              jQuery.each(userList, function(){
                  if(query.term.length == 0 || this.text.toUpperCase().indexOf(query.term.toUpperCase()) >= 0 ){
                      data.results.push({id: this.id, text: this.name });
                      //alert(data.results.id);
                  }
              }); 
              query.callback(data);
          }
      });

    $('#inputSendTo').select2('data', userList );

    $(this).parents(".modal").modal('hide');
  });
  
  // 获取全部班级和学生信息
  $("body").on('click', 'a[action-type|=showStuInClass]', function(event) {
    jQuery.ajax({
      url: "${webbaseurl}/getStuInClass.do",  
      type: "post",
      success: function(data,textStatus,jq) {
        //console.log(data);
		allClazz = data.allClass;
		allStu = data.allSC;
		
		$("#clazz-list").empty();
		$("#clazz-list").append('<option value="-1">全部</option>');
		$(data.allClass).each(function(index, el) {
		 	var c = el;
			var clazz = '<option value="' + c.classid + '">' + c.classname + '</option>'
			$("#clazz-list").append(clazz);
		});
		
        $("#user-list .media-list").empty();
        $(".select2 select-white").empty();
        $(data.allSC).each(function(index, el) {
          var user = el;
                    var html = 
                              '<li data-id="' + user.id + '" data-name="' + user.name + '" class="media">' +
                                '<div class="pull-left">' +
                                  '<img src="' + "${imageDomain}/photo.jpg" +'" width="46" height="46">'+
                                '</div>' +
                                '<div class="media-body">' +
                                  '<div class="media-heading">' + user.name + '</div>' +
                                  '<div class="text-muted">' + user.className + '</div>' +
                                '</div>' +
                              '</li>';
                  $("#user-list .media-list").append(html);
        });
		
		$("#clazz-list").select2("val", -1);

      },
      error: function(data,textStatus,jq) {
        alert("加载数据失败!");
      }
    });
  });
	
	
		
	//添加作业
	$("body").on("click", "button[action-type|=addComputerhomeworkButton]", function() {

			var allowborrowpcids="";
			$("input[name='inputAviBorrowModelGroup']").each(function() {
				if($(this).prop("checked") === true) {
					allowborrowpcids += $(this).prop("value")+";";				
				}
			});
			allowborrowpcids = allowborrowpcids.substring(0,allowborrowpcids.length-1);
			var uIdList = $('#inputSendTo').val();
      var uIdListArray = new Array();
      uidListArray = uIdList.split(",");
      uidListArray.pop();
      var receiverids = uidListArray.join(";")
	 // alert(receiverids);
	 // return;
			var postData = {
				"receiverids": receiverids,
				"classid":$('#input_computerorderclassrule_classname').val(),
				"name": $('#inputMsgTitle').val(),
				"content": editor.html(),
				"orderstarttime": $('#inputDataRange').val(),
				"orderendtime": $('#inputDataRange2').val(),
				"availableordertime": $('#inputTotaltime').val(),
				"allowborrowpcids": allowborrowpcids			
			};

			console.log(postData);
			jQuery.ajax({  
			    url:"${webbaseurl}/addComputerhomeworkAjaxNew.${strutsaction}",  
			    type:"post",
			    data:postData,
			  	dataType: 'json',
				success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});
					clearForm();
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
		}	});		  	  

	})
	//end 添加作业
	
	function clearForm(){
	 $('#inputSendTo').val("");
		$('#input_computerorderclassrule_classname').select2("val","0");
		$('#inputMsgTitle').val("");
		$('#inputDataRange').val("");
		$('#inputDataRange2').val("");
		
		 $('#inputTotaltime').val("");
		 
		 $("input[name='inputAviBorrowModelGroup']").each(function() {
				if($(this).prop("checked") === true) {
					$(this).prop("checked",false);		
				}
			});
		
			 editor.html("");
	}
	
	//监听班级下拉列表变动
	$("body").on("change", "#clazz-list", function() {
		var cid = $("#clazz-list").val();
		var html;
		//alert(cid);
		$("#user-list .media-list").empty();
		$(allStu).each(function(index, el) {
          	var user = el;
			if(cid == -1) {
				html = 
                      '<li data-id="' + user.id + '" data-name="' + user.name + '" class="media">' +
                        '<div class="pull-left">' +
                          '<img src="' + "${imageDomain}/photo.jpg" +'" width="46" height="46">'+
                        '</div>' +
                        '<div class="media-body">' +
                          '<div class="media-heading">' + user.name + '</div>' +
                          '<div class="text-muted">' + user.className + '</div>' +
                        '</div>' +
                      '</li>';
          		$("#user-list .media-list").append(html);
			} else if(user.classId == cid) {
				html = 
                      '<li data-id="' + user.id + '" data-name="' + user.name + '" class="media">' +
                        '<div class="pull-left">' +
                          '<img src="' + "${imageDomain}/photo.jpg" +'" width="46" height="46">'+
                        '</div>' +
                        '<div class="media-body">' +
                          '<div class="media-heading">' + user.name + '</div>' +
                          '<div class="text-muted">' + user.className + '</div>' +
                        '</div>' +
                      '</li>';
          		$("#user-list .media-list").append(html);
			}
        });
		
	});
	
</script>
</body>
</html>
