
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="${cssDomain}/jqpagination.css" type="text/css" />
<!--[if lt IE 10]>
  <script src="${jsDomain}/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="${jsDomain}/html5shiv.js"></script>
  <script src="${jsDomain}/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="${cssDomain}/font-awesome-ie7.min.css">
<![endif]-->
</head>


<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  <div class="nav-wrap clearfix">
    <div class="site-nav">
      <div class="dropdown">
        <a class="pos dropdown-toggle" data-hover="dropdown" href="#"><i class="icon-home"></i> 管理中心 <i class="icon-chevron-right"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="http://google.com"><i class="icon-home"></i> 首页</a></li>
          <li class="divider"></li>
          <li><a href="#anotherAction">个人主页</a></li>
          <li><a href="#">人脉</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li><a href="#">首页</a></li>
        <li><a href="#">设置</a></li>
        <li><a href="用户管理首页.html">用户</a></li>
        <li class="active"><a href="设备管理首页.html">机器</a></li>
        <li><a href="#">内容</a></li>
      </ul>
    </div>    
    <ul class="account-wrap nav nav-pills pull-right">
          <li class="notice dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bell icon-large"></i><span class="n-num label label-important">3</span></a>
            <ul class="dropdown-menu">
              <li><a href="#">消息1</a></li>
              <li><a href="#">消息2</a></li>
            </ul>
          </li>     
          <li class="social dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username">陈诚</span><img src="../img/photo.jpg" width="32" height="32" class="img-circle"> <b class="caret"></b></a>
            <div class="dropdown-menu">
              <div class="media">
                <a class="pull-left" href="#">
                  <img src="../img/photo.jpg" width="96" height="96" class="img-rounded">
                </a>
                <div class="media-body">
                  <div class="media-heading"><h5><a href="#">陈诚</a></h5></div>
                  <div class="info">2012级研究生 - 影像视觉效果研究方向</div>
                  <div class="setting"><a href="#">账户设置</a></div>
                  <button class="btn btn-primary" type="button">查看个人主页</button>
                </div>
              </div>
            </div>      
          </li>
        </ul>
  </div>
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
     <!-- Navi -->
		#set($currentPageType="computerInfoManage")
		#parse("computer/includeComputerManageNavi.vm")
	  
	  
	  
	  
	  
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">型号管理</div>
			  <div class="tips">在此页面下管理设备型号。设备型号包含每种设备的基本信息，如设备名、设备图片、设备资料介绍等等。</div>
              <div class="filter category-filter">
                <select id="select-categories" name="computercategoryid" style="width:130px" class="select2" onchange="getComputermodelById(this[selectedIndex].value);">
					<option value="0" data-foo="fa">全部分类</option>
#set($computercategoryListSize = $computercategoryList.size() - 1)
##判断数据是否为空
#if($computercategoryListSize>=0)
#set($computercategoryListRegion = [0..$computercategoryListSize])
##取出所有的属性名称
#foreach($tempKey in $computercategoryListRegion)	
	#set($temp = $computercategoryList.get($tempKey))
					 <option value="$temp.computercategorytype" data-foo="fa" >$temp.name</option>
#end
#end         
                </select>
				
				
				
              </div>
              <div class="operate-item pull-left">
                <a href="#add-equip-model" class="btn btn-primary" data-toggle="modal" role="button">添加型号</a>
                <a href="#" class="btn btn-white s-h" action-type="deleteComputermodelButton"><i class="icon-trash"></i> 删除</a>
              </div>

			  <!--page
              <div class="page pull-right clearfix">
								
                <ul class="page-index nav nav-pills pull-left">
                  <li class="record">当前分类下有<strong>XX</strong>条记录</li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">最新</a></li>
                      <li><a href="#">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>-->
			  <!-- end page-->
			  
            </div><!--control-bar end-->
			
			
		
		
			
            <div class="panel panel-default">
				
				
            	<div id ="refreshComputermodelTable">
					
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">设备名称(型号)</th>
                    <th class="categories">分类</th>
					    <th class="categories">总共数量</th>
                    <th class="categories">可借数量</th>
                    <th class="describe">描述</th>
                  </tr>
                </thead>
                <tbody>
				<!--数据开始 -->
#set($listSize = $computermodelFullListCh.size() - 1)
##判断数据是否为空
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
			#set($ch = $computermodelFullListCh.get($tempKey))
			#set($en = $computermodelFullListEn.get($tempKey))
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!ch.computermodelcomputermodeltype"></td>
                    <td>$!ch.computermodelname<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-model" role="button" 
						action-type="editComputermodelFillIn" 
						data-id="$!ch.computermodelid" 
						data-name="$!ch.computermodelname" 
						data-computercategoryid = "$!ch.computermodelcomputercategoryid" 
						data-description="$!ch.computermodeldescription" 
						
						data-iden="$!en.computermodelid" 
						data-nameen="$!en.computermodelname" 
						data-computercategoryiden="$!en.computermodelcomputercategoryid" 
						data-descriptionen="$!en.computermodeldescription">修改</a></td>
                     <td>$!ch.computercategoryname</td>
					 <td>$!ch.computermodelcomputercount</td>
                     <td>$!ch.computermodelavailableborrowcountnumber</td>
                    <td>$!ch.computermodeldescription</td>
                  </tr>
#end
#end
                
                </tbody>
              </table>
			  
			  			<!--page -->
			  <div class="pagination">
				<a href="#" class="first" data-action="first">&laquo;</a>
				<a href="#" class="previous" data-action="previous">&lsaquo;</a>
				<input type="text" readonly="readonly" data-max-page="$!page.totalpage" />
				<a href="#" class="next" data-action="next">&rsaquo;</a>
				<a href="#" class="last" data-action="last">&raquo;</a>
			  </div>
			  <!-- end page -->
				</div>

            </div><!-- end refreshComputermodelTable -->
			
			
				
				
			
			</div>

      </div>
      <!--equip-wrap end-->

	  
	  
	  
	  
	  
	  
     #set($currentWebpage ="computermodelFullManage.vm")
	 #parse("computer/includeComputerManageSidebar.vm")
      <!--sidebar end-->
	  
	  
	  

</section>


<!-- 修改-->
<!-- Modal -->
<div id="modify-model" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  <div class="modal-body">
    <p>这里是修改设备型号相关说明。</p>
    <form class="form-horizontal" role="form">
       <input id="editComputermodelIdCh" type="hidden" val=""></input>
	   <input id="editComputermodelIdEn" type="hidden" val=""></input>
      <div class="form-group">
        <label for="modifyEModelName" class="col-xs-3 control-label">型号名</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="inputEditComputermodelName" placeholder="Arri Alexa Plus">
        </div>
      </div>
	  <div class="form-group">
        <label for="modifyEModelName" class="col-xs-3 control-label">型号英文名</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="editComputermodelNameEn" placeholder="Arri Alexa Plus">
        </div>
      </div>
      <div class="form-group">
        <label for="modifyEquipCategory" class="col-xs-3 control-label">分类</label>
        <div class="col-xs-7">
         <select class="select2 select-white form-control" id="inputEditComputermodelComputercategoryid">
#set($computercategoryListSize = $computercategoryList.size() - 1)
##判断数据是否为空
#if($computercategoryListSize>=0)
#set($computercategoryListRegion = [0..$computercategoryListSize])
##取出所有的属性名称
#foreach($tempKey in $computercategoryListRegion)	
	#set($temp = $computercategoryList.get($tempKey))
					 <option value="$temp.computercategorytype" data-foo="fa" >$temp.name</option>
#end
#end 
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="modifyEDescribe" class="col-xs-3 control-label">描述</label>
        <div class="col-xs-7">
          <textarea class="form-control" id="editComputermodelDescriptionCh" rows="3"></textarea>
        </div>
      </div>
    <div class="form-group">
        <label for="modifyEDescribe" class="col-xs-3 control-label">英文描述</label>
        <div class="col-xs-7">
          <textarea class="form-control" id="editComputermodelDescriptionEn" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="modifyEPic" class="col-xs-3 control-label">图片</label>
        <div class="col-xs-7">
          <span class="btn btn-white file-input-button">
              <i class="icon-plus"></i>
              <span>添加图片</span>
              <input id="modifyEPic" type="file" name="files[]" multiple>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="updateComputermodelButton">确 定</button>
  </div>
</div>
<!-- end 修改-->

<!-- 添加 Model-->
<div id="add-equip-model" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">添加设备型号</h3>
  </div>
  <div class="modal-body">
    <p>这里是添加设备型号相关说明。</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="addComputermodelName" class="col-xs-3 control-label">型号</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="addComputermodelName" placeholder="设备型号（如：Dell">
        </div>
      </div>
	  <div class="form-group">
        <label for="addComputermodelName" class="col-xs-3 control-label">型号英文名称</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="addComputermodelNameEn" placeholder="Model（Like：Dell">
        </div>
      </div>
      <div class="form-group">
        <label for="inputECategory" class="col-xs-3 control-label">分类</label>
        <div class="col-xs-7">
          <select class="select2 select-white form-control" id="addComputermodelComputercategoryid">
			 
#set($computercategoryListSize = $computercategoryList.size() - 1)
##判断数据是否为空
#if($computercategoryListSize>=0)
#set($computercategoryListRegion = [0..$computercategoryListSize])
##取出所有的属性名称
#foreach($tempKey in $computercategoryListRegion)	
	#set($temp = $computercategoryList.get($tempKey))
					 <option value="$temp.computercategorytype" data-foo="fa" >$temp.name</option>
#end
#end 
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEDescribe" class="col-xs-3 control-label">描述</label>
        <div class="col-xs-7">
          <textarea class="form-control" id="addComputermodelDescription" rows="3"></textarea>
        </div>
      </div>
	  <div class="form-group">
        <label for="inputEDescribe" class="col-xs-3 control-label">英文描述</label>
        <div class="col-xs-7">
          <textarea class="form-control" id="addComputermodelDescriptionEn" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEPic" class="col-xs-3 control-label">图片</label>
        <div class="col-xs-7">
          <span class="btn btn-white file-input-button">
              <i class="icon-plus"></i>
              <span>添加图片</span>
              <input id="inputEPic" type="file" name="file" action-type="showFileNameForAdd" multiple>
          </span>
		  <span id="imgFileForAdd"></span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="addComputermodelButton">确 定</button>
  </div>
</div>
<!-- end 添加 Model-->


     <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>

<script src="${jsDomain}/fileUpload/vendor/jquery.ui.widget.js"></script>
<script src="${jsDomain}/fileUpload/jquery.iframe-transport.js"></script>
<script src="${jsDomain}/jquery.fileupload.js"></script>
<script>
	$("#modifyFaCategoryId").select2("val","2");
</script>
<!--[if lt IE 10]>
  <script src="${jsDomain}/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->

<script>

	
	//当前页
	var currentpagenum=1;
	var totalpage=$page.totalpage;
	var computercategorytype = 0;
	var idsForDel;	
	
	


	//add 分类
	$("body").on("click", "button[action-type|=addComputermodelButton]", function() {
		var _this = $(this);
		
		var actionUrl = "${webbaseurl}/addComputermodelAjax.${strutsaction}";
			
		//公共属性
		var addComputermodelComputercategoryid = $('#addComputermodelComputercategoryid').val();
			
		//私有属性
		var addComputermodelName = $('#addComputermodelName').val();			
		var addComputermodelDescription = $('#addComputermodelDescription').val();
			
		var addComputermodelNameEn = $('#addComputermodelNameEn').val();
		var addComputermodelDescriptionEn = $('#addComputermodelDescriptionEn').val();
			
		var postData = {
				"computercategoryid":addComputermodelComputercategoryid,				
				"name": addComputermodelName,				
				"computermodelNameEn": addComputermodelNameEn,
				"description": addComputermodelDescription,
				"computermodelDescriptionEn":addComputermodelDescriptionEn				
		}
		
		jQuery.ajax({  
		    url : actionUrl,  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});		
					refreshComputermodelTable();
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				}
			}//end success		  	  
		});
	})
	//end add 分类
	
	
	
	//选择修改按钮，填充修改弹出框
	$("body").on("click", "a[action-type|=editComputermodelFillIn]", function() {
		var myData = $(this).data();
	//	console.log(data);
	//	alert(myData.computercategoryid);
		$('#inputEditComputermodelComputercategoryid').select2("val",myData.computercategoryid);
		
		$("#inputEditComputermodelName").val(myData.name);		
		$('#editComputermodelDescriptionCh').val(myData.description);
		
		$("#editComputermodelNameEn").val(myData.nameen);
		
		$('#editComputermodelDescriptionEn').val(myData.descriptionen);
		
		$('#editComputermodelIdCh').val(myData.id);
		$('#editComputermodelIdEn').val(myData.iden);
	//	alert(myData.descriptionen);
		
	});
		
	//updateComputermodelButton
	$("body").on("click", "button[action-type|=updateComputermodelButton]", function() {
		var _this = $(this);
		
		var actionUrl = "${webbaseurl}/updateComputermodelAjax.${strutsaction}";
		var editComputermodelName = $('#inputEditComputermodelName').val();
		var editComputermodelComputercategoryid = $('#inputEditComputermodelComputercategoryid').val();
		var editComputermodelDescription = $('#editComputermodelDescriptionCh').val();			
			
		var editComputermodelNameEn = $('#editComputermodelNameEn').val();			
		var editComputermodelDescriptionEnVal = $('#editComputermodelDescriptionEn').val();			
			
		var editComputermodelIdChVal = $('#editComputermodelIdCh').val();
		var editComputermodelIdEnVal = $('#editComputermodelIdEn').val();
			
		var postData = {
				"id": editComputermodelIdChVal,
				"name": editComputermodelName,				
				"computercategoryid":editComputermodelComputercategoryid,
				"description": editComputermodelDescription,
				
				"computermodelIdEn": editComputermodelIdEnVal,
				"computermodelNameEn":editComputermodelNameEn,
				"computermodelDescriptionEn":editComputermodelDescriptionEnVal
		}
		jQuery.ajax({  
		    url : actionUrl,  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});		
					refreshComputermodelTable();
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				}
			}		  	  
		});
	});
	//end updateComputermodelButton


// checkbox
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}
		
		idsForDel = "";
		
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + ";";
			}
		});
	});
	//end checkbox
	
	

	//delete分类
	$("body").on("click", "a[action-type|=deleteComputermodelButton]", function() {
		idsForDel = idsForDel.substring(0,idsForDel.length-1);
		var postData = {
			computermodelIdsForDel: idsForDel
		}
		//alert(idsForDel);
		jQuery.ajax({  
		    url:"${webbaseurl}/deleteComputermodelFullAjax.${strutsaction}",  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});		
					refreshComputermodelTable();
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});					
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框
					refreshComputermodelTable();
				}
			}		  	  
		});
	});
	//end delete 分类
	
	
	//换页时调用方法
	$('.pagination').jqPagination({
    	paged: function(page) {
     	   // do something with the page variable
			currentpagenum = page;
			refreshComputermodelTable();
    	}
	});
	
	//刷新数据
	function refreshComputermodelTable(){
			jQuery.ajax({  
		    url: '${webbaseurl}/manageComputermodelFull.action',  
		    type: "post",
		    data:{	
					pageNo:currentpagenum,
					callType:'ajaxType',
					computercategorytype : computercategorytype
					},
		    dataType: 'html',
			success: function(data){
				$("#refreshComputermodelTable").html(data);
				
				//设置分页绑定事件
				$('.pagination').jqPagination({
					link_string	: '/?page={page_number}',
					max_page	: totalpage,
					current_page:currentpagenum,
					paged: function(page) {     	  
						currentpagenum = page;
						refreshComputermodelTable();		
    				}
				});
				
				$(".s-h").css({
					"visibility": "hidden",
					"opacity": "0",
					"filter": "alpha(opacity=0)"
				});
			}		  	  
			});		
	}//end refresh

	
//更改model的分类	
function getComputermodelById(tcomputercategoryid){
	//alert(tcomputercategoryid);
	computercategorytype = tcomputercategoryid;
	currentpagenum = 1;
	refreshComputermodelTable();
}


	//上传图片
	$("#inputEPic").fileupload({

    	url: "${webbaseurl}/uploadFile.${structaction}",
        dataType: 'json',
		data:{	
					imgType: "computermodelimg"
					},
		change: function (e, data) {
        	$("#submitBtnForAdd").attr("disabled", "disabled");
    	},
        done: function (e, data) {
			$("#submitBtnForAdd").removeAttr("disabled");
            console.log(data);
			if(data.result.tag == 0) {
				localFileName = data.files[0].name;
				savedFileName = data.result.savedFileName;
				$("#imgFileForAdd").html(localFileName);
				$("#inputEPic").prop('disabled', true);
			} else if(data.result.tag == 1) {
				alert("上传图片失败！");
				localFileName = "";
				savedFileName = "";
			}
            //alert(data.result.savedFileName);
        }
    });
	
	
</script>
</body>
</html>
