<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 设备管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  <div class="nav-wrap clearfix">
    <div class="site-nav">
      <div class="dropdown">
        <a class="pos dropdown-toggle" data-hover="dropdown" href="#"><i class="icon-home"></i> 管理中心 <i class="icon-chevron-right"></i></a>
        <!-- #BeginLibraryItem "/Library/siteNav.lbi" -->
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="../index.html"><i class="icon-home"></i> 首页</a></li>
          <li class="divider"></li>
          <li><a href="#anotherAction">个人主页</a></li>
          <li><a href="#">通讯录</a></li>
          <li class="divider"></li>
          <li><a href="../预约首页.html">我的预约</a></li>
          <li><a href="../消息中心-站内信.html">站内信</a></li>
          <li class="divider"></li>
          <li><a href="管理中心首页.html">管理中心</a></li>
        </ul>
      <!-- #EndLibraryItem --> </div>
    </div><!-- #BeginLibraryItem "/Library/机房subnav.lbi" -->    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li><a href="#">首页</a></li>
        <li><a href="#">设置</a></li>
        <li><a href="用户管理首页.html">用户</a></li>
        <li><a href="设备预约首页.html">器材</a></li>
        <li class="active"><a href="机房预约管理首页.html">机房</a></li>
        <li><a href="#">内容</a></li>
      </ul>
    </div><!-- #EndLibraryItem --><ul class="account-wrap nav nav-pills pull-right">
          <li class="notice dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bell icon-large"></i><span class="n-num label label-important">3</span></a>
            <ul class="dropdown-menu">
              <li><a href="#">消息1</a></li>
              <li><a href="#">消息2</a></li>
            </ul>
      </li>     
          <li class="social dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username">陈诚</span><img src="../img/photo.jpg" width="32" height="32" class="img-circle"> <b class="caret"></b></a>
            <div class="dropdown-menu">
              <div class="media">
                <a class="pull-left" href="#">
                  <img src="../img/photo.jpg" width="96" height="96" class="img-rounded">
                </a>
                <div class="media-body">
                  <div class="media-heading"><h5><a href="#">陈诚</a></h5></div>
                  <div class="info">2012级研究生 - 影像视觉效果研究方向</div>
                  <div class="setting"><a href="#">账户设置</a></div>
                  <button class="btn btn-primary" type="button">查看个人主页</button>
                </div>
              </div>
            </div>      
          </li>
    </ul>
  </div>
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
           
      <div class="control-bar clearfix"><!--control-bar start-->
        <div class="title pull-left">审核预约</div>     
        <div class="pagination pull-right">
          <ul>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="上一个"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="下一个"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>       
      </div><!--control-bar end-->
              
      <div class="row">
            <div class="control-bar col-md-12">
              <div class="title">$!computerorderFull.computerordertitle</div>
            </div>        
            <div class="col-md-7">                  
                <div class="thumbnail">
                  <div class="hd clearfix">
                    <h3 class="pull-left">预约单</h3>
                    <div class="pull-right">共XX种，XX个器材</div>
                  </div>
                  <div class="media-list">
                    <div class="media">                        
                      <div class="group-hd">
                        <div class="group-name pull-left">MAC工作站</div>
                        <div class="group-line">
                          <hr>
                        </div>
                      </div>
                      <a class="pull-left" data-toggle="modal" href="#equip-detail" role="button">
                        <img src="../img/mac-pro-gallery1-2012.jpg" width="100" height="100">
                      </a>
                      <div class="media-body">
                        <p>2013年9月12日 星期一 上午</p>
                        <p>2013年9月14日 星期三 晚上</p>
                        <p>……</p>
                      </div>
                    </div>
                    <div class="media">                        
                      <div class="group-hd">
                        <div class="group-name pull-left">DELL工作站</div>
                        <div class="group-line">
                          <hr>
                        </div>
                      </div>
                      <a class="pull-left" data-toggle="modal" href="#equip-detail" role="button">
                        <img src="../img/dell.jpg" width="100" height="100">
                      </a>
                      <div class="media-body">
                        <p>2013年9月12日 星期一 上午</p>
                        <p>2013年9月14日 星期三 晚上</p>
                        <p>……</p>
                      </div>  
                    </div>
                  </div>
                </div>                  
            </div>
            <div class="col-md-5">
                <div class="thumbnail">
                  <div class="hd">
                    <h3>状态</h3>
                  </div>
                  <div class="caption">
                      <div class="status">
                      <strong>审核人可能存在的状态:</strong><br>
                      申请人尚未提交预约申请。<br>
                      等待您的审核。<br>
                      ……
                      </div>
                      <hr>
                      <strong>审核人可能进行的操作:</strong><br>                      
                      <a class="btn btn-primary" href="#">审核通过</a>
                      <a class="btn btn-white" data-toggle="modal" href="#reject" role="button">驳 回</a>
                      <a class="btn btn-white" data-toggle="modal" href="#reject" role="button">删 除</a>
                  </div>
                </div>
                <div class="thumbnail">
                  <div class="hd">
                    <h3>详情</h3>
                  </div>
                  <div class="caption">
                    <div class="rent-detail">
                      <span class="rent-user"><strong>申请者：<a rel="popover" class="lk" href="#" data-original-title="" title="">用户名 (我)</a></strong></span>
                      <span class="rent-num"><strong> - 预约号：432420427</strong></span>
                      <div class="rent-contact">联系方式：XXXXXX</div>
                      <div class="rent-remark"><i class="icon-pencil"></i> 这里是预约备注（无则不显示）</div>
                    </div>
                    <hr>
                  </div>                        
                  <ul class="media-list">
                    <li class="media">
                      <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                        <img src="../img/photo.jpg" width="28" height="28" class="img-rounded">
                      </a>
                      <div class="media-body">
                        <div class="media-heading"><h5><a rel="popover" href="#" data-original-title="" title="">教师名</a></h5><span class="post-time" title="详细时间">下午4:53</span></div>
                        <p>审核老师发的审核驳回说明</p>
                      </div>
                    </li>
                  </ul>
                                            
                </div>               
            </div>                    
      </div>




</section>


<!-- Modal -->
<div id="modify-status" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  
  <div class="modal-body">
      <p>修改设备。</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputEquipId" class="col-xs-3 control-label">设备号</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEquipId" placeholder="设备编号" value="242424">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEquipModelId" class="col-xs-3 control-label">所属设备型号</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="inputEquipModelId">
              <optgroup label="数字摄影机">
                <option value="AK">Alaska</option>
                <option value="HI">Hawaii</option>
              </optgroup>
              <optgroup label="数字摄像机">
                <option value="CA">California</option>
              </optgroup>
              <optgroup label="单反">
                <option value="AZ">Arizona</option>
              </optgroup>
              <optgroup label="镝灯">
                <option value="AL">Alabama</option>
              </optgroup>
              <optgroup label="钨丝灯">
                <option value="CT">Connecticut</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEquipCategory" class="col-xs-3 control-label">分类</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="inputEquipCategory">
              <optgroup label="摄影摄像机">
                <option value="2">数字摄影机</option>
                <option value="3">数字摄像机</option>
                <option value="4">单反</option>
              </optgroup>
              <optgroup label="灯具">
                <option value="6">钨丝灯</option>
                <option value="7">镝灯</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEquipStatus" class="col-xs-3 control-label">状态</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="inputEquipStatus">
              <option value="0">正常</option>
              <option value="1">借出</option>
              <option value="2">维护</option>
              <option value="3">维修</option>
              <option value="4">遗失</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEquipRemark" class="col-xs-3 control-label">备注</label>
          <div class="col-xs-7">
            <textarea class="form-control" id="inputEquipRemark" rows="3"></textarea>
          </div>
        </div>
      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary">确 定</button>
  </div>
</div>

<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="../img/cover-img.jpg" class="cover" alt="封面照片">
  <div class="cover-layout"></div>
  <div class="avatar"><img src="../img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
</body>
</html>