#set($user = $request.getSession().getAttribute("loginUser"))
#set($currentposition= "myorder")
#set($currentpositiontext= ${textmap.myorderposition})	
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$!{textmap.computerorderview_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body >
<header id="header-wrap"><!--header-wrap-->
  
	#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">
	
	#set($currentposition= ${textmap.myorderposition})
	#parse("include/includeSiteNavi.vm")
	
	#set($currentPageType="orderDetail")
	#parse("include/includeOrderspaceSubNavi.vm")
	
  </div>
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
        <!--main-content start-->
  <div id="main-content" class="clearfix">
      <!--equip-wrap start-->          
          <div class="container">     

	
	  
      <div class="row">
            <div class="control-bar col-md-12">
              #set($currentcomputerorderordertype=$computerorderFull.computerorderordertype)
              <div class="title">$!computerorderFull.computerordertitle <span class="label label-important">#parse("include/includeComputerorderType.vm")</span></div>
            </div>        
            <div class="col-md-7">                  
                
				      #parse("include/includeComputerorderList.vm")
            
            </div>
            <div class="col-md-5">
                <div class="thumbnail">
                  <div class="hd">
                    <h3>$!{textmap.computerorderview_order_status_title}</h3>
                  </div>
                  <div class="caption">
					#set($curstatus = $computerorderFull.computerorderstatus)
                      #parse("include/includeComputerorderStatus.vm")
                      
                      #if($curstatus == $ComputerorderStatusAduitReject)
                        <hr>
							        ###如果是驳回，根据预约类型显示重新预约，
            						#if($!computerorderFull.computerorderordertype==2) 
            							<a class="btn btn-primary" action-type="" action-data="" href="${webbaseurl}\toComputerClassorder.${strutsaction}?computerorderid=$!computerorderFull.computerorderid&computerhomeworkid=$!computerorderFull.computerordercomputerhomeworkid&reorder=1">$!{textmap.computerorderview_classorder_reject_tip}</a>
            						#elseif($!computerorderFull.computerorderordertype==1)  
            							<a class="btn btn-primary" action-type="" action-data="" href="${webbaseurl}\toComputerIndividualorder.${strutsaction}?computerorderid=$!computerorderFull.computerorderid&reorder=1">$!{textmap.computerorderview_indivorder_reject_tip}</a>
            						#else
            							$!{textmap.computerorderview_goto_reorder}
            						#end
            		#end
                 </div>
                </div>
                <div class="thumbnail">
					 #parse("include/includeComputerorderIndividualInfo.vm")
                
                </div>  <!-- end  thumbnail-->            
            </div>                    
      </div>


          </div>
  </div>
  <!---main-content end-->

</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bfa.js"></script>

<script>

function auditOrder(id,status){
	jQuery.ajax({  
		url: '${webbaseurl}/auditComputerorderAjax.action',  
		type: "post",
		data:{id:id,status:status},
		dataType: 'json',
		success: function(data){
		
			var returnJson = jQuery.parseJSON(data); 
			
			if(returnJson.flag == 1){
				alert(returnJson.reason);
			}
		}		  	  
		});

}

</script>
</body>
</html>