
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">
	
	<a href="${webbaseurl}/manageComputerorderdetailFull.action">返回管理</a>
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
             

             
	  
	  
 <div class="panel-body">
                 <!-- form start -->
               <form action="" method="" name="AddComputerorderdetailForm">
				 <input type="hidden" class="form-control" id="input_computerorderdetail_id" value="$!computerorderdetailFull.computerorderdetailid">


		<div class="form-group">
                    <label for="computerorderid" class="col-lg-2 control-label">computerorderid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_computerorderid" value="$!computerorderdetailFull.computerorderdetailcomputerorderid">
                    </div>
                  </div>

		<div class="form-group">
                    <label for="computerid" class="col-lg-2 control-label">computerid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_computerid" value="$!computerorderdetailFull.computerorderdetailcomputerid">
                    </div>
                  </div>

		<div class="form-group">
                    <label for="computernumber" class="col-lg-2 control-label">computernumber</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_computernumber" value="$!computerorderdetailFull.computerorderdetailcomputernumber">
                    </div>
                  </div>

		<div class="form-group">
                    <label for="createtime" class="col-lg-2 control-label">createtime</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_createtime" value="$!computerorderdetailFull.computerorderdetailcreatetime">
                    </div>
                  </div>

		<div class="form-group">
                    <label for="borrowday" class="col-lg-2 control-label">borrowday</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_borrowday" value="$!computerorderdetailFull.computerorderdetailborrowday">
                    </div>
                  </div>

		<div class="form-group">
                    <label for="borrowperiod" class="col-lg-2 control-label">borrowperiod</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_borrowperiod" value="$!computerorderdetailFull.computerorderdetailborrowperiod">
                    </div>
                  </div>

		<div class="form-group">
                    <label for="status" class="col-lg-2 control-label">status</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_status" value="$!computerorderdetailFull.computerorderdetailstatus">
                    </div>
                  </div>

               </form>
               <!-- form end -->
			  <!-- submit start -->
			   <div class="form-group">   
                  <div class="col-lg-offset-2 col-lg-4">
                     <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                     <button type="submit" onClick = "updateComputerorderdetailAjax()" class="btn btn-primary">修改</button>
                   </div>
               </div>
				<!-- submit end -->




              </div>
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
    
      <!--sidebar end-->

</section>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/computer/computerorderdetail.js"></script>
</body>
</html>