<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 机房管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">

	<header id="header-wrap"><!--header-wrap-->
	
	#set($currentPageModule="computer")
	#parse("include/includeAdminHeader.vm")

	</header><!--/#header-wrap-->

<section id="main-wrap" class="clearfix"><!--main-wrap-->

		<!-- Navi -->
		#set($currentPageType="computerorderManage")
		#parse("computer/includeComputerManageNavi.vm")
	  
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">            
            <div class="control-bar clearfix"><!--control-bar start-->
              <div class="title pull-left">机房预约管理</div>
              <div class="tips">表格中不同的颜色代表不同的预约状态。<span class="label label-default">&nbsp;</span> 代表预约已完成；<span class="label label-info">&nbsp;</span> 代表等待审核的预约；<span class="label label-success">&nbsp;</span> 代表审核通过但在预约期间内；<span class="label label-warning">&nbsp;</span> 代表预约存在问题需要处理。</div>
			  <!--
              <div class="filter user-group-filter">
                <ul class="nav nav-tabs nav-tabs-google">
                  <li><a href="#">个人预约</a></li>
                  <li><a href="#">教学预约</a></li>
                  <li class="active"><a href="#">全部</a></li>
                </ul>
              </div>
			  -->
              
              <div class="operate-item pull-left">
                <a href="#" class="btn btn-white s-h"><i class="icon-trash"></i> 删除</a>
              </div>
              <!-- display-mode -->
              <div class="display-mode btn-group pull-right">
                <a href="${webbaseurl}/manageComputerorderFull.action" class="btn btn-white"><span class="icon-list"></span></a>
                <a href="${webbaseurl}/manageComputerorderCalendar.action" class="btn btn-white active"><span class="icon-calendar"></span></a>
              </div><!-- /.display-mode -->
              <div class="semester-filter pull-right">
                <select id="select-categories" style="width:180px" class="select2 select-white"	onchange="toSelSemester(this[selectedIndex].value);">					
#foreach($cctemp in ${courseconfigList})	
                  <option value="${cctemp.id}"
					#if(${cctemp.id} == ${selsemesterid})
						selected="selected"
					#end
					>${cctemp.schoolyear}第${cctemp.semester}学期</option>
#end
                </select>
              </div>

            </div><!--control-bar end-->
            <div class="control-bar">
              <div class="row">
                <ul class="tab-drop nav nav-pills col-md-12">
					#foreach($week in [1..$totalweek])
                  <li 
					#if($week == $selsemesterweek)
					class="active"
					#end 
					><a href="${webbaseurl}/manageComputerorderCalendar.action?selsemesterweek=${week}&selsemesterid=${currentCourseconfig.id}" data-week="1">第${week}周</a></li>
                 #end            
                </ul>
              </div>
            </div>
            <div class="panel panel-default table-responsive">
              <table id="course-week-table" class="table">
                <thead>
                  <tr>
                    <th class="time-slot">时间</th>
					#foreach($day in [0..6])
                    <th>$showDayList.get($day)<br>$showDate.get($day)</th>
						#end
         
                  </tr>
                </thead>
                <tbody>
					
#foreach($bp in ${borrowperiodList})
					                 <tr id="tr-slot-${bp.periodnum}">	
										<td class="time-slot">${bp.peroidname}</td>
						#foreach($day in [1..7])
							#set($key = $bp.periodnum +""+ $day)
							#set($orderdetaillist = $computerorderdetailFullMap.get($key))
							#set($size = $orderdetaillist.size())
						 <td data-week="${day}" data-slot="${bp.periodnum}">
							
							
							#foreach($od in ${orderdetaillist})
								<span rel="popover-rent" class="label-rent label 
									#if($od.oldorder==1)
										label-default
									#end
									#if($od.oldorder==0 && $od.computerorderstatus==4)
									label-info
									#end									
									#if($od.oldorder==0 && $od.computerorderstatus==1)
									label-success
									#end
									#if($od.oldorder==0 && $od.computerorderstatus==2)
									label-warning
									#end									
									" 
									data-rent-No="${od.computerorderserialnumber}" 
									data-rent-statusnum="${od.computerorderstatus}" 
									
									data-computerorderid="${od.computerorderid}"
									data-computerordertitle="${od.computerordertitle}"
									data-computerorderremark="$!{od.computerorderremark}"
									data-rent-status="
									#if($od.computerorderstatus==4)
									waiting		
									#end
									#if($od.computerorderstatus==1)
									done
									#end	
									#if($od.computerorderstatus==2)
									warning
									#end	
									" 
									
									>${od.orderusername}</span>
							#end ## end orderdetaillist
						 </td>
							
							#end
				         </tr>
#end	## end 	borrowperiodList			
				
                </tbody>
              </table>
            </div>
          </div>
      </div><!--equip-wrap end-->

	  	  <!--sidebar start-->
#set($currentWebpage ="computerorderManagerCalendar.vm")
#parse("computer/includeComputerorderManageSidebar.vm")
      <!--sidebar end-->
	  
</section>





    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>
<script src="${jsDomain}/bootstrap-tabdrop.js"></script>
<script>
$('.tab-drop.nav-pills').tabdrop();


$('span[rel=popover-rent]').popover({
        trigger: "click",
        html: true,
        placement: 'bottom',
        content: function() {
          var thisData = $(this).data();
          var rentNo = thisData.rentNo;
          var rentTime = "2013年10月18日 上午";
          var rentRemark = "无备注";
          var rentStatusInfo = "预约状态说明";
          var classStatus = "label label-default";
		
		  var statusStr = thisData.rentStatus.trim();
          if (statusStr == "done") {
            classStatus = "label label-default";
            rentStatusInfo = "已完成。";
          } else if (statusStr == "waiting") {  // 等待审核
            classStatus = "label label-info";
            rentStatusInfo = "等待你提交预约申请";
          } else if (statusStr == "success") {  // 审核通过，进行中
            classStatus = "label label-success";
            rentStatusInfo = "审核已通过，预约进行中。";
          } else if (statusStr == "warning") {  // 审核未成功，异常
            classStatus = "label label-warning";
            rentStatusInfo = "预约被驳回，需修改后重新提交预约";
          };
		  
		  var title = '<a href="${webbaseurl}/toAuditComputerorderPage.${strutsaction}?computerorderId='+thisData.computerorderid+'">'+thisData.computerordertitle+'</a>';
		  
		 	
		
		  
          var html =
              '<div id="popover-rent-wrapper" style="display: none">' +
                '<div id="rent-wrap">' +
                  '<div class="rent-info">' +
                    '<div class="rent-num">预约号：' + rentNo + '</div>' +
                    '<div class="rent-time"><i class="icon-time"></i> ' + title + '</div>' +
                    '<div class="rent-remark"><i class="icon-pencil"></i> ' + thisData.computerorderremark +
                  '</div>' +
                  '<hr>' +
                  '<div class="rent-status"><span class="' + classStatus + '">状态</span> ' + rentStatusInfo + '</div>' +
                '</div>' +
              '</div>';
          return $(html).html();
        } 
      });
	  
	  
    function toSelSemester(semid){
	//alert(semid);
		window.location.href="${webbaseurl}/manageComputerorderCalendar.action?selsemesterweek=1&selsemesterid="+semid;
    }

</script>
<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->




</body>
</html>
