<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 课程预约规则添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />
<link href="${jsDomain}/editor/themes/default/default.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

  <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">添加课程</div>
              <div class="tips">在此页面下添加新的课程信息</div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
              
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputCourseName" class="col-lg-2 control-label">课程名</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="inputCourseName" placeholder="课程名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCourseNameEn" class="col-lg-2 control-label">课程英文名</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="inputCourseNameEn" placeholder="课程的英文名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCourseTeacher" class="col-lg-2 control-label">任课教师</label>
                    <div class="col-lg-4">
                      <select class="select2 select-white form-control" id="inputCourseTeacher">
                        <option value="2">数字摄影机</option>
                        <option value="3">数字摄像机</option>
                        <option value="4">单反</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCourseType" class="col-lg-2 control-label">课程类别</label>
                    <div class="col-lg-4">
                      <label class="radio-inline">
                        <input type="radio" name="inputCourseType" id="courseType1" value="1" checked="">本科
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inputCourseType" id="courseType2" value="2">硕士
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inputCourseType" id="courseType3" value="3">博士
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inputCourseType" id="courseType4" value="4">MFA
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button type="submit" class="btn btn-primary">添 加</button>
                    </div>
                  </div>
                </form>
              
              </div>
            </div>
          </div>

      </div>
       <!--sidebar start-->
     	  #set($currentWebpage="computerorderclassruleAdd")
		  #parse("include/includeTeachSidebar.vm")
      <!--sidebar end-->

</section>

<div id="createEquipRule" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createEquipRuleLabel" aria-hidden="true">
 
  <div class="modal-body">
    
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
		#foreach($categoryfull in ${computercategoryList})
			<li><a href="#$!categoryfull.computercategorytype" data-toggle="tab">$!categoryfull.name</a></li>
		#end        
      </ul>
      <div class="tab-content">
		
		#foreach($category in ${computercategoryList})
			#set($categoryid = $category.computercategorytype)
		<div class="tab-pane" id="$!categoryid">
          <div class="row model-list">
			#set($modelList = $computermodelByComputercategoryId.get($categoryid))
			
			#foreach($model in $modelList)
			<div class="col-sm-4 list-item" data-p-cat-id="1" data-cat-id="1" data-model-id="$model.computermodeltype" data-is-select="false"><i class="icon-check-empty icon-large"></i>$model.name</div>
			#end           
          </div>
        </div>
		#end
		
      
      </div><!--content-->
    </div><!--left-->
  </div>
  <div class="modal-footer">
        <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="setComputerorderclassruleButton">确 定</button>
  </div>
</div>
  
    <!-- Le javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/editor/kindeditor-min.js"></script>
<script src="${jsDomain}/editor/lang/zh_CN.js"></script>
<script src="${jsDomain}/bootstrap-datepicker.js"></script>
<script src="${jsDomain}/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>

<script>

	$('.input-daterange').datepicker({
	language: 'zh-CN',
	format: 'yyyy-mm-dd',
	todayHighlight: true,
	});

	$("#inputSendTo").select2({
		createSearchChoice:function(term, data) { 
			if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {
				return {id:term, text:term};} 
			},
		multiple: true,
		data: [{id: 0, text: '用户名1'},{id: 1, text: '用户名2'},{id: 2, text: '用户名3'}]
	});
			
	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="content"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : false,
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
		});
	});
	
	$('body').on('click', ('#createEquipRule .model-list > .list-item'), function () {
		if ($(this).children('i').hasClass('icon-check-empty')) {
			$(this).children('i').removeClass('icon-check-empty').addClass('icon-check');
			$(this).data('is-select', 'true');
		} else if ($(this).children('i').hasClass('icon-check')) {
			$(this).children('i').removeClass('icon-check').addClass('icon-check-empty');
			$(this).data('is-select', 'false');
		}
	});
	
	//获取课程规则 的PC
	$('body').on('click',  "button[action-type|=setComputerorderclassruleButton]", function () {
		var _this = $(this);
		var pcIds = "";
		$('.model-list > .list-item').each(function(index, elem) {
			if($(elem).data('is-select') == 'true') {
			//if($(elem).children('i').hasClass('icon-check')) {
            	var myData = $(elem).data();
				pcIds += myData.modelId+";";				
			}
        });
		pcIds = pcIds.substring(0,pcIds.length-1);
		//alert(pcIds);
		
		_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
		$('#input_computerorderclassrule_allowborrowpcids').val(pcIds);
		
	});//end add classrule
	
	
	
	//添加预约规则
	$("body").on("click", "button[action-type|=addComputerorderclassruleButton]", function() {
			var _this = $(this);
			
			var input_computerorderclassrule_name = $("#input_computerorderclassrule_name").val();		
			var input_computerorderclassrule_classname = $("#input_computerorderclassrule_classname").val();		
			var orderstarttime = $("#input_computerorderclassrule_orderstarttime").val();
			var orderendtime = $("#input_computerorderclassrule_orderendtime").val();
			var input_computerorderclassrule_availableordertime = $("#input_computerorderclassrule_availableordertime").val();
			//var input_computerorderclassrule_allowborrowpcids = $("#input_computerorderclassrule_allowborrowpcids").val();
			
			var allowborrowpcids="";
			$("input[name='inputAviBorrowModelGroup']").each(function() {
				if($(this).prop("checked") === true) {
					allowborrowpcids += $(this).prop("value")+";";				
				}
			});
			allowborrowpcids = allowborrowpcids.substring(0,allowborrowpcids.length-1);
			
			//orderstarttime += " 00:00:00";
		//	orderendtime += " 00:00:00";
			//alert(allowborrowpcids);
		//	return;
			var postData = {
				"name": input_computerorderclassrule_name,
				"classid" : input_computerorderclassrule_classname,
				"orderstarttime" : orderstarttime,
				"orderendtime" : orderendtime,
				"availableordertime": input_computerorderclassrule_availableordertime,
				"allowborrowpcids": allowborrowpcids
			};
			
			jQuery.ajax({  
			    url:"${webbaseurl}/addComputerorderclassruleAjax.${strutsaction}",  
			    type:"post",
			    data:postData,
			  	dataType: 'json',
				success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
					addFormClear();
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				}
		}	});		  	  

	})
	//end 添加预约规则
	
	function addFormClear(){
		$("#input_computerorderclassrule_name").val("");		
		$("#input_computerorderclassrule_classname").val("");		
		$("#input_computerorderclassrule_orderstarttime").val("");
		$("#input_computerorderclassrule_orderendtime").val("");
		$("#input_computerorderclassrule_availableordertime").val("");
		
		$("input[name='inputAviBorrowModelGroup']").each(function() {
			$(this).removeAttr("checked"); 				
		});
		//$("#input_computerorderclassrule_allowborrowpcids").val("");
	}
	
	
	
</script>
	
	
</body>
</html>