
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
         
            <div class="panel panel-default">

<!--管理内容从这里开始 -->

				<form id="formComputerorderdetailManage" action="${webbaseurl}/manageComputerorderdetailFull.action" method="get">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>

             <th class="name">computerorderdetailid</th>
             <th class="name">computerorderdetailcomputerorderid</th>
             <th class="name">computerorderdetailcomputerid</th>
             <th class="name">computerorderdetailcomputernumber</th>
             <th class="name">computerorderdetailcreatetime</th>
             <th class="name">computerorderdetailborrowday</th>
             <th class="name">computerorderdetailborrowperiod</th>
             <th class="name">computerorderdetailstatus</th>
             <th class="name">computerorderid</th>
             <th class="name">computerorderserialnumber</th>
             <th class="name">computerorderuserid</th>
             <th class="name">computerordercreatetime</th>
             <th class="name">computerorderstatus</th>
             <th class="name">computerid</th>
             <th class="name">computerserialnumber</th>
             <th class="name">computercomputermodelid</th>
             <th class="name">computercreatetime</th>
             <th class="name">computercreateuserid</th>
             <th class="name">computerstatus</th>
             <th class="name">computerremark</th>
                   <th class="name">View</th>
				   <th class="name">Del</th>
				   <th class="name">Edit</th>
                  </tr>
                </thead>
                <tbody>					
							

#foreach($tempcomputerorderdetail in $computerorderdetailFullList)
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>                   
<td>$!tempcomputerorderdetail.computerorderdetailid</td>
<td>$!tempcomputerorderdetail.computerorderdetailcomputerorderid</td>
<td>$!tempcomputerorderdetail.computerorderdetailcomputerid</td>
<td>$!tempcomputerorderdetail.computerorderdetailcomputernumber</td>
<td>$!tempcomputerorderdetail.computerorderdetailcreatetime</td>
<td>$!tempcomputerorderdetail.computerorderdetailborrowday</td>
<td>$!tempcomputerorderdetail.computerorderdetailborrowperiod</td>
<td>$!tempcomputerorderdetail.computerorderdetailstatus</td>
<td>$!tempcomputerorderdetail.computerorderid</td>
<td>$!tempcomputerorderdetail.computerorderserialnumber</td>
<td>$!tempcomputerorderdetail.computerorderuserid</td>
<td>$!tempcomputerorderdetail.computerordercreatetime</td>
<td>$!tempcomputerorderdetail.computerorderstatus</td>
<td>$!tempcomputerorderdetail.computerid</td>
<td>$!tempcomputerorderdetail.computerserialnumber</td>
<td>$!tempcomputerorderdetail.computercomputermodelid</td>
<td>$!tempcomputerorderdetail.computercreatetime</td>
<td>$!tempcomputerorderdetail.computercreateuserid</td>
<td>$!tempcomputerorderdetail.computerstatus</td>
<td>$!tempcomputerorderdetail.computerremark</td>
					<td><a href="${webbaseurl}/viewComputerorderdetailFull.action?id=$!tempcomputerorderdetail.computerorderdetailid">查看</a></td> 
					<td><a href="${webbaseurl}/deleteComputerorderdetailFull.action?id=$!tempcomputerorderdetail.computerorderdetailid">删除</a></td>			
					<td><a href="${webbaseurl}/editComputerorderdetailFull.action?id=$!tempcomputerorderdetail.computerorderdetailid">修改</a></td>
                 
                  </tr>
#end            
           
                </tbody>
              </table>
  		  
#getPageHtml("formId=formComputerorderdetailManage" "parameters=pageNo:$page.pageNo,pageSize:$page.pageSize,totalCount:$page.totalCount,pageviewcount:$page.pageviewcount,vmpath:common/page.vm")

</form>

            </div>
          </div>

      </div>
      <!--equip-wrap end-->
	  
	  
       <div id="lside">
        <form class="form-group">
          <input type="text" class="form-control" placeholder="搜索">
          <i class="icon-search"></i>
        </form>
        <div class="list-group">
          <a href="${webbaseurl}/manageComputerorderdetailFull.action" class="list-group-item">管理</a>
          <a href="${webbaseurl}/computer/computerorderdetailAdd.vm" class="list-group-item">添加</a>
          
        </div>
      </div>
      <!--sidebar end-->




</section>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script>
	$("#modifyFaCategoryId").select2("val","2");
</script>
</body>
</html>
