<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>编辑</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://localhost:8080/sbgl/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="http://localhost:8080/sbgl/css/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">

	
	
	<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">Edit</div>
              <div class="tips"><a href="http://localhost:8080/sbgl/manageComputerorderdetail.action">返回</a></div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
<!--put data here-->

<!--表单-->             
               <form action="" method="" name="updateComputerorderdetailForm">

		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">id</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_id" value="$!{computerorderdetailModel.id}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">computerorderid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_computerorderid" value="$!{computerorderdetailModel.computerorderid}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">computerid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_computerid" value="$!{computerorderdetailModel.computerid}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">computernumber</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_computernumber" value="$!{computerorderdetailModel.computernumber}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">createtime</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_createtime" value="$!{computerorderdetailModel.createtime}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">borrowday</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_borrowday" value="$!{computerorderdetailModel.borrowday}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">borrowperiod</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_borrowperiod" value="$!{computerorderdetailModel.borrowperiod}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">status</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="input_computerorderdetail_status" value="$!{computerorderdetailModel.status}">
                    </div>
                  </div>
      
               </form>
              
			     <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button type="submit" onClick = "updateComputerorderdetailAjax()" class="btn btn-primary">保存</button>
                    </div>
                  </div>
<!--表单-->                                   

<!--put data here end-->

              </div>
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
    
      <!--sidebar end-->

</section>




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="http://localhost:8080/sbgl/js/jquery.js"></script>
<script src="http://localhost:8080/sbgl/js/loader.min.js"></script>
<script src="http://localhost:8080/sbgl/js/select2.js"></script>
<script src="http://localhost:8080/sbgl/js/bootstrap-hover-dropdown.min.js"></script>
<script src="http://localhost:8080/sbgl/js/computer/computerorderdetail.js"></script>
</body>
</html>