<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>机房管理 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">

	<header id="header-wrap"><!--header-wrap-->
	
	#set($currentPageModule="computer")
	#parse("include/includeAdminHeader.vm")

	</header><!--/#header-wrap-->

<section id="main-wrap" class="clearfix"><!--main-wrap-->

          <div class="hero-unit clearfix">
            <i class="icon-warning-sign pull-left"></i>
            <div class="pull-left">
              <h1>出错啦！</h1>
              <p>访问的页面不存在，请检查后再试！</p>
            </div>
          </div>
</section>





    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>

<script>
$('.tab-drop.nav-pills').tabdrop();


$('span[rel=popover-rent]').popover({
        trigger: "click",
        html: true,
        placement: 'bottom',
        content: function() {
          var thisData = $(this).data();
          var rentNo = thisData.rentNo;
          var rentTime = "2013年10月18日 上午";
          var rentRemark = "无备注";
          var rentStatusInfo = "预约状态说明";
          var classStatus = "label label-default";

          if (thisData.rentStatus == "done") {
            classStatus = "label label-default";
            rentStatusInfo = "已完成。";
          } else if (thisData.rentStatus == "waiting") {  // 等待审核
            classStatus = "label label-info";
            rentStatusInfo = "等待你提交预约申请/或等待用户提交预约申请。（根据实际情况修改）";
          } else if (thisData.rentStatus == "success") {  // 审核通过，进行中
            classStatus = "label label-success";
            rentStatusInfo = "审核已通过，预约进行中。";
          } else if (thisData.rentStatus == "warning") {  // 审核未成功，异常
            classStatus = "label label-warning";
            rentStatusInfo = "预约被驳回，需修改后重新提交预约（根据实际情况修改）";
          };
          var html =
              '<div id="popover-rent-wrapper" style="display: none">' +
                '<div id="rent-wrap">' +
                  '<div class="rent-info">' +
                    '<div class="rent-num">预约号：<a href="#">' + rentNo + '</a></div>' +
                    '<div class="rent-time"><i class="icon-time"></i> ' + rentTime + '</div>' +
                    '<div class="rent-remark"><i class="icon-pencil"></i> ' + rentRemark +
                  '</div>' +
                  '<hr>' +
                  '<div class="rent-status"><span class="' + classStatus + '">状态</span> ' + rentStatusInfo + '</div>' +
                '</div>' +
              '</div>';
          return $(html).html();
        } 
      });

</script>
<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
</body>
</html>