<div class="post-list-warp"><!--post-list-warp start-->  
    <div class="post-list">              
		<div class="hero-unit clearfix">
		  <i class="icon-warning-sign pull-left"></i>
		  <div class="pull-left">
		    <h1>${textmap.error_message_title}</h1>
		    <p>$actionMsg</p>
		  </div>
		</div>
    </div>
</div>
