<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />


<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">

 
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">添加</div>
              <div class="tips">在此页面下添加新的</div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
 <!--Add 表单-->             
               <form  role="form" class="form-horizontal" action="${webbaseurl}/addComputerorderclassruleAjax.action" method="post" name="AddComputerorderclassruleForm">
		<div class="form-group">
                    <label for="label_computerorderclassrule_id" class="col-lg-2 control-label">id</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_id" name="id"  placeholder="id">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_name" class="col-lg-2 control-label">name</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_name" name="name"  placeholder="name">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_classname" class="col-lg-2 control-label">classname</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_classname" name="classname"  placeholder="classname">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_classid" class="col-lg-2 control-label">classid</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_classid" name="classid"  placeholder="classid">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_orderstarttime" class="col-lg-2 control-label">orderstarttime</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_orderstarttime" name="orderstarttime"  placeholder="orderstarttime">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_orderendtime" class="col-lg-2 control-label">orderendtime</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_orderendtime" name="orderendtime"  placeholder="orderendtime">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_availableordertime" class="col-lg-2 control-label">availableordertime</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_availableordertime" name="availableordertime"  placeholder="availableordertime">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_createuserid" class="col-lg-2 control-label">createuserid</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_createuserid" name="createuserid"  placeholder="createuserid">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_createtime" class="col-lg-2 control-label">createtime</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_createtime" name="createtime"  placeholder="createtime">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computerorderclassrule_status" class="col-lg-2 control-label">status</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computerorderclassrule_status" name="status"  placeholder="status">
                    </div>
                  </div>
	              <!--
                 <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button type="submit" class="btn btn-primary">添 加</button>
                   </div>
               </div>
			   -->
				  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button onClick = "addComputerorderclassruleAjax()" class="btn btn-primary">添 加</button>
                   </div>
               </div>
               </form>
              

<!--Add 表单-->                    

              </div>			  
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
       <!--sidebar start-->
      <div id="lside">
        <form class="form-group">
          <input type="text" class="form-control" placeholder="搜索">
          <i class="icon-search"></i>
        </form>
        <div class="list-group">
          <a href="${webbaseurl}/manageComputerorderclassruleFull.action" class="list-group-item">管理</a>
          <a href="${webbaseurl}/computer/computerorderclassruleAdd.vm" class="list-group-item">添加</a>
          
        </div>
      </div>
      <!--sidebar end-->

</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/computer/computerorderclassrule.js"></script>
</body>
</html>