#set($user = $request.getSession().getAttribute("loginUser"))
#set($currentposition= "myorder")
#set($currentpositiontext= ${textmap.myorderposition})	
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$!{textmap.ordersuccess_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body>
<header id="header-wrap"><!--header-wrap-->
  
	#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">
	
	#parse("include/includeSiteNavi.vm")
	
	#set($currentPageType="orderfinish")
	#parse("include/includeOrderspaceSubNavi.vm")
	
  </div>
</header><!--/#header-wrap-->


<section id="main-wrap"><!--main-wrap-->
  <!--main-content start-->
  <div id="main-content" class="clearfix">
    <div class="container">            
      <div class="row">
        <div class="hero-unit media">
          <i class="icon-ok-sign pull-left"></i>
          <div class="media-body">
            <h1>$!{textmap.ordersuccess_submitted_successfully}</h1>
            <p>$!{textmap.ordersuccess_detail_1}<code>${computerorderSerialnumber}</code>$!{textmap.ordersuccess_detail_2}</p>
            <p>$!{textmap.ordersuccess_post}</p>
            <p><a class="btn btn-large btn-link" href="${webbaseurl}/viewMineComputerorderList.${strutsaction}"><i class="icon-angle-right icon-large"></i> ${textmap.ordersuccess_myorder}</a></p>
          
			
		  </div>
        </div>                                    
      </div>
    </div>
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>

</body>
</html>