            <div class="panel panel-default table-responsive"><!--管理内容从这里开始 -->

				<div id="tableDiv">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>

						<th class="id">序号</th>
						<th class="computerhomeworkname">作业名称</th>
             
						<th class="computerorderclassrulename">规则名称</th>
					 </tr>
                </thead>
                <tbody>					
							

#foreach($tempcomputerhomework in $computerhomeworkFullList)
                  <tr>
                   <td><input class="chk" type="checkbox" name="chk-list" value="$!tempcomputerhomework.computerhomeworkid"></td>
					<!--修改属性-->
                    <td>$!tempcomputerhomework.computerhomeworkid<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button" action-type="editComputerhomeworkFillIn" 
						
						
																								data-id="$!tempcomputerhomework.computerhomeworkid"                           
												data-name="$!tempcomputerhomework.computerhomeworkname"                           
												data-computerorderclassruleid="$!tempcomputerhomework.computerhomeworkcomputerorderclassruleid"                           
												data-content="$!tempcomputerhomework.computerhomeworkcontent"                           
												data-createuserid="$!tempcomputerhomework.computerhomeworkcreateuserid"                           
												data-attachment="$!tempcomputerhomework.computerhomeworkattachment"                           
												data-status="$!tempcomputerhomework.computerhomeworkstatus"                           
												data-createtime="$!tempcomputerhomework.computerhomeworkcreatetime"                           
												>修改</a></td>    
					
					<td><a href="${webbaseurl}/viewComputerhomeworkFull.action?computerhomeworkid=$tempcomputerhomework.computerhomeworkid">$!tempcomputerhomework.computerhomeworkname</a></td>
					<td>$!tempcomputerhomework.computerorderclassrulename</td>
<!--						
<td>$!tempcomputerhomework.computerhomeworkid</td>
<td>$!tempcomputerhomework.computerhomeworkname</td>
<td>$!tempcomputerhomework.computerhomeworkcomputerorderclassruleid</td>
<td>$!tempcomputerhomework.computerhomeworkcontent</td>
<td>$!tempcomputerhomework.computerhomeworkcreateuserid</td>
<td>$!tempcomputerhomework.computerhomeworkattachment</td>
<td>$!tempcomputerhomework.computerhomeworkstatus</td>
<td>$!tempcomputerhomework.computerhomeworkcreatetime</td>
<td>$!tempcomputerhomework.computerorderclassruleid</td>
<td>$!tempcomputerhomework.computerorderclassrulename</td>
<td>$!tempcomputerhomework.computerorderclassruleclassname</td>
<td>$!tempcomputerhomework.computerorderclassruleclassid</td>
<td>$!tempcomputerhomework.computerorderclassruleorderstarttime</td>
<td>$!tempcomputerhomework.computerorderclassruleorderendtime</td>
<td>$!tempcomputerhomework.computerorderclassruleavailableordertime</td>
<td>$!tempcomputerhomework.computerorderclassrulecreateuserid</td>
<td>$!tempcomputerhomework.computerorderclassrulecreatetime</td>
<td>$!tempcomputerhomework.computerorderclassrulestatus</td>
					<td><a href="${webbaseurl}/viewComputerhomeworkFull.action?id=$!tempcomputerhomework.computerhomeworkid">查看</a></td> 
					<td><a href="${webbaseurl}/deleteComputerhomeworkFull.action?id=$!tempcomputerhomework.computerhomeworkid">删除</a></td>			
					<td><a href="${webbaseurl}/editComputerhomeworkFull.action?id=$!tempcomputerhomework.computerhomeworkid">修改</a></td>
-->                 
                  </tr>
#end                      
                </tbody>
              </table>
				  </div><!--end table div-->
			  
			  </div> 
			  
			  	 <!--page bar-->
			  #parse("include/includePagebar.vm")  
			  
			  
			  				<script>
totalpage = $page.totalpagenum;
currentpagenum = $page.pageNo;
computerorderStatus : $computerorderStatus;
</script>