<%@ page language="java" import="java.util.*,com.sbgl.app.entity.*" pageEncoding="utf-8"%>
<%@taglib prefix="s" uri="/struts-tags"%>
<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://localhost:8080/sbgl/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="http://localhost:8080/sbgl/css/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
             

              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="record"><strong>XX</strong>条记录</li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">最新</a></li>
                      <li><a href="#">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
			
<!--data start--> 

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">属性名称</th>
                    <th class="f-category">属性值</th>
                    
                  </tr>
                </thead>
                <tbody>					
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>computercategoryparentcomputercategoryid</td>
                    <td>${computercategoryFull.computercategoryparentcomputercategoryid}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>computercategoryname</td>
                    <td>${computercategoryFull.computercategoryname}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>computercategorycreatetime</td>
                    <td>${computercategoryFull.computercategorycreatetime}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>computercategorycreateuserid</td>
                    <td>${computercategoryFull.computercategorycreateuserid}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>computercategorystatus</td>
                    <td>${computercategoryFull.computercategorystatus}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>parentcomputercategoryid</td>
                    <td>${computercategoryFull.parentcomputercategoryid}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>parentcomputercategoryparentcomputercategoryid</td>
                    <td>${computercategoryFull.parentcomputercategoryparentcomputercategoryid}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>parentcomputercategoryname</td>
                    <td>${computercategoryFull.parentcomputercategoryname}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>parentcomputercategorycreatetime</td>
                    <td>${computercategoryFull.parentcomputercategorycreatetime}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>parentcomputercategorycreateuserid</td>
                    <td>${computercategoryFull.parentcomputercategorycreateuserid}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>parentcomputercategorystatus</td>
                    <td>${computercategoryFull.parentcomputercategorystatus}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>loginuserid</td>
                    <td>${computercategoryFull.loginuserid}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>loginusername</td>
                    <td>${computercategoryFull.loginusername}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>loginusercreatetime</td>
                    <td>${computercategoryFull.loginusercreatetime}</td>                    
                  </tr>               
		          <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="3"></td>
                    <td>loginuserstatus</td>
                    <td>${computercategoryFull.loginuserstatus}</td>                    
                  </tr>               
                </tbody>
              </table>
			   
			   
<!--data end--> 

            </div>
          </div>

      </div>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
 <div class="panel-body">
                 <!-- form start -->
               <form action="" method="" name="AddComputercategoryForm">
				 <input type="text" class="form-control" id="#input_computercategory_${attrName}" value="$!computercategoryFull.$attrName}">
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">computercategoryparentcomputercategoryid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="computercategoryparentcomputercategoryid" value="$!computercategoryFull.computercategoryparentcomputercategoryid}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">computercategoryname</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="computercategoryname" value="$!computercategoryFull.computercategoryname}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">computercategorycreatetime</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="computercategorycreatetime" value="$!computercategoryFull.computercategorycreatetime}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">computercategorycreateuserid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="computercategorycreateuserid" value="$!computercategoryFull.computercategorycreateuserid}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">computercategorystatus</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="computercategorystatus" value="$!computercategoryFull.computercategorystatus}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">parentcomputercategoryid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="parentcomputercategoryid" value="$!computercategoryFull.parentcomputercategoryid}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">parentcomputercategoryparentcomputercategoryid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="parentcomputercategoryparentcomputercategoryid" value="$!computercategoryFull.parentcomputercategoryparentcomputercategoryid}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">parentcomputercategoryname</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="parentcomputercategoryname" value="$!computercategoryFull.parentcomputercategoryname}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">parentcomputercategorycreatetime</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="parentcomputercategorycreatetime" value="$!computercategoryFull.parentcomputercategorycreatetime}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">parentcomputercategorycreateuserid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="parentcomputercategorycreateuserid" value="$!computercategoryFull.parentcomputercategorycreateuserid}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">parentcomputercategorystatus</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="parentcomputercategorystatus" value="$!computercategoryFull.parentcomputercategorystatus}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">loginuserid</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="loginuserid" value="$!computercategoryFull.loginuserid}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">loginusername</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="loginusername" value="$!computercategoryFull.loginusername}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">loginusercreatetime</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="loginusercreatetime" value="$!computercategoryFull.loginusercreatetime}">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">loginuserstatus</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="loginuserstatus" value="$!computercategoryFull.loginuserstatus}">
                    </div>
                  </div>

               </form>
               <!-- form end -->
			  <!-- submit start -->
			   <div class="form-group">   
                  <div class="col-lg-offset-2 col-lg-4">
                     <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                     <button type="submit" onClick = "updateComputercategoryAjax()" class="btn btn-primary">添 加</button>
                   </div>
               </div>
				<!-- submit end -->


              </div>
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
    
      <!--sidebar end-->

</section>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="http://localhost:8080/sbgl/js/jquery.js"></script>
<script src="http://localhost:8080/sbgl/js/loader.min.js"></script>
<script src="http://localhost:8080/sbgl/js/select2.js"></script>
<script src="http://localhost:8080/sbgl/js/bootstrap-hover-dropdown.min.js"></script>
</body>
</html>