<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 订单审核</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	
	#set($currentPageModule="computer")
	#parse("include/includeAdminHeader.vm")
	
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
           
      <div class="control-bar clearfix"><!--control-bar start-->
        <div class="title pull-left">审核预约</div>     
        <div class="pagination pull-right">
          <ul>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="上一个"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="下一个"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>       
      </div><!--control-bar end-->
              
      <div class="row">
            <div class="control-bar col-md-12">
              <div class="title">$!computerorderFull.computerordertitle  </div>
            </div>        
            <div class="col-md-7">      
				
                #parse("include/includeComputerorderList.vm") 
				
            </div>
			
            <div class="col-md-5">
                <div class="thumbnail">
                  <div class="hd">
                    <h3>状态</h3>
                  </div>
                  <div class="caption">
                      <div class="status">
						订单当前状态：#set($curstatus = $computerorderFull.computerorderstatus)
					  #parse("computer/includeComputerorderStatus.vm")
					  <br>
					  #if($computerorderFull.computerorderstatus ==$ComputerorderStatusAduitReject)
						驳回原因：$!computerorderFull.computerorderrejectreason
						#end

                      </div>
                      <hr>
                      <strong>审核人可能进行的操作:</strong><br>  
					
						<div class="orderstatus">
                      <a class="btn btn-primary" onclick="auditOrder( $computerorderFull.computerorderid ,$!ComputerorderStatusAduitPass)" href="#" role="button">审核通过</a>
                      <a class="btn btn-white" data-toggle="modal" href="#reject" role="button">驳 回</a>
                      <a class="btn btn-white" data-toggle="modal" href="#delete" role="button">删 除</a>
                        </div>
				  </div>
                </div>
                <div class="thumbnail">
                  <div class="hd">
                    <h3>详情</h3>
                  </div>
                  <div class="caption">
                    <div class="rent-detail">
                      <span class="rent-user"><strong>申请者：<a rel="popover" class="lk" href="#" data-original-title="" title="">我</a></strong></span>
                      <br>
					  <span class="rent-num"><strong> 预约号：$!computerorderFull.computerorderserialnumber</strong></span>
					  #if($computerorderFull.computerorderordertype == $ClassOrder)
						 <div class="rent-contact">预约方式：课程预约</div>
						#else
							 <div class="rent-contact">联系方式：个人预约</div>
						#end
                     <!-- <div class="rent-contact">联系方式：XXXXXX</div> -->
                      <div class="rent-remark"><i class="icon-pencil"></i> $computerorderFull.computerorderremark</div>
                    </div>
                    <hr>
                  </div>                        
                  
				 
				  
				  <ul class="media-list">
                    <li class="media">
                      <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                        <img src="../img/photo.jpg" width="28" height="28" class="img-rounded">
                      </a>
                      <div class="media-body">
                        <div class="media-heading"><h5><a rel="popover" href="#" data-original-title="" title="">教师名</a></h5><span class="post-time" title="详细时间">下午4:53</span></div>
                        <p>审核老师发的审核驳回说明</p>
                      </div>
                    </li>
                  </ul>
                                            
                </div>               
            </div>                    
      </div>




</section>

<!-- Modal -->
<div id="reject" class="modal hide fade" role="dialog" aria-labelledby="myRejectLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myRejectLabel">驳回预约</h3>
  </div>
  <div class="modal-body">
      <p>您确定要驳回XXX的预约申请吗？确定驳回预约申请，请在下方填写驳回原因，系统会将告知申请者。</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputRejectReason" class="col-xs-3 control-label">驳回原因</label>
          <div class="col-xs-7">
            <textarea class="form-control" id="inputRejectReason" rows="3" placeholder="请在此填写驳回申请的原因。"></textarea>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" onclick="auditOrder( $computerorderFull.computerorderid ,$!ComputerorderStatusAduitReject)" >确 定</button>
  </div>
</div>


<div id="delete" class="modal hide fade" role="dialog" aria-labelledby="myDeleteLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myDeleteLabel">删除预约</h3>
  </div>
  <div class="modal-body">
      <p>您确定要删除XXX的预约申请吗？删除预约申请后系统将会通知申请人该条预约申请已被删除，但申请人无法得知删除原因。</p>
      <p>如申请者因提交的设备无法满足需要重新申请预约，建议使用驳回功能。</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" onclick="auditOrder( $computerorderFull.computerorderid ,$!ComputerorderStatusAduitDel)" >确 定</button>
  </div>
</div>


<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="../img/cover-img.jpg" class="cover" alt="封面照片">
  <div class="cover-layout"></div>
  <div class="avatar"><img src="../img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>
<script src="${jsDomain}/bfa.js"></script>

<script>


//审核预约
function auditOrder(id,status,rejectreason){
	var _this = $(this);
	jQuery.ajax({  
		url: '${webbaseurl}/auditComputerorderAjax.action',  
		type: "post",
		data:{
			id:id,
			status:status,
			rejectreason:$("#inputRejectReason").val()
		},
		dataType: 'json',
		success: function(data){
			var returnJson = jQuery.parseJSON(data); 
			if(returnJson.flag == 1){
				var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
				//_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				$('.modal').modal('hide');
			}else{
				var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
			}
		}		  	  
	});
}
//end audit



</script>
</body>
</html>