#set($user = $request.getSession().getAttribute("loginUser"))
#set($currentposition= "myorder")
#set($currentpositiontext= ${textmap.myorderposition})	

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$!{textmap.computerorderindex_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body>
<header id="header-wrap"><!--header-wrap-->

	#parse("include/includeGlobalHeader.vm")
	
  <div class="nav-wrap clearfix">

	#parse("include/includeSiteNavi.vm")	
		
	#set($currentPageType="computerorderSpace")
	#parse("include/includeOrderspaceSubNavi.vm")
  </div>

</header><!--/#header-wrap-->
<section id="main-wrap"><!--main-wrap-->
  <!--main-content start-->
  <div id="main-content" class="clearfix">
      <!--equip-wrap start-->
   
          
          <div class="col3 container">
            <div class="control-bar clearfix">
              <div class="title pull-left">$!{textmap.computerorderindex_underwayorder_title}</div>
              <a class="btn btn-primary pull-right" href="${webbaseurl}/toComputerIndividualorderPage.${strutsaction}" role="button" data-toggle="modal">$!{textmap.computerorderindex_createorder}</a>
            </div>
            <div class="row">
      
#set($computerorderFullListSize = $computerorderEntityList.size() - 1)
##判断数据是否为空
#if($computerorderFullListSize>=0)
#set($computerorderFullListRegion = [0..$computerorderFullListSize])
##取出所有的属性名称
#foreach($tempKey in $computerorderFullListRegion)
			#set($temp = $computerorderEntityList.get($tempKey))				
           #set($curstatus = $temp.computerorderstatus)
			#if($temp.type==1)      
			<div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/viewComputerorder.action?computerorderId=$temp.computerorderid">$!temp.computerordertitle</a></h4>
                        </div>
                        <div class="t-r rent-type label label-important"><i class="icon-desktop icon-large"></i> 
							$!{textmap.computerorderindex_computerorder}<br>
							#set($currentcomputerorderordertype = $temp.type)
							#parse("include/includeComputerorderType.vm")
						</div>
						<div class="caption">
                          <div class="rent-info">
                            <div class="rent-num">$!{textmap.computerorderindex_ordernum}：$!temp.computerorderserialnumber</div>
							
                            <div class="rent-time"><i class="icon-time"></i> $date.format("yyyy-MM-dd",$!temp.computerordercreatetime)</div>
                            #if($temp.computerorderremark && $temp.computerorderremark.length()>0)
							<div class="rent-remark"><i class="icon-pencil"> $!temp.computerorderremark</i></div>
							#end
						  </div>
                          <hr />
						  #if($!temp.computerorderstatus == $ComputerorderStatusAduitWait)
                          <div class="rent-status clearfix">
							
                            <div class="status pull-left"><span class="label label-info">$!{textmap.computerorderindex_status}</span> #parse("include/includeComputerorderStatusIndex.vm")</div>
                          </div>
						  #elseif($!temp.computerorderstatus == $ComputerorderStatusAduitReject)
							  <div class="rent-status clearfix">
                            <div class="status pull-left"><span class="label label-warning">$!{textmap.computerorderindex_status}</span> #parse("include/includeComputerorderStatusIndex.vm")</div>
                            <a class="btn btn-white pull-right" action-type="" action-data="" href="${webbaseurl}/viewComputerorder.action?computerorderId=$temp.computerorderid">$!{textmap.computerorderindex_orderreject_checkreason}</a>
                          </div>
						  #else
							  <div class="rent-status clearfix">
                            <div class="status pull-left"><span class="label label-error">$!{textmap.computerorderindex_status}</span> #parse("include/includeComputerorderStatusIndex.vm")</div>
                          </div>
							#end
                        </div>
                      </div>                  
                  </div>
			#else
				<div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/checkComputerhomework.${strutsaction}?computerhomeworkid=$temp.computerhomeworkid">$!temp.computerhomeworkname</a></h4>
                        </div>
                        <div class="t-r rent-type label label-important"><i class="icon-desktop icon-large"></i> 
							$!{textmap.computerorderindex_computerorder}<br>
							#set($currentcomputerorderordertype = $temp.type)
							#parse("include/includeComputerorderType.vm")
						</div>
						<div class="caption">
                          <div class="rent-info">
							 <div class="rent-time"><i class="icon-time"></i> $date.format("yyyy-MM-dd",$!temp.computerorderclassruleorderstarttime) $date.format("yyyy-MM-dd",$!temp.computerorderclassruleorderendtime)</div>
                             <div class="rent-remark"><i class="icon-pencil"></i> $temp.computerhomeworkcontent</div>							
                          </div>
                          <hr />
						  
						   <div class="rent-status clearfix">
                            <div class="status pull-left"><span class="label label-info">$!{textmap.computerorderindex_status}</span> $!{textmap.computerorderstatus_wait_apply}</div>
                            <a class="btn btn-white pull-right" action-type="" action-data="" href="${webbaseurl}/toComputerClassorderPage.${strutsaction}?computerhomeworkid=$temp.computerhomeworkid">${textmap.computerorderindex_startorder}</a>
                          </div>
              
                         
                        </div>
                      </div>                  
                  </div>
			#end
			
#end
#end				  
              
            </div>
            
            <hr class="hr-block" />
            <div class="control-bar clearfix">
              <div class="title pull-left">$!{textmap.computerorderindex_finishorder_title}</div>
            </div>
            <div class="row thumbnails">

#set($computerorderFullListSize = $computerorderFullFinishList.size() - 1)
##判断数据是否为空
#if($computerorderFullListSize>=0)
#set($computerorderFullListRegion = [0..$computerorderFullListSize])
##取出所有的属性名称
#foreach($tempKey in $computerorderFullListRegion)
			#set($temp = $computerorderFullFinishList.get($tempKey))				
                  <div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/viewComputerorder.action?computerorderId=$temp.computerorderid">$!temp.computerordertitle</a></h4>
                        </div>
                        <div class="t-r rent-type label label-important"><i class="icon-desktop icon-large"></i> 
							$!{textmap.computerorderindex_computerorder}<br>
							#set($currentcomputerorderordertype = $temp.computerorderordertype)
							#parse("include/includeComputerorderType.vm")
						</div>
                        <div class="caption">
                          <div class="rent-info">
                            
							   <div class="rent-num">$!{textmap.computerorderindex_ordernum}：$!temp.computerorderserialnumber</div>							
                            <div class="rent-time"><i class="icon-time"></i> $date.format("yyyy-MM-dd",$!temp.computerordercreatetime)</div>
							
							#if($temp.computerorderremark && $temp.computerorderremark.length()>0)
                            <div class="rent-remark"><i class="icon-pencil"> $!temp.computerorderremark</i></div>
							#end
						  
						  </div>
                        </div>
                      </div>                  
                  </div>
#end
#end				
				

            </div>            
            

          </div>
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bfa.js"></script>


</body>
</html>