<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 机房预约确认</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>
<body>
<header id="header-wrap"><!--header-wrap-->

	#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">	
	#parse("include/includeSiteNavi.vm")	
	#set($currentPageType="computerHomeworkSpace")
	#parse("include/includeHomeworkspaceSubNavi.vm") 
  </div>
  
</header><!--/#header-wrap-->

<section id="main-wrap"><!--main-wrap-->
           
	  <!--main-content start-->
  <div id="main-content" class="clearfix">
	
      <div class="control-bar clearfix"><!--control-bar start-->
        <div class="title pull-left">作业查看</div>     
        <div class="pagination pull-right">
          <ul>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="上一个"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="下一个"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>       
      </div><!--control-bar end-->
              
      <div class="row">
            <div class="control-bar col-md-12">
              <div class="title">$!computerorderFull.computerordertitle  </div>
            </div>        
            <div class="col-md-5">                  
                <div class="thumbnail">
                  <div class="hd clearfix">
                    <h3 class="pull-left">允许借的PC</h3>
                    <div class="pull-right">共XX种，XX个器材</div>
                  </div>
                  <div class="media-list">

#set($computerorderclassruledetailFullListSize = $computerorderclassruledetailFullList.size() - 1)
##判断数据是否为空
#if($computerorderclassruledetailFullListSize>=0)
#set($computerorderclassruledetailFullListRegion = [0..$computerorderclassruledetailFullListSize])
##取出所有的属性名称
#foreach($tempKey in $computerorderclassruledetailFullListRegion)
			#set($temp = $computerorderclassruledetailFullList.get($tempKey))
                  <div class="media">                        
                      <div class="group-hd">
                        <div class="group-name pull-left">$temp.computermodelname</div>
                        <div class="group-line">
                          <hr>
                        </div>
                      </div>
                      <a class="pull-left" data-toggle="modal" href="#equip-detail" role="button">
                        <img src="${computerImagePath}/$temp.computermodelpicpath" width="100" height="100">
                      </a>                  
                    </div>
#end
#end


                
					  </div>
                </div>                  
            </div>
           

			
			<div class="col-md-7">
               
                <div class="thumbnail">
                  <div class="hd">
                    <h3>详情</h3>
                  </div>
                  <div class="caption">
                    <div class="rent-detail">
						<div class="name">作业名称：$computerhomeworkFull.computerhomeworkname</div>
					 
						<div class="name">预约时间：$date.format("yyyy年MM月dd日",$computerhomeworkFull.computerorderclassruleorderstarttime) 至 $date.format("yyyy年MM月dd日",$computerhomeworkFull.computerorderclassruleorderendtime)</div>
					
						<div class="name">总共学时：$computerhomeworkFull.computerorderclassruleavailableordertime</div>
						
						<div class="name">课程名称：$courseFull.coursename</div>
						
						<div class="name">教师名称：$courseFull.teacherloginusername</div>
						
						
	
                      <div class="rent-remark"><i class="icon-pencil"></i></div>
                    </div>
                    <hr>
                  </div>                        
                 
				  <!--
				  <ul class="media-list">
                    <li class="media">
                      <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                        <img src="../img/photo.jpg" width="28" height="28" class="img-rounded">
                      </a>
                      <div class="media-body">
                        <div class="media-heading"><h5><a rel="popover" href="#" data-original-title="" title="">$courseFull.teacherloginusername</a></h5><span class="post-time" title="详细时间">下午4:53</span></div>
                       
                      </div>
                    </li>
                  </ul>
                   -->                         
                </div>               
            </div> 	
	</div>

				</div>


</section>



<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="../img/cover-img.jpg" class="cover" alt="封面照片">
  <div class="cover-layout"></div>
  <div class="avatar"><img src="../img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<script>

function auditOrder(id,status){
	jQuery.ajax({  
		url: '${webbaseurl}/auditComputerorderAjax.action',  
		type: "post",
		data:{id:id,status:status},
		dataType: 'json',
		success: function(data){
		
			var returnJson = jQuery.parseJSON(data); 
			
			if(returnJson.flag == 1){
				alert(returnJson.reason);
			}
		}		  	  
		});

}

</script>
</body>
</html>