<!--这个页面没用，已经废弃-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>我的机房作业 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />	

#parse("include/includePageCompatibility.vm")

</head>

<body>
<header id="header-wrap"><!--header-wrap-->

	#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">	
	#parse("include/includeSiteNavi.vm")	
	#set($currentPageType="computerHomeworkSpace")
	#parse("include/includeHomeworkspaceSubNavi.vm") 
  </div>
  
</header><!--/#header-wrap-->

<section id="main-wrap"><!--main-wrap-->
  <!--main-content start-->
  <div id="main-content" class="clearfix">
      <!--equip-wrap start-->
   
          
          <div class="col3 container">
            <div class="control-bar clearfix">
              <div class="title pull-left">新作业</div>
              <a class="btn btn-primary pull-right" href="#selectRentType" role="button" data-toggle="modal">创建预约</a>
            </div>
            <div class="row">
      
#set($computerhomeworkFullListSize = $newComputerhomeworkFullList.size() - 1)
##判断数据是否为空
#if($computerhomeworkFullListSize>=0)
#set($computerhomeworkFullListRegion = [0..$computerhomeworkFullListSize])
##取出所有的属性名称
#foreach($tempKey in $computerhomeworkFullListRegion)
			#set($temp = $newComputerhomeworkFullList.get($tempKey))
                  <div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/checkComputerhomework.${strutsaction}?computerhomeworkid=$temp.computerhomeworkid">$!temp.computerhomeworkname</a></h4>
                        </div>
						<!--
                        <div class="t-r label label-important"><i class="icon-camera-retro icon-large"></i> <a href="${webbaseurl}/toComputerClassorderPage.${strutsaction}?computerhomeworkid=$temp.computerhomeworkid"">课程预约</a></div>
                        -->
						<div class="caption">
                          <div class="rent-info">
                           
                            <div class="rent-time"><i class="icon-time"></i>  </div>
                            <div class="rent-remark"><i class="icon-pencil"></i> $temp.computerhomeworkcontent</div>
                          </div>
                          <hr />
						  
						   <div class="rent-status clearfix">
                            <div class="status pull-left"><span class="label label-info">状态</span> 等待你提交预约申请</div>
                            <a class="btn btn-white pull-right" action-type="" action-data="" href="${webbaseurl}/toComputerClassorderPage.${strutsaction}?computerhomeworkid=$temp.computerhomeworkid">开始预约</a>
                          </div>
              
                         
                        </div>
                      </div>                  
                  </div>
#end
#end				  
               
            </div>
            
            <hr class="hr-block" />
            <div class="control-bar clearfix">
              <div class="title pull-left">已完成</div>
            </div>
            <div class="row thumbnails">
      
#set($computerhomeworkFullListSize = $finishComputerhomeworkFullList.size() - 1)
##判断数据是否为空
#if($computerhomeworkFullListSize>=0)
#set($computerhomeworkFullListRegion = [0..$computerhomeworkFullListSize])
##取出所有的属性名称
#foreach($tempKey in $computerhomeworkFullListRegion)
			#set($temp = $finishComputerhomeworkFullList.get($tempKey))
                  <div class="col-3">                  
                      <div class="thumbnail">
                        <div class="hd clearfix">
                          <h4 class="pull-left"><a class="lk" href="${webbaseurl}/checkComputerhomework.action?computerhomeworkid=$temp.computerhomeworkid">$!temp.computerhomeworkname</a></h4>
                        </div>
						<!--
                        <div class="t-r label label-important"><i class="icon-camera-retro icon-large"></i> 机房预约</div>
						-->
                        <div class="caption">
                          <div class="rent-info">
                           
                              <div class="rent-time"><i class="icon-time"></i>  </div>
                            <div class="rent-remark"><i class="icon-pencil"></i> $temp.computerhomeworkcontent</div>
                          </div>
                          <hr />
                         
                        </div>
                      </div>                  
                  </div>
#end
#end		
				  
				  
            </div>            
            

          </div>
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/loader.min.js"></script>
<script src="js/bootstrap-hover-dropdown.min.js"></script>
<script src="js/select2.js"></script>
<script src="js/bfa.js"></script>

<!-- Modal -->
<div id="selectRentType" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="selectRentTypeLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">选择</h3>
  </div>
  <div class="modal-body">
    <div class="text-center clearfix">
      <a class="btn btn-white btn-large btn-type pull-left" href="设备预约页.html"><h4><i class="icon-camera-retro icon-2x"></i></h4><h3>设备预约</h3></a>
      <a class="btn btn-white btn-large btn-type pull-right" href="机房预约页.html"><h4><i class="icon-desktop icon-2x"></i></h4><h3>机房预约</h3></a>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
  </div>
</div>

<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="img/cover-img.jpg" class="cover" alt="封面照片" />
  <div class="cover-layout"></div>
  <div class="avatar"><img src="img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

</body>
</html>