<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	
	#set($currentPageModule="computer")
	#parse("include/includeAdminHeader.vm")

</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
		<!-- Navi -->
		#set($currentPageType="computerInfoManage")
		#parse("computer/includeComputerManageNavi.vm")
		
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">分类管理</div>
              <div class="tips">在此页面下你可以添加新的设备分类，也可以管理现有设备分类。……</div>
              <div class="operate-item pull-left">
                <a href="#add-equip-category" class="btn btn-primary" data-toggle="modal" role="button">添加分类</a>
                <a href="#" class="btn btn-white s-h" action-type="deleteComputercategory"><i class="icon-trash"></i>删除</a>
              </div>
	
            </div><!--control-bar end-->				 
           
		
		<div id="formComputerorderdetailManage">
					
			<div class="panel panel-default">

			
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">中文名称</th>
					<th class="name">英文名称</th>
                    <th class="model-num">型号数量</th>
                    <th class="equip-num">设备数量</th>
                  </tr>
                </thead>
                <tbody>
				
	
#set($listSize = $computercategoryFullListCh.size() - 1)
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
			#set($ch = $computercategoryFullListCh.get($tempKey))
			#set($en = $computercategoryFullListEn.get($tempKey))
			
			#set($modelSize = $computercategoryModelSize.get($tempKey) )
			#set($computerSize = $computercategoryComputerSize.get($tempKey) )
			
			##set($tempKey = $tempKey*2)
			  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!ch.computercategorycomputercategorytype"></td>
                    <td>$!ch.computercategoryname<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-equip-category" role="button" action-type="editComputercategoryFillIn" 
						data-id="$!ch.computercategoryid" data-name="$!ch.computercategoryname"
						data-iden="$!en.computercategoryid" data-nameen="$!en.computercategoryname">修改</a></td>
					<td>$!en.computercategoryname</td>
                    <td>$modelSize</td>
                    <td>$computerSize</td>
                  </tr>
        
#end
#end
                </tbody>
              </table>
			  <!--page -->

			  <!-- end page -->
			  

            </div>
			
			 <!--page bar-->
			  #parse("include/includePagebar.vm")
			
				</div><!--end refresh-->
			
          </div>

      </div>
      <!--equip-wrap end-->

  
	    
	  
	  
	  
	  <!--sidebar start-->
       ##includeSidebar("parameters=currentWebpage:computercategoryFullManage.vm,currentModel:computer,currentType:computerManageInfo")
    

	   #set($currentWebpage ="computercategoryFullManage.vm")
	   #parse("computer/includeComputerManageSidebar.vm")

	  <!--sidebar end-->
	  
	  

</section>


<!-- Modal -->
<!-- 添加分类信息 -->
<div id="add-equip-category" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">添加分类</h3>
  </div>
  <div class="modal-body">
    <p>添加设备分类目录。</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputCategoryNameCh" class="col-xs-3 control-label">分类名称</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="addComputercategoryNameCh" placeholder="设备类型（如：工作站）">
        </div>
      </div>
	   <div class="form-group">
        <label for="inputCategoryNameEn" class="col-xs-3 control-label">分类英文名称</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="addComputercategoryNameEn" placeholder="">
        </div>
      </div>
	  <!--
      <div class="form-group">
        <label for="inputFaCategoryId" class="col-xs-3 control-label">所属父级分类</label>
        <div class="col-xs-7">
          <select class="select2 select-white form-control" id="inputFaCategoryId">
            <option value="-1">无</option>
            <option value="2">工作站</option>
            <option value="6">调色器</option>
          </select>
        </div>
      </div>
	  -->
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="addComputercategoryButton">确 定</button>
  </div>
</div>      
<!--end 添加分类信息 -->

<!-- 修改分类信息 -->
<div id="modify-equip-category" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  <div class="modal-body">
    <p>修改当前选定的设备分类目录。</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="modifyCategoryName" class="col-xs-3 control-label">分类中文名称</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="inputEditComputercategoryName" placeholder="工作站">
        </div>
      </div>
	  <div class="form-group">
        <label for="modifyCategoryName" class="col-xs-3 control-label">分类英文名称</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="inputEditComputercategoryNameEn" placeholder="工作站">
        </div>
      </div>
	  <!--获取父级分类 
	  <!--
      <div class="form-group">
        <label for="modifyFaCategoryId" class="col-xs-3 control-label">所属父级分类</label>
        <div class="col-xs-7">
          <select class="select2 select-white form-control" id="modifyFaCategoryId" disabled>
            <option value="-1">无</option>
		
			#foreach($parcomputercategory in $parentcomputercategoryList)
            <option value="$!parcomputercategory.id">$!parcomputercategory.name</option>        
			#end
          </select>
        </div>
      </div>
	  -->	
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="updateComputercategoryButton">确 定</button>
  </div>
</div>
<!--end 修改分类信息 -->
  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>


<script>
	
	var editComputercategoryId;
	var editComputercategoryIdEn;

//当前页
var currentpagenum=$pageNo;
var totalpage=$page.totalpagenum;

//换页时调用方法
$(function() {
    $('.page-bar').jqPagination({
    	link_string	: '/?page={page_number}',
    	max_page	: totalpage,
    	current_page:currentpagenum,
    	paged: function(page) {     	  
    		currentpagenum = page;
    		refreshComputercategoryTable();
    
    	}
    });
});	
	
	//添加分类
	$("body").on("click", "button[action-type|=addComputercategoryButton]", function() {
		var _this = $(this);
		var actionUrl = "${webbaseurl}/addComputercategoryAjax.${strutsaction}";
		var inputAddCategoryNameCh = $('#addComputercategoryNameCh').val();	
		var inputAddCategoryNameEn = $('#addComputercategoryNameEn').val();	
		
		var postData = {			
			"inputAddCategoryNameCh": inputAddCategoryNameCh,		
			"inputAddCategoryNameEn": inputAddCategoryNameEn,		
		}
			
		jQuery.ajax({  
			url:actionUrl,  
			type:"post",
			data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
					//置空
					$('#addComputercategoryNameCh').val("");	
					$('#addComputercategoryNameEn').val("");	
					refreshComputercategoryTable();
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
			}	
		});		  	  

	})
	//end add


	//选择修改按钮，填充修改弹出框
	$("body").on("click", "a[action-type|=editComputercategoryFillIn]", function() {
		var myData = $(this).data();
		$("#inputEditComputercategoryName").val(myData.name);	
		$("#inputEditComputercategoryNameEn").val(myData.nameen);	
		editComputercategoryId = myData.id;
		editComputercategoryIdEn= myData.iden;
		
	})
	
	//更新分类
	$("body").on("click", "button[action-type|=updateComputercategoryButton]", function() {
		var _this = $(this);
		var modelName = $("#inputEditComputercategoryName").val();
		var modelNameEn = $("#inputEditComputercategoryNameEn").val();
			var postData = {
				"computercategoryIdCh": editComputercategoryId,
				"computercategoryNameCh": modelName,
				"computercategoryIdEn": editComputercategoryIdEn,
				"computercategoryNameEn": modelNameEn
			}
			
			jQuery.ajax({  
			    url:"${webbaseurl}/updateComputercategoryAjax.${strutsaction}",  
			    type:"post",
			    data:postData,
			  	dataType: 'json',
				success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
					console.log('this is :'+$(this));
					refreshComputercategoryTable();
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
		}	});		  	  

	})
	//end update
	
	
	
	var idsForDel;	
	/* 处理CheckBox选中事件用于删除处理 */
	/*$("input[type='checkbox']").click(function() {
		//var num = 0;
		idsForDel = "";
		
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + ";";
			}
		});
	});*/
	
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}
		
		idsForDel = "";
		
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + ";";
			}
		});
	});
	//end checkbox
	
	//delete分类
	$("body").on("click", "a[action-type|=deleteComputercategory]", function() {
		idsForDel = idsForDel.substring(0,idsForDel.length-1);
		var postData = {
			computercategoryIdsForDel:idsForDel
		}
		//alert(idsForDel);
		jQuery.ajax({  
		    url:"${webbaseurl}/deleteComputercategoryFullAjax.${strutsaction}",  
		    type:"post",
		    data:postData,
			  dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});	
					refreshComputercategoryTable();
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
					console.log('this is :'+$(this));
					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
				
			}		  	  
		});
	})
	//end delete 分类
	

	function refreshComputercategoryTable(){
		jQuery.ajax({  
		    url: '${webbaseurl}/manageComputercategoryFull.action',  
		    type: "post",
		    data:{pageNo:currentpagenum,callType:'ajaxType'},
		    dataType: 'html',
			success: function(data){
				$("#formComputerorderdetailManage").html(data);

				    $('.page-bar').jqPagination({
    	link_string	: '/?page={page_number}',
    	max_page	: totalpage,
    	current_page:currentpagenum,
    	paged: function(page) {     	  
    		currentpagenum = page;
    		refreshComputercategoryTable();
    
    	}
    });
				
				
				$(".s-h").css({
					"visibility": "hidden",
					"opacity": "0",
					"filter": "alpha(opacity=0)"
				});
				
			}		  	  
		});		
	}

	
</script>
</body>
</html>
