
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />


#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	
	#set($currentPageModule="computer")
	#parse("include/includeAdminHeader.vm")

</header><!--/#header-wrap-->

<section id="main-wrap" class="clearfix"><!--main-wrap-->
     <!-- Navi -->
		#set($currentPageType="computerInfoManage")
		#parse("computer/includeComputerManageNavi.vm")
	  
	  
	  
	  
	  
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">型号管理</div>
			  <div class="tips">在此页面下管理设备型号。设备型号包含每种设备的基本信息，如设备名、设备图片、设备资料介绍等等。</div>
              <div class="filter category-filter">
                <select id="select-categories" name="computercategoryid" style="width:130px" class="select2" onchange="getComputermodelById(this[selectedIndex].value);">
					<option value="0" data-foo="fa">全部分类</option>
#set($computercategoryListSize = $computercategoryList.size() - 1)
##判断数据是否为空
#if($computercategoryListSize>=0)
#set($computercategoryListRegion = [0..$computercategoryListSize])
##取出所有的属性名称
#foreach($tempKey in $computercategoryListRegion)	
	#set($temp = $computercategoryList.get($tempKey))
					 <option value="$temp.computercategorytype" data-foo="fa" >$temp.name</option>
#end
#end         
                </select>
				
				
				
              </div>
              <div class="operate-item pull-left">
                <a href="#add-equip-model" class="btn btn-primary" data-toggle="modal" role="button">添加型号</a>
                <a href="#" class="btn btn-white s-h" action-type="deleteComputermodelButton"><i class="icon-trash"></i> 删除</a>
              </div>

			  <!--page bar
			  #parse("include/includePagebar.vm")
			  -->
			  
            </div><!--control-bar end-->
			
			
		
		
			<div id ="refreshComputermodelTable">
				<div class="panel panel-default">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                        <th class="name">设备名称(型号)</th>
                        <th class="categories">分类</th>
    					    <th class="categories">总共数量</th>
                        <th class="categories">可借数量</th>
                        <th class="describe">描述</th>
                      </tr>
                    </thead>
                    <tbody>
    				<!--数据开始 -->
    #set($listSize = $computermodelFullListCh.size() - 1)
    ##判断数据是否为空
    #if($listSize>=0)
    #set($listRegion = [0..$listSize])
    ##取出所有的属性名称
    #foreach($tempKey in $listRegion)
    			#set($ch = $computermodelFullListCh.get($tempKey))
    			#set($en = $computermodelFullListEn.get($tempKey))
                      <tr>
                        <td><input class="chk" type="checkbox" name="chk-list" value="$!ch.computermodelcomputermodeltype"></td>
                        <td>$!ch.computermodelname<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-model" role="button" 
    						action-type="editComputermodelFillIn" 
    						data-id="$!ch.computermodelid" 
    						data-name="$!ch.computermodelname" 
    						data-computercategoryid = "$!ch.computermodelcomputercategoryid" 
    						data-description="$!ch.computermodeldescription" 
    						
    						data-iden="$!en.computermodelid" 
    						data-nameen="$!en.computermodelname" 
    						data-computercategoryiden="$!en.computermodelcomputercategoryid" 
    						data-descriptionen="$!en.computermodeldescription">修改</a></td>
                         <td>$!ch.computercategoryname</td>
    					 <td>$!ch.computermodelcomputercount</td>
                         <td>$!ch.computermodelavailableborrowcountnumber</td>
                        <td>$!ch.computermodeldescription</td>
                      </tr>
    #end
    #end
                    
                    </tbody>
                  </table>
            	</div><!--panel-->
			  
			  <!--page bar-->
			  #parse("include/includePagebar.vm")
			
			</div><!-- end refreshComputermodelTable -->

			</div><!--admin-content-->

      </div>
      <!--equip-wrap end-->

	  
	  
	  
	  
	  
	  
     #set($currentWebpage ="computermodelFullManage.vm")
	 #parse("computer/includeComputerManageSidebar.vm")
      <!--sidebar end-->
	  
	  
	  

</section>


<!-- 修改-->
<!-- Modal -->
<div id="modify-model" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  <div class="modal-body">
    <p>这里是修改设备型号相关说明。</p>
    <form class="form-horizontal" role="form">
       <input id="editComputermodelIdCh" type="hidden" val=""></input>
	   <input id="editComputermodelIdEn" type="hidden" val=""></input>
      <div class="form-group">
        <label for="modifyEModelName" class="col-xs-3 control-label">型号名</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="inputEditComputermodelName" placeholder="Arri Alexa Plus">
        </div>
      </div>
	  <div class="form-group">
        <label for="modifyEModelName" class="col-xs-3 control-label">型号英文名</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="editComputermodelNameEn" placeholder="Arri Alexa Plus">
        </div>
      </div>
      <div class="form-group">
        <label for="modifyEquipCategory" class="col-xs-3 control-label">分类</label>
        <div class="col-xs-7">
         <select class="select2 select-white form-control" id="inputEditComputermodelComputercategoryid">
#set($computercategoryListSize = $computercategoryList.size() - 1)
##判断数据是否为空
#if($computercategoryListSize>=0)
#set($computercategoryListRegion = [0..$computercategoryListSize])
##取出所有的属性名称
#foreach($tempKey in $computercategoryListRegion)	
	#set($temp = $computercategoryList.get($tempKey))
					 <option value="$temp.computercategorytype" data-foo="fa" >$temp.name</option>
#end
#end 
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="modifyEDescribe" class="col-xs-3 control-label">描述</label>
        <div class="col-xs-7">
          <textarea class="form-control" id="editComputermodelDescriptionCh" rows="3"></textarea>
        </div>
      </div>
    <div class="form-group">
        <label for="modifyEDescribe" class="col-xs-3 control-label">英文描述</label>
        <div class="col-xs-7">
          <textarea class="form-control" id="editComputermodelDescriptionEn" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="modifyEPic" class="col-xs-3 control-label">图片</label>
        <div class="col-xs-7">
          <span class="btn btn-white file-input-button">
              <i class="icon-plus"></i>
              <span>添加图片</span>
              <input id="modifyEPic" type="file" name="files[]" multiple>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="updateComputermodelButton">确 定</button>
  </div>
</div>
<!-- end 修改-->

<!-- 添加 Model-->
<div id="add-equip-model" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">添加设备型号</h3>
  </div>
  <div class="modal-body">
    <p>这里是添加设备型号相关说明。</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="addComputermodelName" class="col-xs-3 control-label">型号</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="addComputermodelName" placeholder="设备型号（如：Dell">
        </div>
      </div>
	  <div class="form-group">
        <label for="addComputermodelName" class="col-xs-3 control-label">型号英文名称</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="addComputermodelNameEn" placeholder="Model（Like：Dell">
        </div>
      </div>
      <div class="form-group">
        <label for="inputECategory" class="col-xs-3 control-label">分类</label>
        <div class="col-xs-7">
          <select class="select2 select-white form-control" id="addComputermodelComputercategoryid">
			 
#set($computercategoryListSize = $computercategoryList.size() - 1)
##判断数据是否为空
#if($computercategoryListSize>=0)
#set($computercategoryListRegion = [0..$computercategoryListSize])
##取出所有的属性名称
#foreach($tempKey in $computercategoryListRegion)	
	#set($temp = $computercategoryList.get($tempKey))
					 <option value="$temp.computercategorytype" data-foo="fa" >$temp.name</option>
#end
#end 
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEDescribe" class="col-xs-3 control-label">描述</label>
        <div class="col-xs-7">
          <textarea class="form-control" id="addComputermodelDescription" rows="3"></textarea>
        </div>
      </div>
	  <div class="form-group">
        <label for="inputEDescribe" class="col-xs-3 control-label">英文描述</label>
        <div class="col-xs-7">
          <textarea class="form-control" id="addComputermodelDescriptionEn" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEPic" class="col-xs-3 control-label">图片</label>
        <div class="col-xs-7">
          <span class="btn btn-white file-input-button">
              <i class="icon-plus"></i>
              <span>添加图片</span>
              <input id="inputAddModelPic" type="file" name="file" action-type="showFileNameForAdd" multiple>
				
          </span>
		  <span id="imgFileForAdd"></span>
		  <span id="inputAddModelPicSpan"></span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="addComputermodelButton">确 定</button>
  </div>
</div>
<!-- end 添加 Model-->


     <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>

<script src="${jsDomain}/fileUpload/vendor/jquery.ui.widget.js"></script>
<script src="${jsDomain}/fileUpload/jquery.iframe-transport.js"></script>
<script src="${jsDomain}/jquery.fileupload.js"></script>


<script>



	
	//当前页
	var currentpagenum=1;
	var totalpage=$page.totalpage;
	var computercategorytype = 0;
	var idsForDel;	
	
	var uploadPicPath;
	


	//add 分类
	$("body").on("click", "button[action-type|=addComputermodelButton]", function() {
		var _this = $(this);
		
		var actionUrl = "${webbaseurl}/addComputermodelAjax.${strutsaction}";
			
		//公共属性
		var addComputermodelComputercategoryid = $('#addComputermodelComputercategoryid').val();
			
		//私有属性
		var addComputermodelName = $('#addComputermodelName').val();			
		var addComputermodelDescription = $('#addComputermodelDescription').val();
			
		var addComputermodelNameEn = $('#addComputermodelNameEn').val();
		var addComputermodelDescriptionEn = $('#addComputermodelDescriptionEn').val();
	//	var	inputAddModelPic = $('#inputAddModelPic').val();
	//	alert(inputAddModelPic);
	//	return;
		var postData = {
				"computercategoryid":addComputermodelComputercategoryid,				
				"name": addComputermodelName,				
				"computermodelNameEn": addComputermodelNameEn,
				"description": addComputermodelDescription,
				"computermodelDescriptionEn":addComputermodelDescriptionEn,
				"picpath":uploadPicPath
		}
		
		jQuery.ajax({  
		    url : actionUrl,  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});		
					refreshComputermodelTable();
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				}
			}//end success		  	  
		});
	})
	//end add 分类
	
	
	
	//选择修改按钮，填充修改弹出框
	$("body").on("click", "a[action-type|=editComputermodelFillIn]", function() {
		var myData = $(this).data();
	//	console.log(data);
	//	alert(myData.computercategoryid);
		$('#inputEditComputermodelComputercategoryid').select2("val",myData.computercategoryid);
		
		$("#inputEditComputermodelName").val(myData.name);		
		$('#editComputermodelDescriptionCh').val(myData.description);
		
		$("#editComputermodelNameEn").val(myData.nameen);
		
		$('#editComputermodelDescriptionEn').val(myData.descriptionen);
		
		$('#editComputermodelIdCh').val(myData.id);
		$('#editComputermodelIdEn').val(myData.iden);
	//	alert(myData.descriptionen);
		
	});
		
	//updateComputermodelButton
	$("body").on("click", "button[action-type|=updateComputermodelButton]", function() {
		var _this = $(this);
		
		var actionUrl = "${webbaseurl}/updateComputermodelAjax.${strutsaction}";
		var editComputermodelName = $('#inputEditComputermodelName').val();
		var editComputermodelComputercategoryid = $('#inputEditComputermodelComputercategoryid').val();
		var editComputermodelDescription = $('#editComputermodelDescriptionCh').val();			
			
		var editComputermodelNameEn = $('#editComputermodelNameEn').val();			
		var editComputermodelDescriptionEnVal = $('#editComputermodelDescriptionEn').val();			
			
		var editComputermodelIdChVal = $('#editComputermodelIdCh').val();
		var editComputermodelIdEnVal = $('#editComputermodelIdEn').val();
			
		var postData = {
				"id": editComputermodelIdChVal,
				"name": editComputermodelName,				
				"computercategoryid":editComputermodelComputercategoryid,
				"description": editComputermodelDescription,
				
				"computermodelIdEn": editComputermodelIdEnVal,
				"computermodelNameEn":editComputermodelNameEn,
				"computermodelDescriptionEn":editComputermodelDescriptionEnVal
		}
		jQuery.ajax({  
		    url : actionUrl,  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});		
					refreshComputermodelTable();
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				}
			}		  	  
		});
	});
	//end updateComputermodelButton


// checkbox
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}
		
		idsForDel = "";
		
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + ";";
			}
		});
	});
	//end checkbox
	
	

	//delete分类
	$("body").on("click", "a[action-type|=deleteComputermodelButton]", function() {
		idsForDel = idsForDel.substring(0,idsForDel.length-1);
		var postData = {
			computermodelIdsForDel: idsForDel
		}
		//alert(idsForDel); 
		jQuery.ajax({  
		    url:"${webbaseurl}/deleteComputermodelFullAjax.${strutsaction}",  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});		
					refreshComputermodelTable();
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});					
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框
					refreshComputermodelTable();
				}
			}		  	  
		});
	});
	//end delete 分类
	
	

	//换页时调用方法
$(function() {
    $('.page-bar').jqPagination({
    	link_string	: '/?page={page_number}',
    	max_page	: totalpage,
    	current_page:currentpagenum,
    	paged: function(page) {     	  
    		currentpagenum = page;
    		refreshComputermodelTable();
    
    	}
    });
});	
	
	//刷新数据
	function refreshComputermodelTable(){
			jQuery.ajax({  
		    url: '${webbaseurl}/manageComputermodelFull.action',  
		    type: "post",
		    data:{	
					pageNo:currentpagenum,
					callType:'ajaxType',
					computercategorytype : computercategorytype
					},
		    dataType: 'html',
			success: function(data){
				$("#refreshComputermodelTable").html(data);
				
				    $('.page-bar').jqPagination({
    	link_string	: '/?page={page_number}',
    	max_page	: totalpage,
    	current_page:currentpagenum,
    	paged: function(page) {     	  
    		currentpagenum = page;
    		refreshComputermodelTable();
    
    	}
    });
				
				$(".s-h").css({
					"visibility": "hidden",
					"opacity": "0",
					"filter": "alpha(opacity=0)"
				});
			}		  	  
			});		
	}//end refresh

	
//更改model的分类	
function getComputermodelById(tcomputercategoryid){
	//alert(tcomputercategoryid);
	computercategorytype = tcomputercategoryid;
	currentpagenum = 1;
	refreshComputermodelTable();
}

 

	//上传图片
	$("#inputAddModelPic").fileupload({

    	url: "${webbaseurl}/uploadImageFile.${strutsaction}",
        dataType: 'json',
		formData :{	
			'imgType':'computermodelimg'
		},		
        done: function (e, data) {
			//localFileName = data.files[0].name;
			//savedFileName = data.result.savedFileName;
			
			
			var returnJson = jQuery.parseJSON(data.result.returnStr); 
			if(returnJson.flag == 1){
				//var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});	
				$("#inputAddModelPicSpan").html("图片上传成功");
				uploadPicPath = returnJson.reason;
				
				//$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
			}else{
				//alert(returnJson.reason);
				var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});					
				$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框
				
			}
        }
    });
	
	
</script>
</body>
</html>
