<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 设备管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="${cssDomain}/jqpagination.css" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="computer")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
		<!-- Navi -->
		#set($currentPageType="computerInfoManage")
		#parse("computer/includeComputerManageNavi.vm")
      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">添加设备</div>
              <div class="tips">在此页面下添加新的设备。…………</div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
              
                <form id="addComputerForm" action="javascript:void(0)" class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">设备号</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="inputAddComputerSerialnumber" placeholder="设备编号">
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="inputEquipId" class="col-lg-2 control-label">设备英文号</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="inputAddComputerSerialnumberEn" placeholder="设备编号">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEquipCategory" class="col-lg-2 control-label">分类</label>
                    <div class="col-lg-4">
                      <select class="select2 select-white form-control" id="inputAddComputerComputercategoryid">    
#set($categorylistSize = $computercategoryFullList.size() - 1)
##判断数据是否为空
#if($categorylistSize>=0)
#set($listRegion = [0..$categorylistSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
			#set($ch = $computercategoryFullList.get($tempKey))						
                        <option value="$!ch.computercategorycomputercategorytype" >$!ch.computercategoryname</option>                      
                        
#end
#end						
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEquipModelId" class="col-lg-2 control-label">所属设备型号</label>
                    <div class="col-lg-4">
                      <select class="select2 select-white form-control" id="inputAddComputerComputermodelid">
#if($categorylistSize > 0)						
#set($categorymodelList = $computermodelByComputercategoryId.get($computercategoryFullList.get(0).computercategorycomputercategorytype))								
#set($categorymodelListSize = $categorymodelList.size() - 1)
##判断数据是否为空
#if($categorymodelListSize>= 0)
#set($listRegion = [0..$categorymodelListSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
			#set($ch = $categorymodelList.get($tempKey))						
                        <option value="$!ch.computermodeltype" >$!ch.name</option>                      
                        
#end
#end
#end ## 分类数量
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEquipStatus" class="col-lg-2 control-label">状态</label>
                    <div class="col-lg-4">
                      <select class="select2 select-white form-control" id="inputAddComputerStatus">						
						#foreach($tempcs in ${computerstatusList})	
							<option value="$!tempcs.id">$!tempcs.name</option>
						#end
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEquipRemark" class="col-lg-2 control-label">备注</label>
                    <div class="col-lg-4">
                      <textarea class="form-control" id="inputAddComputerRemark" rows="3"></textarea>
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="inputEquipRemark" class="col-lg-2 control-label">英文备注</label>
                    <div class="col-lg-4">
                      <textarea class="form-control" id="inputAddComputerRemarkEn" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button class="btn btn-primary"  action-type="addComputerButton">添 加</button>					
                    </div>
                  </div>
                </form>
          
              </div>
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
    
	
	
	
	
	
	
	
	  #set($currentWebpage ="computerAdd.vm")
	  #parse("computer/includeComputerManageSidebar.vm")
      <!--sidebar end-->
	
	
	
	

</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>

<!--[if lt IE 10]>
  <script src="${jsDomain}/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->



	
<script>	

$("#inputAddComputerComputercategoryid").on("change", function(e) {
	var html;
	$("#s2id_inputAddComputerComputermodelid > a > span").empty();
	
	
	
	#foreach($categoryfull in ${computercategoryFullList})	
   		#set($modelList = $computermodelByComputercategoryId.get($categoryfull.computercategorycomputercategorytype))
		
		if (e.val == $!categoryfull.computercategorycomputercategorytype) {
		html = '';
			#foreach($model in ${modelList})
               html +=   '<option value="$!model.computermodeltype">$!model.name</option> ';
			#end
		
		$("#inputAddComputerComputermodelid").empty();
		$("#inputAddComputerComputermodelid").append(html);
		
		#if($modelList.size() > 0)
			$("#s2id_inputAddComputerComputermodelid > a > span").append("$!modelList.get(0).name");
		#end
		
		}
		
	#end
	
	//log("change "+JSON.stringify({val:e.val, added:e.added, removed:e.removed}));
})
	

	
	//add computer
	$("body").on("click", "button[action-type|=addComputerButton]", function() {
	

		var postData = {
			"serialnumber":$('#inputAddComputerSerialnumber').val(),	
			"computerSerialnumberEn":$('#inputAddComputerSerialnumberEn').val(),
	 		"computermodelid":$('#inputAddComputerComputermodelid').val(),
	 		//"createuserid":createuserid,
	 		"computerstatusid":$('#inputAddComputerStatus').val(),
	 		"remark":$('#inputAddComputerRemark').val(),
			"computerRemarkEn":$('#inputAddComputerRemarkEn').val(),
			"status" : 0
		};
		//alert("add computer");
		jQuery.ajax({  
		    url:"${webbaseurl}/addComputerAjax.${strutsaction}",  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});
					clearAddForm();
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框					
				}
				if(returnJson.flag == 0){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});					
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				}
				
			
			}		  	  
		});
	});
	//end add computer
	
	function clearAddForm(){
		$('#inputAddComputerSerialnumber').val("");
		$('#inputAddComputerSerialnumberEn').val("");
		
	 	$('#inputAddComputerComputermodelid').select2("val","0");
		$('#inputAddComputerComputercategoryid').select2("val","0");
		
	 	$('#inputAddComputerStatus').select2("val","0");
	 	$('#inputAddComputerRemark').val("");
		$('#inputAddComputerRemarkEn').val("");
		
		
		var html;
		$("#s2id_inputAddComputerComputermodelid > a > span").empty();
		html = '';
#if($categorylistSize > 0)						
#set($categorymodelList = $computermodelByComputercategoryId.get($computercategoryFullList.get(0).computercategorycomputercategorytype))								
#set($categorymodelListSize = $categorymodelList.size() - 1)
##判断数据是否为空
#if($categorymodelListSize>= 0)
#set($listRegion = [0..$categorymodelListSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
			#set($ch = $categorymodelList.get($tempKey))
			 html +=   '<option value="$!ch.computermodeltype">$!ch.name</option> '; 
#end
#end
#end ## 分类数量
		
		$("#inputAddComputerComputermodelid").empty();
		$("#inputAddComputerComputermodelid").append(html);
		
		#if($modelList.size() > 0)
			$("#s2id_inputAddComputerComputermodelid > a > span").append("$!categorymodelList.get(0).name");
		#end
		
		
		
	}
	
</script>	

</body>
</html>