<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">

<a href="${webbaseurl}/manageComputerorderdetailFull.action">返回管理</a>
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    

            <div class="panel panel-default">

				
              <table class="table table-hover">
                <thead>
                  <tr>
                    
                    <th class="name">属性</th>
                    <th class="f-category">属性值</th>
                    
                  </tr>
                </thead>
                <tbody>					
		          <tr>
                   
                    <td>computerorderdetailid</td>
                    <td>$!computerorderdetailFull.computerorderdetailid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderdetailcomputerorderid</td>
                    <td>$!computerorderdetailFull.computerorderdetailcomputerorderid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderdetailcomputerid</td>
                    <td>$!computerorderdetailFull.computerorderdetailcomputerid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderdetailcomputernumber</td>
                    <td>$!computerorderdetailFull.computerorderdetailcomputernumber</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderdetailcreatetime</td>
                    <td>$!computerorderdetailFull.computerorderdetailcreatetime</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderdetailborrowday</td>
                    <td>$!computerorderdetailFull.computerorderdetailborrowday</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderdetailborrowperiod</td>
                    <td>$!computerorderdetailFull.computerorderdetailborrowperiod</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderdetailstatus</td>
                    <td>$!computerorderdetailFull.computerorderdetailstatus</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderid</td>
                    <td>$!computerorderdetailFull.computerorderid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderserialnumber</td>
                    <td>$!computerorderdetailFull.computerorderserialnumber</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderuserid</td>
                    <td>$!computerorderdetailFull.computerorderuserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerordercreatetime</td>
                    <td>$!computerorderdetailFull.computerordercreatetime</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderstatus</td>
                    <td>$!computerorderdetailFull.computerorderstatus</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerid</td>
                    <td>$!computerorderdetailFull.computerid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerserialnumber</td>
                    <td>$!computerorderdetailFull.computerserialnumber</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computercomputermodelid</td>
                    <td>$!computerorderdetailFull.computercomputermodelid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computercreatetime</td>
                    <td>$!computerorderdetailFull.computercreatetime</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computercreateuserid</td>
                    <td>$!computerorderdetailFull.computercreateuserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerstatus</td>
                    <td>$!computerorderdetailFull.computerstatus</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerremark</td>
                    <td>$!computerorderdetailFull.computerremark</td>                    
                  </tr>               
                </tbody>
              </table>
			  
			  
            </div>
          </div>

      </div>
     

</section>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/computer/computerorderdetail.js"></script>
<script>
	$("#modifyFaCategoryId").select2("val","2");
</script>
</body>
</html>