
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">中文名称</th>
					<th class="name">英文名称</th>
                    <th class="model-num">型号数量</th>
                    <th class="equip-num">设备数量</th>
                  </tr>
                </thead>
                <tbody>
				
	
#set($listSize = $computercategoryFullListCh.size() - 1)
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
			#set($ch = $computercategoryFullListCh.get($tempKey))
			#set($en = $computercategoryFullListEn.get($tempKey))
			
			#set($modelSize = $computercategoryModelSize.get($tempKey) )
			#set($computerSize = $computercategoryComputerSize.get($tempKey) )
			
			##set($tempKey = $tempKey*2)
			  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!ch.computercategorycomputercategorytype"></td>
                    <td>$!ch.computercategoryname<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-equip-category" role="button" action-type="editComputercategoryFillIn" 
						data-id="$!ch.computercategoryid" data-name="$!ch.computercategoryname"
						data-iden="$!en.computercategoryid" data-nameen="$!en.computercategoryname">修改</a></td>
					<td>$!en.computercategoryname</td>
                    <td>$modelSize</td>
                    <td>$computerSize</td>
                  </tr>
        
#end
#end
                </tbody>
              </table>
			  
			  				<script>
totalpage = $page.totalpagenum;
currentpagenum = $page.pageNo;
</script>			