<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
</head>

<body id="admin">

<a href="${webbaseurl}/manageComputerorderconfigFull.action">返回管理</a>
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    

            <div class="panel panel-default">

				
              <table class="table table-hover">
                <thead>
                  <tr>
                    
                    <th class="name">属性</th>
                    <th class="f-category">属性值</th>
                    
                  </tr>
                </thead>
                <tbody>					
		          <tr>
                   
                    <td>computerorderconfigid</td>
                    <td>$!computerorderconfigFull.computerorderconfigid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigopenorder</td>
                    <td>$!computerorderconfigFull.computerorderconfigopenorder</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigorderperiod</td>
                    <td>$!computerorderconfigFull.computerorderconfigorderperiod</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigorderperiodnum</td>
                    <td>$!computerorderconfigFull.computerorderconfigorderperiodnum</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigmaxorderday</td>
                    <td>$!computerorderconfigFull.computerorderconfigmaxorderday</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigorderintroduction</td>
                    <td>$!computerorderconfigFull.computerorderconfigorderintroduction</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigcreateuserid</td>
                    <td>$!computerorderconfigFull.computerorderconfigcreateuserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigcreatetime</td>
                    <td>$!computerorderconfigFull.computerorderconfigcreatetime</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigcurrentconfig</td>
                    <td>$!computerorderconfigFull.computerorderconfigcurrentconfig</td>                    
                  </tr>               
		          <tr>
                   
                    <td>computerorderconfigstatus</td>
                    <td>$!computerorderconfigFull.computerorderconfigstatus</td>                    
                  </tr>               
		          <tr>
                   
                    <td>createuserid</td>
                    <td>$!computerorderconfigFull.createuserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>createuseruserid</td>
                    <td>$!computerorderconfigFull.createuseruserid</td>                    
                  </tr>               
		          <tr>
                   
                    <td>createusername</td>
                    <td>$!computerorderconfigFull.createusername</td>                    
                  </tr>               
		          <tr>
                   
                    <td>createuserroletype</td>
                    <td>$!computerorderconfigFull.createuserroletype</td>                    
                  </tr>               
		          <tr>
                   
                    <td>createuserprivilege</td>
                    <td>$!computerorderconfigFull.createuserprivilege</td>                    
                  </tr>               
		          <tr>
                   
                    <td>createuserpassword</td>
                    <td>$!computerorderconfigFull.createuserpassword</td>                    
                  </tr>               
                </tbody>
              </table>
			  
			  
            </div>
          </div>

      </div>
     

</section>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/computer/computerorderconfig.js"></script>
<script>
	$("#modifyFaCategoryId").select2("val","2");
</script>
</body>
</html>