<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 消息中心</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />
<link href="${jsDomain}/editor/themes/default/default.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/jqpagination.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
	#set($currentPageModule="teach")
	#parse("include/includeAdminHeader.vm")
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">            
            <div class="control-bar clearfix"><!--control-bar start-->
              <div class="title pull-left">管理</div>
			  <div class="tips">在此页面下管理信息，如设备的添加、修改、删除及维护等。</div>
			  <!--
				将来用于根据课程查找作业
              <div class="filter category-filter">
                <select id="select-categories" style="width:130px" class="select2">
                  <option value="0" data-foo="fa">全部分类</option>
                  <option value="1" data-foo="fa">摄影摄像机</option>
                  <option value="2" data-foo="sub">数字摄影机</option>
                  <option value="3" data-foo="sub">数字摄像机</option>
                  <option value="4" data-foo="sub">单反</option>
                  <option value="5" data-foo="fa">灯具</option>
                  <option value="6" data-foo="sub">钨丝灯</option>
                  <option value="7" data-foo="sub">镝灯</option>
                </select>
				
              </div>
              -->
              <div class="operate-item pull-left">
                <a href="${webbaseurl}/toAddComputerorderclassrulePage.${strutsaction}" class="btn btn-primary">添加</a>
                <a href="#" class="btn btn-white s-h" action-type="deleteComputerhomeworkButton"><i class="icon-trash"></i> 删除</a>
              </div>

			<!--
			分页区域
              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">最新</a></li>
                      <li><a href="#">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
              -->
            </div> <!--control-bar end-->
			
			
            <div class="panel panel-default table-responsive"><!--管理内容从这里开始 -->
			
				<!--刷新数据-->
			<div id="refreshComputerhomeworkTableDiv">
				
			<div id="tableDiv">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>

						<th class="id">序号</th>
						<th class="computerhomeworkname">作业名称</th>
             
						<th class="computerorderclassrulename">规则名称</th>
					 </tr>
                </thead>
                <tbody>					
							

#foreach($tempcomputerhomework in $computerhomeworkFullList)
                  <tr>
                   <td><input class="chk" type="checkbox" name="chk-list" value="$!tempcomputerhomework.computerhomeworkid"></td>
					<!--修改属性-->
                    <td>$!tempcomputerhomework.computerhomeworkid<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button" action-type="editComputerhomeworkFillIn" 
						
						
																								data-id="$!tempcomputerhomework.computerhomeworkid"                           
												data-name="$!tempcomputerhomework.computerhomeworkname"                           
												data-computerorderclassruleid="$!tempcomputerhomework.computerhomeworkcomputerorderclassruleid"                           
												data-content="$!tempcomputerhomework.computerhomeworkcontent"                           
												data-createuserid="$!tempcomputerhomework.computerhomeworkcreateuserid"                           
												data-attachment="$!tempcomputerhomework.computerhomeworkattachment"                           
												data-status="$!tempcomputerhomework.computerhomeworkstatus"                           
												data-createtime="$!tempcomputerhomework.computerhomeworkcreatetime"                           
												>修改</a></td>    
					
					<td><a href="${webbaseurl}/viewComputerhomeworkFull.action?computerhomeworkid=$tempcomputerhomework.computerhomeworkid">$!tempcomputerhomework.computerhomeworkname</a></td>
					<td>$!tempcomputerhomework.computerorderclassrulename</td>
<!--						
<td>$!tempcomputerhomework.computerhomeworkid</td>
<td>$!tempcomputerhomework.computerhomeworkname</td>
<td>$!tempcomputerhomework.computerhomeworkcomputerorderclassruleid</td>
<td>$!tempcomputerhomework.computerhomeworkcontent</td>
<td>$!tempcomputerhomework.computerhomeworkcreateuserid</td>
<td>$!tempcomputerhomework.computerhomeworkattachment</td>
<td>$!tempcomputerhomework.computerhomeworkstatus</td>
<td>$!tempcomputerhomework.computerhomeworkcreatetime</td>
<td>$!tempcomputerhomework.computerorderclassruleid</td>
<td>$!tempcomputerhomework.computerorderclassrulename</td>
<td>$!tempcomputerhomework.computerorderclassruleclassname</td>
<td>$!tempcomputerhomework.computerorderclassruleclassid</td>
<td>$!tempcomputerhomework.computerorderclassruleorderstarttime</td>
<td>$!tempcomputerhomework.computerorderclassruleorderendtime</td>
<td>$!tempcomputerhomework.computerorderclassruleavailableordertime</td>
<td>$!tempcomputerhomework.computerorderclassrulecreateuserid</td>
<td>$!tempcomputerhomework.computerorderclassrulecreatetime</td>
<td>$!tempcomputerhomework.computerorderclassrulestatus</td>
					<td><a href="${webbaseurl}/viewComputerhomeworkFull.action?id=$!tempcomputerhomework.computerhomeworkid">查看</a></td> 
					<td><a href="${webbaseurl}/deleteComputerhomeworkFull.action?id=$!tempcomputerhomework.computerhomeworkid">删除</a></td>			
					<td><a href="${webbaseurl}/editComputerhomeworkFull.action?id=$!tempcomputerhomework.computerhomeworkid">修改</a></td>
-->                 
                  </tr>
#end                      
                </tbody>
              </table>
				  </div><!--end table div-->
			      <!--page -->
			  <div class="pagination">
				<a href="#" class="first" data-action="first">&laquo;</a>
				<a href="#" class="previous" data-action="previous">&lsaquo;</a>
				<input type="text" readonly="readonly" data-max-page="$!page.totalpage" />
				<a href="#" class="next" data-action="next">&rsaquo;</a>
				<a href="#" class="last" data-action="last">&raquo;</a>
			  </div><!-- end page -->
			  
            </div><!--end refreshComputerhomeworkTableDiv 刷新数据-->
			
			</div> 
          </div>

      </div>
      <!--equip-wrap end-->
	  
	  
             <!--sidebar start-->
     	  #set($currentWebpage="computerhomeworkManage")
		  #parse("include/includeTeachSidebar.vm")
      <!--sidebar end-->




</section>





<!-- Modal -->
<div id="modify-status" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  
  <div class="modal-body">
      <p>修改信息。</p>
      <form class="form-horizontal" role="form">
		
							
			<div class="form-group">
          <label for="id" class="col-xs-3 control-label">id</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditComputerhomeworkid" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="name" class="col-xs-3 control-label">name</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditComputerhomeworkname" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="computerorderclassruleid" class="col-xs-3 control-label">computerorderclassruleid</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditComputerhomeworkcomputerorderclassruleid" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="content" class="col-xs-3 control-label">content</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditComputerhomeworkcontent" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="createuserid" class="col-xs-3 control-label">createuserid</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditComputerhomeworkcreateuserid" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="attachment" class="col-xs-3 control-label">attachment</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditComputerhomeworkattachment" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="status" class="col-xs-3 control-label">status</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditComputerhomeworkstatus" placeholder="" value="">
          </div>
        </div>
				
			<div class="form-group">
          <label for="createtime" class="col-xs-3 control-label">createtime</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="inputEditComputerhomeworkcreatetime" placeholder="" value="">
          </div>
        </div>
	      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="updateComputerhomeworkButton">确 定</button>
  </div>
</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>
<script src="${jsDomain}/editor/kindeditor-min.js"></script>
<script src="${jsDomain}/editor/lang/zh_CN.js"></script>

<script>
	$("#modifyFaCategoryId").select2("val","2");
</script>



<script>
//当前页
var currentpagenum=$pageNo;
var totalpage=$page.totalpage;
	var idsForDel;	
	var editComputercategoryId;
	var editComputercategoryName;

//选择修改按钮，填充修改弹出框
	$("body").on("click", "a[action-type|=editComputerhomeworkFillIn]", function() {
		var data = $(this).data();
							$("#inputEditComputerhomeworkid").val(data.id);       
			var editid = data.id;
					$("#inputEditComputerhomeworkname").val(data.name);       
			var editname = data.name;
					$("#inputEditComputerhomeworkcomputerorderclassruleid").val(data.computerorderclassruleid);       
			var editcomputerorderclassruleid = data.computerorderclassruleid;
					$("#inputEditComputerhomeworkcontent").val(data.content);       
			var editcontent = data.content;
					$("#inputEditComputerhomeworkcreateuserid").val(data.createuserid);       
			var editcreateuserid = data.createuserid;
					$("#inputEditComputerhomeworkattachment").val(data.attachment);       
			var editattachment = data.attachment;
					$("#inputEditComputerhomeworkstatus").val(data.status);       
			var editstatus = data.status;
					$("#inputEditComputerhomeworkcreatetime").val(data.createtime);       
			var editcreatetime = data.createtime;
			})
//end 	editComputerhomeworkFillIn

// 触发提交按钮事件
$('.modal').on('click', ('button.btn-primary'), function () {		
		var _this = $(this);

		//处理添加
		if(_this.attr('action-type') == 'addComputercategoryButton')
		{
			//alert('test add');
			var actionUrl = "${webbaseurl}/addComputercategoryAjax.action";
			var inputCategoryName = $('#addComputercategoryName').val();			
			var postData = {
				"createuserid": cookie.Get("id"),
				"name": inputCategoryName		
			}
			var successStr = "添加分类成功！";
			var failedStr = "添加分类失败！";				
		}
		// ebd add
		
		//处理update
		if(_this.attr('action-type') == 'updateComputerhomeworkButton')
		{
			//alert('test add');
			var actionUrl = "${webbaseurl}/updateComputerhomeworkAjax.action";
												var id = $("#inputEditComputerhomeworkid").val();      
								var name = $("#inputEditComputerhomeworkname").val();      
								var computerorderclassruleid = $("#inputEditComputerhomeworkcomputerorderclassruleid").val();      
								var content = $("#inputEditComputerhomeworkcontent").val();      
								var createuserid = $("#inputEditComputerhomeworkcreateuserid").val();      
								var attachment = $("#inputEditComputerhomeworkattachment").val();      
								var status = $("#inputEditComputerhomeworkstatus").val();      
								var createtime = $("#inputEditComputerhomeworkcreatetime").val();      
						var postData = {
													id: id,
									name: name,
									computerorderclassruleid: computerorderclassruleid,
									content: content,
									createuserid: createuserid,
									attachment: attachment,
									status: status,
									createtime: createtime,
							}
		}
		//end update
		
		
		
		// 如果是其它的提交操作，对照上一行的if代码处理		
		
		// 提交处理
		jQuery.ajax({  
		    url: actionUrl,  
		    type: "post",
		    data: postData,
		    dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					_this.parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
					
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
			}		  	  
		});		
	})




	
	//更新分类
	$("body").on("click", "button[action-type|=updateComputercategoryButton]", function() {
		var modelName = $("#inputEditComputercategoryName").val();

			var postData = {
				"id": editComputercategoryId,
				"name": modelName
				
			}
			
			jQuery.ajax({  
			    url:"${webbaseurl}/updateComputercategoryAjax.${strutsaction}",  
			    type:"post",
			    data:postData,
			  	dataType: 'json',
				success: function(data){
				var returnJson = jQuery.parseJSON(data); 
			//alert(returnJson.flag);
			if(returnJson.flag==1){
				alert("保存成功!")
			}else{
				alert("保存失败!")
			}
		}	});		  	  

	})
	//end update
	
	
	

	/* 处理CheckBox选中事件用于删除处理 */
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}
		
		idsForDel = "";
		
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + ";";
			}
		});
	});
	//end checkbox
	
	//delete分类
	$("body").on("click", "a[action-type|=deleteComputerhomeworkButton]", function() {
		idsForDel = idsForDel.substring(0,idsForDel.length-1);
		var postData = {
			computerhomeworkIdsForDel:idsForDel
		}
		//alert(idsForDel);
		jQuery.ajax({  
		    url:"${webbaseurl}/deleteComputerhomeworkAjax.${strutsaction}",  
		    type:"post",
		    data:postData,
			  dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框	
					refreshComputerhomeworkTable();
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});
				}
			}		  	  
		});
	})
	//end delete 分类
	
	
		
//换页时调用方法
$('.pagination').jqPagination({
    	paged: function(page) {
     	   // do something with the page variable
			currentpagenum = page;
			refreshComputerhomeworkTable();
    	}
	});
	
//刷新数据
function refreshComputerhomeworkTable(){
			jQuery.ajax({  
		    url: '${webbaseurl}/manageComputerhomeworkFull.action',  
		    type: "post",
		    data:{	
					pageNo:currentpagenum,
					callType:'ajaxType'					
					},
		    dataType: 'html',
			success: function(data){
				$("#refreshComputerhomeworkTableDiv").html(data);
				
				//设置分页绑定事件
				$('.pagination').jqPagination({
					link_string	: '/?page={page_number}',
					max_page	: totalpage,
					current_page:currentpagenum,
					paged: function(page) {     	  
						currentpagenum = page;
						refreshComputerhomeworkTable();		
    				}
				});
				
				$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
				});
				
			}		  	  
		});		
}//end refreshComputerhomeworkTable
	
	
</script>


</body>
</html>
