<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 查看预约记录</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body >
<header id="header-wrap"><!--header-wrap-->
  
	#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">
	
	#parse("include/includeSiteNavi.vm")
	
	#set($currentPageType="computerorderview")
	#parse("include/includeOrderspaceSubNavi.vm")
	
  </div>
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->
        <!--main-content start-->
  <div id="main-content" class="clearfix">
      <!--equip-wrap start-->          
          <div class="container">     
		<!--control-bar start-->
		<!--
      <div class="control-bar clearfix">
        <div class="title pull-left">审核预约</div>     
        <div class="pagination pull-right">
          <ul>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="上一个"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="下一个"><i class="icon-chevron-right"></i></a></li>
          </ul>
        </div>       
      </div>
	    -->
	  <!--control-bar end-->
	
	  
      <div class="row">
            <div class="control-bar col-md-12">
              <div class="title">$!computerorderFull.computerordertitle  </div>
            </div>        
            <div class="col-md-7">                  
                
				      #parse("include/includeComputerorderList.vm")
            
            </div>
            <div class="col-md-5">
                <div class="thumbnail">
                  <div class="hd">
                    <h3>状态</h3>
                  </div>
                  <div class="caption">

						        #set($curstatus = $computerorderFull.computerorderstatus)
                      #parse("computer/includeComputerorderStatus.vm")
                      
                      #if($curstatus == $ComputerorderStatusAduitReject)
            						 <!--
            						 <strong>预约人可进行的操作: </strong><br>-->
            						#if($!computerorderFull.computerorderordertype==2) 
                        <hr />
            							<a class="btn btn-primary" action-type="" action-data="" href="${webbaseurl}\toComputerClassorder.${strutsaction}?computerorderid=$!computerorderFull.computerorderid&computerhomeworkid=$!computerorderFull.computerordercomputerhomeworkid&reorder=1">重新预约</a>
            						#elseif($!computerorderFull.computerorderordertype==1)  
            							<a class="btn btn-primary" action-type="" action-data="" href="${webbaseurl}\toComputerIndividualorder.${strutsaction}?computerorderid=$!computerorderFull.computerorderid&reorder=1">重新预约</a>
            						#else
            							错误
            							#end
            						#end
                       </div>
                </div>
                <div class="thumbnail">
                  <div class="hd">
                    <h3>详情</h3>
                  </div>
        
				  <div class="caption">
                    <div class="rent-detail">
                      <span class="rent-user"><strong>申请者：<a rel="popover" class="lk" href="#" data-original-title="" title="">我</a></strong></span>
                      <br>
					  <span class="rent-num"><strong> 预约号：$!computerorderFull.computerorderserialnumber</strong></span>
					   #set($currentcomputerorderordertype=$computerorderFull.computerorderordertype)					 
						 <div class="rent-contact">预约类型：#parse("include/includeComputerorderType.vm")</div>
					
                     <!-- <div class="rent-contact">联系方式：XXXXXX</div> -->
					 #if($computerorderFull.computerorderremark)
                      <div class="rent-remark"><i class="icon-pencil"></i> $!computerorderFull.computerorderremark</div>
					  #end
                    </div>
                    <hr>
                  </div>
				  
				  
				  #if($curstatus == $ComputerorderStatusAduitReject)
					<ul class="media-list">
                    <li class="media">
                      <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                        <img src="$imgtool.url("user","$!computerorderFull.audituserpicpath")" width="28" height="28" class="img-rounded">
                      </a>
                      <div class="media-body">
                        <div class="media-heading"><h5><a rel="popover" href="#" data-original-title="" title="">$!computerorderFull.auditusername</a></h5><span class="post-time" title="详细时间">下午4:53</span></div>
                        <p>驳回原因：$!computerorderFull.computerorderrejectreason</p>
                      </div>
                    </li>
                  </ul>
				  #end
				  
				  <!--
                  <ul class="media-list">
                    <li class="media">
                      <a rel="popover" class="pull-left" href="#" data-original-title="" title="">
                        <img src="../img/photo.jpg" width="28" height="28" class="img-rounded">
                      </a>
                      <div class="media-body">
                        <div class="media-heading"><h5><a rel="popover" href="#" data-original-title="" title="">教师名</a></h5><span class="post-time" title="详细时间">下午4:53</span></div>
                        <p>审核老师发的审核驳回说明</p>
                      </div>
                    </li>
                  </ul>
                   -->                         
                </div>               
            </div>                    
      </div>


          </div>
  </div>
  <!---main-content end-->

</section>



<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="../img/cover-img.jpg" class="cover" alt="封面照片">
  <div class="cover-layout"></div>
  <div class="avatar"><img src="../img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>

<script>

function auditOrder(id,status){
	jQuery.ajax({  
		url: '${webbaseurl}/auditComputerorderAjax.action',  
		type: "post",
		data:{id:id,status:status},
		dataType: 'json',
		success: function(data){
		
			var returnJson = jQuery.parseJSON(data); 
			
			if(returnJson.flag == 1){
				alert(returnJson.reason);
			}
		}		  	  
		});

}

</script>
</body>
</html>