<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>$!{textmap.computerorderconfirm_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body>

<header id="header-wrap"><!--header-wrap-->
  
	#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">
	
	
	#set($currentposition= ${textmap.myorderposition})
	#parse("include/includeSiteNavi.vm")
	
	#set($currentPageType="createorder")
	#parse("include/includeOrderspaceSubNavi.vm")
  </div>
  
</header><!--/#header-wrap-->

<section id="main-wrap"><!--main-wrap-->
  <!--main-content start-->
  <div id="main-content" class="clearfix">
      <!--equip-wrap start-->
   
          
          <div class="container">
            
            <div class="row">
                  <div class="control-bar col-md-12">
                    <div class="title">$!{textmap.computerorderconfirm_maincontent_title}</div>
                  </div>
     
				  
				   <div class="col-md-7">                  
                
					#parse("include/includeComputerorderList.vm")
					
				   </div>
				  
				  
                  <div class="col-md-5">
                      <div class="thumbnail">
                        <div class="hd">
                          <h3>$!{textmap.computerorderconfirm_detail_title}</h3>
                        </div>
                        <div class="caption">
						  #set($user =    $request.getSession().getAttribute("loginUser"))
                          <div class="rent-user">$!{textmap.computerorderconfirm_detail_orderuser}：<a rel="popover" class="lk" href="#">$!user.name</a></div>
                         
						  <div class="rent-type">$!{textmap.computerorderconfirm_detail_ordertype}：
							#set($currentcomputerorderordertype=$computerordertype)					 
							#parse("include/includeComputerorderType.vm")
						  </div><!--end rent type-->
                        </div>
                        <hr />
                        <div class="hd"><h3>$!{textmap.computerorderconfirm_detail_ordertitle} <small>$!{textmap.computerorderconfirm_detail_ordertitle_small}</small></h3></div>
                        <div class="caption"><input type="text" id="inputAddComputerorderTitle" value="$!computerorder.title" class="form-control" placeholder="$!{textmap.computerorderconfirm_detail_ordertitle_placeholder}"></div>
                        <div class="hd"><h3>$!{textmap.computerorderconfirm_detail_orderremark} <small>$!{textmap.computerorderconfirm_detail_orderremark_small}</small></h3></div>
                        <div class="caption"><textarea class="form-control" id="inputAddComputerorderRemark"  rows="3" placeholder="$!{textmap.computerorderconfirm_detail_orderremark_placeholder}"></textarea></div>
                        <div class="form-actions actions">  
							<!--
                          <button type="button" action-type="" class="btn btn-white">$!{textmap.computerorderconfirm_detail_returnandedit}</button>-->
						              <button type="button" action-type="orderComputerButton" class="btn btn-primary">$!{textmap.computerorderconfirm_detail_submit}</button>
                        </div>
                      </div>               
                  </div>                  
            </div>           
            

          </div>
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>

<script>

	

//提交预约单
	$("body").on("click", "button[action-type|=orderComputerButton]", function() {
	
	var str= "$!orderInfoStr";	
	
		var postData = {
			"title":$("#inputAddComputerorderTitle").val(),
			"remark":$("#inputAddComputerorderRemark").val(),
			"orderInfoStr":str,
			"computerordertype":$!computerordertype,
			"computerhomeworkid":$!computerhomeworkid,
			"reorder":$reorder,//重新预约时用
			"computerorderid":$!computerorderid
		};
		
		jQuery.ajax({  
		    url:"${webbaseurl}/addComputerorderAjax.${strutsaction}",  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){					
					location.href = "${webbaseurl}/toComputerorderSuccessPage.${strutsaction}?computerordertype=$computerordertype&orderInfoStr=$orderInfoStr&computerorderid=$!computerorderid&computerhomeworkid=$!computerhomeworkid&reorder=$!reorder";
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'error'});					
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				}
			}		  	  
		});//end jquery
	});
//end Order


</script>
<!-- Modal -->
<div id="equip-detail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">设备详情</h3>
  </div>
  <div class="modal-body">
    <p>这里是设备详细页，不包含设备每天最大可预约数量</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">关 闭</button>
  </div>
</div>

<div id="reject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">操作</h3>
  </div>
  <div class="modal-body">
    <p>这里是驳回操作相关提示说明</p>
    <input class="input-block-level" type="text" placeholder="在此输入驳回理由">
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary">提交驳回</button>
  </div>
</div>

<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="img/cover-img.jpg" class="cover" alt="封面照片" />
  <div class="cover-layout"></div>
  <div class="avatar"><img src="img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>


</body>
</html>