<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 设备管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="${cssDomain}/jqpagination.css" type="text/css" />
<!--[if lt IE 10]>
  <script src="${jsDomain}/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->
<!--[if lt IE 9]>
  <script src="${jsDomain}/html5shiv.js"></script>
  <script src="${jsDomain}/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="${cssDomain}/font-awesome-ie7.min.css">
<![endif]-->
</head>


<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  <div class="nav-wrap clearfix">
    <div class="site-nav">
      <div class="dropdown">
        <a class="pos dropdown-toggle" data-hover="dropdown" href="#"><i class="icon-home"></i> 管理中心 <i class="icon-chevron-right"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="http://google.com"><i class="icon-home"></i> 首页</a></li>
          <li class="divider"></li>
          <li><a href="#anotherAction">个人主页</a></li>
          <li><a href="#">人脉</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div><!-- #BeginLibraryItem "/Library/机房subnav.lbi" -->    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li><a href="#">首页</a></li>
        <li><a href="#">设置</a></li>
        <li><a href="用户管理首页.html">用户</a></li>
        <li><a href="设备预约首页.html">器材</a></li>
        <li class="active"><a href="机房预约管理首页.html">机房</a></li>
        <li><a href="#">内容</a></li>
      </ul>
    </div><!-- #EndLibraryItem --><ul class="account-wrap nav nav-pills pull-right">
          <li class="notice dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bell icon-large"></i><span class="n-num label label-important">3</span></a>
            <ul class="dropdown-menu">
              <li><a href="#">消息1</a></li>
              <li><a href="#">消息2</a></li>
            </ul>
          </li>     
          <li class="social dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username">陈诚</span><img src="../img/photo.jpg" width="32" height="32" class="img-circle"> <b class="caret"></b></a>
            <div class="dropdown-menu">
              <div class="media">
                <a class="pull-left" href="#">
                  <img src="../img/photo.jpg" width="96" height="96" class="img-rounded">
                </a>
                <div class="media-body">
                  <div class="media-heading"><h5><a href="#">陈诚</a></h5></div>
                  <div class="info">2012级研究生 - 影像视觉效果研究方向</div>
                  <div class="setting"><a href="#">账户设置</a></div>
                  <button class="btn btn-primary" type="button">查看个人主页</button>
                </div>
              </div>
            </div>      
          </li>
        </ul>
  </div>
</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap--><!-- #BeginLibraryItem "/Library/机房tabnav.lbi" -->      <ul class="nav nav-tabs">
        <li><a href="机房预约管理首页.html">机房预约</a></li>
        <li class="active"><a href="机房信息管理首页.html">机房管理</a></li>
      </ul><!-- #EndLibraryItem --><!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">            
            <div class="control-bar clearfix"><!--control-bar start-->
              <div class="title pull-left">机房管理</div>
			  <div class="tips">在此页面下管理机房信息，如机房设备的添加、修改、删除及维护等。</div>
              <div class="filter category-filter">
                <select id="select-categories" style="width:130px" class="select2"  onchange="getComputerByComputermodelId(this[selectedIndex].value);">
                 <option value="0-0" data-foo="fa">全部分类</option>
  
#foreach($categoryfull in ${computercategoryFullList})
	<option value="$!categoryfull.computercategorycomputercategorytype;0" data-foo="fa">$categoryfull.computercategoryname</option>
    #set($modelList = $computermodelByComputercategoryId.get($categoryfull.computercategorycomputercategorytype))
	#foreach($model in ${modelList})
                  <option value="$!categoryfull.computercategorycomputercategorytype;$!model.computermodeltype" data-foo="sub">$!model.name</option>
	#end	
	#end
                  
                </select>
              </div>              
              <div class="operate-item pull-left">
                <a href="机房添加.html" class="btn btn-primary">添加设备</a>
                <a href="#" class="btn btn-white s-h"><i class="icon-trash"></i> 删除</a>
              </div>
              <div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第1/3页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">最新</a></li>
                      <li><a href="#">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
              <ul class="status-filter nav nav-pills pull-right">
                <li class="active"><a href="#" onclick = "getComputerByComputerstatusId(0)">全部</a></li>
#foreach($computerstatus in ${computerstatusFullList})	
                <li><a href="#" onclick = "getComputerByComputerstatusId($computerstatus.computerstatusid)">$computerstatus.computerstatusname</a></li>
#end  
              </ul>
            </div><!--control-bar end-->
			
			<div id="refreshComputerTableDiv">
            <div class="panel panel-default table-responsive">                          
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="id">编号</th>
                    <th class="name">设备名称(型号)</th>
                    <th class="categories">分类</th>
                    <th class="status">状态</th>
                    <th class="remark">备注</th>
                  </tr>
                </thead>
                <tbody>
				<!--数据开始 -->
#set($listSize = $computerFullListCh.size() - 1)
##判断数据是否为空
#if($listSize>=0)
#set($listRegion = [0..$listSize])
##取出所有的属性名称
#foreach($tempKey in $listRegion)
			#set($ch = $computerFullListCh.get($tempKey))
			#set($en = $computerFullListEn.get($tempKey))					
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="1"></td>
                    <td>$ch.computerserialnumber<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button">修改</a></td>
                    <td>$ch.computermodelname</td>
                    <td>工作站</td>
                    <td>$!ch.computerstatusname</td>
                    <td></td>
                  </tr>				  
#end
#end
<!--
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="2"></td>
                    <td>2145321<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button">修改</a></td>
                    <td>Dell-2</td>
                    <td>工作站</td>
                    <td>预约/使用中</td>
                    <td><a rel="popover" class="lk" href="#" data-original-title="" title="">XXX</a>于2013-10-11至2013-10-15借用</a>。</td>
                  </tr>        
				  -->
                </tbody>
              </table>              
            </div>
			
			<!--page -->
			  <div class="pagination">
				<a href="#" class="first" data-action="first">&laquo;</a>
				<a href="#" class="previous" data-action="previous">&lsaquo;</a>
				<input type="text" readonly="readonly" data-max-page="$!page.totalpage" />
				<a href="#" class="next" data-action="next">&rsaquo;</a>
				<a href="#" class="last" data-action="last">&raquo;</a>
			  </div>
			  <!-- end page -->
				</div> <!-- end refreshComputerTableDiv-->
			
        </div>

  </div><!--equip-wrap end-->
	  
	  
      <div id="lside"><!--sidebar start-->
        <form class="form-group">
          <input type="text" class="form-control" placeholder="搜索设备">
          <i class="icon-search"></i>
        </form>
        <div class="list-group">
          <a href="机房信息管理首页.html" class="list-group-item active">机房设备管理</a>
          <a href="机房添加.html" class="list-group-item">添加设备</a>
          <a href="机房型号管理.html" class="list-group-item">型号管理</a>
          <a href="机房分类管理.html" class="list-group-item">分类管理</a>
        </div>
      </div>
      <!--sidebar end-->

</section>


<!-- Modal -->
<div id="modify-status" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  
  <div class="modal-body">
      <p>修改设备。</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="modifyEquipId" class="col-xs-3 control-label">设备号</label>
          <div class="col-xs-7">
            <input type="text" class="form-control" id="modifyEquipId" placeholder="设备编号" value="242424">
          </div>
        </div>
        <div class="form-group">
          <label for="modifyEquipModelId" class="col-xs-3 control-label">所属设备型号</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="modifyEquipModelId">
             
            <option value="1" data-foo="fa">工作站</option>
            <option value="2" data-foo="sub">Dell工作站</option>
            <option value="3" data-foo="sub">MAC Pro工作站</option>
          
            <option value="5" data-foo="fa">数字调色</option>
            <option value="6" data-foo="sub">达芬奇</option>
            <option value="7" data-foo="sub">宽泰</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="modifyEquipCategory" class="col-xs-3 control-label">分类</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="modifyEquipCategory">
             <option value="1" >工作站</option>
			     <option value="5" >数字调色</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="modifyEquipStatus" class="col-xs-3 control-label">状态</label>
          <div class="col-xs-7">
            <select class="select2 select-white form-control" id="modifyEquipStatus">
#set($computerorderFullListSize = $computerorderFullList.size() - 1)
##判断数据是否为空
#if($computerorderFullListSize>=0)
#set($computerorderFullListRegion = [0..$computerorderFullListSize])
##取出所有的属性名称
#foreach($tempKey in $computerorderFullListRegion)
			#set($temp = $computerorderFullList.get($tempKey))
			 <option value="$!temp.computerstatusid">$!temp.computerstatusname</option> 
#end
#end				        
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="modifyEquipRemark" class="col-xs-3 control-label">备注</label>
          <div class="col-xs-7">
            <textarea class="form-control" id="modifyEquipRemark" rows="3"></textarea>
          </div>
        </div>
      </form>
    </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary">确 定</button>
  </div>
</div>

<div id="popover_user_wrapper" style="display: none" onmouseover="$(this).mouseleave(function() {$(this).hide(); });">
  <img src="../img/cover-img.jpg" class="cover" alt="封面照片">
  <div class="cover-layout"></div>
  <div class="avatar"><img src="../img/photo.jpg" width="80" height="80" class="img-circle"></div>
  <div class="user-wrap">
    <div class="user-name"><a href="#">用户名</a></div>
    <div class="user-info" title="这里是一句话简介,这里是一句话简介,这里是一句话简介,这里是一句话简介">这里是一句话简介，这里是一句话简介，这里是一句话简介</div>
    <div class="user-info">职务等信息</div>
    <div class="user-info">地点</div>
  </div>
  <div class="contact-wrap"><a href="#" title="发消息"><i class="icon-envelope"></i></a></div>
</div>



    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/jquery.jqpagination.js"></script>

<!--[if lt IE 10]>
  <script src="../js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->






<script>

var cookie = { 
  		//读取COOKIES,n为COOKIE名 
   		Get:function(n){ 
       		var re=new RegExp(n+'=([^;]*);?','gi');
       	    var r=re.exec(document.cookie)||[];
       	    return (r.length>1?r[1]:null)
   		}
	};
	
	//当前页
var currentpagenum=1;
var totalpage=$page.totalpage;
var computercategorytype = 0;
var computermodeltype = 0;
var computerstatusid = 0;

	
//换页时调用方法
$('.pagination').jqPagination({
    	paged: function(page) {
     	   // do something with the page variable
			currentpagenum = page;
			refreshComputerTable();
    	}
	});
	
//刷新数据
function refreshComputerTable(){
			jQuery.ajax({  
		    url: '${webbaseurl}/manageComputerFull.action',  
		    type: "post",
		    data:{	pageNo:currentpagenum,
					callType:'ajaxType',
					computerstatusid : computerstatusid,
					computermodeltype:computermodeltype,
					computercategorytype: computercategorytype
					},
		    dataType: 'html',
			success: function(data){
				$("#refreshComputerTableDiv").html(data);
				
				//设置分页绑定事件
				$('.pagination').jqPagination({
					link_string	: '/?page={page_number}',
					max_page	: totalpage,
					current_page:currentpagenum,
					paged: function(page) {     	  
						currentpagenum = page;
						refreshComputerTable();		
    				}
				});
				}		  	  
			});		
}//end refreshComputerTable

	
//根据状态获取Computer
function getComputerByComputerstatusId(statusid){
	//alert(statusid);
	computerstatusid = statusid;
	currentpagenum = 1;
	refreshComputerTable();
}


//根据model获取Computer
function getComputerByComputermodelId(computermodel){
	strs=computermodel.split(";"); //字符分割  
	computercategorytype = strs[0];
	computermodeltype = strs[1];
	//alert(computercategorytype);
	//alert(computermodeltype);
	currentpagenum = 1;
	refreshComputerTable();
}

</script>




</body>
</html>