<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


#parse("computer/includeCssFile.vm")	

</head>

<body id="admin">

 
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">添加</div>
              <div class="tips">在此页面下添加新的</div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
 <!--Add 表单-->             
               <form action="${webbaseurl}/addComputercategoryAjax.action" method="post" name="AddComputercategoryForm">
		<div class="form-group">
                    <label for="label_computercategory_id" class="col-lg-2 control-label">id</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computercategory_id" name="id"  placeholder="id">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computercategory_parentcomputercategoryid" class="col-lg-2 control-label">parentcomputercategoryid</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computercategory_parentcomputercategoryid" name="parentcomputercategoryid"  placeholder="parentcomputercategoryid">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computercategory_name" class="col-lg-2 control-label">name</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computercategory_name" name="name"  placeholder="name">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computercategory_createtime" class="col-lg-2 control-label">createtime</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computercategory_createtime" name="createtime"  placeholder="createtime">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computercategory_createuserid" class="col-lg-2 control-label">createuserid</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computercategory_createuserid" name="createuserid"  placeholder="createuserid">
                    </div>
                  </div>
		<div class="form-group">
                    <label for="label_computercategory_status" class="col-lg-2 control-label">status</label>
                    <div class="col-lg-4">
                     <input type="text" class="form-control" id="input_computercategory_status" name="status"  placeholder="status">
                    </div>
                  </div>
	              <!--
                 <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button type="submit" class="btn btn-primary">添 加</button>
                   </div>
               </div>
			   -->

               </form>
               <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button onClick = "addComputercategoryAjax()" class="btn btn-primary">添 加</button>
                   </div>
               </div>

<!--Add 表单-->                    

              </div>			  
            </div>
          </div>

      </div>
      <!--equip-wrap end-->
       <!--sidebar start-->
      <div id="lside">
        <form class="form-group">
          <input type="text" class="form-control" placeholder="搜索">
          <i class="icon-search"></i>
        </form>
        <div class="list-group">
          <a href="${webbaseurl}/manageComputercategoryFull.action" class="list-group-item">管理</a>
          <a href="${webbaseurl}/computer/computercategoryAdd.vm" class="list-group-item">添加</a>
          
        </div>
      </div>
      <!--sidebar end-->

</section>



#parse("computer/includeJsFile.vm")

</body>
</html>