            <div class="panel panel-default table-responsive">
				

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="id">预约号</th>
                    <th class="user">预约人</th>
                    <th class="title">标题</th>
                    <th class="status">状态</th>
                    <th class="categories">预约类型</th>
                    <th class="remark">备注</th>
                  </tr>
                </thead>
				
                <tbody>
#set($computerorderFullListSize = $computerorderFullList.size() - 1)
##判断数据是否为空
#if($computerorderFullListSize>=0)
#set($computerorderFullListRegion = [0..$computerorderFullListSize])
##取出所有的属性名称
#foreach($tempKey in $computerorderFullListRegion)
			#set($temp = $computerorderFullList.get($tempKey))
			  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!temp.computerorderid"></td>
                    <td>$!temp.computerorderserialnumber</td>
                    <td>$!temp.createusername</td>
					
                    <td><a href="${webbaseurl}/toAuditComputerorderPage.${strutsaction}?computerorderId=$!temp.computerorderid">$!temp.computerordertitle</a></td>
                     #if($!temp.computerorderstatus == $ComputerorderStatusAduitPass)
						<td>审核通过</td>
					#elseif($!temp.computerorderstatus ==$ComputerorderStatusAduitReject)
						<td>驳回</td>
						#elseif($!temp.computerorderstatus ==$ComputerorderStatusAduitDel)
						<td>删除</td>
						#elseif($!temp.computerorderstatus ==$ComputerorderStatusAduitWait)
						<td>待审核</td>
						#else 
							<td>错误</td>
					 #end
					 
						 #set($currentcomputerorderordertype = $temp.computerorderordertype)
					<td>#parse("include/includeComputerorderType.vm")</td>
                    <td>$!temp.computerorderremark</td>
                  </tr>
#end
#end					
	<!--
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="1"></td>
                    <td>2145322<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button">修改</a></td>
                    <td>姓名</td>
                    <td><a href="机房预约审核.html">XXX的机房预约（XX月XX日、XX日……）机房预约标题</a></td>
                    <td>待审核</td>
                    <td>个人</td>                    
                    <td>预约申请人的备注信息</td>
                  </tr>
              -->
                </tbody>
              </table>
				
	
			 </div> <!--end computerordermanagetable-->
			  
			 		 <!--page bar-->
			  #parse("include/includePagebar.vm")
			
			  
			  				<script>
totalpage = $page.totalpagenum;
currentpagenum = $page.pageNo;
computerorderStatus = $computerorderStatus;
</script>
