<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 机房预约</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")

</head>

<body>
<header id="header-wrap"><!--header-wrap-->
  
	#parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap clearfix">
	
	#parse("include/includeSiteNavi.vm")
	
	#set($currentPageType="createorder")
	#parse("include/includeOrderspaceSubNavi.vm")
	
  </div>
</header><!--/#header-wrap-->

<section id="main-wrap"><!--main-wrap-->
  
  <div id="main-content" class="clearfix"><!--main-content start--> 
          <div class="container" id="post-equip">
            
            <div class="row">
      
$actionMsg				
				
				
				
				
				</div>
				
  </div>
  <!---main-content end-->
</section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/bootstrap-datepicker.js"></script>
<script src="${jsDomain}/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="${jsDomain}/xdate.js"></script>
<script src="${jsDomain}/computer/computerutil.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/computer/computerorder.js"></script>

<script>
function CreatePostBookingTable(rowCount,cellCount,startDate) {
	var tableName = "MAC工作站"
	var tableContainer = $("<table class='table' data-table-name='" + tableName + "'></table>");
	var index = 0;				// 单元格索引
	var html = "";
	var num = 9;				// 可预约数
	var day;
	var week;
	var bookInfo = "<strong>"+ num + "</strong><div class='info'>可预约</div>"
	html =
		"<thead>" +
		"<tr>";
	for(var i = 0; i< cellCount; i++) {			// 生成表头（时间）
		if(i == 0) {
			html += "<th class='time-slot'>" + "时间" + "</th>";
		}
		else {			
			day = startDate.toString('MM/d');
			week = startDate.toString('dddd');
			html += "<th>" + day + "<br/>" + week + "</th>";
			startDate.addDays(1);
		}
	}
	html +=
		"</tr>" +
		"</thead>";
	  
	html +=
		"<tbody>";
	for(var i = 0; i < (rowCount - 1); i++) {
		html += "<tr>";
		for(var j = 0; j < cellCount; j++) {
			if(j == 0) {
				html += "<td class='time-slot'>";
				switch(i)
				{
				case 0:
					html += "上午";
					break;
				case 1:
					html += "下午";
					break;
				case 2:
					html += "晚上";
					break;
				}
				html += "</td>";
			}
			else {
				index++;
				html += "<td class='bookable' data-index='" + index + "' data-slot='" + i + "' data-max-num='9'>" + bookInfo + "</td>";				  
			} // if
		} // for 
		html += "</tr>";
	}// for
	html += "</tbody>";
  
	$(tableContainer).appendTo($("#createtable"));
	//$(html).appendTo(tableContainer);
}
function getBookingTime(bookingData, startDate) {
	var index = bookingData.index;
	var timeSlot = bookingData.slot;
	var curdate = bookingData.date;
	var timeSlotStr = "";
	var selectedDate = "";
	// 第几星期(上、下 、晚 7 * 3)
	var weekTimes = parseInt(index / 21) + 1;
	if (index % (7 * 3) == 0) {
		weekTimes = weekTimes - 1;	
	}
	var dayWeekIndex = index % 7;								// 7天内的第几天		
	if (dayWeekIndex == 0) {
		dayWeekIndex = 7;							// 第7天
	}
	var dayIndex = 7 * ( weekTimes - 1 ) + dayWeekIndex;				// 第几天
	
	switch(timeSlot)
	{
	case 0:
		timeSlotStr = "上午";
		break;
	case 1:
		timeSlotStr = "下午";
		break;
	case 2:
		timeSlotStr = "晚上";
		break;
	}
	startDate.addDays(dayIndex - 1);
	var date = startDate.toString('MMMd日 dddd');
	selectedDate = curdate + " " + timeSlotStr;
	//alert(timeSlotStr + ", index=" + index + ", weekTimes=" + weekTimes + ", dayWeekIndex=" + dayWeekIndex + ", dayIndex=" + dayIndex);
	return selectedDate;
}
  
$(window).load(function(){
	XDate.locales['zh-CN'] = {
		monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
		monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
		dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
		dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六']
	};
	XDate.defaultLocale = 'zh-CN';
	var startDate = new XDate();
	CreatePostBookingTable(4, 8, startDate);
  
	$('#datepicker').datepicker({
		language: 'zh-CN',
		format: 'yyyy-mm-dd',
		todayHighlight: true,
	});
	$('.carousel').carousel({
		interval: false
	});
	

	
//提交预约单
	$("body").on("click", "button[action-type|=confirmComputerButton]", function() {
		var str = "";
		$("input[name='pcorderinfo']").each(function() {			
				str += $(this).attr("orderpcid") +","+ $(this).prop("value") +","+$(this).attr("orderdate")+","+$(this).attr("orderperiod")+","+$(this).attr("orderpcname")+","+$(this).attr("picpath")+ ";";			
		});
	
			
		str = str.substring(0,str.length-1);
	
		var createuserid = cookie.getUserId();
		//alert(createuserid);
		var postData = {
			userid : createuserid,
			orderInfoStr : str,
			computerordertype : $computerordertype,
			reorder:$reorder,//重新预约时用
			computerorderid:$computerorderid
		};
		
		jQuery.ajax({  
		    url:"${webbaseurl}/computerorderFormConfirm.${strutsaction}",  
		    type:"post",
		    data:postData,
			dataType: 'json',
			success: function(data){
				var returnJson = jQuery.parseJSON(data); 
				if(returnJson.flag == 1){
					//var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					//$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框
					location.href = "${webbaseurl}/toComputerorderConfirmPage.${strutsaction}?computerorderid=$!computerorderid&reorder=$!reorder";
				}else{
					var n = noty({text: returnJson.reason, timeout: 2500, type: 'success'});					
					$(this).parents('.modal').modal('toggle');		// 提交成功，关闭模态对话框		
				}
			}		  	  
		});//end jquery
	});
//end Order
	
	
	
	
	
	
	
	
	
});
</script>
</body>
</html>