
			<div id ="refreshComputerorderclassruleTableDiv">
            <div class="panel panel-default table-responsive">

<!--管理内容从这里开始 -->

              <table class="table table-hover"><!--管理Table开始-->
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>

             <th class="name">序号</th>
             <th class="name">规则名称</th>
			 <!--
             <th class="name">computerorderclassruleclassname</th>
             <th class="name">computerorderclassruleclassid</th>
             <th class="name">computerorderclassruleorderstarttime</th>
             <th class="name">computerorderclassruleorderendtime</th>
             <th class="name">computerorderclassruleavailableordertime</th>
             <th class="name">computerorderclassrulecreateuserid</th>
             <th class="name">computerorderclassrulecreatetime</th>
             <th class="name">computerorderclassrulestatus</th>
			
                   <th class="name">View</th>
				   <th class="name">Del</th>
				   <th class="name">Edit</th>
				    -->
                  </tr>
                </thead>
                <tbody>					
							

#foreach($tempcomputerorderclassrule in $computerorderclassruleFullList)
                  <tr>
                   <td><input class="chk" type="checkbox" name="chk-list" value="$!tempcomputerorderclassrule.computerorderclassruleid"></td>
					<!--修改属性-->
                    <td>$!tempcomputerorderclassrule.computerorderclassruleid<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-status" role="button" action-type="editComputerorderclassruleFillIn" 
						
						
																								data-id="$!tempcomputerorderclassrule.computerorderclassruleid"                           
												data-name="$!tempcomputerorderclassrule.computerorderclassrulename"                           
												data-classname="$!tempcomputerorderclassrule.computerorderclassruleclassname"                           
												data-classid="$!tempcomputerorderclassrule.computerorderclassruleclassid"                           
												data-orderstarttime="$!tempcomputerorderclassrule.computerorderclassruleorderstarttime"                           
												data-orderendtime="$!tempcomputerorderclassrule.computerorderclassruleorderendtime"                           
												data-availableordertime="$!tempcomputerorderclassrule.computerorderclassruleavailableordertime"                           
												data-createuserid="$!tempcomputerorderclassrule.computerorderclassrulecreateuserid"                           
												data-createtime="$!tempcomputerorderclassrule.computerorderclassrulecreatetime"                           
												data-status="$!tempcomputerorderclassrule.computerorderclassrulestatus"                           
												>修改</a></td>    
						
<td>$!tempcomputerorderclassrule.computerorderclassrulename</td>
<!--
<td>$!tempcomputerorderclassrule.computerorderclassruleclassname</td>
<td>$!tempcomputerorderclassrule.computerorderclassruleclassid</td>
<td>$!tempcomputerorderclassrule.computerorderclassruleorderstarttime</td>
<td>$!tempcomputerorderclassrule.computerorderclassruleorderendtime</td>
<td>$!tempcomputerorderclassrule.computerorderclassruleavailableordertime</td>
<td>$!tempcomputerorderclassrule.computerorderclassrulecreateuserid</td>
<td>$!tempcomputerorderclassrule.computerorderclassrulecreatetime</td>
<td>$!tempcomputerorderclassrule.computerorderclassrulestatus</td>
					<td><a href="${webbaseurl}/viewComputerorderclassruleFull.action?id=$!tempcomputerorderclassrule.computerorderclassruleid">查看</a></td> 
					<td><a href="${webbaseurl}/deleteComputerorderclassruleFull.action?id=$!tempcomputerorderclassrule.computerorderclassruleid">删除</a></td>			
		<td><a href="${webbaseurl}/editComputerorderclassruleFull.action?id=$!tempcomputerorderclassrule.computerorderclassruleid">修改</a></td>
 	-->		                
                  </tr>
#end            
           
                </tbody>
              </table><!--管理Table开始-->
			  
			    <!--page -->
			  <div class="pagination">
				<a href="#" class="first" data-action="first">&laquo;</a>
				<a href="#" class="previous" data-action="previous">&lsaquo;</a>
				<input type="text" readonly="readonly" data-max-page="$!page.totalpage" />
				<a href="#" class="next" data-action="next">&rsaquo;</a>
				<a href="#" class="last" data-action="last">&raquo;</a>
			  </div><!-- end page -->
            </div><!-- end table div -->
	</div> <!-- end refreshComputerorderclassruleTableDiv-->
			
	  
	  <script>
totalpage = $page.totalpage;
currentpagenum = $page.pageNo;
</script>