	
	<ul class="nav nav-tabs">
		
        <li
		#if($currentPageType == "computerorderManage" )
			 class="active"      
		#end		
			><a href="${webbaseurl}/manageComputerorderFull.${strutsaction}">机器预约管理</a></li>
        <li 
		#if($currentPageType == "computerInfoManage" )
			 class="active"      
		#end
			><a href="${webbaseurl}/manageComputerFull.${strutsaction}">机器信息管理</a></li>
      </ul>