
<div id="lside">
	<form class="form-group">
		<input type="text" class="form-control" placeholder="搜索">
			<i class="icon-search"></i>
	</form>
	<div class="list-group">
		
		<a href="${webbaseurl}/manageKbZhengzhuangFull.action" class="list-group-item
		#if($currentWebpage == "computerFullManage.vm" )
			 active        
		#end		
		">设备管理</a> 
		
		<a href="${webbaseurl}/manageKbZhengzhuangFull.action" class="list-group-item
		#if($currentWebpage == "computerAdd.vm" )
			 active        
		#end		
		">设备添加</a> 	
		
		<a href="${webbaseurl}/toAddZhengzhuangPage.action" class="list-group-item
		#if($currentWebpage == "computermodelFullManage.vm" )
			 active        
		#end
		">型号添加</a>
		
		<a href="${webbaseurl}/manageKbZhengzhuangFull.action" class="list-group-item
		#if($currentWebpage == "computercategoryFullManage.vm" )
			 active        
		#end		
		">分类管理</a> 		
		

		
	</div>
</div>