#if($curstatus == $ComputerorderStatusAduitPass)
审核通过，请在预约时间内使用机房资源。
#elseif($curstatus ==$ComputerorderStatusAduitReject)
您的申请已被驳回。
#elseif($curstatus ==$ComputerorderStatusAduitDel)
您的申请已被删除。
#elseif($curstatus ==$ComputerorderStatusAduitWait)
请耐心等待管理员的审核。
#else 
错误
#end