<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理员管理 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  #set($currentPageModule="user")
  #parse("include/includeAdminHeader.vm")

</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">管理员组管理</div>
              <div class="tips">在此页面下添加新的管理员组或者管理现有用户组。</div>
              <div class="operate-item pull-left">
                <a href="#add-equip-category" class="btn btn-primary" action-type="clearInput" data-toggle="modal" role="button">添加管理员组</a>
                <a href="#" class="btn btn-white s-h" action-type="delUserGroup"><i class="icon-trash"></i> 删除</a>
              </div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
            
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input class="chk" id="chk-all" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">名称</th>
                    <th class="f-category">组分类</th>
                  </tr>
                </thead>
                <tbody>
				  #foreach($group in $allGroupList)
				    #if($group.type != 0)
					  <tr>
                        <td><input class="chk" type="checkbox" name="chk-list" value="$!group.id"></td>
                        <td>$!group.name<a class="btn btn-white btn-mini" action-type="beforeModify" data-id="$!group.id" data-name="$!group.name" data-type="$!group.type" data-toggle="modal" href="#modify-equip-category" role="button">修改</a></td>
						<td>管理员</td>
                  	 </tr>
				    #end
                  #end
                </tbody>
              </table>
              
            </div>
          </div>

      </div>
      <!--admin-wrap end-->
      
	  #set($currentWebpage="userManageAdminGroup")
	  #parse("include/includeUserManageSidebar.vm")

</section>

<!-- Modal -->
<div id="add-equip-category" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">添加管理员组</h3>
  </div>
  <div class="modal-body">
    <p>添加组信息。</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputCategoryName" class="col-xs-3 control-label">组名称</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="inputGroupName" placeholder="用户组名称">
        </div>
      </div>
      <div class="form-group">
        <label for="inputFaCategoryId" class="col-xs-3 control-label">类别</label>
        <div class="col-xs-7">
          <select class="select2 select-white form-control" id="inputTypeId">
		    <option value="3">管理员</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="addGroup">确 定</button>
  </div>
</div>       
<div id="modify-equip-category" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  <div class="modal-body">
    <p>修改当前选定的组信息。</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="modifyCategoryName" class="col-xs-3 control-label">组名称</label>
        <div class="col-xs-7">
          <input type="text" class="form-control" id="modifyGroupName" placeholder="用户组名称">
        </div>
      </div>
      <div class="form-group">
        <label for="modifyFaCategoryId" class="col-xs-3 control-label">类别</label>
        <div class="col-xs-7">
          <select class="select2 select-white form-control" id="modifyTypeId">
		    <option value="7">设备管理</option>
            <option value="8">系统管理</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="modifyGroup">确 定</button>
  </div>
</div>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>

<script>
	var alterGroupName;		//修改组的原名称
	var alterGroupId;		//修改组的id
	var alterGroupId;		//修改组的类别
	var idsForDel = "";  	//用于删除的id串
	
	var cookie = { 
		//读取COOKIES,n为COOKIE名 
		Get:function(n){ 
    		var re=new RegExp(n+'=([^;]*);?','gi');
    	    var r=re.exec(document.cookie)||[];
    	    return (r.length>1?r[1]:null)
		}
	};
	
	$("body").on("click", "a[action-type|=clearInput]", function() {
		$("#inputGroupName").val("");
		$("#inputTypeId").select2("val", 2);
	});
	
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}
		
		idsForDel = "";
		
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				idsForDel += $(this).prop("value") + "_";
			}
		});
	});
	
	$("body").on("click", "a[action-type|=beforeModify]", function() {
		var myData = $(this).data();
		
		alterGroupId = myData.id;
		alterGroupName = myData.name;
		alterGroupType = myData.type;
		
		$("#modifyGroupName").val(alterGroupName);
		$("#modifyTypeId").select2("val", alterGroupType);
		
		console.log(alterGroupId);
		console.log(alterGroupName);
		console.log(alterGroupType);
		
	});
	
	$('.modal').on('click', ('button.btn-primary'), function () {
		var _this = $(this);
		var postData = {};
		var actionUrl = "";
		var tip = "";
	    
	    if(_this.attr('action-type') == 'addGroup') {
	        var groupName = $("#inputGroupName").val();
	        var groupType = $("#inputTypeId").val();
    		
    		if(groupName != "") {
    			postData = {
    				"group.name": groupName,
    				"group.type": groupType,
    				"group.ownerId": cookie.Get("id")
    			}
    			actionUrl = "${webbaseurl}/addAdminGroup.do";
    			tip = "添加管理员组成功！";
    		} else {
				n = noty({text: "组名称不能为空！", timeout: 2500, type: 'error'});
				return;
    		}
	    }
		
		if(_this.attr('action-type') == 'modifyGroup') {
	        var newGroupName = $("#modifyGroupName").val() == "" ? alterGroupName : $("#modifyGroupName").val();
	        var newGroupType = $("#modifyTypeId").val();
			
    		if(alterGroupName == newGroupName && newGroupType == alterGroupType) {
				n = noty({text: "并未做修改！", timeout: 2500, type: 'error'});
				return;
    		} else {
    			postData = {
					"group.id": alterGroupId,
					"group.name": newGroupName,
    				"group.type": 4
        		};
				actionUrl = "${webbaseurl}/alterAdminGroup.do";
				tip = "修改管理员组成功！";
    		}
	    }
		
		jQuery.ajax({  
		    url: actionUrl,  
		    type: "post",
		    data: postData,
		    success:function(data,textStatus,jq) {  
			    var n = noty({text: tip, timeout: 2500, type: 'success'});
			    _this.parents('.modal').modal('toggle');
				$("#admin-wrap").html(data);
	        },  
		    error:function(data,textStatus,jq){
		        var n = noty({text: "系统错误，操作失败，请联系管理员！", timeout: 2500, type: 'error'});
		    }  
		});
	});
	
	$("body").on("click", "a[action-type|=delUserGroup]", function() {
		var postData = {
			groupIds: idsForDel,
			whichGroup: 1
		}
			
		jQuery.ajax({  
		    url: "${webbaseurl}/delAdminGroup.do",  
		    type: "post",
		    data: postData,
		    success:function(data,textStatus,jq){ 
				var n = noty({text: "删除管理员组成功！", timeout: 2500, type: 'success'});
				//$(this).parents('.modal').modal('toggle');
				$("#admin-wrap").html(data);
				
	        },  
		    error:function(data,textStatus,jq){
    			var n = noty({text: "系统异常，请联系系统管理员！", timeout: 2500, type: 'error'});
			}  
		});
	});
</script>

</script>
</body>
</html>