<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>管理员管理 - 北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  #set($currentPageModule="user")
  #parse("include/includeAdminHeader.vm")

</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">添加管理员</div>
              <div class="tips">在此页面下添加新的管理员。</div>
            </div><!--control-bar end-->
            <div class="panel panel-default">
              <div class="panel-body">
                <form class="form-horizontal" action="javascript:void(0)" role="form">
				  <div class="form-group">
                    <label for="inputStuNum" class="col-lg-2 control-label">编号</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="inputStuNum" placeholder="管理员编号">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTrueName" class="col-lg-2 control-label">真实姓名</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="inputTrueName" placeholder="真实姓名">
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="inputStuSex" class="col-lg-2 control-label">性别</label>
                    <div class="col-lg-4">
                      <select class="select2 select-white form-control" id="inputStuSex">
            			<option value="0">男</option>
            			<option value="1">女</option>
            		  </select>
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 control-label">密码</label>
                    <div class="col-lg-4">
                      <input type="password" class="form-control" id="inputPassword1" placeholder="登录密码">
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="inputPassword2" class="col-lg-2 control-label">密码</label>
                    <div class="col-lg-4">
                      <input type="password" class="form-control" id="inputPassword2" placeholder="重复密码">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputUserGroup" class="col-lg-2 control-label">管理组</label>
                    <div class="col-lg-4">
                      <select class="select2 select-white form-control" id="inputUserGroup">
						#foreach($item in $allGroupList)
						  #if($!item.type == 3)
							<option value=$!item.id>$!item.name</option>
						  #end
						#end
                      </select>
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="inputStuClass" class="col-lg-2 control-label">权限</label>
                    <div class="col-lg-4">
                      <select class="select2 select-white form-control" id="inputPrivilege">
						<option value=0>无</option>
						<option value=1>系统管理员</option>
						<option value=2>系秘</option>
						<option value=3>器材管理员</option>
						<option value=4>机房管理员</option>
                      </select>
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="modifyEquipCategory" class="col-lg-2 control-label">电话</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="inputTel" placeholder="联系电话或手机">
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="modifyEquipCategory" class="col-lg-2 control-label">邮箱</label>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" id="inputMail" placeholder="常用邮箱地址">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputStuNum" class="col-lg-2 control-label">头像</label>
                    <div class="col-lg-4">
                      <span class="btn btn-white file-input-button">
                          <i class="icon-plus"></i>
                          <span>添加图片</span>
                          <input id="inputPhoto" type="file" name="file" multiple>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                      <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
                      <button id="submitBtnForAdd" class="btn btn-primary" action-type="addUser">添 加</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

      </div>
      <!--admin-wrap end-->
      
	  #set($currentWebpage="userManageAdminAdd")
	  #parse("include/includeUserManageSidebar.vm")

</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/fileUpload/vendor/jquery.ui.widget.js"></script>
<script src="${jsDomain}/fileUpload/jquery.iframe-transport.js"></script>
<script src="${jsDomain}/jquery.fileupload.js"></script>
<!--[if lt IE 10]>
  <script src="./js/jquery.placeholder.js"></script>
  <script>
  $('input, textarea').placeholder();
  </script>
<![endif]-->

<script>
	//var isStu = true;		//判断是否是学生，初始化为true
	//var isTea = false;		//判读是否是教师
	//var isWkr = false;		//判读是否是其他
	var savedFileName;      //保存在服务器的图片名称
	var n = {};				//提示
	
	var cookie = { 
  		//读取COOKIES,n为COOKIE名 
   		Get:function(n){ 
       		var re=new RegExp(n+'=([^;]*);?','gi');
       	    var r=re.exec(document.cookie)||[];
       	    return (r.length>1?r[1]:null)
   		}
	};
	
	$("body").on("click", "button[action-type|=addUser]", function() {
		var _this = $(this);
		var userCode = $("#inputStuNum").val();
		var userName = $("#inputTrueName").val();
		var userSex = $("#inputStuSex").val();
		var userPass = $("#inputPassword1").val();
		var repeatPass = $("#inputPassword2").val();
		var userGroup = $("#inputUserGroup").val();
		var userPrivilege = $("#inputPrivilege").val();
		var userTel = $("#inputTel").val();
		var userMail = $("#inputMail").val();
		
		
		if(userCode == "") {
			n = noty({text: "编号不能为空!", timeout: 2500, type: 'error'});
			return;
		}
		if(userName == "") {
			n = noty({text: "姓名不能为空!", timeout: 2500, type: 'error'});
			return;
		}
		if(repeatPass == "") {
			n = noty({text: "密码不能为空!", timeout: 2500, type: 'error'});
			return;
		}
		if(repeatPass !== userPass) {
			n = noty({text: "两次密码输入不一致!", timeout: 2500, type: 'error'});
			return;
		}
		
		var regex = /^.+\@(\[?)[a-zA-Z0-9\-\.]+\.([a-zA-Z]{2,3}|[0-9]{1,3})(\]?)$/;
		var ret1 = regex.test(userMail);
		if(userMail != "" && ret1 == false) {
			n = noty({text: "邮箱地址格式错误！", timeout: 2500, type: 'error'});
			return;
		}
		
		var regex2 = /(^[0-9]+-)?[0-9]+$/;
		var ret3 = regex2.test(userTel);
		if(userTel != "" && ret3 == false) {
			n = noty({text: "请输入正确的联系方式！", timeout: 2500, type: 'error'});
			return;
		}
		
		var postData = {};
		var url = "";
		postData = {
			"manager.administratorid": userCode,
			"manager.name": userName,
			"manager.gender": userSex,
			"manager.telephone": userTel,
			"manager.email": userMail,
			"manager.photo": savedFileName,
			"manager.password": userPass,
			"manager.privilege": userPrivilege,
			"group.id": userGroup,
			"group.type": 3
		};
		url = "${webbaseurl}/addManager.do";
		
		jQuery.ajax({  
		    url: url,  
		    type: "post",
		    data: postData,
		    success:function(data,textStatus,jq){  
				if(data.tag == "0") {
					n = noty({text: data.msg, timeout: 2500, type: 'success'});
		    		_this.parents('.modal').modal('toggle');
					
					$("#inputStuNum").val("");
                    $("#inputTrueName").val("");
                    $("#inputStuSex").select2("val", 0);
                    $("#inputPrivilege").select2("val", 0);
                    $("#inputPassword1").val("");
                    $("#inputTel").val("");
                    $("#inputMail").val("");
					
					savedFileName = "";
				} else {
					n = noty({text: data.msg, timeout: 2500, type: 'error'});
				}
	        },  
		    error:function(data,textStatus,jq) {
				    n = noty({text: data.msg, timeout: 2500, type: 'error'});
			}  
		});
	});
	
	$('#inputPhoto').fileupload({
    	url: "${webbaseurl}/uploadUserPhoto.do",
        dataType: 'json',
		change: function (e, data) {
			$("#submitBtnForAdd").attr("disabled", "disabled");
        	n = noty({text: "请等待头像上传完成！", timeout: 1000, type: 'success'});
    	},
        done: function (e, data) {
			$("#submitBtnForAdd").removeAttr("disabled");
			if(data.result.tag == 0) {
				n = noty({text: "图片上传完成！", timeout: 2500, type: 'success'});
				savedFileName = data.result.savedFileName;
			} else if(data.result.tag == 1) {
				n = noty({text: "data.result.msg", timeout: 2500, type: 'error'});
				savedFileName = "";
			} else {
				n = noty({text: "上传图片失败！", timeout: 2500, type: 'error'});
			}
        }
    });
	
</script>

</script>
</body>
</html>