<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系 - 管理员管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
</head>

<body id="admin">
<header id="header-wrap"><!--header-wrap-->
  #set($currentPageModule="user")
  #parse("include/includeAdminHeader.vm")

</header><!--/#header-wrap-->
<section id="main-wrap" class="clearfix"><!--main-wrap-->

      <!--admin-wrap start-->
      <div id="admin-wrap">
        <div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">管理员管理</div>
              <div class="tips">在此页面下管理管理员信息，如用管理员添加、修改、删除。</div>
              <!-- <div class="filter user-group-filter">
                <ul class="nav nav-tabs nav-tabs-google">
                  <li><a href="#">其他</a></li>
                  <li><a href="#">教师</a></li>
                  <li><a href="#">学生</a></li>
                  <li class="active"><a href="#">全部</a></li>
                  
                </ul>
              </div> -->
              <div class="operate-item pull-left">
                <a href="${webbaseurl}/userManageAdminAdd.do" class="btn btn-primary">添加管理员</a>
                <a href="#" class="btn btn-white s-h" action-type="delUser"><i class="icon-trash"></i> 删除</a>
              </div>

              <!--<div class="page pull-right clearfix">
                <ul class="page-index nav nav-pills pull-left">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">第<span id="cp">$!curPage</span>/<span id="tp">$!totalPage</span>页 <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#" action-type="goFirst">最新</a></li>
                      <li><a href="#" action-type="goLast">最旧</a></li>
                    </ul>
                  </li>              
                </ul>
                <div class="pagination pull-right">
                  <ul>
                    <li><a href="#" rel="tooltip" action-type="backPage" data-placement="bottom" data-original-title="较旧"><i class="icon-chevron-left"></i></a></li>
                    <li><a href="#" rel="tooltip" action-type="nextPage" data-placement="bottom" data-original-title="较新"><i class="icon-chevron-right"></i></a></li>
                  </ul>
                </div>              
              </div>
              <ul class="status-filter nav nav-pills pull-right">
                <li class="active" action-type="active" id="0"><a href="#">全部(<span id="totalSum">$!sum</span>)</a></li>
                <li action-type="active" id="2"><a href="#">学生(<span id="sSum">$!sum1</span>)</a></li>
                <li action-type="active" id="6"><a href="#">教师(<span id="tSum">$!sum2</span>)</a></li>
                <li action-type="active" id="-1"><a href="#">其他(<span id="wSum">$!sum3</span>)</a></li>
              </ul>-->
            </div><!--control-bar end-->
            <div class="panel panel-default">              
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">编号</th>
                    <th class="username">用户名</th>
                    <th class="user-group">用户组</th>
                    <th class="user-group">管理组</th>
                  </tr>
                </thead>
                <tbody>
				  #foreach($user in $allManagerList)
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!user.id;$!user.userGroupType"></td>
                    <td>$!user.userCode<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-model" role="button" action-type="beforeModify" data-id="$!user.id" data-code="$!user.userCode" data-name="$!user.userName" data-sex="$!user.gender" data-pass="$!user.userPass" data-gid="$!user.userGroupId" data-gname="$!user.userGroupName" data-tel="$!user.tel" data-mail="$!user.mail" data-pic="$!user.photo" data-privi="$!user.privilege">修改</a></td>
                    <td>$!user.userName</td>
					#if($!user.userGroupType == 1)
						<td>学生  - $!user.userGroupName</td>
					#elseif($!user.userGroupType == 2)
						<td>教师  - $!user.userGroupName</td>
					#elseif($!user.userGroupType == 4)
						<td>其他  - $!user.userGroupName</td>
					#else
                        <td>无</td>
					#end
					#if($!user.privilege == 0)
						<td>无</td>
					#elseif($!user.privilege == 1)
						<td>系统管理员</td>
					#elseif($!user.privilege == 2)
						<td>系秘</td>
					#elseif($!user.privilege == 3)
						<td>器材管理员</td>
					#elseif($!user.privilege == 4)
						<td>机房管理员</td>
					#else
                        <td>无</td>
					#end
                  </tr>
				  #end
                </tbody>
              </table>
            </div>
          </div>

      </div>
      <!--equip-wrap end-->

      #set($currentWebpage="userManageAdmin")
	  #parse("include/includeUserManageSidebar.vm")

</section>

<!-- Modal -->
<div id="modify-model" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">修改</h3>
  </div>
  <div class="modal-body">
    <p>这里是修改管理员关信息。</p>
    <form class="form-horizontal" role="form">
	  <div class="form-group">
        <label for="inputStuClass" class="col-xs-3 control-label">管理组</label>
        <div class="col-xs-7">
          <select class="select2 form-control" id="inputPrivilege">
			<option value=0>无</option>
			<option value=1>系统管理员</option>
			<option value=2>系秘</option>
			<option value=3>器材管理员</option>
			<option value=4>设备管理员</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">取 消</button>
    <button class="btn btn-primary" action-type="modifyUser">确 定</button>
  </div>
</div>

    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>
<script src="${jsDomain}/fileUpload/vendor/jquery.ui.widget.js"></script>
<script src="${jsDomain}/fileUpload/jquery.iframe-transport.js"></script>
<script src="${jsDomain}/jquery.fileupload.js"></script>

<script>
	var alterUserId;		//修改用户id
	var alterUserName;		//修改用户名称
	var alterUserPass;		//修改用户密码
	var alterUserGender;	//修改用户性别
	var alterUserCode;		//修改用户编号
	var alterGroupId;		//修改分组id
	var alterGroupName;		//修改分组名称
	var alterPrivilege;		//修改管理权限
	var alterTel;			//修改联系方式
	var alterMail;			//修改邮箱地址
	var alterPhoto;			//修改头像
	var idsForDel = "";  	//用于管理员删除的id串
	
    var savedFileName = ""; //保存在服务器的图片名称
	var n = {};				//提示
	
	
	var cookie = { 
		//读取COOKIES,n为COOKIE名 
		Get:function(n){ 
    		var re=new RegExp(n+'=([^;]*);?','gi');
    	    var r=re.exec(document.cookie)||[];
    	    return (r.length>1?r[1]:null)
		}
	};
	
	$("body").on("click", "input[type='checkbox']", function() {
		var num = 0;
		if($(this).attr("id") === "chk-all") {
			$("input[name='chk-list']").prop("checked",$(this).prop("checked"));
		}
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true){
				num++;  
			}
		});
		if(num > 0){
			$(".s-h").css({
				"visibility": "visible",
				"opacity": "1",
				"filter": "alpha(opacity=100)"
			});
		} else {
			$(".s-h").css({
				"visibility": "hidden",
				"opacity": "0",
				"filter": "alpha(opacity=0)"
			});
		}
		
		idsForDel = "";
		
		$("input[name='chk-list']").each(function() {
			if($(this).prop("checked") === true) {
				//num++;
				var val = $(this).prop("value");
				var id = val.split(";")[0];
				var type = val.split(";")[1];
				console.log(id+"$$$$$$$$");
				console.log(type+"********");
				
				idsForDel += id + "_";
				//console.log(idsForDel+"********");
			}
		});
	});
	
	$("body").on("click", "a[action-type|=beforeModify]", function() {
		var myData = $(this).data();
		
		console.log(myData);
		
        alterUserId = myData.id;
        alterUserName = myData.name;
        alterUserPass = myData.pass;
        alterUserGender = myData.sex;
        alterUserCode = myData.code;
        alterGroupId = myData.gid;
        alterGroupName = myData.gname;
        alterPrivilege = myData.privi;
        alterTel = myData.tel;
        alterMail = myData.mail;
        alterPhoto = myData.pic;
		
		
		$("#inputPrivilege").select2("val", alterPrivilege);
		
		
		$("#inputStuNum").val(alterUserCode);
		$("#inputTrueName").val(alterUserName);
		$("#inputStuSex").select2("val", alterUserGender);
		$("#inputPassword1").val(alterUserPass);
		$("#inputTel").val(alterTel);
		$("#inputMail").val(alterMail);
		
		//console.log(alterClazzId);
		//console.log(alterClazzName);
	});
	
	$('.modal').on('click', ('button.btn-primary'), function () {
		var _this = $(this);
		var postData = {};
		
	    
		if(_this.attr('action-type') == 'modifyUser') {
	        var userCode = $("#inputStuNum").val();
    		var userName = $("#inputTrueName").val();
    		var userSex = $("#inputStuSex").val();
    		var userPass = $("#inputPassword1").val();
    		var userGroup = $("#inputUserGroup").val();
    		var userPrivilege = $("#inputPrivilege").val();
    		var userTel = $("#inputTel").val();
    		var userMail = $("#inputMail").val();
			
			if(savedFileName == "") {
				savedFileName = alterPhoto;
			}
			
			if(userCode == "") {
    			alert("编号不能为空!");
    			return;
    		}
    		if(userName == "") {
    			alert("姓名不能为空!");
    			return;
    		}
    		
    		if(userCode == alterUserCode && alterUserName == userName && alterUserPass == userPass && alterPrivilege == userPrivilege && alterTel == userTel && alterMail == userMail && alterGroupId == userGroup && savedFileName == alterPhoto) {
    			alert("并未做修改！");
				return;
    		} else {
				postData = {
					"manager.id": alterUserId,
					"manager.administratorid": userCode,
        			"manager.name": userName,
        			"manager.gender": userSex,
        			"manager.telephone": userTel,
        			"manager.email": userMail,
        			"manager.photo": savedFileName,
        			"manager.password": userPass,
        			"manager.privilege": userPrivilege,
					"group.id": userGroup,
					"group.type": 3
        		};
    		}
	    }
		
		jQuery.ajax({  
		    url: "${webbaseurl}/alterManager.do",  
		    type: "post",
		    data: postData,
		    success:function(data,textStatus,jq) {  
			    var n = noty({text: "修改管理员信息成功！", timeout: 2500, type: 'success'});
			    _this.parents('.modal').modal('toggle');
				$("#admin-wrap").html(data);
	        },  
		    error:function(data,textStatus,jq){
		        var n = noty({text: "系统错误，操作失败，请联系管理员！", timeout: 2500, type: 'error'});
		    }  
		});
	});
	
	$('#modifyPhoto').fileupload({
    	url: "${webbaseurl}/uploadUserPhoto.do",
        dataType: 'json',
		change: function (e, data) {
			$("#modifyUser").attr("disabled", "disabled");
        	n = noty({text: "请等待头像上传完成！", timeout: 1000, type: 'success'});
    	},
        done: function (e, data) {
			//n.close();
			console.log(n);
			$("#modifyUser").removeAttr("disabled");
			if(data.result.tag == 0) {
				alert("图片上传完成！");
				savedFileName = data.result.savedFileName;
			} else if(data.result.tag == 1) {
				alert(data.result.msg);
				savedFileName = "";
			} else {
				alert("上传图片失败！");
			}
            //alert(data.result.message);
        }
    });
	
	$("body").on("click", "a[action-type|=delUser]", function() {
		//alert(idsForDel);
		if(idsForDel != "") {
			postData = {
				managerIds: idsForDel
    		};
    		jQuery.ajax({  
    		    url: "${webbaseurl}/deleteManager.do",  
    		    type: "post",
    		    data: postData,
    		    success:function(data,textStatus,jq){ 
    				var n = noty({text: "删除管理员信息成功", timeout: 2500, type: 'success'});
    				//$(this).parents('.modal').modal('toggle');
    				$("#admin-wrap").html(data);
    				
    	        },  
    		    error:function(data,textStatus,jq){
        			var n = noty({text: "系统异常，请联系系统管理员！", timeout: 2500, type: 'error'});
    			}  
    		});
		}
	});
</script>

</body>
</html>