<div id="admin-content" class="clearfix">    
            <!--control-bar start-->
            <div class="control-bar clearfix">
              <div class="title pull-left">管理员管理</div>
              <div class="tips">在此页面下管理管理员信息，如用管理员添加、修改、删除。</div>

              <div class="operate-item pull-left">
                <a href="${webbaseurl}/userManageAdminAdd.do" class="btn btn-primary">添加管理员</a>
                <a href="#" class="btn btn-white s-h" action-type="delUser"><i class="icon-trash"></i> 删除</a>
              </div>


            </div><!--control-bar end-->
            <div class="panel panel-default">              
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="chk-column"><input id="chk-all" class="chk" type="checkbox" rel="tooltip" data-original-title="全选"></th>
                    <th class="name">编号</th>
                    <th class="username">用户名</th>
                    <th class="user-group">用户组</th>
                    <th class="user-group">管理组</th>
                  </tr>
                </thead>
                <tbody>
				  #foreach($user in $allManagerList)
                  <tr>
                    <td><input class="chk" type="checkbox" name="chk-list" value="$!user.id;$!user.userGroupType"></td>
                    <td>$!user.userCode<a class="btn btn-white btn-mini" data-toggle="modal" href="#modify-model" role="button" action-type="beforeModify" data-id="$!user.id" data-code="$!user.userCode" data-name="$!user.userName" data-sex="$!user.gender" data-pass="$!user.userPass" data-gid="$!user.userGroupId" data-gname="$!user.userGroupName" data-tel="$!user.tel" data-mail="$!user.mail" data-pic="$!user.photo" data-privi="$!user.privilege">修改</a></td>
                    <td>$!user.userName</td>
					#if($!user.userGroupType == 1)
						<td>学生  - $!user.userGroupName</td>
					#elseif($!user.userGroupType == 2)
						<td>教师  - $!user.userGroupName</td>
					#elseif($!user.userGroupType == 4)
						<td>其他  - $!user.userGroupName</td>
					#else
                        <td>无</td>
					#end
					#if($!user.privilege == 0)
						<td>无</td>
					#elseif($!user.privilege == 1)
						<td>系统管理员</td>
					#elseif($!user.privilege == 2)
						<td>系秘</td>
					#elseif($!user.privilege == 3)
						<td>器材管理员</td>
					#elseif($!user.privilege == 4)
						<td>机房管理员</td>
					#else
                        <td>无</td>
					#end
                  </tr>
				  #end
                </tbody>
              </table>
            </div>
          </div>