#set($user = $request.getSession().getAttribute("loginUser"))
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北京电影学院摄影系</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="${cssDomain}/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="${cssDomain}/global.css" rel="stylesheet" type="text/css" />

#parse("include/includePageCompatibility.vm")
</head>

<body>
<header id="header-wrap"><!--header-wrap-->
  #parse("include/includeGlobalHeader.vm")
  
  <div class="nav-wrap">
    #parse("include/includeSiteNavi.vm")
    <div class="sub-nav">
      <ul class="nav nav-tabs nav-tabs-google">
        <li class="active"><a href="#">$!{textmap.usercenter_accountsetup}</a></li>
        <!--<li><a href="#">帮助</a></li>-->
      </ul>
    </div>
  </div>
  
</header><!--/#header-wrap-->
<section id="main-wrap"><!--main-wrap-->
  <div id="main-content" class="clearfix"><!--main-content start-->
    <div id="stream-wrap">
      <div id="stream" class="container">
        <div class="row">
          <div class="col-md-4">           
            <div class="list-group">
              <a href="${webbaseurl}/account.${strutsaction}" class="list-group-item">$!{textmap.usercenter_account}</a>
              <a href="${webbaseurl}/passwordSet.${strutsaction}" class="list-group-item active">$!{textmap.usercenter_password}</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="thumbnail">
              <div class="hd">
                <h3>$!{textmap.usercenter_password}</h3>
                <p class="text-muted">$!{textmap.usercenter_changepass}</p>
              </div>
              <form class="form-horizontal" role="form" action="javascript:void(0)">
                <div class="form-group">
                  <label for="inputCurrentPassword" class="col-md-3 control-label">$!{textmap.usercenter_oldpass}</label>
                  <div class="col-md-4">
                    <input type="password" class="form-control" id="inputCurrentPassword">
                    <!--<p class="help-block"><a href="#">忘记密码了？</a></p>-->
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputNewPassword" class="col-xs-3 control-label">$!{textmap.usercenter_newpass}</label>
                  <div class="col-md-4">
                    <input type="password" class="form-control" id="inputNewPassword">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputConfirmPassword" class="col-xs-3 control-label">$!{textmap.usercenter_repeatpass}</label>
                  <div class="col-md-4">
                    <input type="password" class="form-control" id="inputConfirmPassword">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-4">
                    <button type="submit" class="btn btn-primary">$!{textmap.usercenter_submit}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--stream-wrap end-->
  </div>
  <!---main-content end-->
</section>


    <!-- javascript
    ================================================== -->
<script src="${jsDomain}/jquery.js"></script>
<script src="${jsDomain}/loader.min.js"></script>
<script src="${jsDomain}/select2.js"></script>
<script src="${jsDomain}/bootstrap-hover-dropdown.min.js"></script>
<script src="${jsDomain}/bfa.js"></script>
<script src="${jsDomain}/bootstrap-datepicker.js"></script>
<script src="${jsDomain}/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="${jsDomain}/xdate.js"></script>
<script src="${jsDomain}/computer/computerorder.js"></script>
<script src="${jsDomain}/jquery.noty.js"></script>

<script>
	var updatePassword = "-1XXX-1";
	$("body").on("click", "button.btn-primary", function() {
		//console.log($!user.roletype);
		//console.log("=================" + $!user.id);
		//console.log($!user.password);
		var oldPassword = $("#inputCurrentPassword").val();
		var newPassword = $("#inputNewPassword").val();
		var repPassword = $("#inputConfirmPassword").val();
		
		//console.log(oldPassword);
		//console.log(newPassword);
		//console.log(repPassword);
		//alert(updatePassword);
		if(updatePassword == "-1XXX-1") {
			if("$!user.password" != oldPassword) {
    			alert("$!{textmap.usercenter_error1}");
    			return;
    		}
		} else {
			if(updatePassword != oldPassword) {
    			alert("$!{textmap.usercenter_error1}");
    			return;
    		}
		}
		
		
		if(newPassword != repPassword) {
			alert("$!{textmap.usercenter_error2}");
			return;
		}
		
		var postData = {
			"userType": $!user.roletype,
			"userId": $!user.id,
			"newPassword": repPassword
		};
		
		jQuery.ajax({  
		    url: "${webbaseurl}/alterPassword.do",  
		    type: "post",
		    data: postData,
		    success:function(data,textStatus,jq){  
				//alert(data.tag);
		    	//console.log(data);
				if(data.tag == "0") {
					//alert(data.msg);
					n = noty({text: data.msg, timeout: 2500, type: 'success'});
					$("#inputCurrentPassword").val("");
                    $("#inputNewPassword").val("");
					$("#inputConfirmPassword").val("");
					
					updatePassword = newPassword;
				} else {
					n = noty({text: data.msg, timeout: 2500, type: 'error'});
				}
	        },  
		    error:function(data,textStatus,jq) {
			    n = noty({text: "后台出错！", timeout: 2500, type: 'error'});
			}  
		});
	});
</script>

</body>
</html>